<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <title>account information</title>
</head>
<body>
<div id="layout-cibReport" th:fragment="account-info">


    <div class="loandetail-area-sp box box-primary">
        <div class="box-header with-border">
            <label class="box-title">Account Information</label>
            <!--loanAccDetails-->
        </div>
        <form method="post" id="generalInfoFormViw">
            <div id="layout-form-general" class="loancaseentry-sp general-div" style="margin-left: 0px">
                <div class="loan-init-details-sp-inner">

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left ">Loan A/C No :</label>
                        <label class="col-sm-3 custom-form-lebel" id="loanNo">{{loanAccInfo.accountNumber}}</label>
                        <label class="col-sm-3 custom-details-lebel-left">Branch Code :</label>
                        <label class="col-sm-3 custom-form-lebel" id="branchCode">{{loanAccInfo.branchCode}}</label>
                    </div>

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">Location :</label>
                        <label class="col-sm-3 custom-form-lebel" id="location">{{customerInfo.location}}</label>
                        <label class="col-sm-3 custom-details-lebel-left">Link Account No :</label>
                        <label class="col-sm-3 custom-form-lebel" id="linkAccountNo">{{loanAccDetails.sattlementLoanAc}}</label>
                    </div>

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left "> Disbursement/Issue Date :</label>
                        <label class="col-sm-3 custom-form-lebel" id="disburesmentDate">{{loanAccDetails.disbursementDate}}</label>
                        <label class="col-sm-3 custom-details-lebel-left ">Expiry Date :</label>
                        <label class="col-sm-3 custom-form-lebel" id="expiryDate">{{loanAccDetails.expiryDate}}</label>
                    </div>

                    <div class="form-group row csi-view-form-group">

                        <label class="col-sm-3 custom-details-lebel-left ">Tenor :</label>
                        <label class="col-sm-3 custom-form-lebel" id="tenor">{{loanAccInfo.tenor}}</label>
                        <label class="col-sm-3 custom-details-lebel-left ">DPD After Expiry Date :</label>
                        <label class="col-sm-3 custom-form-lebel">{{loanAccDetails.loanExpiryDay}}</label>
                    </div>


                    <!--todo: have to put this row value..-->
                    <div class="form-group row csi-view-form-group">

                        <label class="col-sm-3 custom-details-lebel-left"> Disbursement Amount :</label>
                        <label class="col-sm-3 custom-form-lebel" id="disbursementAmount"
                               th:text="${@numberUtils.formatBdtInEnglish(loanAccountBasicInfo.disbursementAmount)}"></label>
                        <label class="col-sm-3 custom-details-lebel-left">Sanction Amount :</label>
                        <label class="col-sm-3 custom-form-lebel" id="sanctionAmount">{{numberToBdt(loanAccDetails.limitAmount)}}</label>
                    </div>


                    <!--todo: have to put this row value..-->
                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left "> First Inst. Date :</label>
                        <label class="col-sm-3 custom-form-lebel" id="firstInstDatelr">{{formatDate(loanAccDetails.firstRepayDueDate)}}</label>
                        <label class="col-sm-3 custom-details-lebel-left ">EMI Amount:</label>
                        <label class="col-sm-3 custom-form-lebel" id="emiAmount">{{numberToBdt(loanAccDetails.emiAmount)}}</label>
                        <!--<label class="col-sm-3 custom-details-lebel-left ">Outstanding :</label>
                        <label class="col-sm-3 custom-form-lebel" id="outstanding">{{loanAccDetails.outStandingLocalCurrency}}</label>-->
                    </div>

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left "> Overdue :</label>
                        <label class="col-sm-3 custom-form-lebel" id="overdue">{{numberToBdt(loanAccDetails.overdue)}}</label>
                        <label class="col-sm-3 custom-details-lebel-left ">Current Month EMI Date:</label>
                        <label class="col-sm-3 custom-form-lebel">{{loanAccDetails.scheduleNextDate | formatDate}}</label>
                    </div>

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">Total Payment During the month :</label>
                        <label class="col-sm-3 custom-form-lebel" id="totalCurrentMonthPaid">{{numberToBdt(loanAccStatement.totalPaymentCurrentMonth)}}</label>
                        <label class="col-sm-3 custom-details-lebel-left ">Total Outstanding :</label>
                        <label class="col-sm-3 custom-form-lebel" id="outstanding">{{numberToBdt(loanAccDetails.outStandingLocalCurrency + loanAccDetails.interestOutstanding)}}</label>
                    </div>

                    <!--<div class="form-group row csi-view-form-group">-->
                    <!--<label class="col-sm-3 custom-details-lebel-left ">EMI Amount:</label>-->
                    <!--<label class="col-sm-3 custom-form-lebel" id="emiAmount">{{numberToBdt(loanAccDetails.emiAmount)}}</label>-->
                    <!--</div>-->



                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">Asset Classification :</label>
                        <label class="col-sm-3 custom-form-lebel"
                               id="assetClassification">{{loanAccDetails.status1}}</label>
                        <label class="col-sm-3 custom-details-lebel-left ">Product Type :</label>
                        <label class="col-sm-3 custom-form-lebel" id="productType">{{loanAccDetails.proddes}}</label>

                        <!--<label class="col-sm-3 custom-details-lebel-left ">EMI Day :</label>-->
                        <!--<label class="col-sm-3 custom-form-lebel" id="emiDue">{{loanAccDetails.userDefineEmi}}</label>-->
                    </div>

                    <div class="form-group row csi-view-form-group">
                        <!--<label class="col-sm-3 custom-details-lebel-left ">Total Paid :</label>-->
                        <!--<label class="col-sm-3 custom-form-lebel"   id="totalPaidAmount">{{accountInformation.totalPaidAmount}}</label>-->

                        <label class="col-sm-3 custom-details-lebel-left ">Branch Name :</label>
                        <label class="col-sm-3 custom-form-lebel" id="branchName">{{branchInfo.branchName}}</label>
                        <label class="col-sm-3 custom-details-lebel-left ">Product Code :</label>
                        <label class="col-sm-3 custom-form-lebel" id="schemeCode">{{loanAccDetails.productCode}}</label>
                    </div>

                    <!--<div class="form-group row csi-view-form-group">-->
                    <!--<label class="col-sm-3 custom-details-lebel-left ">Overdue Date /Days :</label>-->
                    <!--<label class="col-sm-3 custom-form-lebel">{{loanAccDetails.overdueDays}}</label>-->
                    <!--</div>-->
                    <!--<div class="form-group row csi-view-form-group">-->
                    <!--<label class="col-sm-3 custom-details-lebel-left ">Product Type :</label>-->
                    <!--<label class="col-sm-3 custom-form-lebel" id="productType">{{loanAccDetails.proddes}}</label>-->
                    <!--</div>-->
                    <!--<div class="form-group row csi-view-form-group" th:if="${#strings.startsWith(session.unit,'SAM')}">-->
                    <!--<label class="col-sm-3 custom-details-lebel-left ">Product Group :</label>-->
                    <!--<label class="col-sm-3 custom-form-lebel">-</label>-->
                    <!--</div>-->

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">ATE :</label>
                        <label class="col-sm-3 custom-form-lebel" id="ageCode">{{loanAccDetails.dpdBucket}}</label>
                        <label class="col-sm-3 custom-details-lebel-left">DPD :</label>
                        <label class="col-sm-3 custom-form-lebel" id="dpd">{{loanAccDetails.overdueDays}}</label>
                    </div>

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left ">Total Paid Amount:</label>
                        <label class="col-sm-3 custom-form-lebel" id="totalPaidAmount">{{numberToBdt(loanAccStatement.lastPayment)}}</label>
                        <label class="col-sm-3 custom-details-lebel-left">Subsidy from BB COVID :</label>

                        <label class="col-sm-3 custom-form-lebel">{{numberToBdt(loanAccStatement.totalSubsidyFromBbCovid)}}</label>
                    </div>

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">Rollover of contract Amount :</label>

                        <label class="col-sm-3 custom-form-lebel">{{numberToBdt(loanAccStatement.totalRolloverOfContract)}}</label>
                        <label class="col-sm-3 custom-details-lebel-left">Waiver of Interest :</label>
                        <label class="col-sm-3 custom-form-lebel">{{numberToBdt(loanAccStatement.totalWaivedInterest)}}</label>

                    </div>

                    <div class="form-group row csi-view-form-group" th:if="${#strings.startsWith(session.unit,'SAM')}">
                        <label class="col-sm-3 custom-details-lebel-left">ATE/Age Code :</label>
                        <label class="col-sm-3 custom-form-lebel">-</label>
                        <label class="col-sm-3 custom-details-lebel-left ">DPD Bucket :</label>
                        <label class="col-sm-3 custom-form-lebel" id="dpdBucket">-</label>
                    </div>

                    <div class="form-group row csi-view-form-group" th:if="${#strings.startsWith(session.unit,'SAM')}">
                        <label class="col-sm-3 custom-details-lebel-left" >Manual ATE :</label>
                        <label class="col-sm-3 custom-form-lebel" id="manualAte">-</label>
                    </div>

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left ">Principle Paid :</label>
                        <label class="col-sm-3 custom-form-lebel" id="principlePaid">{{numberToBdt(loanAccStatement.totalPrinciple)}}</label>
                        <label class="col-sm-3 custom-details-lebel-left ">Interest Paid :</label>
                        <label class="col-sm-3 custom-form-lebel" id="interestPaid">{{numberToBdt(loanAccStatement.totalInterest)}}</label>
                    </div>
                    <!-- <div class="form-group row csi-view-form-group">
                         <label class="col-sm-3 custom-details-lebel-left ">Principal Paid :</label>
                         <label class="col-sm-3 custom-form-lebel"   >{{loanAccStatement.totalPrincipal}}</label>
                         <label class="col-sm-3 custom-details-lebel-left ">Last Payment Date :</label>
                         <label class="col-sm-3 custom-form-lebel" id="lastPaymentDate">{{loanAccDetails.lastPaymentDate | dateFormat}}</label>
                     </div>-->


                    <!--<div class="form-group row csi-view-form-group">-->
                    <!--<label class="col-sm-3 custom-details-lebel-left ">Total Paid Amount:</label>-->
                    <!--&lt;!&ndash;<label class="col-sm-3 custom-form-lebel"   id="totalPaidAmount">{{numberToBdt(loanAccDetails.totalAmountPaid)}}</label>&ndash;&gt;-->
                    <!--<label class="col-sm-3 custom-form-lebel" id="totalPaidAmount">{{numberToBdt(loanAccStatement.lcyAmount)}}</label>-->
                    <!--</div>-->

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">Last Payment Amount:</label>
                        <label class="col-sm-3 custom-form-lebel" id="lastPaidAmount">{{numberToBdt(loanAccStatement.lastPayment)}}</label>
                        <label class="col-sm-3 custom-details-lebel-left ">Last Payment Date :</label>
                        <label class="col-sm-3 custom-form-lebel" id="lastPaymentDate">{{loanAccStatement.valueDate | formatDate}}</label>
                    </div>

                    <div class="form-group row csi-view-form-group" th:if="${#strings.startsWith(session.unit,'SAM')}">
                        <label class="col-sm-3 custom-details-lebel-left" >Last Paid Amount :</label>
                        <label class="col-sm-3 custom-form-lebel" id="lpaola">-</label>
                    </div>

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left ">Interest Rate :</label>
                        <label class="col-sm-3 custom-form-lebel" id="interestRate">{{loanAccDetails.interestRate}} %</label>
                        <label class="col-sm-3 custom-details-lebel-left ">Save Amount :</label>
                        <label class="col-sm-3 custom-form-lebel" id="saveAmount">{{numberToBdt(saveAmount)}}</label>
                    </div>
                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left ">Back Amount :</label>
                        <label class="col-sm-3 custom-form-lebel" id="backAmount">{{numberToBdt(backAmount)}}</label>
                        <label class="col-sm-3 custom-details-lebel-left">Penal Charge :</label>
                        <label class="col-sm-3 custom-form-lebel" id="penalCharge">{{numberToBdt(loanAccSchedule.penalCharge)}}</label>
                    </div>

                    <!--<div class="form-group row csi-view-form-group">-->
                    <!--<label class="col-sm-3 custom-details-lebel-left ">Interest Rate :</label>-->
                    <!--<label class="col-sm-3 custom-form-lebel" id="interestRate">{{loanAccDetails.interestRate}}-->
                    <!--%</label>-->
                    <!--&lt;!&ndash;<label class="col-sm-3 custom-details-lebel-left">Sub Sector :</label>-->
                    <!--<label class="col-sm-3 custom-form-lebel" id="creditDefineSubSector"></label>&ndash;&gt;-->
                    <!--</div>-->
                    <div class="form-group row csi-view-form-group" th:if="${#strings.startsWith(session.unit,'SAM')}">
                        <!--<label class="col-sm-3 custom-details-lebel-left ">Interest Rate :</label>
                        <label class="col-sm-3 custom-form-lebel" id="interestRate">{{loanAccDetails.interestRate}} %</label>-->
                        <label class="col-sm-3 custom-details-lebel-left ">Reschedule and Restructure and Time Extension History :</label>
                        <label class="col-sm-3 custom-form-lebel">-</label>
                        <label class="col-sm-3 custom-details-lebel-left">Sub Sector :</label>
                        <label class="col-sm-3 custom-form-lebel" id="creditDefineSubSector">-</label>
                    </div>

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">RM Code: </label>
                        <label class="col-sm-3 custom-form-lebel" id="creditDefineSector">{{loanAccInfo.rmCode}}</label>
                        <label class="col-sm-3 custom-details-lebel-left">Sector Code :</label>
                        <label class="col-sm-3 custom-form-lebel"
                               id="centralBankSectorCode">{{loanAccDetails.sectCode}}</label>
                    </div>

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">Economic Purpose Code :</label>
                        <label class="col-sm-3 custom-form-lebel">{{loanAccInfo.ecoPurposeCode}}</label>
                        <label class="col-sm-3 custom-details-lebel-left">Economic Purpose Name :</label>
                        <label class="col-sm-3 custom-form-lebel" id="economicPurposeSectorCode">{{loanAccInfo.ecoPurposeName}}</label>
                    </div>

                    <div class="form-group row csi-view-form-group">
                        <!--<label class="col-sm-3 custom-details-lebel-left " th:if="${#strings.startsWith(session.unit,'SAM')}">Mode of Repayment:</label>-->
                        <!--<label class="col-sm-3 custom-form-lebel"   id="modeOfRepayment" th:if="${#strings.startsWith(session.unit,'SAM')}">-</label>-->
                        <label class="col-sm-3 custom-details-lebel-left">Sector Name :</label>
                        <label class="col-sm-3 custom-form-lebel" id="bankSectorCode">{{loanAccDetails.sectDesc}}</label>
                        <label class="col-sm-3 custom-details-lebel-left">Liability Number :</label>
                        <label class="col-sm-3 custom-form-lebel" id="liabilityNo">{{loanAccDetails.liabilityNo}}</label>

                    </div>
                    <!--<div class="form-group row csi-view-form-group" th:if="${#strings.startsWith(session.unit,'SAM')}">-->
                    <!--<label class="col-sm-3 custom-details-lebel-left ">Reschedule and Restructure and Time Extension History :</label>-->
                    <!--<label class="col-sm-3 custom-form-lebel">-</label>-->
                    <!--</div>-->
                    <div class="form-group row csi-view-form-group">
                        <!--<label class="col-sm-3 custom-details-lebel-left ">Sanction Amount :</label>
                        <label class="col-sm-3 custom-form-lebel"   >{{loanAccDetails.limitAmount}}</label>-->
                        <label class="col-sm-3 custom-details-lebel-left">NPL Release Amount :</label>
                        <label class="col-sm-3 custom-form-lebel"
                               id="nplRelease">{{numberToBdt(nplReleaseAmount)}}</label>
                        <label class="col-sm-3 custom-details-lebel-left">First EMI Date :</label>
                        <label class="col-sm-3 custom-form-lebel"
                               id="firstEmiDate">{{loanAccDetails.firstRepayDueDate | formatDate}}</label>
                    </div>

                    <!--<div class="form-group row csi-view-form-group">-->
                    <!--&lt;!&ndash;<label class="col-sm-3 custom-details-lebel-left">PAR Release Amount :</label>-->
                    <!--<label class="col-sm-3 custom-form-lebel" id="parRelease">-</label>&ndash;&gt;-->
                    <!--<label class="col-sm-3 custom-details-lebel-left">First EMI Date :</label>-->
                    <!--<label class="col-sm-3 custom-form-lebel"-->
                    <!--id="firstEmiDate">{{loanAccDetails.firstRepayDueDate}}</label>-->
                    <!--</div>-->
                    <div class="form-group row csi-view-form-group" th:if="${#strings.startsWith(session.unit,'SAM')}">
                        <label class="col-sm-3 custom-details-lebel-left">PAR Release Amount :</label>
                        <label class="col-sm-3 custom-form-lebel" id="parRelease">-</label>
                        <label class="col-sm-3 custom-details-lebel-left">First Sanction Date :</label>
                        <label class="col-sm-3 custom-form-lebel" id="firstSanctionDate">-</label>

                    </div>


                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">First Installment Due :</label>
                        <label class="col-sm-3 custom-form-lebel" id="firstInstallmentDue">{{loanAccSchedule.totalOverdue > 0 ? 'Yes' : 'No'}}</label>
                        <label class="col-sm-3 custom-details-lebel-left"> Previous Loan Account :</label>
                        <label class="col-sm-3 custom-form-lebel" id=" relatedPreviousAccount">{{loanAccDetails.previousAccountNo !== '-' ? loanAccDetails.previousAccountNo : loanAccDetails.altAccNo}}</label>
                        <!--<label class="col-sm-3 custom-details-lebel-left" th:if="${#strings.startsWith(session.unit,'SAM')}">Credit File No. :</label>-->
                        <!--<label class="col-sm-3 custom-form-lebel" id="creditFileNo" th:if="${#strings.startsWith(session.unit,'SAM')}">-</label>-->
                    </div>

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left"> Chanel / Source Code :</label>
                        <label class="col-sm-3 custom-form-lebel" id="chanelCode">{{loanAccInfo.source}}</label>
                        <label class="col-sm-3 custom-details-lebel-left"> Last Month Paid Amount :</label>
                        <label class="col-sm-3 custom-form-lebel" id="lastMonthPaid">{{numberToBdt(loanAccDetails.amountPaidLastMnth)}}</label>
                    </div>


                    <div class="form-group row csi-view-form-group" th:if="${#strings.startsWith(session.unit,'SAM')}" >
                        <label class="col-sm-3 custom-details-lebel-left" >Interest Income :</label>
                        <label class="col-sm-3 custom-form-lebel" id="interestIncome">-</label>
                        <label class="col-sm-3 custom-details-lebel-left">Group Id :</label>
                        <label class="col-sm-3 custom-form-lebel" id="groupId">{{loanAccDetails.groupName}}</label>
                    </div>


                    <div class="form-group row csi-view-form-group">
                        <!--<label class="col-sm-3 custom-details-lebel-left">First Sanction Date :</label>
                        <label class="col-sm-3 custom-form-lebel" id="firstSanctionDate">-</label>-->
                        <label class="col-sm-3 custom-details-lebel-left"> User Define EMI :</label>
                        <label class="col-sm-3 custom-form-lebel"
                               id="userDefineEMI">{{loanAccDetails.userDefineEmi}}</label>
                        <label class="col-sm-3 custom-details-lebel-left">SME Code :</label>
                        <label class="col-sm-3 custom-form-lebel" id="smeCode">{{loanAccDetails.smeCode}}</label>
                    </div>

                    <!--<div class="form-group row csi-view-form-group" th:if="${#strings.startsWith(session.unit,'SAM')}">-->
                    <!--<label class="col-sm-3 custom-details-lebel-left">First Sanction Date :</label>-->
                    <!--<label class="col-sm-3 custom-form-lebel" id="firstSanctionDate">-</label>-->
                    <!--&lt;!&ndash;<label class="col-sm-3 custom-details-lebel-left">SME Code :</label>-->
                    <!--<label class="col-sm-3 custom-form-lebel" id="smeCode">{{loanAccDetails.smeCode}}</label>&ndash;&gt;-->
                    <!--</div>-->


                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">Environmental Risk :</label>
                        <label class="col-sm-3 custom-form-lebel"
                               id="environmentRisk">{{loanAccDetails.envRisk}}</label>
                        <label class="col-sm-3 custom-details-lebel-left"> Total Facility Limit :</label>
                        <label class="col-sm-3 custom-form-lebel" id="totalFacilityLimit">-</label>
                    </div>


                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left"> Credit Rating :</label>
                        <label class="col-sm-3 custom-form-lebel"
                               id="creditRating">{{customerInfo.creditRating}}</label>
                        <label class="col-sm-3 custom-details-lebel-left"> Last Approval Date :</label>
                        <label class="col-sm-3 custom-form-lebel" id="lastApprovalDate">{{loanAccDetails.latestApprovalDate | formatDate}}</label>
                    </div>

                    <!--<div class="form-group row csi-view-form-group">-->
                    <!--<label class="col-sm-3 custom-details-lebel-left"> User Define EMI :</label>-->
                    <!--<label class="col-sm-3 custom-form-lebel"-->
                    <!--id="userDefineEMI">{{loanAccDetails.userDefineEmi}}</label>-->
                    <!--&lt;!&ndash;<label class="col-sm-3 custom-details-lebel-left">FID :</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;<label class="col-sm-3 custom-form-lebel" id="fid">{{loanAccSchedule.fid}}</label>&ndash;&gt;-->
                    <!--</div>-->
                    <div class="form-group row csi-view-form-group" th:if="${#strings.startsWith(session.unit,'SAM')}">
                        <!--<label class="col-sm-3 custom-details-lebel-left"> User Define EMI :</label>
                        <label class="col-sm-3 custom-form-lebel" id="userDefineEMI">{{loanAccDetails.userDefineEmi}}</label>-->
                        <label class="col-sm-3 custom-details-lebel-left">Settlement Loan Account :</label>
                        <label class="col-sm-3 custom-form-lebel" id="settlementLoanAccount">{{loanAccDetails.sattlementLoanAc}}</label>
                        <label class="col-sm-3 custom-details-lebel-left">Early Settlement Fee :</label>
                        <label class="col-sm-3 custom-form-lebel" id="earlySettlementFee">-</label>
                    </div>

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">prevspense :</label>
                        <label class="col-sm-3 custom-form-lebel">{{numberToBdt(loanAccDetails.interestSuspence)}}</label>
                        <label class="col-sm-3 custom-details-lebel-left"> Installment Frequency :</label>
                        <label class="col-sm-3 custom-form-lebel" id="installmentFrequency">{{loanAccDetails.installmentFrequence}}</label>
                    </div>

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left"> No of Installment Due :</label>
                        <label class="col-sm-3 custom-form-lebel" id="noOfInstallmentDue">{{loanAccDetails.noOfIntallmentDue}}</label>
                        <label class="col-sm-3 custom-details-lebel-left">No of Installment Paid :</label>
                        <label class="col-sm-3 custom-form-lebel" id="noOfInstallmentPaid">{{loanAccDetails.noOfIntallmentPaid}}</label>
                    </div>

                    <!--<div class="form-group row csi-view-form-group" th:if="${#strings.startsWith(session.unit,'SAM')}">-->
                    <!--&lt;!&ndash;<label class="col-sm-3 custom-details-lebel-left"> Related Previous Account :</label>-->
                    <!--<label class="col-sm-3 custom-form-lebel" id=" relatedPreviousAccount">{{loanAccDetails.previousAccountNo}}</label>&ndash;&gt;-->
                    <!--<label class="col-sm-3 custom-details-lebel-left">Settlement Loan Account :</label>-->
                    <!--<label class="col-sm-3 custom-form-lebel" id="settlementLoanAccount">{{loanAccDetails.sattlementLoanAc}}</label>-->
                    <!--</div>-->

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">Settlement Account Balance :</label>
                        <label class="col-sm-3 custom-form-lebel" id="settlementAccountBalance">{{loanAccDetails.sattlementAcBal}}</label>
                        <label class="col-sm-3 custom-details-lebel-left">Next EMI Date :</label>
                        <label class="col-sm-3 custom-form-lebel" id="scheduleNextDate">{{loanAccDetails.scheduleNextDate | formatDate}}</label>
                    </div>


                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left ">Dealer Id :</label>
                        <label class="col-sm-3 custom-form-lebel"
                               th:text="${distributionInfo != null ? distributionInfo.dealerPin : ''}"></label>
                        <label class="col-sm-3 custom-details-lebel-left">Dealer Name :</label>
                        <label class="col-sm-3 custom-form-lebel"
                               th:text="${distributionInfo != null ? distributionInfo.dealerName : ''}"></label>
                    </div>

                    <!--<div class="form-group row csi-view-form-group">-->
                    <!---->
                    <!--<label class="col-sm-3 custom-details-lebel-left">Settlement Loan Account :</label>-->
                    <!--<label class="col-sm-3 custom-form-lebel" id="settlementLoanAccount">{{loanAccDetails.sattlementLoanAc}}</label>-->
                    <!--</div>-->

                    <div class="form-group row csi-view-form-group">
                        <!--<label class="col-sm-3 custom-details-lebel-left"> OS Local Currency :</label>-->
                        <!--<label class="col-sm-3 custom-form-lebel">{{loanAccDetails.outStandingLocalCurrency}}</label>-->
                        <!--<label class="col-sm-3 custom-details-lebel-left"> Installment Frequency :</label>-->
                        <!--<label class="col-sm-3 custom-form-lebel" id="installmentFrequency">{{loanAccDetails.installmentFrequence}}</label>-->
                    </div>


                </div>
            </div>

        </form>
    </div>

</div>
</body>


</html>
