<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"/>
    <title> Secured Card Criteria</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="box box-primary">

                        <div class="box-header with-border" style="text-align: center;">
                            <h3 th:if="${secCardNew.id == null}" class="box-title">Create Secured Card Criteria</h3>
                            <h3 th:if="${secCardNew.id != null}" class="box-title">Update Secured Card Criteria</h3>
                        </div>

                        <form class="form-horizontal validate" method="post" th:action="@{/collection/securedCardCriteria/create}"
                              th:object="${secCardNew}">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="box-body">

                                <div class="form-group">
                                    <label class="col-sm-4 control-label required">
                                        Alias Name Start with
                                    </label>
                                    <div class="col-sm-4" th:if="${secCardNew.rule1}!= null">
                                        <input type="text" name="rule1" class="form-control required" th:required="true"
                                               th:value="${secCardNew?.rule1[0]}" placeholder="Alias Name Starts with"/>
                                    </div>
                                    <div class="col-sm-4" th:if="${secCardNew.rule1}== null">
                                        <input type="text" name="rule1" class="form-control required" th:required="true"
                                               placeholder="Alias Name Starts With"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" class="btn btn-icon btn-xs btn-info" onclick="addMoreRule1()">
                                            <i class="fa fa-plus-circle"></i>
                                        </button>
                                    </div>
                                    <!--<label class="col-sm-3 control-label" >
                                        AND After Numeric
                                    </label>-->
                                </div>
                                <!-- MORE DIV -->
                                <span id="r1_span">
                                    <div class="form-group" th:each="d1,i : ${secCardNew.rule1}" th:if="${i.index > 0}">
                                        <label class="col-sm-4 control-label"></label>
                                        <div class="col-sm-4">
                                            <input type="text" name="rule1" class="form-control required" th:required="true"
                                                   th:value="${d1}" placeholder="Alias Name Starts with"/>
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" class="btn btn-icon btn-xs btn-danger" onclick="removeDiv(this)">
                                                <i class="fa fa-remove"></i>
                                            </button>
                                        </div>
                                    </div>

                                </span>


                                <!-- RULE 2 -->
                                <div class="form-group">
                                    <label class="col-sm-4 control-label required">
                                        Alias Name Contains
                                    </label>
                                    <div class="col-sm-4" th:if="${secCardNew.rule2}!= null">
                                        <input type="text" name="rule2" class="form-control required" th:required="true"
                                               th:value="${secCardNew.rule2[0]}" placeholder="Alias Name Contains"/>
                                    </div>
                                    <div class="col-sm-4" th:if="${secCardNew.rule2}== null">
                                        <input type="text" name="rule2" class="form-control required" th:required="true"
                                               placeholder="Alias Name Contains"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" class="btn btn-icon btn-xs btn-info" onclick="addMoreRule2()">
                                            <i class="fa fa-plus-circle"></i>
                                        </button>
                                    </div>
                                    <!--<label class="col-sm-3 control-label">-->
                                    <!--AND after any character-->
                                    <!--</label>-->
                                </div>
                                <!-- MORE DIV -->
                                <span id="r2_span">
                                    <div class="form-group" th:each="d1,i : ${secCardNew.rule2}" th:if="${i.index > 0}">
                                        <label class="col-sm-4 control-label"></label>
                                        <div class="col-sm-4">
                                            <input type="text" name="rule2" class="form-control required" th:required="true"
                                                   th:value="${d1}" placeholder="Alias Name Start with"/>
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" class="btn btn-icon btn-xs btn-danger" onclick="removeDiv(this)">
                                                <i class="fa fa-remove"></i>
                                            </button>
                                        </div>
                                    </div>
                                </span>


                                <div class="form-group" style="text-align: center">
                                    <!--<h5>-->
                                    <!--<i>And any <b>BBL</b> account number</i>-->
                                    <!--</h5>-->
                                    <!--<div class="col-sm-4">
                                        <input type="text" name="rule3" class="form-control required" th:required="true" th:value="${secCardNew.rule3}" placeholder="Account No Length" />
                                    </div>-->
                                    <!--<div class="col-sm-4" th:if="${secCardNew.rule3}== null">
                                        <input type="text" name="rule3" class="form-control required" th:required="true" placeholder="Alias Name Contain (In Between)" />
                                    </div>-->
                                    <!--<div class="col-sm-1">
                                        <button type="button" class="btn btn-icon btn-xs btn-info" onclick="addMoreRule3()">
                                            <i class="fa fa-plus-circle"></i>
                                        </button>
                                    </div>-->
                                </div>
                                <!-- MORE DIV -->
                                <!--<span id="r3_span">
                                    <div class="form-group" th:each="d1,i : ${secCardNew.rule3}" th:if="${i.index > 0}">
                                        <label class="col-sm-4 control-label"></label>
                                        <div class="col-sm-4">
                                            <input type="text" name="rule3" class="form-control required" th:required="true" th:value="${d1}" placeholder="Alias Name Contain (In Between)" />
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" class="btn btn-icon btn-xs btn-danger" onclick="removeDiv(this)">
                                                <i class="fa fa-remove"></i>
                                            </button>
                                        </div>
                                    </div>
                                </span>-->


                            </div>


                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                <!--<button type="submit" class="btn btn-info ">Submit</button>-->
                                <button type="submit" th:if="${secCardNew.id != null}" class="btn btn-info btn-sm">Update</button>
                                <button type="submit" th:if="${secCardNew.id == null}" class="btn btn-info btn-sm">Add</button>
                            </div>
                            <!-- /.box-footer -->
                        </form>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>


<script type="text/javascript" layout:fragment="custom-js">

    function addMoreRule1() {
        var data = "<div class=\"form-group\">\n" +
            "                                    <label class=\"col-sm-4 custom-form-lebel-right\"></label>\n" +
            "                                    <div class=\"col-sm-4\">\n" +
            "                                        <input type=\"text\" name=\"rule1\" class=\"form-control required\" th:required=\"true\" th:field=\"*{rule1}\" placeholder=\"Alias Name Start with\" />\n" +
            "                                    </div>\n" +
            "                                    <div class=\"col-sm-1\">\n" +
            "                                        <button type=\"button\" class=\"btn btn-icon btn-xs btn-danger\" onclick=\"removeDiv(this)\">" +
            "                                           <i class='fa fa-remove'></i>" +
            "                                         </button>\n" +
            "                                    </div>\n" +
            "                                </div>";


        $('#r1_span').append(data);
    }


    function addMoreRule2() {
        var data = "<div class=\"form-group\">\n" +
            "                                    <label class=\"col-sm-4 custom-form-lebel-right\"></label>\n" +
            "                                    <div class=\"col-sm-4\">\n" +
            "                                        <input type=\"text\" name=\"rule2\" class=\"form-control required\" th:required=\"true\" th:field=\"*{rule2}\" placeholder=\"Alias Name Start with\" />\n" +
            "                                    </div>\n" +
            "                                    <div class=\"col-sm-1\">\n" +
            "                                        <button type=\"button\" class=\"btn btn-icon btn-xs btn-danger\" onclick=\"removeDiv(this)\">" +
            "                                           <i class='fa fa-remove'></i>" +
            "                                         </button>\n" +
            "                                    </div>\n" +
            "                                </div>";


        $('#r2_span').append(data);
    }


    /*function addMoreRule3() {
        var data = "<div class=\"form-group\">\n" +
            "                                    <label class=\"col-sm-4 custom-form-lebel-right\"></label>\n" +
            "                                    <div class=\"col-sm-4\">\n" +
            "                                        <input type=\"text\" name=\"rule3\" class=\"form-control required\" th:required=\"true\" th:field=\"*{rule3}\" placeholder=\"Alias Name Contain (In Between)\" />\n" +
            "                                    </div>\n" +
            "                                    <div class=\"col-sm-1\">\n" +
            "                                        <button type=\"button\" class=\"btn btn-icon btn-xs btn-danger\" onclick=\"removeDiv(this)\">" +
            "                                           <i class='fa fa-remove'></i>" +
            "                                         </button>\n" +
            "                                    </div>\n" +
            "                                </div>";


        $('#r3_span').append(data);
    }*/


    function removeDiv(div) {
        $(div).parents('.form-group').remove();
    }

</script>

</html>
