<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>RFD(Reason for delinquency) Details</title>
</head>
<body>
<div th:fragment="rfd">
    <div class="csi-view-form-full-area csi-view-indtable">
        <div class="box-header with-border csi-view-box-header">
            <h3 class="box-title">RFD Details</h3>
        </div>
        <div id="rfdMenuApp" class="box-body">
            <div class="row">
                <div class="col-sm-6">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th colspan="2" class="text-center" style="font-size: 20px">Main Reasons</th>
                        </tr>
                        <tr>
                            <th>Reason</th>
                            <th>Total Accounts</th>
                        </tr>
                        </thead>
                        <tbody class="tbl-row">
                        <tr v-for="(rfd,index) in menuList">
                            <td class="text-left text-capitalize">{{rfd.rfdMenu}}</td>
                            <td class="text-right">{{rfd.noOfrfdMenu}}</td>
                        </tr>
                        <tr v-if="!menuList.length">
                            <td colspan="2" class="text-center">No data found</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <table class="table table-bordered">

                        <thead class="thead-light">
                        <tr>
                            <th colspan="2"
                                class="text-center"
                                style="font-size: 20px">Sub Reasons 1
                            </th>
                        </tr>
                        <tr>
                            <th>Reason</th>
                            <th>Total Accounts</th>
                        </tr>
                        </thead>
                        <tbody class="tbl-row">
                        <tr v-for="(rfd,index) in subMenu1List">
                            <td class="text-left text-capitalize">{{rfd.rfdMenu}}</td>
                            <td class="text-right">{{rfd.noOfrfdMenu}}</td>
                        </tr>
                        <tr v-if="!subMenu1List.length">
                            <td colspan="2" class="text-center">No data found</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <table class="table table-bordered">

                        <thead class="thead-light">
                        <tr>
                            <th colspan="2" class="text-center" style="font-size: 20px">Sub Reasons 2</th>
                        </tr>
                        <tr>
                            <th>Reason</th>
                            <th>Total Accounts</th>
                        </tr>
                        </thead>
                        <tbody class="tbl-row">
                        <tr v-for="(rfd,index) in subMenu2List">
                            <td class="text-left text-capitalize">{{rfd.rfdMenu}}</td>
                            <td class="text-right">{{rfd.noOfrfdMenu}}</td>
                        </tr>
                        <tr v-if="!subMenu2List.length">
                            <td colspan="2" class="text-center">No data found</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <table class="table table-bordered">

                        <thead class="thead-light">
                        <tr>
                            <th colspan="2" class="text-center" style="font-size: 20px">Sub Reasons 3</th>
                        </tr>
                        <tr>
                            <th>Reason</th>
                            <th>Total Accounts</th>
                        </tr>
                        </thead>
                        <tbody class="tbl-row">
                        <tr v-for="(rfd,index) in subMenu3List">
                            <td class="text-left text-capitalize">{{rfd.rfdMenu}}</td>
                            <td class="text-right">{{rfd.noOfrfdMenu}}</td>
                        </tr>
                        <tr v-if="!subMenu3List.length">
                            <td colspan="2" class="text-center">No data found</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>

    <script>
        var rfdMenuApp = new Vue({
            el: '#rfdMenuApp',
            data: {
                menuList: [],
                subMenu1List: [],
                subMenu2List: [],
                subMenu3List: []
            },
            methods: {
                updateRfdData(data) {
                    this.menuList = data.rfdMenuList;
                    this.subMenu1List = data.subMenu1List;
                    this.subMenu2List = data.subMenu2List;
                    this.subMenu3List = data.subMenu3List;
                }
            }
        });
    </script>


</div>
</body>


</html>