<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="UTF-8">
    <title>Proposal Prepared For</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <div class="content-wrapper" >
            <section class="content">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div th:if="${response.outcome == 'failure'}" class="alert alert-warning">
                            <div th:each="error : ${response.errors}" th:text="${error}"></div>
                        </div>

                        <div class="box box-primary">
                            <div class="box-header with-border" style="text-align: center;">
                                <h3 class="box-title">Create new Proposal Prepared For</h3>
                            </div>

                            <form method="post" th:action="@{/collection/samd/setup/proposal-prepared-reason/create}">
                                <input type="hidden" name="id" th:value="${reason.getId()}">

                                <div class="box-body">
                                    <div class="form-group">
                                        <label class="col-sm-4 custom-form-lebel-right required">Reason Name</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="name" required="true" th:value="${reason.getName()}" class="form-control input-sm required" placeholder="e.g. Management Decision"/>
                                        </div>
                                    </div>

                                    <br>
                                    <br>

                                    <div class="form-group">
                                        <label class="col-sm-4 custom-form-lebel-right required">Status</label>
                                        <div class="col-sm-6">
                                            <fieldset id="group1">
                                                <input type="radio" name="enabled" id="enabled"
                                                       th:checked="${reason.enabled ==true}" th:value="true">
                                                Active </input>
                                                <input type="radio" name="enabled" id="disabled"
                                                       th:checked="${reason.enabled ==false}" th:value="false">
                                                Inactive </input>
                                            </fieldset>
                                        </div>
                                    </div>

                                </div>

                                <div class="box-footer text-center">
                                    <button type="submit" class="btn btn-info btn-sm ">Submit</button>
                                    <a th:href="@{/collection/samd/setup/proposal-prepared-reason/list}" class="btn btn-danger btn-sm">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>