<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title> Employee Profile</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="box box-primary">

                        <div class="box-header with-border" style="text-align: center;">
                            <h3 th:text="${((profile.id == null) ? 'Create' : 'Update') + '  Employee Profile'}"
                                class="box-title">Edit form</h3>
                        </div>

                        <form id="app" class="form-horizontal validate" method="post"
                              th:action="@{/collection/employeeprofile/create}" th:object="${profile}">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-4 custom-form-lebel-right required">Employee PIN</label>
                                    <div class="col-sm-8">
                                        <select v-model="employee" class="form-control input-sm">
                                            <option value="" :value={}>Choose One</option>
                                            <option v-for="emp in employeeList" value="" :value="emp">{{emp.pin}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 custom-form-lebel-right required"> Employee Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" v-model="employee.name" name="employeeName"
                                               class="form-control" th:required="true" placeholder="Name" readonly/>
                                    </div>
                                </div>

                                <input type="hidden" v-model="employee.pin" name="employeePin"/>

                                <div class="form-group">
                                    <label class="col-sm-4 custom-form-lebel-right required"> User Id</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control required" th:required="true"
                                               th:field="*{userId}" placeholder="User Id"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 custom-form-lebel-right required"> Ip Address</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control required" th:required="true"
                                               th:field="*{ipAddress}" placeholder="Ip address"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 custom-form-lebel-right required">Select Employee
                                        Role</label>:
                                    <ul style="list-style: none" class="col-sm-8">
                                        <li th:each="role : ${jobrole}">
                                            <div class="ui checkbox">
                                                <label class="mdl-checkbox mdl-js-checkbox">
                                                    <input type="checkbox" th:field="*{selectedRole}"
                                                           th:value="${role.getId()}"
                                                           class="mdl-checkbox__input">
                                                    <span class="mdl-checkbox__label"
                                                          th:text="${role.name}">Married</span>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>


                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                <button type="submit" class="btn btn-info btn-sm ">Submit</button>
                                <a type="submit" class="btn btn-danger btn-sm" href="/collection/employeeprofile/list">Cancel</a>
                            </div>
                            <!-- /.box-footer -->
                        </form>

                        <script th:inline="javascript">
                            var example = new Vue({
                                el: '#app',
                                data: {
                                    employee: {},
                                    employeeList: []
                                },
                                created: function () {
                                    this.setemployeeList();
                                    this.setEmployee();
                                },
                                methods: {
                                    setEmployee: function () {
                                        let pin = [[${pin}]];
                                        pin = pin ? pin.toString() : "";
                                        let employee = this.employeeList.find(emp => emp.pin === pin);
                                        this.employee = employee ? employee : {};
                                    },
                                    setemployeeList: function () {
                                        //Todo: Send a EmployeeDto list instead of Employee list.
                                        let list = [[${employeelist}]];
                                        list = (list && Array.isArray(list)) ? list : [];
                                        this.employeeList = list.map(emp => {
                                            return {'pin': emp.pin, 'name': emp.user.firstName +' '+emp.user.lastName}
                                        });

                                    },
                                }
                            })
                        </script>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>