<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Team Leader Dashboard- Card</title>
</head>
<body>

	<div id="layout-form-panel" class="box box-primary  csi-layout-form-panel-sp" th:fragment="layout-form-panel">

<!-- /.box-header -->
		<div class="box-body csi-box-body">
			<section class="content ">
					<div class="row">
						<div class="col-md-12">
							<!-- Details View -->
							<div class=" bhoechie-tab-menu">
								<div class="list-group csi-list-group1">
									<a  id="tab-personalInfo" href="#" class="list-group-item" title="Personal Information">Team Details</a>
									<!--<a  id="tab-personalInfo" href="#" class="list-group-item" title="Personal Information">Team Leader and Dealer List</a>-->
									<!--<a  id="tab-personalInfo" href="#" class="list-group-item" title="Personal Information">Dealer Leader</a>-->
									<!--<a  id="tab-personalInfo" href="#" class="list-group-item" title="Personal Information">Team Queue and Status Summary</a>-->
									<a  id="team_summary_details" href="#" class="list-group-item" title="Guarantor Information">Summary Details</a>
									<a  id="tab-follow-up" href="#" class="list-group-item" title="Personal Information">Team Followup Details</a>
									<a  id="tab-personalInfo" href="#" class="list-group-item" title="Personal Information">Team PTP Status</a>

									<!--<a  id="tab-personalInfo" href="#" class="list-group-item" title="Personal Information">Team Payment Details</a>-->
									<!--<a  id="tab-personalInfo" href="#" class="list-group-item" title="Personal Information">Team Performance</a>-->
									<a  id="tab-personalInfo" href="#" class="list-group-item" title="Personal Information">RFD Details</a>
									<a  id="tab-personalInfo" href="#" class="list-group-item" title="Personal Information">Team Target Details</a>
									<a  id="tab_agency_detail" href="#" class="list-group-item" title="Letter Information">Agency Details</a>
									<a  id="tab-personalInfo" href="#" class="list-group-item" title="Personal Information">Work Management</a>
									<a  id="tab-personalInfo" href="#" class="list-group-item" title="Personal Information">Age Code wise</a>
									<!--<a  id="tab-personalInfo" href="#" class="list-group-item" title="Personal Information">Graphical View: Targe vs Achievement</a>-->
									<a  id="tab-personalInfo" href="#" class="list-group-item" title="Personal Information">Search-Advanced</a>
									<!--<a  id="tab_agency_detail" href="#" class="list-group-item" title="Personal Information">Agency Details</a>-->

								</div>
							<!--/ Details View -->
							<!-- /TAB HEAD -->
							</div>

							<!-- TAB CONTENT Details-->
							<div class="bhoechie-tab csi-preview-bhoechie-tab">

								<div class="bhoechie-tab-content" >
									<div th:replace="dashboard/card/teamleader/details/panels/middle/team_details :: team-info"></div>

								</div>
							</div>

							<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

								<!--<div class="bhoechie-tab-content" >-->
									<!--<div th:replace="dashboard/card/teamleader/details/panels/middle/personal_info :: personal-info"></div>-->

								<!--</div>-->
							<!--</div>-->

							<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

								<!--<div class="bhoechie-tab-content" >-->
									<!--<div th:replace="dashboard/card/teamleader/details/panels/middle/tl_dealerleader :: tl_dealerleader"></div>-->

								<!--</div>-->
							<!--</div>-->

							<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

								<!--<div class="bhoechie-tab-content" >-->
									<!--<div th:replace="dashboard/card/teamleader/details/panels/middle/tl_statusqueue :: tl_statusqueue"></div>-->

								<!--</div>-->
							<!--</div>-->

							<div class="bhoechie-tab csi-preview-bhoechie-tab">

								<div class="bhoechie-tab-content" >
									<div th:replace="dashboard/card/teamleader/details/panels/middle/summary_details :: summary_details"></div>

								</div>
							</div>

							<div class="bhoechie-tab csi-preview-bhoechie-tab">

								<div class="bhoechie-tab-content" >
									<div th:replace="dashboard/card/teamleader/details/panels/middle/tl_followup :: tl_followup"></div>

								</div>
							</div>

							<div class="bhoechie-tab csi-preview-bhoechie-tab">

								<div class="bhoechie-tab-content" >
									<div th:replace="dashboard/card/teamleader/details/panels/middle/tl_ptpstatus :: tl_ptpstatus"></div>

								</div>
							</div>

							<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

								<!--<div class="bhoechie-tab-content" >-->
									<!--<div th:replace="dashboard/card/teamleader/details/panels/middle/tl_paymentdetailsacc :: tl_paymentdetailsacc"></div>-->

								<!--</div>-->
							<!--</div>-->

							<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

								<!--<div class="bhoechie-tab-content" >-->
									<!--<div th:replace="dashboard/card/teamleader/details/panels/middle/tl_teamperformance :: tl_teamperformance"></div>-->

								<!--</div>-->
							<!--</div>-->

							<div class="bhoechie-tab csi-preview-bhoechie-tab">

								<div class="bhoechie-tab-content" >
									<div th:replace="dashboard/shared/common/rfd :: rfd"></div>

								</div>
							</div>

							<div class="bhoechie-tab csi-preview-bhoechie-tab">

								<div class="bhoechie-tab-content" >
									<div th:replace="dashboard/card/teamleader/details/panels/middle/tl_targetdetails :: tl_targetdetails"></div>

								</div>
							</div>

							<div class="bhoechie-tab csi-preview-bhoechie-tab">

								<div class="bhoechie-tab-content" >
									<div th:replace="dashboard/card/teamleader/details/panels/middle/tl_agencydetails :: tl_agencydetails"></div>

								</div>
							</div>

							<div class="bhoechie-tab csi-preview-bhoechie-tab">

								<div class="bhoechie-tab-content" >
									<div th:replace="dashboard/card/teamleader/details/panels/middle/tl_workmanagement :: tl_workmanagement"></div>

								</div>
							</div>

							<div class="bhoechie-tab csi-preview-bhoechie-tab">

								<div class="bhoechie-tab-content" >
									<div th:replace="dashboard/card/teamleader/details/panels/middle/tl_agecode :: tl_agecode"></div>

								</div>
							</div>

							<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

								<!--<div class="bhoechie-tab-content" >-->
									<!--<div th:replace="dashboard/card/teamleader/details/panels/middle/tl_test :: tl_test"></div>-->

								<!--</div>-->
							<!--</div>-->

							<div class="bhoechie-tab csi-preview-bhoechie-tab">

								<div class="bhoechie-tab-content" >
									<div th:replace="dashboard/shared/common/search_adv :: search_test"></div>

								</div>
							</div>




							<!-- /TAB CONTENT Details-->
						</div>
					</div>
			</section>
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->

</body>
</html>