<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
	  layout:decorator="card/layouts/main/main-layout">
<head>
	<meta charset="ISO-8859-1"></meta>
	<title> ESAU Rating- Loan</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
	<div class="content-wrapper">
		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-primary">
						<style>
							.form-horizontal .control-label {
								padding-top: 0px;
								margin-bottom: 0;
								text-align: right;
							}
						</style>
						<div class="box-header with-border">
							<h3 class="box-title">ESAU Rating Details- Loan</h3>
							th:if="${session.urlList.contains('/collection/loan/esau/list')}"
							<a th:href="@{/collection/loan/esau/list}" class="btn btn-primary btn-sm" style="float: right;">Back To List</a>
						</div>

						<form  class="form-horizontal validate" method="post" th:action="@{/collection/loan/esau/create}" th:object="${esauLoan}">

								<div class="form-group">
									<label class="col-sm-4 custom-form-lebel-right required">Final Avg. Upper Limit</label>
									<div class="col-sm-8">
										<label name="finalAvgUpperLimit" type="text" id="finalAvgUpperLimit" th:text="${esauLoan.finalAvgUpperLimit}" ></label>
									</div>
								</div>
								<div class="form-group">
									<label  class="col-sm-4 custom-form-lebel-right required">Final Avg. Lower Limit</label>
									<div class="col-sm-8">
										<label name="finalAvgLowerLimit" type="text" id="finalAvgLowerLimit" th:text="${esauLoan.finalAvgLowerLimit}" ></label>
									</div>
								</div>

								<div class="form-group">
									<label  class="col-sm-4 custom-form-lebel-right required">Rating Name</label>
									<div class="col-sm-8">
										<label name="ratingName" type="text" id="ratingName" th:text="${esauLoan.ratingName}" ></label>
									</div>
								</div>

								<div class="form-group" th:if="${esauLoan.id != null}">
									<label  class="col-sm-4 custom-form-lebel-right required">Status</label>
									<div class="col-sm-8" >
										<fieldset id="group1" >
											<input type="radio" name="enabled" th:checked="${esauLoan?.enabled == true} " th:value="true" > Active</input>
											<input type="radio"  name="enabled" th:checked="${esauLoan?.enabled == false}" th:value="false" required> Inactive </input>
										</fieldset>
									</div>
								</div>

								<div class="form-group" th:if="${esauLoan?.id == null}" style="display: none">
									<label  class="col-sm-4 custom-form-lebel-right required">Status</label>
									<div class="col-sm-8" >
										<fieldset id="group1">
											<input type="radio" name="enabled" th:checked="${esauLoan?.enabled==true} or ${esauLoan?.id == null}" th:value="true"> Active</input>
											<input type="radio"  name="enabled"  th:checked="${esauLoan?.enabled==false} and ${esauLoan?.id != null}" th:value="false"> Inactive </input>
										</fieldset>
									</div>
								</div>

							</div>
							<!-- /.box-body -->
							<!--<div class="box-footer text-center">
								<a type="submit" class="btn btn-danger" href="/collection/loan/esau/list">Cancel</a>
							</div>-->
							<!-- /.box-footer -->
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
</body>
</html>