<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Activity & PTP Summary</title>
</head>
<body>
<div style="margin-top: 2em" th:fragment="content">
    <div id="ptp-summary">
        <table class="table table-bordered custom_dt">
            <thead class="thead-light">
            <tr>
                <th class="text-center">PTP</th>
                <th class="text-center">No of Account</th>
                <th class="text-center">Amount</th>
            </tr>
            </thead>
            <tbody class="tbl-row">
            <tr v-for="(ptp, index) in ptpList">
                <td class="text-capitalize">
                    <a data-toggle="modal" data-target="#modal-ptp-details" style="cursor: pointer"
                       @click="changeAccountList(index)">{{ptp.status}}</a>
                </td>
                <td class="text-right">{{ptp.totalAccount}}</td>
                <td class="text-right">{{ptp.ptpAmount}}</td>
            </tr>
            </tbody>
        </table>

        <div class="modal fade" id="modal-ptp-details">
            <div class="modal-dialog" style="height: 100%; width: 70%; padding-right: 20px;">
                <div class="modal-content" style="max-height: 900px;">
                    <div class="modal-header" style="text-align: center;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">PTP Details</h4>
                    </div>
                    <div style="overflow: auto; max-height: 800px; padding: 20px; margin-bottom: 20px;">
                        <table id="ptp-modal-tbl" class="table table-condensed table-hover table-bordered">
                            <thead class="thead-light">
                            <th class="text-center">Account No</th>
                            <th class="text-center">Account Name</th>
                            <th class="text-center">PTP Amount</th>
                            <th class="text-center">PTP Date</th>
                            <th class="text-center">PTP Time</th>
                            <th class="text-center">Contact Detail</th>
                            <th class="text-center">Contact Location</th>
                            <th class="text-center">Promisor Detail</th>
                            <th class="text-center">DPD</th>
                            <th class="text-center">Product Name</th>
                            </thead>
                            <tbody class="tbl-row">
                            <tr v-for="(ptp,index) in ptpDetailsList">
                                <td class="text-center"><a
                                        :href="'/profile/loanprofile/search?account='+ getBeforeDash(ptp.accountNo)"
                                        target="_blank">{{getBeforeDash(ptp.accountNo)}}</a></td>
                                <td class="text-left">{{ptp.accountName}}</td>
                                <td class="text-right">{{ptp.amount | formatBdtInEnglish}}</td>
                                <td class="text-center text-nowrap">{{ptp.ptpDate}}</td>
                                <td class="text-center">{{ptp.ptpTime}}</td>
                                <td class="text-left">{{ptp.contactDetail}}</td>
                                <td class="text-left">{{ptp.contactLocation}}</td>
                                <td class="text-left">{{ptp.promisorDetails}}</td>
                                <td class="text-left">{{ptp.dpdBucket}}</td>
                                <td class="text-left">{{ptp.productName}}</td>
                            </tr>
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>




        <!--attempted and unattempt-->
        <div class="modal fade" id="modal-call-attempt">
            <div class="modal-dialog" style="height: 100%; width: 70%; padding-right: 20px;">
                <div class="modal-content" style="max-height: 900px;">
                    <div class="modal-header" style="text-align: center;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Call Attempts List</h4>
                    </div>
                    <div style="overflow: auto; max-height: 800px; padding: 20px; margin-bottom: 20px;">
                        <table id="contact-attempt-id" class="table table-condensed table-hover table-bordered">
                            <thead class="thead-light">
                            <th class="text-center">Call By</th>
                            <th class="text-center">Call Time</th>
                            <th class="text-center">Attempt</th>
                            <th class="text-center">Contact</th>
                            <th class="text-center">Category</th>
                            </thead>
                            <tbody class="tbl-row">
                                <tr v-for="attemptCall in attemptCallList">
                                    <td>{{attemptCall.createdBy}}</td>
                                    <td>{{attemptCall.createdDate}}</td>
                                    <td>{{attemptCall.attempt}}</td>
                                    <td>{{attemptCall.contact}}</td>
                                    <td>{{attemptCall.category}}</td>
                                </tr>
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>



        <div>
            <h4 class="box-title" style="margin-left: 20px">Activity</h4>
            <table class="table table-bordered custom_dt">
                <thead class="thead-light">
                <tr>
                    <th class="text-center">Account No</th>
                    <th class="text-center">Attempted Call</th>
                    <!--<th class="text-center">Unattempted Call</th>-->
                </tr>
                </thead>
                <tbody class="tbl-row">
                    <tr v-for="contactInfoDto in contactInfoDtoList">
                        <td style="color: red"><a target="_blank" :href="'/profile/loanprofile/search?account='+contactInfoDto.accountNo">{{contactInfoDto.accountNo}}</a></td>
                        <td><a @click="callAttemptList(contactInfoDto.customerId)" data-toggle="modal" data-target="#modal-call-attempt" style="cursor: pointer">{{contactInfoDto.attempted}}</a></td>
                        <!--<td><a @click="callUnAttemptList(contactInfoDto.customerId)" data-toggle="modal" data-target="#modal-call-attempt" style="cursor: pointer">{{contactInfoDto.unattempted}}</a></td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script th:inline="javascript">
        $(document).ready(function () {
            $("#tab-dealer-ptp-summary").click(function (event) {
                ptp_summary.getPtpList();
            });


            function attemptAndUnattemptCallList() {
                let designation = $("#globalUserDesignationForSummary").val();

                let unit = $("#globalUnitForSummary").val();

                let url = '/customerLoanProfile/ContactInfo/attempt-unattempt-call/list?designation=' + designation;

                if(unit ==='Card'){
                    url = '/customerLoanProfile/ContactInfo/attempt-unattempt-card-call/list?designation=' + designation;
                }

                $.ajax({
                    url: url,
                    success: function (response) {
                        ptp_summary.contactInfoDtoList = response;

                    },
                    error: function (response) {

                    }
                })
            }

            attemptAndUnattemptCallList();
        });

    </script>

    <script>
         ptp_summary = new Vue({
            el: '#ptp-summary',
            data: {
                ptpList: [],
                ptpDetailsList: [],
                designation: '',
                dataTable: null,

                contactInfoDtoList: [],
                attemptCallList: []
            },
             created: function(){
                console.log("ptp list : "+JSON.stringify(this.ptpList))

                 this.getPtpList();
             },
            filters: {
                formatBdtInEnglish: function (value) {
                    return formatBdtInEnglish(value);
                },
            },
            methods: {
                getPtpList() {
                    let designation = $("#globalUserDesignationForSummary").val();
                    let userPin = $("#globalUserPinForSummary").val();
                    let unit = $("#globalUnitForSummary").val();

                    console.log("des : "+designation+ " user : "+userPin)
                    let url = 'https://' + window.location.host + '/collection/card/dashboard/ptp-status-summary?designation=' + designation + '&userPin=' + userPin;

                    if(unit === 'Loan'){
                        url = 'https://' + window.location.host + '/retail/loan/dashboard/ptp-status-summary?designation=' + designation + '&userPin=' + userPin;
                    }

                    this.$http.get(url, {credentials: true, headers: {'X-CSRF-TOKEN': window.csrfToken}})
                        .then(res => {
                            if (typeof res.body !== 'string') {
                                this.ptpList = res.body;
                            }else {
                                notifyError(res.body);
                            }
                        }).catch(err => {
                        console.log(err);
                    })
                },
                changeAccountList(index) {
                    //let list = this.ptpList[index].ptpDetails;
                    this.ptpDetailsList = this.ptpList[index].ptpDetails;
                    // let dataTable = this.dataTable;
                    // if (dataTable != null) {
                    //     dataTable.clear().destroy();
                    // }
                    // this.initiateTable(list);
                },
                callAttemptList(customerId){
                    let url = 'https://' + window.location.host + '/customerLoanProfile/ContactInfo/attempt-call-list?customerId=' + customerId;
                    this.$http.get(url, {credentials: true, headers: {'X-CSRF-TOKEN': window.csrfToken}})
                        .then(res => {
                            if (res.body) {
                                this.attemptCallList = res.body;
                            }
                        }).catch(err => {
                        console.log(err);
                    })
                },
                // callUnAttemptList(customerId){
                //     let url = 'https://' + window.location.host + '/customerLoanProfile/ContactInfo/unattempt-call-list?customerId=' + customerId;
                //     this.$http.get(url, {credentials: true, headers: {'X-CSRF-TOKEN': window.csrfToken}})
                //         .then(res => {
                //             if (res.body) {
                //                 this.attemptCallList = res.body;
                //             }
                //         }).catch(err => {
                //         console.log(err);
                //     })
                // }

                initiateTable(list) {
                    this.dataTable = $('#ptp-modal-tbl').DataTable({
                        data: list,
                        "columns": [
                            {"data": "accountNo"},
                            {"data": "accountName"},
                            {"data": "amount"},
                            {"data": "ptpDate"},
                            {"data": "ptpTime"},
                            {"data": "contactDetail"},
                            {"data": "contactLocation"},
                            {"data": "promisorDetails"},
                            {"data": "dpdBucket"},
                            {"data": "productName"},
                        ],
                        columnDefs: [
                            {
                                render: function (data, type, row) {
                                    return data ? formatBdtInEnglish(data) : 0;
                                },
                                targets: [2]
                            }
                        ],
                        'paging': true,
                        'lengthChange': true,
                        'searching': true,
                        'ordering': true,
                        'info': true,
                        'autoWidth': false
                    });
                },

                getBeforeDash(accNo){
                    return accNo.substring(0,13);
                },
            }
        });
    </script>

</div>
</body>


</html>
