<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Team Follow up details</title>
</head>
<body>
<div id="layout-cibReport" th:fragment="followup-details">
    <div class="box-header with-border">
        <h3 class="box-title">Team Follow Up Details</h3>
    </div>

    <br/>
    <br/>
    <div class="multi-line-broadcom-div">
        <ul id="info-tabs" class="nav nav-tabs">
            <li id="tab-team-lead-follow-up" class="active">
                <a data-toggle="tab" href="#supervisor-follow-up-summary" title="Team Follow Up Details">Team
                    Details</a>
            </li>
            <li id="tab-dealer-wise-follow-up">
                <a data-toggle="tab" href="#tl-dealer-wise-follow-up-summary" title="Dealer Wise Follow Up Details">Team
                    Leader & Dealer Wise Details</a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane top-buffer active" id="supervisor-follow-up-summary">
            <center><h5>Team Details</h5></center>
            <div th:replace="retail/card/dashboard/shared/followup/follow-up-summary :: content"></div>
        </div>

        <div role="tabpanel" class="tab-pane top-buffer" id="tl-dealer-wise-follow-up-summary">
            <div id="supervisor-followup-multiselect" class="box-body">
                <div>
                    <label class="col-sm-2" style="margin-top: 10px">Select Team Leader(s): </label>
                    <div class="col-sm-4">
                        <multiselect v-model="selectedTeamLeaderList" placeholder="Choose Team Leaders"
                                     :custom-label="nameWithPin" track-by="dealerPin" :options="teamLeaderList"
                                     :multiple="true"
                                     @input="onTeamLeadChange"
                                     :taggable="true"></multiselect>
                    </div>
                </div>
                <div>
                    <label class="col-sm-2" style="margin-top: 10px">Select Dealer(s): </label>
                    <div class="col-sm-4">
                        <multiselect v-model="selectedDealerList" placeholder="Choose Dealers"
                                     :custom-label="nameWithPin" track-by="dealerPin" :options="dealerList"
                                     :multiple="true" :taggable="true"></multiselect>
                    </div>
                </div>
            </div>

            <center><h5>Team Leader and Dealer Wise Details</h5></center>
            <form class="form-horizontal csi-view-form">
                <table class="table table-bordered">
                    <thead >
                    <tr>
                        <th class="text-center" rowspan="2">Name</th>
                        <th class="text-center" colspan="2">Phone</th>
                        <th class="text-center" colspan="2">SMS</th>
                        <th class="text-center" colspan="2">Visit</th>
                        <th class="text-center" colspan="2">Letter</th>
                        <th class="text-center" colspan="2">Email</th>
                        <th class="text-center" colspan="2">Contacted</th>
                        <th class="text-center" colspan="2">Not Contacted</th>
                    </tr>
                    <tr>
                        <td class="text-center">Account</td>
                        <td class="text-center">Amount</td>
                        <td class="text-center">Account</td>
                        <td class="text-center">Amount</td>
                        <td class="text-center">Account</td>
                        <td class="text-center">Amount</td>
                        <td class="text-center">Account</td>
                        <td class="text-center">Amount</td>
                        <td class="text-center">Account</td>
                        <td class="text-center">Amount</td>
                        <td class="text-center">Account</td>
                        <td class="text-center">Amount</td>
                        <td class="text-center">Account</td>
                        <td class="text-center">Amount</td>
                    </tr>
                    </thead>
                    <tbody class="tbl-row">
                    <tr v-for="followup in followupSummaryDealerWiseList">
                        <td>{{followup.dealerPin}}</td>
                        <td>{{followup.callCount}}</td>
                        <td>{{followup.callSum}}</td>
                        <td>{{followup.smsCount}}</td>
                        <td>{{followup.smsSum}}</td>
                        <td>{{followup.visitCount}}</td>
                        <td>{{followup.visitSum}}</td>
                        <td>{{followup.letterCount}}</td>
                        <td>{{followup.letterSum}}</td>
                        <td>{{followup.emailCount}}</td>
                        <td>{{followup.emailSum}}</td>
                        <td>{{followup.contactCount}}</td>
                        <td>{{followup.contactSum}}</td>
                        <td>{{followup.noContactCount}}</td>
                        <td>{{followup.noContactSum}}</td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <div class="modal fade" id="modal-followup-details">
            <div class="modal-dialog" style="height: 100%; width: 70%; padding-right: 20px;">
                <div class="modal-content" style="max-height: 900px;">
                    <div class="modal-header" style="text-align: center;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Followup Details</h4>
                    </div>
                    <div style="overflow: auto; max-height: 800px; padding: 20px; margin-bottom: 20px;">
                        <table class="table table-condensed table-hover table-bordered">
                            <thead >
                            <tr>
                                <th class="text-center">SL</th>
                                <th class="text-center">Account No</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Followup Date</th>
                                <th class="text-center">Followup Time</th>
                                <th class="text-center">Reason</th>
                                <th class="text-center">Remarks</th>
                                <th class="text-center">Dealer Name</th>
                            </tr>
                            </thead>
                            <tbody class="tbl-row">
                            <tr v-for="(followup, index) in accountListStatusWise">
                                <td class="text-center">{{index+1}}</td>
                                <td class="text-center"><a
                                        :href="'/profile/loanprofile/search?account='+ followup.accNo" target="_blank">{{followup.accNo}}</a>
                                </td>
                                <td class="text-center">{{followup.accountName}}</td>
                                <td class="text-center">{{followup.followupDate | dateFormat}}</td>
                                <td class="text-center">{{followup.followupTime}}</td>
                                <td class="text-center">{{followup.reason}}</td>
                                <td class="text-center">{{followup.remarks}}</td>
                                <td class="text-center">{{followup.dealerName}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var teamLeadDetail = /*[[${teamLeadDetail}]]*/ [];

        /*]]>*/

    </script>
    <script>
        var followUp = new Vue({
            el: '#tl-dealer-wise-follow-up-summary',
            data: {
                dealerList: [],
                selectedDealerList: [],
                teamLeaderList: [],
                selectedTeamLeaderList: [],
                filter: "",

                followupList: [],
                followupSummaryWiseList: [],

                followupSummaryDealerWiseList: [],
            },
            components: {
                Multiselect: VueMultiselect.default
            },
            computed: {
                accountListStatusWise() {
                    return this.followupList.filter(followup => followup.reason.includes(this.filter));
                },
                selectedDealerName() {
                    return this.selectedDealerList.map(dealer => dealer.dealerPin);
                },
                filterDealerWiseFollowupSummary() {
                    this.followupSummaryDealerWiseList = [];

                    for (let i = 0; i < this.selectedDealerName.length; i++) {
                        let dealerPin = this.selectedDealerName[i];
                        let pushToArray = false;

                        let callCount = 0, callSum = 0, smsCount = 0,
                            smsSum = 0, visitCount = 0, visitSum = 0,
                            emailCount = 0, emailSum = 0,
                            contactCount = 0, contactSum = 0,
                            noContactCount = 0, noContactSum = 0,
                            letterCount = 0, letterSum = 0;

                        this.followupList.forEach(item => {
                            if (item.dealerPin == dealerPin) {
                                pushToArray = true;
                                let reasons = item.reason;

                                if (reasons.includes("Call")) {
                                    callCount += 1;
                                    callSum += parseFloat(item.moOutstandingAmount);
                                }

                                if (reasons.includes("SMS")) {
                                    smsCount += 1;
                                    smsSum += parseFloat(item.moOutstandingAmount);
                                }

                                if (reasons.includes("VISIT")) {
                                    visitCount += 1;
                                    visitSum += parseFloat(item.moOutstandingAmount);
                                }

                                if (reasons.includes("Email")) {
                                    emailCount += 1;
                                    emailSum += parseFloat(item.moOutstandingAmount);
                                }

                                if (reasons.includes("Letter")) {
                                    letterCount += 1;
                                    letterSum += parseFloat(item.moOutstandingAmount);
                                }

                                if (reasons.includes("CONTACTED")) {
                                    contactCount += 1;
                                    contactSum += parseFloat(item.moOutstandingAmount);
                                }

                                if (reasons.includes("NO CONTACT")) {
                                    noContactCount += 1;
                                    noContactSum += parseFloat(item.moOutstandingAmount);
                                }
                            }
                        });

                        if (pushToArray) {
                            this.followupSummaryDealerWiseList.push({
                                "dealerPin": dealerPin,
                                "callCount": callCount,
                                "callSum": callSum,
                                "smsCount": smsCount,
                                "smsSum": smsSum,
                                "visitCount": visitCount,
                                "visitSum": visitSum,
                                "emailCount": emailCount,
                                "emailSum": emailSum,
                                "contactCount": contactCount,
                                "contactSum": contactSum,
                                "noContactCount": noContactCount,
                                "noContactSum": noContactSum,
                                "letterCount": letterCount,
                                "letterSum": letterSum,
                            });
                        }

                    }
                }
            },
            created() {
                // this.dealerList = dealerList;
                this.teamLeaderList = teamLeadDetail;
            },
            methods: {
                nameWithPin({dealerPin, dealerName}) {
                    return `${dealerPin} - ${dealerName}`;
                },

                onTeamLeadChange() {
                    var pinList = [];

                    pinList = this.selectedTeamLeaderList.map(item => item.dealerPin);
                    if (pinList.length === 0) {
                        this.dealerList = [];
                        this.selectedDealerList = [];
                    }

                    var host = window.location.host;
                    this.$http.post('https://' + host + '/collection/allocationlogic/dealer-list', {
                        teamLeadPinList: pinList
                    }, {
                        credentials: true, headers: {
                            'X-CSRF-TOKEN': window.csrfToken,
                        }
                    }).then(res => {
                        this.dealerList = res.body;
                        this.selectedDealerList = this.dealerList;
                    }).catch(err => {
                        console.log(err);
                    })
                },

                getFollowupList() {
                    let unit = $("#globalUnitForSummary").val().toLowerCase();

                    let url = 'https://' + window.location.host + '/collection/dashboard/distribution/follow-up/card/teamleader?unit=' + unit;
                    console.log(url);

                    this.$http.get(url, {credentials: true, headers: {'X-CSRF-TOKEN': window.csrfToken}})
                        .then(res => {
                            if (res.body) {
                                console.log(res.body);
                                this.followupList = res.body;
                                this.followUpReasonWise();
                            }
                        }).catch(err => {
                        console.log(err);
                    })
                },

                followUpReasonWise() {
                    this.followupSummaryWiseList = [];

                    let callCount = 0, callSum = 0, smsCount = 0,
                        smsSum = 0, visitCount = 0, visitSum = 0,
                        emailCount = 0, emailSum = 0,
                        contactCount = 0, contactSum = 0,
                        noContactCount = 0, noContactSum = 0,
                        letterCount = 0, letterSum = 0;

                    for (let i = 0; i < this.followupList.length; i++) {
                        let followup = this.followupList[i];
                        let reasons = followup.reason;

                        if (reasons.includes("Call")) {
                            callCount += 1;
                            callSum += parseFloat(followup.moOutstandingAmount);
                        }

                        if (reasons.includes("SMS")) {
                            smsCount += 1;
                            smsSum += parseFloat(followup.moOutstandingAmount);
                        }

                        if (reasons.includes("VISIT")) {
                            visitCount += 1;
                            visitSum += parseFloat(followup.moOutstandingAmount);
                        }

                        if (reasons.includes("Email")) {
                            emailCount += 1;
                            emailSum += parseFloat(followup.moOutstandingAmount);
                        }

                        if (reasons.includes("Letter")) {
                            letterCount += 1;
                            letterSum += parseFloat(followup.moOutstandingAmount);
                        }

                        if (reasons.includes("CONTACTED")) {
                            contactCount += 1;
                            contactSum += parseFloat(followup.moOutstandingAmount);
                        }

                        if (reasons.includes("NO CONTACT")) {
                            noContactCount += 1;
                            noContactSum += parseFloat(followup.moOutstandingAmount);
                        }
                    }

                    this.followupSummaryWiseList.push({
                        "reason": "Call",
                        "accounts": callCount,
                        "totalOutstanding": callSum,
                    });

                    this.followupSummaryWiseList.push({
                        "reason": "SMS",
                        "accounts": smsCount,
                        "totalOutstanding": smsSum,
                    });

                    this.followupSummaryWiseList.push({
                        "reason": "Visit",
                        "accounts": visitCount,
                        "totalOutstanding": visitSum,
                    });

                    this.followupSummaryWiseList.push({
                        "reason": "Email",
                        "accounts": emailCount,
                        "totalOutstanding": emailSum,
                    });

                    this.followupSummaryWiseList.push({
                        "reason": "Letter",
                        "accounts": letterCount,
                        "totalOutstanding": letterSum,
                    });

                    this.followupSummaryWiseList.push({
                        "reason": "Contacted",
                        "accounts": contactCount,
                        "totalOutstanding": contactSum,
                    });

                    this.followupSummaryWiseList.push({
                        "reason": "Not Contacted",
                        "accounts": noContactCount,
                        "totalOutstanding": noContactSum,
                    });


                },

                changeFilter(filter) {
                    this.filter = filter;
                }

            }
        })
    </script>


</div>
</body>


</html>
