<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"/>
    <title> Dunning Letter Rules- Loan </title>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <div class="col-xs-12">
        <style>
            .multiselect, .multiselect__input, .multiselect__single, .multiselect__content {
                font-size: 13px;
            }
            .multiselect__tag{
                font-size: 12px;
            }

        </style>
        <div>
            <div class="col-md-offset-2 col-md-8">
                <!-- .box -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 th:if="${dlrl.id == null}" class="box-title">Create New Dunning Letter Rules- Loan</h3>
                        <h3 th:if="${dlrl.id != null}" class="box-title">Update Dunning Letter Rules- Loan</h3>
                    </div>
                    <!-- Horizontal Form -->
                    <form @submit="checkForm" id="app" class="form-horizontal validate" method="post" th:action="@{/collection/settings/dunningLetterRulesLoan/create}" th:object="${dlrl}">

                        <input type="hidden" th:field="*{id}"></input>
                        <input type="hidden" th:field="*{productType}" v-model="getSelectedProductTypeLoanId"></input>
                        <!--<input type="hidden" th:name="letterTypesIdList" v-model="getSelectedLetterTypeId"></input>-->
                        <!--<input type="text" th:field="*{conditions}" v-model="getSelectedDpdBucketId"></input>-->
                        <!--<input type="hidden" th:field="*{guarantorDpdBucket}" v-model="getSelectedguarantorDpdBucketId"></input>-->

                        <div th:each="dlCondition,stat:${selectedDunningLetterConditionList}">
                            <input type="hidden" th:value="${dlCondition.id}"   th:id="'dlcondition-'+${stat.count}"></input>
                        </div>




                        <div class="box-body">


                            <div class="form-group">
                                <label  class="col-sm-3 custom-form-lebel-right required">Product Type</label>
                                <div class="col-sm-9">
                                    <multiselect  v-model="selectedProductTypeLoan" placeholder="Search a Product Type" label="name" track-by="id"  :options="productTypeLoanOption" :multiple="true" :taggable="true"></multiselect>
                                </div>
                            </div>

                            <div class="form-group" th:each="condition,stat:${conditionTypes}">
                                <div class="col-sm-12">
                                        <label class="col-sm-12 custom-form" style="text-align: center">-- Condition <span th:text="${stat.count}"></span>--</label>
                                    <div class="col-sm-6" style="margin-bottom: 10px">
                                        <label class="col-sm-4 custom-form-lebel-right required">Amount</label>
                                        <div class="col-sm-7">
                                            <input class="form-control" type="text" th:field="*{conditions[__${stat.index}__].outstandingAmount}" th:required="true">

                                        </div>



                                    </div>
                                    <div class="col-sm-6" style="margin-bottom: 10px">
                                        <label class="col-sm-4 custom-form-lebel-right required" th:text="${condition.name()}=='BeforeDateLessAmount'?'Days Before':'Days After'">Days</label>
                                        <div class="col-sm-6" th:if="${condition.name() == 'BeforeDateLessAmount'}">
                                            <input class="form-control"  type="text" th:field="*{conditions[__${stat.index}__].daysBefore}" th:required="true">

                                        </div>
                                        <div class="col-sm-6" th:unless="${condition.name() == 'BeforeDateLessAmount'}">
                                            <input class="form-control"  type="text" th:field="*{conditions[__${stat.index}__].daysAfter}">

                                        </div>

                                            <button th:id="'addBtn-'+${stat.index}" type="button" class="btn btn-success" style="margin-left:2%" @click="addDpdAndLetter($event)">+</button>

                                    </div>

                                    <div class="col-sm-12">
                                        <div th:if="${stat.count==1}">
                                            <input type="hidden" th:value="${condition}" th:id="condition-1"/>
                                            <div v-for="data,stat in listData1">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <multiselect  v-model="data.dpd"   placeholder="Search a Bucket Type" label="bucketName" track-by="id"  :options="dpdBucketOption" :multiple="true" :taggable="true" ></multiselect>
                                                        <!--<input type="text" ref="dpdId"  :name="'conditions-0-dpdBuckets-'+stat" v-model="getSelectedDpdBucketId1"></input>-->
                                                    </div>
                                                    <div class="col-md-5">
                                                        <multiselect  v-model="data.letter"  placeholder="Search a Letter Type" label="letterType" track-by="id"  :options="letterTypeOption"  :taggable="true" ></multiselect>
                                                        <!--<input type="text" th:field="*{conditions[__${stat.index}__].letterTypes}" v-model="getSelectedLetterTypeId"></input>-->
                                                    </div>
                                                    <button  v-if="stat>0" :id="'deleteBtn-c0-'+stat" type="button" class="btn btn-danger" @click="deleteDpdAndLetter($event)">X</button>

                                                </div>



                                            </div>

                                        </div>
                                        <div th:if="${stat.count==2}" >
                                            <input type="hidden" th:value="${condition}" th:id="condition-2"/>
                                            <!--<input type="hidden" th:field="*{conditions[__${stat.index}__].conditionType}" th:value="${condition}" v-model="getSelectedDpdBucketId2"></input>-->
                                            <div v-for="data,stat in listData2">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <multiselect  v-model="data.dpd" placeholder="Search a Bucket Type" label="bucketName" track-by="id"  :options="dpdBucketOption" :multiple="true" :taggable="true" ></multiselect>
                                                        <!--<input type="text" th:field="*{conditions[__${stat.index}__].dpdBuckets}" v-model="getSelectedDpdBucketId2"></input>-->

                                                    </div>
                                                    <div class="col-md-5">
                                                        <multiselect  v-model="data.letter" placeholder="Search a Letter Type" label="letterType" track-by="id"  :options="letterTypeOption"  :taggable="true" ></multiselect>

                                                    </div>
                                                    <button  v-if="stat>0" :id="'deleteBtn-c1-'+stat" type="button" class="btn btn-danger" @click="deleteDpdAndLetter($event)">X</button>

                                                </div>
                                            </div>

                                        </div>
                                        <div th:if="${stat.count==3}" >
                                            <input type="hidden" th:value="${condition}" th:id="condition-3"/>
                                            <div v-for="data,stat in listData3">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <multiselect  v-model="data.dpd" placeholder="Search a Bucket Type" label="bucketName" track-by="id"  :options="dpdBucketOption" :multiple="true" :taggable="true" ></multiselect>
                                                        <!--<input type="text" th:field="*{conditions[__${stat.index}__].dpdBuckets}" v-model="getSelectedDpdBucketId3"></input>-->


                                                    </div>
                                                    <div class="col-md-5">
                                                        <multiselect  v-model="data.letter" placeholder="Search a Letter Type" label="letterType" track-by="id"  :options="letterTypeOption"  :taggable="true" ></multiselect>

                                                    </div>
                                                    <button  v-if="stat>0" :id="'deleteBtn-c2-'+stat" type="button" class="btn btn-danger" @click="deleteDpdAndLetter($event)">X</button>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div th:id="'addBtn-'+${stat.index}+'-div'">

                                </div>

                            </div>





                            <div class="form-group">
                                <label  class="col-sm-4 custom-form-lebel-right required">Guarantor</label>
                                <div class="col-sm-8">
                                    <fieldset id="group1">
                                        <input  type="radio" v-model="guarantor" name="guarantor" id="guarantor"  th:value="true" @change='guarantorCheck($event)'> Yes</input>
                                        <input  type="radio" v-model="guarantor"   name="guarantor" id="guarantor"  th:value="false" @change='guarantorCheck($event)'> No </input>
                                    </fieldset>
                                    <div id="guarantorDpd"  v-if="guarantor">
                                        <div class="col-sm-12" >
                                        <label  class="col-sm-4 custom-form-lebel-right required">Bucket</label>
                                            <multiselect  v-model="guarantorSelectedDpdBucketType" placeholder="Search a Bucket Type" label="bucketName" track-by="id"  :options="guarantorDpdBucketOption" :multiple="true" :taggable="true"></multiselect>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label  class="col-sm-4 custom-form-lebel-right required">Auto Loan</label>
                                <div class="col-sm-8">
                                    <fieldset id="autoLoanFiledSet">
                                        <input  type="radio"  name="autoLoan" v-model="autoLoan"   th:value="true" th:field="*{autoLoan}" th:required="required"> Yes</input>
                                        <input  type="radio"  name="autoLoan" v-model="autoLoan"   th:value="false" th:field="*{autoLoan}"> No </input>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="box-footer text-center">
                                <button type="submit" class="btn btn-info ">Submit</button>
                                <a type="submit" class="btn btn-danger" href="/collection/settings/dunningLetterRulesLoan/list">Cancel</a>
                            </div>


                            <div style="margin-left: 2%" class="form-group" v-if="errors.length">
                                <p class="col-sm-8">
                                    <b>Please correct the following error(s):</b>
                                </p>
                                <p style="color: red" class="col-sm-8" v-for="(error,index) in errors">{{index+1}}.<b> {{ error }}</b></p>
                            </div>
                        </div>




                        <!-- /.box-footer -->
                    </form>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        var productTypeLoanList = /*[[${productTypeLoanList}]]*/ || [];
                        var selectedProductTypeLoanList = /*[[${selectedProductTypeLoanList}]]*/ || [];
                        var dpdBucketList = /*[[${dpdBucketList}]]*/ || [];
                        var letterTypeList = /*[[${letterTypeList}]]*/ || [];
                        var selectedLetterTypeList = /*[[${selectedLetterTypeList}]]*/ || [];
                        var selectedDpdBucketTypeList = /*[[${selectedDpdBucketType}]]*/ || [];
                        var selectedGuarantorDpdBucketTypeList = /*[[${selectedGuarantorDpdBucketType}]]*/ || [];
                        //var selectedDunningLetterRulesDpdLetterTypeList = /*[[${selectedDpdLetterTypeList}]]*/ || [];

                        var selectedDunningLetterConditionList = /*[[${selectedDunningLetterConditionList}]]*/ || [];

                        var guarantor = /*[[${dlrl.guarantor}]]*/ || null;
                        var autoLoan = /*[[${dlrl.autoLoan}]]*/ || null;


                        /*]]>*/

                    </script>
                    <script>

                        new Vue({
                            el: '#app',
                            components:{
                                Multiselect: VueMultiselect.default
                            },
                            data:{
                                productTypeLoanOption:[],
                                selectedProductTypeLoan:[],
                                letterTypeOption:[],
                                selectedLetterType:[],
                                dpdBucketOption:[],
                                selectedDpdBucketType:[{dpd:[]}],
                                selectedDpdBucketType1:[],
                                selectedDpdBucketType2:[],
                                selectedDpdBucketType3:[],
                                guarantorDpdBucketOption:[],
                                guarantorSelectedDpdBucketType:[],
                                guarantor:null,
                                autoLoan:null,
                                selectedDunningLetterConditionList:[],
                                listData1:[{

                                    id: null,
                                    dpd:[],
                                    letter:[],
                                }],
                                listData2:[{

                                    id: null,
                                    dpd:[],
                                    letter:[],
                                }],
                                listData3:[{

                                    id: null,
                                    dpd:[],
                                    letter:[],
                                }],

                                errors:[],
                            },
                            methods:{
                                checkForm(e) {


                                    e.preventDefault();


                                    this.errors = [];
                                    if (!this.selectedProductTypeLoan.length) {
                                        this.errors.push('Product Type is required');
                                    }

                                    this.validateDpdAndLetter(this.listData1,this.error,"Condition-1",document.getElementById("conditions0.outstandingAmount").value,document.getElementById("conditions0.daysBefore").value);
                                    this.validateDpdAndLetter(this.listData2,this.error,"Condition-2",document.getElementById("conditions1.outstandingAmount").value,document.getElementById("conditions1.daysAfter").value);
                                    this.validateDpdAndLetter(this.listData3,this.error,"Condition-3",document.getElementById("conditions2.outstandingAmount").value,document.getElementById("conditions2.daysAfter").value);




                                    if (this.guarantor == null) {
                                        this.errors.push('Guarantor is required')
                                    }
                                    if(this.errors.length>0){return false;}

                                    var obj = {
                                        "id": null,
                                        "productType":[],
                                        "autoLoan": this.autoLoan,
                                        "guarantor": this.guarantor,
                                        "conditions":[],
                                        "guarantorDpdBucket":[],

                                    };

                                    var letterRulesDpdLetterType = [];
                                    var dunningLetterRulesDpdLetterType = [];
                                    var conditions= [];

                                    var conditionType1 = $("#condition-1").val();
                                    letterRulesDpdLetterType =this.populateObj(obj,dunningLetterRulesDpdLetterType,conditions,conditionType1,this.listData1);
                                    // alert("1st function");

                                    dunningLetterRulesDpdLetterType.push(letterRulesDpdLetterType);

                                    //console.log(conditions);
                                    var conditionType2 = $("#condition-2").val();
                                    letterRulesDpdLetterType =this.populateObj(obj,dunningLetterRulesDpdLetterType,conditions,conditionType2,this.listData2);
                                    //alert("2nd function");

                                    dunningLetterRulesDpdLetterType.push(letterRulesDpdLetterType);

                                    //console.log(conditions);

                                    var conditionType3 = $("#condition-3").val();
                                    letterRulesDpdLetterType =this.populateObj(obj,dunningLetterRulesDpdLetterType,conditions,conditionType3,this.listData3);
                                    //alert("3rd function");

                                    dunningLetterRulesDpdLetterType.push(letterRulesDpdLetterType);




                                    dunningLetterRulesDpdLetterType.map((dpdLetter,index)=> {

                                        const condition = {
                                            "id": null,
                                            "conditionType": null,
                                            "outstandingAmount":null,
                                            "daysBefore":null,
                                            "daysAfter":null,
                                            "dunningLetterRulesDpdLetterType": null
                                        };

                                        condition.dunningLetterRulesDpdLetterType = dpdLetter;
                                        condition.conditionType = dpdLetter[0].conditionType;


                                        if(condition.conditionType == 'BeforeDateLessAmount'){
                                            condition.outstandingAmount = document.getElementById("conditions0.outstandingAmount").value;
                                            condition.daysBefore = document.getElementById("conditions0.daysBefore").value;
                                            let condition1=document.getElementById("dlcondition-1");
                                            if(condition1!=null)
                                                condition.id = condition1.value;
                                        }

                                        else if(condition.conditionType == 'AfterDateLessAmount'){
                                            condition.outstandingAmount = document.getElementById("conditions1.outstandingAmount").value;
                                            condition.daysAfter = document.getElementById("conditions1.daysAfter").value;
                                            condition2=document.getElementById("dlcondition-2");
                                            if(condition2!=null)
                                                condition.id = condition2.value;
                                            dpdLetter.conditionId;
                                        }

                                        else if(condition.conditionType=='AfterDateGreaterAmount'){
                                            condition.outstandingAmount = document.getElementById("conditions2.outstandingAmount").value;
                                            condition.daysAfter = document.getElementById("conditions2.daysAfter").value
                                            condition3=document.getElementById("dlcondition-3");
                                            if(condition3!=null)
                                                condition.id = condition3.value;
                                        }

                                        conditions.push(condition);
                                    });
                                    //console.log(conditions);

                                   this.selectedProductTypeLoan.map(pType=>{

                                       const productType = {
                                         "id":null
                                       };
                                        productType.id = pType.id;
                                        obj.productType.push(productType);
                                   });
                                   this.guarantorSelectedDpdBucketType.map(bucket=>{

                                       const guarantorDpdBucket = {
                                           "id":null,
                                       };
                                        guarantorDpdBucket.id = bucket.id;
                                        obj.guarantorDpdBucket.push(guarantorDpdBucket);
                                   });


                                    conditions.map(condition=> {
                                        console.log(condition);
                                        obj.id=document.getElementById("id").value;
                                        obj.conditions.push(condition);
                                    });
                                    console.log(obj);

                                    var token = $("meta[name='_csrf']").attr("content");
                                    var header = $("meta[name='_csrf_header']").attr("content");
                                    $.ajax({
                                        type: "POST",
                                        contentType: "application/json",
                                        url: '/collection/settings/dunningLetterRulesLoan/create',
                                        data: JSON.stringify(obj),
                                        //dataType: 'json',
                                        beforeSend: function (xhr) {
                                            xhr.setRequestHeader(header, token);
                                        },
                                        success: function (result) {

                                            //alert(result);
                                            swal({
                                                title: result,
                                            },function(){
                                                window.location.replace(window.location.protocol + "//" + window.location.host+"/collection/settings/dunningLetterRulesLoan/list");
                                            });

                                            //var address = window.location;
                                            //alert(address);
                                            //address = address.substring('create');
                                            //alert(address);
                                        },
                                        error: function (e) {
                                            alert("Error!")
                                            console.log("ERROR: ", e);
                                        }

                                    });
                                },

                                guarantorCheck(event){

                                    guarantorDpd = document.getElementById("guarantorDpd");
                                    console.log(event.target.value);
                                    if(this.guarantor=='true'){

                                        guarantorDpd.style.display = "block";
                                    }
                                    else{
                                        this.guarantorSelectedDpdBucketType = [];
                                        guarantorDpd.style.display = "none";
                                    }

                                },

                                addDpdAndLetter(e) {
                                    btnId = (e.target.id);
                                    var div = document.getElementById(btnId + "-div")
                                    let newObject = {
                                        id: null,
                                        dpd:[],
                                        letter:[],
                                    }
                                    if(btnId=='addBtn-0')
                                        this.listData1.push(newObject);
                                    else if(btnId=='addBtn-1')
                                        this.listData2.push(newObject);
                                    else
                                        this.listData3.push(newObject);

                                    //console.log(this.listData.counter);
                                },
                                deleteDpdAndLetter(e){
                                    var btnId = e.target.id;
                                    let deleteDivNum = btnId.split("-")[2];
                                    if(btnId.includes('deleteBtn-c0')){
                                        console.log(this.listData1);
                                        this.listData1 = this.listData1.filter((list,index)=>{return index!=deleteDivNum});
                                    }
                                    else if(btnId.includes('deleteBtn-c1')){

                                        this.listData2 = this.listData2.filter((list,index)=>{return index!=deleteDivNum});
                                    }
                                    else{

                                        this.listData3 = this.listData3.filter((list,index)=>{return index!=deleteDivNum});

                                    }

                                },
                                populateObj(obj,dunningLetterRulesDpdLetterType,conditions,conditionType,listData) {

                                    letterRulesDpdLetterType = [];

                                    listData.forEach((list,i)=>{



                                        console.log(list);

                                        list.dpd.forEach((dpd,index)=>{

                                            const dpdLetterType = {
                                                "id": null,
                                                "dpdBucket": null,
                                                "letterType": null,
                                                "conditionType":null,
                                                "conditionId":null
                                            };

                                            const dpdBucket = {
                                                "id":null
                                            };
                                            const letterType = {
                                                "id":null
                                            };

                                            dpdBucket.id = dpd.id;
                                            dpdLetterType.dpdBucket = dpdBucket;
                                            console.log(list.letter);
                                            let d_id =document.getElementById("id").value;
                                            if(d_id.length>0){
                                                console.log(list.letter);
                                                letterType.id = list.letter[index]!=undefined? list.letter[index].id:list.letter.id;
                                                dpdLetterType.conditionId = list.conditionId?list.conditionId:listData[i-1].conditionId;
                                            }
                                            else{
                                                letterType.id = list.letter? list.letter.id:list.letter[index-1].id;

                                                console.log(list.letter);

                                            }
                                            dpdLetterType.letterType = letterType;
                                            dpdLetterType.conditionType = conditionType;
                                            dpdLetterType.id = list.id?list.id:null;
                                            letterRulesDpdLetterType.push(dpdLetterType);
                                        })

                                        //console.log(letterRulesDpdLetterType);
                                    })
                                    return letterRulesDpdLetterType;
                                },

                                validateDpdAndLetter(listData,error,condition,outstanding,days){
                                    listData.map(list=>{

                                        if(list.dpd.length<1)
                                    this.errors.push('Dpd Bucket for '+ condition +' is required');

                                    if(list.letter==null || list.letter.length<1)
                                        this.errors.push('Letter Type for '+ condition + ' is required');

                                    })
                                    if(!parseInt(outstanding))
                                        this.errors.push('Invalid outstanding amount in '+condition);
                                    if(!parseInt(days))
                                        this.errors.push('Invalid days in '+condition);
                                },

                            },
                            created: function () {
                                this.productTypeLoanOption = JSON.parse(productTypeLoanList) ? JSON.parse(productTypeLoanList) : [];
                                this.selectedProductTypeLoan = JSON.parse(selectedProductTypeLoanList) ? JSON.parse(selectedProductTypeLoanList) : [];
                                this.dpdBucketOption = JSON.parse(dpdBucketList) ? JSON.parse(dpdBucketList) : []
                                this.guarantorDpdBucketOption = JSON.parse(dpdBucketList) ? JSON.parse(dpdBucketList) : []
                                this.letterTypeOption = JSON.parse(letterTypeList) ? JSON.parse(letterTypeList) : [];
                                this.selectedLetterType = JSON.parse(selectedLetterTypeList) ? JSON.parse(selectedLetterTypeList) : [];
                                this.selectedDpdBucketType1 = JSON.parse(selectedDpdBucketTypeList) ? JSON.parse(selectedDpdBucketTypeList) : [];
                                this.selectedDpdBucketType2 = JSON.parse(selectedDpdBucketTypeList) ? JSON.parse(selectedDpdBucketTypeList) : [];
                                this.selectedDpdBucketType3 = JSON.parse(selectedDpdBucketTypeList) ? JSON.parse(selectedDpdBucketTypeList) : [];
                                this.selectedDpdBucketType[0].dpd = JSON.parse(selectedDpdBucketTypeList) ? JSON.parse(selectedDpdBucketTypeList) : [];
                                console.log(this.dpdBucketOption[0]);

                                this.guarantorSelectedDpdBucketType = JSON.parse(selectedGuarantorDpdBucketTypeList) ? JSON.parse(selectedGuarantorDpdBucketTypeList) : [];
                                this.guarantor = guarantor!=null? guarantor : null;
                                this.autoLoan = autoLoan!=null? autoLoan : null;
                                this.selectedDunningLetterConditionList = selectedDunningLetterConditionList ? selectedDunningLetterConditionList : [];


                                if(selectedDunningLetterConditionList!=null){
                                        this.selectedDunningLetterConditionList[0].dunningLetterRulesDpdLetterType.forEach((dpdLetter, index) => {

                                            if(index > 0){
                                                let newObject = {
                                                    id: null,
                                                    dpd:[],
                                                    letter:[],
                                                    conditionId:null,
                                                };
                                                //this.listData1[index].id = dpdLetter.id;
                                                //this.listData1[index].dpd.push(dpdLetter.dpdBucket);
                                                //this.listData1[index].letter.push(dpdLetter.letterType);
                                                newObject.id = dpdLetter.id;
                                                newObject.dpd.push(dpdLetter.dpdBucket);
                                                newObject.letter.push(dpdLetter.letterType);
                                                newObject.conditionId = document.getElementById("dlcondition-1").value;
                                                this.listData1.push(newObject);
                                            }

                                    else
                                        {
                                            this.listData1[0].id = dpdLetter.id;
                                            this.listData1[0].dpd.push(dpdLetter.dpdBucket);
                                            this.listData1[0].letter.push(dpdLetter.letterType);
                                            this.listData1[0].conditionId = document.getElementById("dlcondition-1").value;;
                                        }


                                    });
                                        this.selectedDunningLetterConditionList[1].dunningLetterRulesDpdLetterType.forEach((dpdLetter, index) => {
                                            if(index > 0)
                                        {
                                            let newObject = {
                                                id: null,
                                                dpd:[],
                                                letter:[],
                                                conditionId:null,
                                            };
                                            newObject.id = dpdLetter.id;
                                            newObject.dpd.push(dpdLetter.dpdBucket);
                                            newObject.letter.push(dpdLetter.letterType);
                                            newObject.conditionId = document.getElementById("dlcondition-2").value;;
                                            this.listData2.push(newObject);

                                        }
                                    else
                                        {
                                            this.listData2[0].id = dpdLetter.id;
                                            this.listData2[0].dpd.push(dpdLetter.dpdBucket);
                                            this.listData2[0].letter.push(dpdLetter.letterType);
                                            this.listData2[0].conditionId = document.getElementById("dlcondition-2").value;;
                                        }

                                    });
                                        this.selectedDunningLetterConditionList[2].dunningLetterRulesDpdLetterType.forEach((dpdLetter, index) => {
                                            if(index > 0){
                                        let newObject = {
                                            id: null,
                                            dpd:[],
                                            letter:[],
                                            conditionId:null,
                                        };
                                                newObject.id = dpdLetter.id;
                                                newObject.dpd.push(dpdLetter.dpdBucket);
                                                newObject.letter.push(dpdLetter.letterType);
                                                newObject.conditionId = document.getElementById("dlcondition-3").value;;
                                                this.listData3.push(newObject);
                                        }

                                    else
                                        {
                                            this.listData3[0].id = dpdLetter.id;
                                            this.listData3[0].dpd.push(dpdLetter.dpdBucket);
                                            this.listData3[0].letter.push(dpdLetter.letterType);
                                            this.listData3[0].conditionId = document.getElementById("dlcondition-3").value;;
                                        }
                                    });
                                }



                            },
                            computed:{
                                getSelectedProductTypeLoanId: function () {
                                    return this.selectedProductTypeLoan.map(productTypeLoan => { return productTypeLoan.id});
                                },
                                getSelectedLetterTypeId1: function () {
                                    return this.selectedLetterType.map(letterType => { return letterType.id});
                                },
                                getSelectedLetterTypeId2: function () {
                                    return this.selectedLetterType.map(letterType => { return letterType.id});
                                },
                                getSelectedLetterTypeId3: function () {
                                    return this.selectedLetterType.map(letterType => { return letterType.id});
                                },

                                getSelectedDpdBucketId1: function () {
                                    console.log(this.listData1);
                                    var d=[];
                                    return this.listData1.map(dpdBucket => {dpdBucket.dpd.length > 0 ? dpdBucket.dpd.map(dpd => {
                                        if(dpd.id!=null)
                                            d.push(dpd.id)

                                }):
                                    null;
                                    return d;

                                });

                                },
                                getSelectedDpdBucketId2: function (){
                                    //return this.selectedDpdBucketType2.map(dpdBucket => {return dpdBucket.id});
                                    var d=[];
                                    return this.listData2.map(dpdBucket => {dpdBucket.dpd.length > 0 ? dpdBucket.dpd.map(dpd => {d.push(dpd.id)

                                }):
                                    null;
                                    return d;

                                });
                                },
                                getSelectedDpdBucketId3: function (){
                                    //return this.selectedDpdBucketType3.map(dpdBucket => {return dpdBucket.id});
                                    var d=[];
                                    return this.listData3.map(dpdBucket => {dpdBucket.dpd.length > 0 ? dpdBucket.dpd.map(dpd => {d.push(dpd.id)

                                }):
                                    null;
                                    return d;

                                });
                                },
                                getSelectedguarantorDpdBucketId: function () {
                                    return this.guarantorSelectedDpdBucketType.map(dpdBucket => {return dpdBucket.id});
                                }

                            }

                        })

                    </script>
                    <script>

                        // function checkGuarantor(obj){
                        //     console.log(obj.value);
                        //     if(obj.value=="true"){
                        //
                        //         // var dpdDiv='<div class=\"col-sm-8\">' +
                        //         //                 '<label  class="col-sm-4 custom-form-lebel-right required">Letter Type</label>' +
                        //         //                 '<multiselect  v-model="selectedLetterType" placeholder="Search a Letter Type" label="letterType" track-by="id"  :options="letterTypeOption" :multiple="true" :taggable="true"></multiselect>'+
                        //         //             '</div>';
                        //         $("#guarantorDpd").show();
                        //     }
                        //     else{
                        //         $("#guarantorDpd").hide();
                        //     }
                        // }


                    </script>



                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</div>
</body>
</html>