<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Dunning Letter Rules- Card List</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <section class="content-custom">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Dunning Letter Rules- Loan List</h2>
                            <div class="clearfix"></div>


                        </div>
                        <div class="x_content">
                            <a class="btn btn-primary" th:if="${session.urlList.contains('/collection/settings/dunningLetterRulesLoan/create')}"
                               th:href="@{/collection/settings/dunningLetterRulesLoan/create}"><span class="glyphicon glyphicon-plus"> </span> Add Dunning Letter Rules- Loan </a>
                            <table th:if="${dlrllist!=null}" id="table table-hover datatable-responsive" name="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" width="100%">
                                <thead>
                                <tr>
                                    <th style="text-align: center">Sl No.</th>
                                    <th style="text-align: center">Product Type</th>
                                    <th style="text-align: center">Amount | Days</th>
                                    <th style="text-align: center">Bucket</th>
                                    <th style="text-align: center">Letter Type</th>

                                    <!--<th>Status</th>-->
                                    <th style="width: 20%;text-align: center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="dl,status : ${dlrllist}" >
                                    <td th:text="${status.count}"></td>
                                    <td>
                                        <ul style="list-style: none; overflow-x:hidden; white-space:nowrap; margin-bottom: 0px;">
                                            <li style="display:inline" th:each="productTypeLoan : ${dl.getProductType()}"><span class="label label-success" th:text="${productTypeLoan.getName()}"></span></li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul style="list-style: none; overflow-x:hidden; white-space:nowrap; margin-bottom: 0px;" th:each="condition: ${dl.conditions}">
                                            <li style="display:inline" >
                                                <span class="label label-success" th:text="${condition.outstandingAmount}"></span>
                                                <span>|</span>
                                                <span class="label label-success" th:text="${condition.daysBefore}"></span>
                                                <span class="label label-danger" th:text="${condition.daysAfter}"></span>
                                            </li>

                                        </ul>
                                    </td>
                                    <td>
                                        <ul style="list-style: none; overflow-x:hidden; white-space:nowrap; margin-bottom: 0px;" th:each="condition: ${dl.conditions}">
                                            <li th:each="dpdLetter:${condition.dunningLetterRulesDpdLetterType}">
                                                <span class="label label-success" th:text="${dpdLetter.dpdBucket.bucketName}"></span>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul style="list-style: none; overflow-x:hidden; white-space:nowrap; margin-bottom: 0px;" th:each="condition: ${dl.conditions}">
                                            <li th:each="dpdLetter:${condition.dunningLetterRulesDpdLetterType}">
                                                <span class="label label-success" th:text="${dpdLetter.letterType.letterType}"></span>
                                            </li>
                                        </ul>
                                    </td>
                                    <td style="text-align: center">
                                        <a class="btn btn-xs" th:if="${session.urlList.contains('/collection/settings/dunningLetterRulesLoan/edit')}" th:href="@{/collection/settings/dunningLetterRulesLoan/edit(id=${dl.id})}"><i class="fa fa-edit"></i>Edit</a>
                                        <a class="btn btn-xs" th:if="${session.urlList.contains('/collection/settings/dunningLetterRulesLoan/view')}" th:href="@{/collection/settings/dunningLetterRulesLoan/view(id=${dl.id})}"><i class="fa fa-edit"></i>View</a>
                                        <!-- <a class="btn btn-xs btn-xs-dlt" th:href="@{/branch/remove(id=${branch.branchId})}"> <i class="fa fa-trash"></i>Delete</a> -->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>