<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"/>
    <title> Dunning Letter Rules- Card </title>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <div class="col-md-offset-3 col-md-6">
        <!-- Horizontal Form -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">View Dunning Letter Rules - Loan Details</h3>
                <!--<a th:href="@{collection/location/list}" type="submit" class="btn btn-primary pull-right">Back to Location List</a>-->
            </div>
            <div></div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group form-group-code">
                        <label class="col-sm-4 control-label">Product Type</label>
                        <div class="col-sm-8 custom-form-control br">
                            <ul style="list-style: none; padding: 0px; overflow-x:hidden; white-space:nowrap; margin-bottom: 0px;">
                                <li style="display:inline" th:each="productType : ${dlrl?.productType}"><span class="label label-success" th:text="${productType.getName()}"></span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group form-group-code" th:each="condition,stat: ${dlrl.conditions}" style="border:1px solid gray; padding:1%;margin:1%;border-radius: 5%">
                        <div class="text-center"><label th:text="'Condition-'+${stat.count}"></label></div>


                            <label class="col-sm-4 control-label" th:if="${condition.conditionType.name()}==BeforeDateLessAmount">Before Date & Less Than EMI/Outstanding</label>
                            <label class="col-sm-4 control-label" th:if="${condition.conditionType.name()}==AfterDateLessAmount">After Date & Less Than EMI/Outstanding</label>
                            <label class="col-sm-4 control-label" th:if="${condition.conditionType.name()}==AfterDateGreaterAmount">After Date & Greater Than EMI/Outstanding</label>

                                <div class="col-sm-8 custom-form-control br">
                            <ul style="list-style: none; padding: 0px; overflow-x:hidden; white-space:nowrap; margin-bottom: 0px;" >
                                <li style="display:inline" >

                                    <label style="margin-right: 5%" class="label label-default">Amount</label><span class="label label-success" th:text="${condition.outstandingAmount}"></span><br/>
                                    <label style="margin-right: 5%" class="label label-default" th:text="${condition.daysBefore}!=null?'Days Before':'Days After'">Days</label>
                                    <span class="label label-success" th:text="${condition.daysBefore}"></span>
                                    <span class="label label-danger" th:text="${condition.daysAfter}"></span>
                                    <ul th:each="dpdLetter : ${condition.dunningLetterRulesDpdLetterType}" style="list-style: none; overflow-x:hidden; white-space:nowrap; margin-bottom: 0px;">
                                        <li>
                                            <label >Bucket</label>
                                            <span class="label label-success" th:text="${dpdLetter.dpdBucket.bucketName}"></span>
                                        </li>

                                        <li>
                                            <label >Letter Type</label>
                                            <span class="label label-success" th:text="${dpdLetter.letterType.letterType}"></span>
                                        </li>


                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>


                    <div class="form-group form-group-code">
                        <label class="col-sm-4 control-label">Guarantor</label>
                        <div class="col-sm-8 custom-form-control br">
                            <ul style="list-style: none; padding: 0px; overflow-x:hidden; white-space:nowrap; margin-bottom: 0px;">
                                <li style="display:inline"><span class="label label-success" th:text="${dlrl.guarantor}?'Yes':'No'"></span></li>
                                <div th:if="${dlrl.guarantor}">
                                    <li style="display:inline" th:each="dpdBucket : ${dlrl?.guarantorDpdBucket}"><span class="label label-success" th:text="${dpdBucket.getBucketName()}"></span></li>
                                </div>
                            </ul>
                        </div>
                    </div>




                    <div class="form-group form-group-code">
                        <label class="col-sm-4 control-label">Auto Loan</label>
                        <div class="col-sm-8 custom-form-control br">
                            <ul style="list-style: none; padding: 0px; overflow-x:hidden; white-space:nowrap; margin-bottom: 0px;">
                                <li style="display:inline"><span class="label label-success" th:text="${dlrl.autoLoan}?'Yes':'No'"></span></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.box -->
    </div>
</div>
</body>
</html>