<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Search Wise</title>
</head>
<body>
<div id="layout-cibReport" th:fragment="search_test">
    <div class="csi-view-form-full-area csi-view-indtable">
        <div class="box-header with-border csi-view-box-header">
            <h3 class="box-title" >Search-Advanced</h3>

        </div>
        <div class="box-body" >
            <section class="content" id="app">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <!-- /.box-header -->
                            <div class="box-body">
                                <form class="form-horizontal" style="background-color: rgb(233, 238, 243); padding: 15px;" method="post" id="advSearchForm" name="advSearchForm" action="">
                                    <div class="form-group" style="padding: 0px;margin-bottom:-5px;">
                                        <label  class="col-sm-2 custom-form-lebel-right">Account No.</label>
                                        <div class="col-sm-2">
                                            <input v-model="accountNo" type="text" class="form-control input-sm" placeholder="Account No" id="accountNo" name="accountNo" />
                                        </div>
                                        <label  class="col-sm-2 custom-form-lebel-right">CIF No.</label>
                                        <div class="col-sm-2">
                                            <input v-model="cif" type="text" class="form-control input-sm" placeholder="CIF No." id="cifNo" name="cifNo" />
                                        </div>
                                        <label  class="col-sm-2 custom-form-lebel-right">Customer Name</label>
                                        <div class="col-sm-2">
                                            <input v-model="customerName" type="text" class="form-control input-sm" placeholder="Customer Name" id="customerName" name="customerName" />
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding: 0px;margin-bottom:-5px;">
                                        <label  class="col-sm-2 custom-form-lebel-right">Father's Name</label>
                                        <div class="col-sm-2">
                                            <input v-model="fatherName" type="text" class="form-control input-sm" placeholder="Father's Name" id="loan_fatherName" name="fatherName" />
                                        </div>
                                        <label  class="col-sm-2 custom-form-lebel-right">Mother's Name</label>
                                        <div class="col-sm-2">
                                            <input v-model="motherName" type="text" class="form-control input-sm" placeholder="Mother's Name" id="loan_motherName" name="motherName"/>
                                        </div>
                                        <label  class="col-sm-2 custom-form-lebel-right">Mobile No.</label>
                                        <div class="col-sm-2">
                                            <input v-model="mobile" type="text" class="form-control input-sm" placeholder="Mobile No." id="loan_mobileNo" name="mobileNo" />
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding: 0px;margin-bottom:-5px;">
                                        <label  class="col-sm-2 custom-form-lebel-right">National ID Card No.</label>
                                        <div class="col-sm-2">
                                            <input v-model="nationalId" type="text" class="form-control input-sm" placeholder="National ID Card No." id="nid" name="nid" />
                                        </div>
                                        <label  class="col-sm-2 custom-form-lebel-right">Date of Birth</label>
                                        <div class="col-sm-2">
                                            <input v-model="dateOfBirth" type="text" class="form-control input-sm" placeholder="Date of Birth" id="dobirth" name="dobirth" />
                                        </div>
                                        <label  class="col-sm-2 custom-form-lebel-right">Organization Name</label>
                                        <div class="col-sm-2">
                                            <input v-model="organization" type="text" class="form-control input-sm" placeholder="Organization Name" id="orgName" name="orgName" />
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding: 0px;margin-bottom:-5px;">
                                        <label  class="col-sm-2 custom-form-lebel-right">Email Address</label>
                                        <div class="col-sm-2">
                                            <input v-model="email" type="text" class="form-control input-sm" placeholder="Email Address" id="email" name="email" />
                                        </div>

                                        <label  class="col-sm-2 custom-form-lebel-right">Passport No.</label>
                                        <div class="col-sm-2">
                                            <input v-model="passport" type="text" class="form-control input-sm" placeholder="Passport No." id="passportNo" name="passportNo" />
                                        </div>
                                        <label  class="col-sm-2 custom-form-lebel-right">Status</label>
                                        <div class="col-sm-2" style="margin-top: 3px;">
                                            <label>
                                                <input  v-model="active" name="removelines" type="radio" class ="cheker" autocomplete="off" v-bind:value="'Active'" checked>
                                                Active
                                            </label>
                                            <label>
                                                <input  v-model="active" name="removelines" type="radio" class ="cheker" v-bind:value="'InActive'">
                                                Inactive
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding: 0px;margin-bottom:-5px;">
                                        <label  class="col-sm-2 custom-form-lebel-right">Dealer Name</label>
                                        <div class="col-sm-2">
                                            <input v-model="dealerName" type="text" class="form-control input-sm" placeholder="Dealer Name" id="dealerName" name="dealerName" />
                                        </div>
                                        <label  class="col-sm-2 custom-form-lebel-right">Dealer ID</label>
                                        <div class="col-sm-2">
                                            <input v-model="dealerId" type="text" class="form-control input-sm" placeholder="Dealer ID" id="dealerId" name="dealerId" />
                                        </div>
                                        <label  class="col-sm-2 custom-form-lebel-right">Dealer ID</label>
                                        <div class="col-sm-2">
                                            <input v-model="dealerId" type="text" class="form-control input-sm" placeholder="Dealer ID" id="dealerId" name="dealerId" />
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-2 pull-right" style="margin-top: 20px;">
                                        <button @click.prevent="getCustomerResult" class="btn btn-success btn-sm btn-block pull-right" id="advCustSearchButton" name="advCustSearchButton">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <!-- /.box-header -->
                            <div class="box-body">
                                <!--{ "cardNo": "123456", "clientName": "Dewan", "outstandingBalance": "4000", "autoDebitAccount": "1314253535", "dob": "10-04-1990", "mobileNo": "01763546474", "cardStatus": "Active" }-->
                                <table name="datatable-responsive"
                                       class="table table-striped table-bordered table-condensed custom_dt"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Account No</th>
                                        <th>Client Name</th>
                                        <th>Loan/Product Type</th>
                                        <th>Outstanding Balance</th>
                                        <th>Link/Proxy Account</th>
                                        <th>Date of Birth</th>
                                        <th>Mobile No.</th>
                                        <th>A/C Status</th>
                                        <th>Legal Status</th>
                                        <th>OD/Min Due Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>122</td>
                                        <td>Asas</td>
                                        <td>554</td>
                                        <td>21000</td>
                                        <td>214</td>
                                        <td>21-Dec-1998</td>
                                        <td>0162545120</td>
                                        <td>active</td>
                                        <td>Card</td>
                                        <td>1000</td>
                                    </tr>
                                    </tbody>

                                    <!--<tbody id="advCustSrcBody">-->
                                    <!--<tr>-->
                                    <!--<td>{{customer.cardNo}}</td>-->
                                    <!--<td>{{customer.clientName}}</td>-->
                                    <!--<td></td>-->
                                    <!--<td>{{customer.outstandingBalance}}</td>-->
                                    <!--<td></td>-->
                                    <!--<td>{{customer.dob}}</td>-->
                                    <!--<td>{{customer.mobileNo}}</td>-->
                                    <!--<td>{{customer.cardStatus}}</td>-->
                                    <!--<td></td>-->
                                    <!--<td></td>-->
                                    <!--</tr>-->
                                    <!--</tbody>-->

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--    <script>
                    new Vue({
                        el:'#app',
                        data:{
                            customer:{},
                            accountNo:"",
                            cif:"",
                            customerName:"",
                            fatherName:"",
                            motherName:"",
                            mobile:"",
                            nationalId:"",
                            dateOfBirth:"",
                            organization:"",
                            email:"",
                            passport:"",
                            active:"Active",
                            inActive:"",
                            dealerName:"",
                            dealerId:""


                        },
                        methods:{
                            getCustomerResult: function () {
                                var host = window.location.host;
                                var accNo = this.accountNo;
                                var cif = this.cif;
                                var cusName =  this.customerName;
                                var fathName = this.fatherName;
                                var mothName = this.motherName;
                                var mob = this.mobile;
                                var nanId = this.nationalId;
                                var dob = this.dateOfBirth;
                                var org = this.organization;
                                var emi = this.email;
                                var pass = this.passport;
                                var ac = this.active;
                                var inAc = this.inActive;
                                var delName = this.dealerName;
                                var delId =  this.dealerId;

                                var url = 'https://'+host+'/api/soap/customerSearch?sourceType=2&accountNo='+accNo+ '&CIF='+cif+'&CardNo='+''+'&AutoDebitAccount='+''+'&CustId='+''+
                                    '&MobileNo='+mob+'&NID='+nanId+'&CustomerName='+cusName+'&MotherName='+mothName+'&DOB='+dob+
                                    '&OrganizationName='+org+'&EmailAddress='+emi+'&PassportNo='+pass+'&Status='+ac;
                                console.log(url);
                                this.$http.get(url,
                                    {credentials : true, headers:{
                                            'X-CSRF-TOKEN' : window.csrfToken,
                                        }}).then(res => {
                                    console.log(res);
                                if(res.body){
                                    this.customer = res.body.responseBody
                                }
                            }).catch(err => {
                                    console.log(err);
                            })
                            }
                        }
                    })
                </script>-->
        </div>
    </div>


</div>
</body>


</html>
