<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>SMS & Auto Distribution Rules</title>
    <link rel="stylesheet" href="/css/loader/spinner.css"/>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section id="emiAmount" class="content">
            <div class="row" id="app">
                <div class="col-md-8 col-md-offset-2">
                    <div class="box box-primary">

                        <div class="box-header " style="text-align: center;">
                            <h3 th:if="${smsAndAutoDistributionRules.id == null}" class="box-title">Create SMS & Auto Distribution Rules</h3>
                            <h3 th:if="${smsAndAutoDistributionRules.id !=null}" class="box-title">Update SMS & Auto Distribution Rules</h3>

                        </div>
                        <form class="form-horizontal" method="post"
                              th:action="@{/collection/settings/smsandautodistributionrules/create}" th:object="${smsAndAutoDistributionRules}">
                            <input type="hidden" th:field="*{id}"/>
                            <input type="text" class="hidden" th:field="*{LoanTypeIds}" v-model="getSelectedLoanStatusId" />
                            <div class="box-body">

                                <div class="box-body">
                                    <div class="form-group">
                                    <label class="col-sm-4 custom-form-lebel-right required">Type </label>
                                    <div class="col-sm-8">
                                        <select class="form-control required" name="type">
                                            <option value="">Select Rule Type</option>
                                            <option value="SMS">SMS</option>
                                            <option value="Distribution">Distribution</option>
                                        </select>
                                    </div>
                                    </div>
                                </div>

                                <div class="box-body">
                                    <div class="form-group">
                                        <label class="col-sm-4 custom-form-lebel-right required">No of Days Before EMI Date</label>
                                        <div class="col-sm-8">
                                            <input type="number" name="noofDaysBeforeEMIDate" class="form-control required"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-body">
                                    <div class="form-group">
                                        <label class="col-sm-4 custom-form-lebel-right required">Unpaid Installment Number</label>
                                        <div class="col-sm-8">
                                            <input type="number" name="unpaidInstallmentNumber" class="form-control required"/>
                                        </div>

                                    </div>
                                </div>

                                <!--<div class="box-body">
                                    <div class="form-group">
                                        <label class="col-sm-4 custom-form-lebel-right required">Loan Type </label>
                                        <div class="col-sm-8">
                                            <select class="form-control required">
                                                <option value="">Select</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>-->

                                <div class="box-body">
                                    <div class="form-group">
                                        <label class="col-sm-4 custom-form-lebel-right required">Loan Status </label>
                                    <div class="col-sm-8">
                                    <multiselect  v-model="selectedLoanStatus" placeholder="Select Loan Status" label="name" track-by="id"  :options="loanStatusOption" :multiple="true" :taggable="true"></multiselect>
                                    </div>
                                    </div>
                                </div>

                                <div class="box-footer text-center">
                                    <button type="submit" class="btn btn-info btn-sm ">Submit</button>
                                    <a type="submit" class="btn btn-danger btn-sm"
                                       href="/">Cancel</a>
                                </div>
                                <!--<div class="box-footer text-center">
                                <button type="submit" th:if="${unpaidInstallmentNumber.id == null && session.urlList.contains('collection/settings/unpaidinstallmentnumber/create')}" class="btn btn-info btn-sm" id="btnSave">Save</button>
                                <button type="submit" th:if="${unpaidInstallmentNumber.id != null && session.urlList.contains('collection/settings/unpaidinstallmentnumber/create')}" class="btn btn-info btn-sm" id="btnUpdate">Update</button>
                                </div>-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <style>
            .box{
                box-shadow:none;
            }
        </style>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var interest = /*[[${interest}]]*/ {};
            var loanStatusList = /*[[${loanStatusList}]]*/ [];

        </script>

        <script>
            var smsAndAutoDistributionRuleApp = new Vue({
                el: '#app',
                components:{
                    Multiselect: VueMultiselect.default
                },
                data:{
                    selectedLoanStatus:[],
                    loanStatusOption:[],
                    loanStatusList:[],
                },

                created: function () {

                     //this.selectedLoanStatus = JSON.parse(selectedLoanStatus) ? JSON.parse(selectedLoanStatus) : [];
                    this.loanStatusOption = JSON.parse(loanStatusList) ? JSON.parse(loanStatusList) : [];
                    // this.selectedProductType = JSON.parse(selectedProductTypeList) ? JSON.parse(selectedProductTypeList) : [];

                },
                computed:{

                    getSelectedLoanStatusId: function () {
                        return this.selectedLoanStatus.map(loanStatus => { return loanStatus.id});
                    },
                },
            })
        </script>

    </div>
</div>


</body>
</html>