<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Advanced Account Search </title>
</head>
<body>
<div id="layout-cibReport" th:fragment="content">
    <link rel="stylesheet" href="/css/loader/dots-horizontal-loader.css">
    <div class="csi-view-form-full-area csi-view-indtable">
        <div class="box-header with-border csi-view-box-header">
            <h3 class="box-title">Advanced Account Search </h3>

        </div>
        <div class="box-body">
            <section class="content" id="app">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box bg-gray-light">
                            <!-- /.box-header -->
                            <div class="box-body">
                                <form class="form-horizontal" style="padding: 5px;">
                                    <div class="form-group" style="padding: 0px;margin-bottom:-5px;">
                                        <label class="col-sm-2 custom-form-lebel-right">Account No.</label>
                                        <div class="col-sm-2">
                                            <input v-model="advanceSearchPayload.accountNo" type="text"
                                                   class="form-control input-sm"
                                                   placeholder="Account No" id="accountNo" name="accountNo"/>
                                        </div>
                                       <!-- <label class="col-sm-2 custom-form-lebel-right">CIF No.</label>
                                        <div class="col-sm-2">
                                            <input v-model="advanceSearchPayload.cif" type="text"
                                                   class="form-control input-sm"
                                                   placeholder="CIF No." id="cifNo" name="cifNo"/>
                                        </div>-->
                                        <label class="col-sm-2 custom-form-lebel-right">Customer Name</label>
                                        <div class="col-sm-2">
                                            <input v-model="advanceSearchPayload.customerName" type="text"
                                                   class="form-control input-sm" pattern="|[\w]{3}"
                                                   title="Please input at least 3 characters"
                                                   placeholder="Customer Name" id="customerName" name="customerName"/>
                                        </div>
                                        <label class="col-sm-2 custom-form-lebel-right">Customer ID</label>
                                        <div class="col-sm-2">
                                            <input v-model="advanceSearchPayload.customerId" type="text"
                                                   class="form-control input-sm" pattern="|[\w]{3}"
                                                   title="Please input at least 3 characters"
                                                   placeholder="Customer Name" id="customerId" name="customerId"/>
                                        </div>

                                    </div>

                                    <div class="form-group" style="padding: 0px;margin-bottom:-5px;">
                                        <label class="col-sm-2 custom-form-lebel-right">Mother's Name</label>
                                        <div class="col-sm-2">
                                            <input v-model="advanceSearchPayload.motherName" type="text"
                                                   class="form-control input-sm" pattern="|[\w]{3,}"
                                                   title="Please input at least 3 characters"
                                                   placeholder="Mother's Name" id="loan_motherName" name="motherName"/>
                                        </div>
                                        <label class="col-sm-2 custom-form-lebel-right">Mobile No.</label>
                                        <div class="col-sm-2">
                                            <input v-model="advanceSearchPayload.mobile" type="text"
                                                   class="form-control input-sm"
                                                   placeholder="Mobile No." id="loan_mobileNo" name="mobileNo"/>
                                        </div>
                                        <label class="col-sm-2 custom-form-lebel-right">NID</label>
                                        <div class="col-sm-2">
                                            <input v-model="advanceSearchPayload.nationalId" type="text"
                                                   class="form-control input-sm"
                                                   placeholder="NID" id="nid" name="nid"/>
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding: 0px;margin-bottom:-5px;">
                                        <label class="col-sm-2 custom-form-lebel-right">Father's Name</label>
                                        <div class="col-sm-2">
                                            <input v-model="advanceSearchPayload.fatherName" type="text"
                                                   class="form-control input-sm"
                                                   placeholder="Father Name" id="fatherName" name="fatherName"/>
                                        </div>


                                        <label class="col-sm-2 custom-form-lebel-right">DOB</label>
                                        <div class="col-sm-2">
                                            <input v-model="advanceSearchPayload.dateOfBirth" type="text"
                                                   data-provide="datepicker"
                                                   data-date-format="dd-M-yy"
                                                   class="form-control input-sm"
                                                   onchange="setObjectPropertyValueFromInputByName(searchApp.advanceSearchPayload, this)"
                                                   placeholder="Date of Birth" name="dateOfBirth" readonly/>
                                        </div>
                                        <label class="col-sm-2 custom-form-lebel-right">Email</label>
                                        <div class="col-sm-2">
                                            <input v-model="advanceSearchPayload.email" type="text"
                                                   class="form-control input-sm"
                                                   placeholder="Email Address" id="email" name="email"/>
                                        </div>
                                        <label class="col-sm-2 custom-form-lebel-right">Passport No.</label>
                                        <div class="col-sm-2">
                                            <input v-model="advanceSearchPayload.passport" type="text"
                                                   class="form-control input-sm"
                                                   placeholder="Passport No."/>
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding: 0px;margin-top:-30px;">

                                        <label class="col-sm-2 custom-form-lebel-right">Link Acc.</label>
                                        <div class="col-sm-2">
                                            <input v-model="advanceSearchPayload.linkAccount" type="text"
                                                   class="form-control input-sm"
                                                   placeholder="Link Acc."/>
                                        </div>
                                        <label class="col-sm-2 custom-form-lebel-right">TIN</label>
                                        <div class="col-sm-2">
                                            <input v-model="advanceSearchPayload.tin" type="text"
                                                   class="form-control input-sm"
                                                   placeholder="TIN"/>
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding: 0px;">
                                        <!--<label class="col-sm-2 custom-form-lebel-right">AutoDebit Acc</label>
                                        <div class="col-sm-2">
                                            <input v-model="advanceSearchPayload.autoDebit" type="text"
                                                   class="form-control input-sm"
                                                   placeholder="AutoDebit Acc"/>
                                        </div>-->
                                       <!-- <label class="col-sm-2 custom-form-lebel-right">Cls Flag</label>
                                        <div class="col-sm-2">
                                            <input v-model="advanceSearchPayload.clsFlag" type="text"
                                                   class="form-control input-sm"
                                                   placeholder="Cls Flag" name="dealerId"/>
                                        </div>
                                        <label class="col-sm-2 custom-form-lebel-right">Status</label>
                                       --> <!--<div class="col-sm-2">
                                            <select v-model="advanceSearchPayload.status" class="form-control">
                                                <option :value="''">Select status</option>
                                                <option :value="'A'">Active</option>
                                                <option :value="'L'">Liquidate</option>
                                            </select>
                                            </div>
-->
                                        <!--<label>-->

                                            <!--<input v-model="advanceSearchPayload.status" name="removelines"-->
                                            <!--type="radio" class="cheker" autocomplete="off" :value="'Active'">-->
                                            <!--Active-->
                                            <!--</label>-->
                                            <!--<label>-->

                                            <!--<input v-model="advanceSearchPayload.status" name="removelines"-->
                                            <!--type="radio" class="cheker" :value="'Inactive'">-->
                                            <!--Inactive-->
                                            <!--</label>-->
                                    </div>

                                </form>
                            </div>
                            <div class="box-footer">
                                <div class="col-ca-4 pull-right">
                                    <button @click.prevent="searchCustomers()"
                                            class="btn btn-success btn-sm btn-block">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div v-show="customers.length && filtered" class="box-header with-border"
                                 style="text-align: center;">
                                <h1 class="box-title">
                                    <span>
                                        Customer Details Loan
                                    </span>
                                </h1>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">

                                <div v-show="!customers.length && filtered" class="alert alert-danger"
                                     style="text-align: center">
                                    No records found
                                </div>
                                <div v-show="!customers.length && loading" class="text-center">
                                    <div class="dots-horizontal-loader"></div>
                                </div>
                                <div class="table-responsive" v-show="customers.length">
                                    <table id="advance-search-tbl"
                                           class="table table-striped table-bordered table-condensed"
                                           width="100%">
                                        <thead>
                                        <tr>
                                            <th>SL</th>
                                            <th>Account No</th>
                                            <!--<th>CIF</th>-->
                                            <th>Account Name</th>
                                            <th>DOB</th>
                                            <th>Mobile</th>
                                            <th>Outstanding</th>
                                            <th>Overdue</th>
                                            <th>Link/Proxy Acc.</th>
                                            <th>Mother name</th>
                                            <th>Father name</th>
                                            <th>Email</th>
                                            <!--<th>A/C Status</th>-->
                                            <th>NID</th>
                                            <!--<th>Home Phone</th>
                                            <th>Work Phone</th>-->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!--<tr v-for="customer in customers">-->
                                        <!--<td class="text-center">-->
                                        <!--<a :href="'/profile/loanprofile/search?account='+ customer.accountNo"-->
                                        <!--target="_blank">{{customer.accountNo}}</a>-->
                                        <!--</td>-->
                                        <!--<td class="text-center">{{customer.cifNo}}</td>-->
                                        <!--<td class="text-left">{{customer.customerName}}</td>-->
                                        <!--<td class="text-center">{{customer.dob | dateFormat}}</td>-->
                                        <!--<td class="text-center">{{customer.mobileNo}}</td>-->
                                        <!--<td class="text-right">{{customer.outstanding | formatBdtInEnglish}}</td>-->
                                        <!--<td class="text-right">{{customer.overdue | formatBdtInEnglish}}</td>-->
                                        <!--<td class="text-center">{{customer.linkProxyAcc}}</td>-->
                                        <!--<td class="text-left">{{customer.mothersName}}</td>-->
                                        <!--<td class="text-left">{{customer.email}}</td>-->
                                        <!--<td class="text-left">{{customer.acStatus}}</td>-->
                                        <!--<td class="text-right">{{customer.nid}}</td>-->
                                        <!--<td class="text-left">{{customer.homePhone}}</td>-->
                                        <!--<td class="text-left">{{customer.workPhone}}</td>-->
                                        <!--</tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <script>
                var searchApp = new Vue({
                    el: '#app',
                    data: {
                        customers: [],
                        advanceSearchPayload: {status: ''},
                        filtered: false,
                        loading: false,
                    },
                    // filters: {
                    //     dateFormat: function (value) {
                    //         return formatDate_DD_MMM_YYYY(value);
                    //     },
                    //     formatBdtInEnglish: function (value) {
                    //         return formatBdtInEnglish(value);
                    //     },
                    // },
                    methods: {
                        searchCustomers() {
                            let vm = this;
                            vm.customers = [];
                            // let host = window.location.host;
                            let params = JSON.stringify(this.advanceSearchPayload);
                            let url = '/retail/loan/dashboard/advance-search?payload=' + encodeURIComponent(params);
                            vm.loading = true;
                            this.filtered = false;
                            this.$http.get(url,
                                {
                                    credentials: true, headers: {
                                        'X-CSRF-TOKEN': window.csrfToken,
                                    }
                                }).then(res => {
                                vm.loading = false;
                                if (Array.isArray(res.body)) {
                                    vm.customers = res.body;
                                    this.initializeDataTable('advance-search-tbl', vm.customers);
                                    this.filtered = true;
                                } else {
                                    notifyError();
                                }
                            }).catch(err => {
                                notifyError();
                            })


                        },

                        initializeDataTable: function (tableId, arr) {
                            let table = $('#' + tableId).DataTable();
                            if (typeof table != 'undefined' && table) {
                                table.clear().destroy();
                            }

                            if (!arr) {
                                arr = [];
                            }

                            $('#' + tableId).DataTable({
                                data: arr,
                                columns: [
                                    {
                                        "data": "",
                                        render: function (data, type, row, meta) {
                                            return meta.row + meta.settings._iDisplayStart + 1;
                                        },
                                    },
                                    {"data": "loanACNo"},
                                    // {"data": "cifNo"},
                                    {"data": "customerName"},
                                    {"data": "dob"},
                                    {"data": "mobile"},
                                    {"data": "totalOutstanding"},
                                    {"data": "overdue"},
                                    {"data": "linkMotherAccountNo"},
                                    {"data": "motherName"},
                                    {"data": "fatherName"},
                                    {"data": "email"},
                                    /*{"data": "acStatus"},*/
                                    {"data": "nid"},
                                    /*{"data": "homePhone"},
                                    {"data": "workPhone"}*/
                                ],
                                columnDefs: [
                                    {
                                        render: function (data, type, row) {
                                            return data ? formatBdtInEnglish(data) : 0;
                                        },
                                        targets: [6, 7]
                                    },
                                    {
                                        render: function (data, type, row) {
                                            return data ? formatDate_DD_MM_YYYY(data) : 0;
                                        },
                                        targets: [4]
                                    }
                                ],
                                destroy: true,
                                // retrieve: true,
                                paging: true,
                                "bInfo": true,
                                "bLengthChange": true,
                            });

                        },
                    }
                })

            </script>
        </div>
    </div>


</div>
</body>


</html>
