<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title> Agency KPI Commission Rate- Card</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="box box-primary">
                        <div class="box-header with-border" style="text-align: center;">
                            <h3 th:if="${agency.id == null}" class="box-title">Create Agency KPI Commission Rate- Card</h3>
                            <h3 th:if="${agency.id != null}" class="box-title">Update Agency KPI Commission Rate- Card</h3>
                        </div>

                        <form id="app" class="form-horizontal validate" method="post" th:action="@{/collection/kpi/agency/card/bycommision/create}" th:object="${agency}">
                            <input type="hidden" th:field="*{id}">
                            <input type="hidden" th:field="*{dpdBucketIds}" v-model="getSelectedProductList">

                            <div class="box-body">
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Age Code</label>
                                    <div class="col-sm-6">
                                        <multiselect   v-model="selectedDpdBucketList" placeholder="Search a Age code" label="name" track-by="id"  :options="dpdBucketOption" :multiple="true" :taggable="true"></multiselect>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Min Target Achievement</label>
                                    <div class="col-sm-2">
                                        <input v-validate="'decimal:2|between:1,100'" th:field="*{minTargetAchievement}" type="text" name="remarks" class="form-control required input-sm" th:required="true"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <span><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="col-sm-7">
                                        <span class="error" v-if="errors.has('minTargetAchievement')">{{errors.first('minTargetAchievement') | capitalize}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Max Target Achievement</label>
                                    <div class="col-sm-2">
                                        <input v-validate="'decimal:2|between:1,100'" th:field="*{maxTargetAchievement}" type="text" name="remarks" class="form-control required input-sm" th:required="true"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <span><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="col-sm-7">
                                        <span class="error" v-if="errors.has('maxTargetAchievement')">{{errors.first('maxTargetAchievement') | capitalize}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Commission Rate</label>
                                    <div class="col-sm-2">
                                        <input v-validate="'decimal:2|between:1,100'" th:field="*{commisionRate}" type="text" name="remarks" class="form-control required input-sm" th:required="true"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <span><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="col-sm-7">
                                        <span class="error" v-if="errors.has('commisionRate')">{{errors.first('commisionRate') | capitalize}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Status:</label>
                                    <div class="col-sm-6">
                                        <fieldset id="group1">
                                            <input  type="radio" name="enabled" id="enabled" th:checked="${agency.enabled == true}" th:value="true"> Active</input>
                                            <input type="radio"  name="enabled" id="enabled" th:checked="${agency.enabled == false}" th:value="false"> Inactive </input>

                                        </fieldset>
                                    </div>
                                </div>

                            </div>

                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                <!--<button type="submit" class="btn btn-info ">Submit</button>-->
                                <button type="submit" th:if="${agency.id != null}" class="btn btn-info btn-sm">Update</button>
                                <button type="submit" th:if="${agency.id == null}" class="btn btn-info btn-sm">Submit</button>
                                <a type="submit" class="btn btn-danger btn-sm" href="/collection/kpi/agency/card/bycommision/list">Cancel</a>
                            </div>
                            <!-- /.box-footer -->
                        </form>

                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            var selectedDpdBucketTypes = /*[[${selectedDpdBucketList}]]*/ [];
                            var dpdBucketOptions = /*[[${dpdBucketList}]]*/ [];
                            /*]]>*/
                        </script>

                        <script>
                            function deleteRow(index) {
                                console.log(index);
                                $('#table #row-'+index).remove();
                            }

                            Vue.use(VeeValidate);
                            new Vue({
                                el: '#app',
                                components: {
                                    Multiselect: VueMultiselect.default
                                },
                                data:{
                                    selectedDpdBucketList:[],
                                    dpdBucketOption:[],
                                },
                                created:function () {
                                    this.selectedDpdBucketList = JSON.parse(selectedDpdBucketTypes) ? JSON.parse(selectedDpdBucketTypes):[];
                                    this.dpdBucketOption = JSON.parse(dpdBucketOptions) ? JSON.parse(dpdBucketOptions):[];
                                },
                                computed:{
                                    getSelectedProductList : function () {
                                        return this.selectedDpdBucketList.map(item => {return item.id});
                                    },
                                },
                                filters: {
                                    capitalize: function (value) {
                                        console.log(value);
                                        if (!value) return ''
                                        value = value.toString()
                                        return value.charAt(0).toUpperCase() + value.slice(1).toLowerCase()
                                    }
                                }
                            })

                        </script>
                        <style>
                            .multiselect, .multiselect__input, .multiselect__single, .multiselect__content {
                                font-size: 13px;
                            }
                            .multiselect__tag{
                                font-size: 12px;
                            }
                            select {
                                -webkit-appearance: menulist;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>

</html>