<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Checker</title>
</head>
<body>
<div class="bs-example" th:fragment="supervisor-checker">
    <div class="multi-line-broadcom-div">
        <ul id="info-tabs" class="nav nav-tabs">
            <li id="tab-account-escalation"><a data-toggle="tab" href="#supervisor-account-escalation-checker" title="Account Escalation" th:text="'Account Escalation('+${escalationCount}+')'"></a></li>
            <li id="tab-supervisor-visit-ledger"><a data-toggle="tab" href="#supervisor-visit-ledger" title="Visit Ledger" th:text="'Visit Ledger('+${visitLedgerCount}+')'"></a></li>
            <li id="tab-customer-complain-checker">
                <a class="list-group-item" data-toggle="tab" href="#Customer-complain-checker" title="Customer complain" th:text="'Customer complain('+${customerComplainCount}+')'"></a>
            </li>
        </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">

        <div role="tabpanel1" class="tab-pane top-buffer" id="supervisor-visit-ledger">
            <div th:replace="dashboard/loan/supervisor/details/panels/middle/checker/visit_ledger :: supervisor-visit-ledger-checker"></div>
        </div>

        <div role="tabpanel1" class="tab-pane top-buffer" id="supervisor-account-escalation-checker">
            <div th:replace="dashboard/loan/supervisor/details/panels/middle/checker/account_escalation :: supervisor-account-escalation"></div>
        </div>
        <div role="tabpanel1" class="tab-pane top-buffer" id="Customer-complain-checker">
            <div th:replace="dashboard/loan/supervisor/details/panels/middle/checker/customer_complain_checker :: customer_complain_checker"></div>
        </div>

    </div>

</div>
</body>
</html>
