<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Card</title>
</head>
<body>

<div id="layout-form-panel" class="box box-primary shadow csi-layout-form-panel-sp" th:fragment="layout-form-panel">


    <div class="box-body csi-box-body">
        <section class="content ">
            <div class="row">
                <div class="col-md-12">
                    <!-- Details View -->
                    <div class=" bhoechie-tab-menu">
                        <div class="list-group csi-list-group1">
                            <a  id="tab-bufferdetails" href="#" class="list-group-item active" title="Account Details">Account Details</a>
                            <a  id="tab-dass" href="#" class="list-group-item" title="Queue and Status Summary">Queue and Status Summary</a>
                            <a  id="tabFollowUpDealer" href="#"  class="list-group-item" title="Follow Up">Follow Up Summary</a>
                            <a  id="tab-datewise-follow-up" href="#" class="list-group-item" title="Datewise Follow Up">Datewise Follow Up</a>
                            <a  id="tab_ptp_status_summary" href="#" class="list-group-item" title="PTP Status Summary">PTP Status Summary</a>
                            <a  id="tab_payment_detail" href="#" class="list-group-item" title="Payment Details">Payment Details</a>
                            <a  id="tab_short_fall_detail" href="#" class="list-group-item" title="Short Fall Details">Short Fall Details</a>
                            <a  id="tab_esau" href="#" class="list-group-item" title="Performance">Performance</a>
                            <a  id="tab-search" href="#" class="list-group-item" title="Work Management">Work Management</a>
                            <a  id="tab-product_wise_summary" href="#" class="list-group-item" title="KPI Target vs Achievement">KPI Target vs Achievement</a>
                            <a  id="tab-manager_target_by_amt" href="#" class="list-group-item" title="Manager Target vs Achievement">Manager Target vs Achievement</a>
                            <a  id="tab-as" href="#" class="list-group-item" title="Advanced Account Search">Advanced Account Search</a>
                        </div>
                    </div>
                    <!--/ Details View -->
                    <!-- /TAB HEAD -->

                    <!-- TAB CONTENT Details-->
                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content active" >
                            <div th:replace="retail/card/dashboard/dealer/details/panels/middle/personal_info :: personal-info"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content" >
                            <div th:replace="retail/card/dashboard/dealer/details/panels/middle/queue_and_status_summary :: distri_info"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content" >
                            <div th:replace="retail/card/dashboard/dealer/details/panels/middle/follow_up_details :: follow_info"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="retail/card/dashboard/dealer/details/panels/middle/datewise_followup :: datefollow_info"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content" >
                            <div th:replace="retail/card/dashboard/shared/ptp/ptp-status-summary :: content"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content" >
                            <div th:replace="retail/card/dashboard/dealer/details/panels/middle/payment_details :: info"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content" >
                            <div th:replace="retail/card/dashboard/dealer/details/panels/middle/short_fall_details :: content"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content" >
                            <div th:replace="retail/card/dashboard/dealer/details/panels/middle/performance :: performance"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content" >
                            <div th:replace="retail/card/dashboard/shared/work_management :: work-management"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content" >
                            <div th:replace="retail/card/dashboard/dealer/details/panels/middle/age_code_wise :: age_code_wise"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="retail/card/dashboard/dealer/details/panels/middle/target_vs_achievement :: target_vs_achievement"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content" >
                            <div th:replace="retail/card/dashboard/shared/advance_search :: advance_search"></div>
                        </div>
                    </div>

                    <!-- /TAB CONTENT Details-->
                </div>
            </div>
        </section>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->

</body>
</html>