<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="card/layouts/main/main-layout">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Bucket List</title>
</head>
<body>
	<div layout:fragment="content"th:remove="tag">
		<div class="content-wrapper">
			<section class="content">
				<div class="row">
					<div class="col-md-12">
						<div class="box">
							<div class="box-header with-border" style="text-align: center;">
								<h3 class="box-title">Bucket List</h3>
							</div>

							<div class="box-body">
								<a style="margin-bottom: 5px" class="btn btn-primary btn-sm" th:if="${session.urlList.contains('/collection/dpdBucket/create')}" th:href="@{/collection/dpdBucket/create}"><span class="glyphicon glyphicon-plus"> </span> Add Bucket </a>
								<table th:if="${bucketList!=null}" id="example" name="datatable-responsive" class="table table-condensed table-striped table-bordered" width="100%">
									<thead>
									<tr>
										<th>Bucket Name</th>
										<th>Min. DPD</th>
										<th>Max. DPD</th>
										<!--<th>Exact DPD</th>-->
										<th>Status</th>
										<th>Action</th>
									</tr>
									</thead>
									<tbody>
									<tr th:each="bucket,status : ${bucketList}">
										<td><span th:text="${bucket.bucketName}"></span></td>
										<td><span th:text="${bucket.minDpd}"></span></td>
										<td><span th:text="${bucket.maxDpd}"></span></td>
										<!--<td><span th:text="${bucket.exactDpd}"></span></td>-->

										<td>
											<span th:if="${bucket.enabled == true}" th:text="Active"></span>
											<span th:if="${bucket.enabled == false}" th:text="Inactive"></span></td>
										<td>
											<a class="btn btn-xs btn-primary"
											   th:if="${session.urlList.contains('/collection/dpdBucket/edit')}"
											   th:href="@{/collection/dpdBucket/edit(id=${bucket.id})}"><i class="fa fa-edit"></i>Edit</a>
											<!-- <a class="btn btn-xs btn-xs-dlt" th:href="@{/branch/remove(id=${branch.branchId})}"> <i class="fa fa-trash"></i>Delete</a> -->
										</td>
									</tr>
									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
			</section>
		</div>


		<section class="content-custom">
			<div class="row">
				<div class="col-xs-12">
					<div>
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<h2>Bucket List</h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<a class="btn btn-primary" th:href="@{/collection/dpdBucket/create}">
										<span class="glyphicon glyphicon-plus"> </span> Add Bucket
									</a>
									<br/>
									<br/>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>