<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Customer's profession Info (Loan)</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="content-wrapper">

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">

                        <div class="box-header with-border" style="text-align: center">
                            <h3 class="box-title">Customer's profession Info (Loan)</h3>

                        </div>
                        <!-- /.box-header -->
                        <div id="app" class="box-body">
                            <a  style="margin-bottom: 10px" class="btn btn-primary btn-xs" th:if="${session.urlList.contains('/collection/loan/settings/sector-code/create')}"
                               th:href="@{/collection/loan/settings/sector-code/create}"><span class="glyphicon glyphicon-plus"> </span>
                                Sector Upload </a>



                            <table id="sector-code-table" name="datatable-responsive"
                                   class="table table-striped table-bordered table-condensed text-center" width="100%">
                                <thead>
                                <tr>
                                    <th>SL No.</th>
                                    <th>Account No</th>
                                    <th>Segment Group Name</th>
                                    <th>Segment Code</th>
                                    <th>Segment Number</th>
                                    <th>Optima ID</th>


                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="sectorcode,status : ${sectorCodeList}">
                                    <td th:text="${status?.count}"></td>
                                    <td  th:text="${sectorcode?.accountNo}"></td>
                                    <td  th:text="${sectorcode?.groupName}"></td>
                                    <td  th:text="${sectorcode?.sectorCode}"></td>
                                    <td  th:text="${sectorcode?.sectorNo}"></td>
                                    <td  th:text="${sectorcode?.optimaId}"></td>

                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <script src="/js/datatable/dataTables.buttons.min.js"></script>
                        <script src="/js/datatable/jszip.min.js"></script>
                        <script src="/js/datatable/pdfmake.min.js"></script>
                        <script src="/js/datatable/vfs_fonts.js"></script>
                        <script src="/js/datatable/buttons.html5.min.js"></script>
                        <script src="/js/datatable/buttons.print.min.js"></script>

                        <script>
                            $(document).ready(function () {
                                $('#sector-code-table').DataTable({
                                    ordering: true,
                                    searching: true,
                                    lengthChange: true,

                                })
                            })

                        </script>

                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
</body>
</html>