html, body, #canvas {
        height: 100%;
        padding: 0;
        margin: 0;
      }

      .diagram-note {
        background-color: rgba(66, 180, 21, 0.7);
        color: White;
        border-radius: 5px;
        font-family: Arial;
        font-size: 12px;
        padding: 5px;
        min-height: 16px;
        width: 50px;
        text-align: center;
      }
      .needs-discussion:not(.djs-connection) .djs-visual > :nth-child(1) {
        stroke: rgba(66, 180, 21, 0.7) !important; /* color elements as red */
      }
      #save-button {
        position: fixed;
        bottom: 20px;
        left: 20px;
      }
      .custom-properties{
      	position: fixed;
		top: 0px;
		right: 0px;
		width: 20%;
		background-color: #fafafa;
		height: 100%;
		border: 3px outset #CCC;
		border-radius: 5px;
      }
      .box-title{
      	background-color: #fafafa;
		width: 100%;
		border: solid 1px #CCC;
		border-radius: 2px;
      }
      .btn-group{
		top: 20px;
		right: 285%;
      }
      table{
      	margin-top: 50px;
		padding: 12px;
		border: 2px outset #CCC;
		width: 100%;
		border-radius: 5px;
      }
      table tr{
      	
      }
      table caption{
      	border: 2px outset #6F5C5CCC;
		border-radius: 5px;
		font-size: 19px;
		font-family: inherit;
      }
      table tr td button{
      	border: 2px outset #6F5C5CCC;
		border-radius: 4px;
      }
      .custom-properties-title{
      	border: 2px outset #6F5C5CCC;
		border-radius: 5px;
		font-size: 22px;
		height: 40px;
		padding-left: 20px;
		
      }
      .align-right{
      	text-align: right;
      }