<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>WriteOff Account Handover</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border" style="text-align: center;">
                            <h3 class="box-title">WriteOff Account Handover</h3>
                        </div>

                        <div class="box-body">
                            <div id="app" class="x_content">
                                <!--<a style="margin-bottom: 5px" class="btn btn-primary btn-sm" th:href="@{/collection/distribution/wirteoff/create}"><span class="glyphicon glyphicon-plus"> </span> Add Write Off Account Handler </a>-->
                                <table th:if="${writeOffList!=null}" id="example" name="datatable-responsive" class="table table-condensed table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Sl</th>
                                        <th>Account No</th>
                                        <th>Account Name</th>
                                        <th>Card No/Contract Id</th>
                                        <th>Card Name</th>
                                        <th>Product Unit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="writeOff, status :${writeOffList}">
                                        <td th:text="${status.count}"></td>
                                        <td th:text="${writeOff?.getLoanAccountNo()}"></td>
                                        <td style="display: block;overflow: auto;width: 150px;height: 31px;" th:text="${writeOff?.getLoanAccountName()}"></td>
                                        <td th:text="${writeOff?.getContractId()}"></td>
                                        <td th:text="${writeOff?.getCardName()}"></td>
                                        <td th:text="${writeOff?.getPrductUnit()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>
