<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"/>
    <title> Age Code</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="box box-primary">
                        <div class="box-header with-border" style="text-align: center;">
                            <h3 th:if="${age.id == null}" class="box-title">Create New Age Code</h3>
                            <h3 th:if="${age.id != null}" class="box-title">Update Age Code</h3>
                        </div>

                        <form class="form-horizontal validate" method="post" th:action="@{/collection/ageCode/create}" th:object="${age}">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-4 custom-form-lebel-right required"> Age Code Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="name" class="form-control required" th:required="true" th:field="*{name}" placeholder="Age Code Name"/>
                                    </div>
                                </div>

                                <div class="form-group" th:if="${age.id != null}">
                                    <label class="col-sm-4 custom-form-lebel-right required">Status</label>
                                    <div class="col-sm-8">
                                        <fieldset id="group1">
                                            <input type="radio" name="enabled" th:checked="${age?.enabled == true} " th:value="true"> Active</input>
                                            <input type="radio" name="enabled" th:checked="${age?.enabled == false}" th:value="false" required> Inactive </input>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="form-group" th:if="${age?.id == null}" style="display: none">
                                    <label class="col-sm-4 custom-form-lebel-right required">Status</label>
                                    <div class="col-sm-8">
                                        <fieldset id="group1">
                                            <input type="radio" name="enabled" th:checked="${age?.enabled==true} or ${age?.id == null}" th:value="true"> Active</input>
                                            <input type="radio" name="enabled" th:checked="${age?.enabled==false} and ${age?.id != null}" th:value="false"> Inactive </input>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="box-footer text-center">
                                    <button type="submit" class="btn btn-info btn-sm ">Submit</button>
                                    <a type="submit" class="btn btn-danger btn-sm" href="/collection/ageCode/list">Cancel</a>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>
