<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"></meta>
    <title>Details | LOAN</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/skins/_all-skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/card/bower_components/font-awesome/css/font-awesome.min.css}"/>
    <!--<link rel="stylesheet" th:href="@{/card/bower_components/Ionicons/css/ionicons.min.css}"/>-->
    <link rel="stylesheet" th:href="@{/card/dist/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" th:href="@{/card/tab/css/design.css}"/>
    <link rel="stylesheet" th:href="@{/card/custom/css/tab-pane.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/timepicker/bootstrap-timepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/select2/dist/css/select2.min.css}" />
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap-daterangepicker/daterangepicker.css}"/>
    <!--<link rel="stylesheet" th:href="@{/css/googlefonts.css}" />-->
    <link rel="stylesheet" th:href="@{/card/custom/css/custom.css}"/>
    <link rel="stylesheet" th:href="@{/css/sweetalert.css}">
    <link rel="stylesheet" th:href="@{/css/loader/spinner.css}"/>
    <link rel="stylesheet" th:href="@{/card/custom/css/cardPreview.css}"/>
    <link rel="stylesheet" th:href="@{/external/vue-multiselect.min.css}"/>
    <link rel="stylesheet" th:href="@{/card/custom/css/calculator.css}"/>



    <!-- Bootstrap time Picker -->
    <script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/external/vue.js}"></script>
    <script th:src="@{/external/vue-resource.js}"></script>
    <script th:src="@{/external/vuejs-datepicker.js}"></script>
    <script th:src="@{/external/vue-multiselect.js}"></script>
    <script th:src="@{/bower_components/moment/moment.js}"></script>
    <script th:src="@{/plugins/timepicker/bootstrap-timepicker.min.js}"></script>
    <script th:src="@{/bower_components/bootstrap-daterangepicker/daterangepicker.js}"></script>
    <script th:src="@{/bower_components/select2/dist/js/select2.full.min.js}"></script>
    <script th:src="@{/card/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/js/sweetalert.js}"></script>
    <script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>

    <script th:src="@{/js/common.js}"></script>

    <style>
        .btn-success {
            background-color: #00a65a;
            border-color: #008d4c;
        }
    </style>
    <script th:inline="javascript">
        //Global variables
        /*<![CDATA[*/
        window.context = /*[[${context}]]*/ "";
        window.csrfToken = /*[[${_csrf.token}]]*/ "";
        window.csrfHeader = /*[[${_csrf.headerName}]]*/ "";
        var customer = /*[[${loanprofileview}]]*/ [];
        var accountBasicInfo = /*[[${loanAccountBasicInfo}]]*/ [];
        var customerId = /*[[${loanprofileview.id}]]*/ [];
        var designation = /*[[${designation}]]*/ [];
        /*]]>*/
    </script>

</head>
<body class="hold-transition skin-red sidebar-collapse" style="font-size: 13px;zoom: 85%">
<div class="wrapper">
    <div th:replace="card/layouts/customer/main-header :: header-main"></div>
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content container-fluid">
            <section class="csi-preview-content">
                <div class="row">
                    <!--<div class="col-md-3 sidebar-left-scroll">
                        <div th:replace="collection/details/panels/left/main :: panel-left-collection"></div>
                    </div>-->
                    <div class="col-md-7 content-midle-scroll">
                        <div th:replace="collection/details/panels/middle/main :: panel-middle-collection"></div>
                    </div>
                    <div class="col-md-5 sidebar-right-scroll" id="right-main">
                        <div th:replace="collection/details/panels/right/main :: panel-right-collection"></div>
                    </div>
                </div>
            </section>
        </section>
        <div class="loandetail-footer-sp">
            <p><i class="fa fa-copyright" aria-hidden="true"></i> 2018 all right reserved Powered by <a
                    href="http://csinfotechbd.com/" target="_blank">CSInfoTech Ltd</a></p>
        </div>
        <!-- /.content -->
    </div>
    <!--START DYNAMIC CALCULATOR MODAL ADDED BY ABDULLAH-->
    <div class="modal fade" id="calculator_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" id="calculator_modal_header" style="cursor: move;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="text-align: center">Calculator </h4>
                </div>
                <div class="modal-body">

                    <div class="calculator">
                        <div class="input" id="input"></div>
                        <div class="buttons">
                            <div class="operators">
                                <div>+</div>
                                <div>-</div>
                                <div>&times;</div>
                                <div>&divide;</div>
                            </div>
                            <div class="leftPanel">
                                <div class="numbers">
                                    <div>7</div>
                                    <div>8</div>
                                    <div>9</div>
                                </div>
                                <div class="numbers">
                                    <div>4</div>
                                    <div>5</div>
                                    <div>6</div>
                                </div>
                                <div class="numbers">
                                    <div>1</div>
                                    <div>2</div>
                                    <div>3</div>
                                </div>
                                <div class="numbers">
                                    <div>0</div>
                                    <div>.</div>
                                    <div id="clear">C</div>
                                </div>
                            </div>
                            <div class="equal" id="result">=</div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--END DYNAMIC CALCULATOR MODAL ADDED BY ABDULLAH-->


</div>

<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/card/tab/js/tabJs.js}"></script>
<script th:src="@{/card/custom/js/panel.js}"></script>

<script th:src="@{/bower_components/moment/moment.js}"></script>
<script th:src="@{/plugins/timepicker/bootstrap-timepicker.min.js}"></script>
<script th:src="@{/bower_components/bootstrap-daterangepicker/daterangepicker.js}"></script>
<!--<script th:src="@{/card/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js}"></script>-->

<script th:src="@{/customerprofileloan/diarynote.js}"></script>
<script th:src="@{/customerprofileloan/ptp.js}"></script>
<script th:src="@{/customerprofileloan/visitledger.js}"></script>

<script th:src="@{/card/form/js/jquery.serializejson.min.js}"></script>
<script th:src="@{/js/theia-sticky-sidebar.min.js}"></script>
<script th:src="@{/js/fastclick.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/ResizeSensor.min.js}"></script>
<script th:src="@{/js/BdNumberFormet.js}"></script>
<script th:src="@{/js/user_panel.js}"></script>
<script th:src="@{/dms/dms_main.js}"></script>
<script th:src="@{/js/print.js}"></script>
<script th:src="@{/litigation/litigation.js}"></script>
<script th:src="@{/js/calculator.js}"></script>


<script type="text/javascript">
    $('.daterange').daterangepicker();
</script>
<script type="text/javascript">
    $(function() {
        $("#hrefPrintLoan").click(function() {
            // Print the DIV.
            $("#printdivLoan").print();
            return (false);
        });
    });

    $('#reservation').daterangepicker();
    $('#reservationn').daterangepicker();
    $('#reservationN').daterangepicker();
    $('#reservationNk').daterangepicker();
    jQuery(document).ready(function () {
        jQuery('.content-midle-scroll, .sidebar-left-scroll, .sidebar-right-scroll').theiaStickySidebar({
            // Settings
            MarginTop: 20
        });


        //Timepicker
        $('.timepicker').timepicker({
            showInputs: false
        });
        //Datepicker
        $('.datepicker').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            forceParse: false
        });
        $(function() {
            $('.datepicker2').datepicker({
                startDate: new Date(),
                format: 'mm-dd-yyyy',
                autoclose: true,
                // forceParse: false
            })
        });

    });
</script>
</body>
</html>