<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>General Info-View</title>
</head>
<body>
<div id="layout-generalPreview" th:fragment="frag-general-view-PreView">
    <script type="text/javascript" th:src="@{/collection/dashboard/AccountWiseDistributionSummary.js}"></script>
    <script type="text/javascript" th:src="@{/collection/dashboard/dashboardTeamLeadCombined.js}"></script>
    <div class="loandetail-area-sp box box-primary">
        <form method="post" id="generalInfoFormViw">
            <div id="layout-form-general" class="loancaseentry-sp general-div" style="margin-left: 0px">
                <div class="loan-init-details-sp-inner">

                   <!-- <label>Personal Profile:</label>-->
                    <input id="globalUserPinForSummary" type="hidden" th:value="${employee?.pin}"/>
                    <input id="globalUserIdForSummary" type="hidden" th:value="${employee?.id}"/>
                    <input id="globalUserDesignationForSummary" type="hidden" th:value="${employee?.designation?.name}"/>

                    <input id="globalUserDesignationForCurrentUser" type="hidden"
                           th:value="${currentUser?.designation?.name}"/>

                    <div class="row csi-view-form-group" th:if="${#strings.contains(employee.unit,'Card')} and ${#strings.contains(employee.unit,'Loan')} != true" >

                        <input id="globalUnitForSummary" type="hidden" th:value="Card"/>
                    </div>

                    <div class="row csi-view-form-group" th:if="${#strings.contains(employee.unit,'Card')} != true and ${#strings.contains(employee.unit,'Loan')}" >

                        <input id="globalUnitForSummary" type="hidden" th:value="Loan"/>
                    </div>

                    <div class="row csi-view-form-group" th:if="${#strings.contains(employee.unit,'Card')} and ${#strings.contains(employee.unit,'Loan')}">
                        <a th:href="@{/(viewCardDash=false)}" target="_blank" th:if="${viewCardDash == true}"><button type="button" class="btn btn-primary">View Loan Dashboard</button></a>
                        <a th:href="@{/(viewCardDash=true)}" target="_blank" th:if="${viewCardDash == false} or ${viewCardDash == null}"><button type="button" class="btn btn-primary">View Card Dashboard</button></a>

                        <input id="globalUnitForSummary" type="hidden" th:if="${viewCardDash == false} or ${viewCardDash == null}" th:value="Loan"/>
                        <input id="globalUnitForSummary" type="hidden" th:if="${viewCardDash == true}" th:value="Card"/>
                    </div>


                    <div class="row csi-view-form-group">
                        <a th:href="@{/teamleader/to/dealer/dashboard(id=${employee?.pin})}" target="_blank"><button type="button" class="btn btn-primary btn-sm">Dealer Dashboard</button></a>
                    </div>

                    <div class="row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel">Employee ID :</label>
                        <label class="col-sm-3 custom-form-lebel" th:text="${employee?.pin}"></label>

                        <!--<label class="col-sm-3 custom-form-lebel" id="customerName"></label>-->
                        <label class="col-sm-3 custom-details-lebel">Employee Name :</label>
                        <label class="col-sm-3 custom-form-lebel" th:text="${employee?.user.firstName}+' '+${employee?.user.lastName}"></label>
                    </div>

                    <div class="row csi-view-form-group">
                        <!-- <label class="col-sm-3 custom-form-lebel" id="accountNo"></label>-->
                        <label class="col-sm-3 custom-details-lebel">Designation: </label>
                        <label class="col-sm-3 custom-form-lebel" th:text="${employee?.getDesignation()?.getName()}"></label>
                        <label class="col-sm-3 custom-details-lebel">No of Accounts: </label>
                        <label class="col-sm-3 custom-form-lebel" th:text="${userTotalAcc}"></label>
                    </div>

                    <div class="row csi-view-form-group">
                        <label class="col-sm-3">Login Time :</label>
                        <label class="col-sm-3 custom-form-lebel" th:text="${#dates.format(session?.loginTime, 'dd-MMM-yyyy hh:mm')}"></label>

                        <label class="col-sm-3">Current Date :</label>
                        <label class="col-sm-3 custom-form-lebel"
                               th:text="${#calendars.format(#calendars.createNow(), 'dd-MMM-yyyy')}"></label>
                    </div>

                </div>
            </div>
            <div id="admin-lte-div" class="row csi-view-form-group">
                <div class="col-md-12 shadow-sm" style="padding: 10px 10px">
                    <div class="col-md-3" style="text-align: center">
                        <span style="font-size: 20px" >No of Dealer</span><br>
                        <span style="font-size: 20px" th:text="${totalNoOfDealer}"></span>
                    </div>
                    <div class="col-md-3" style="text-align: center">
                        <span style="font-size: 20px" >No of Accounts</span><br>
                        <span style="font-size: 18px" th:text="${userTotalAcc}"></span>
                    </div>
                    <div class="col-md-3" style="text-align: center">
                        <span style="font-size: 20px" >Assigned Buckets</span><br>
                        <span style="font-size: 18px" th:each="bucket,iterStat : ${monitoringBuckets}"
                              th:text="${bucket} + ${!iterStat.last ? ', ' : ''}"></span>
                        <!--<span style="font-size: 15px" th:text="${@numberUtils.formatBdtInEnglish(totalMindue)}"></span>-->
                    </div>
                    <div class="col-md-3" style="text-align: center">
                        <span style="font-size: 20px" >Total Portfolio</span><br>
                        <span style="font-size: 18px" th:text="${userTotalOutStanding}"></span>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
