<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Consideration As Attempt</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row" id="considerationAttptId">
                <div class="col-md-8 col-md-offset-2">
                    <div class="box box-primary">

                        <div class="box-header with-border" style="text-align: center;">
                            <h3 th:text="${((considerAttempt.id == null) ? 'Create' : 'Update') + ' Consider Attempt'}" class="box-title">Create New Consideration As Attempt</h3>
                        </div>
                        <form  class="form-horizontal validate" method="post" th:action="@{/collection/considerAttempt/create}" th:object="${considerAttempt}" >
                            <input type="hidden" th:field="*{id}"/>
                            <div class="box-body">

                                <p th:if="${error}" class="text-center text-danger" th:text="${error}">Error </p>
                                <p th:if="${message}" class="text-center text-success" th:text="${message}">Error </p>

                                <div class="form-group">
                                    <label class="col-sm-4 custom-form-lebel-right required">Consideration As Attempt</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="attemptName" class="form-control input-sm" th:required="true" th:field="*{attemptName}" placeholder="Name"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 custom-form-lebel-right required">Contact Type</label>
                                    <div class="col-sm-6">
                                        <select id="showHide" name="contactType" class="form-control" th:field="*{contactType}">
                                            <option value="">Select</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>

                                        <!--<input type="text" name="contactType" oninput="showhide(this)" th:required="true" class="form-control input-sm" th:field="*{contactType}" placeholder="Yes/No"/>-->
                                    </div>
                                </div>
                                <div style="display: none" id="showFields">
                                    <div class="form-group">
                                        <label class="col-sm-4 custom-form-lebel-right ">Consideration as Contact</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="considerContact" class="form-control input-sm" th:field="*{considerContact}" placeholder="Name "/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 custom-form-lebel-right ">Contact Category</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="contactCategory" class="form-control input-sm" th:field="*{contactCategory}" placeholder="Name"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="hidden" v-model="getList" name="type">
                                    <label class="col-sm-4 custom-form-lebel-right ">Type</label>
                                    <div class="col-sm-6">
                                        <multiselect v-model="selectedList"
                                                     label="name" track-by="name"
                                                     :options="options"
                                                     :multiple="true" :taggable="true" ></multiselect>
                                    </div>

                                </div>

                                <div class="form-group" th:if="${considerAttempt.id != null}">
                                    <label class="col-sm-4 custom-form-lebel-right">Status</label>
                                    <div class="col-sm-6">
                                        <fieldset id="group1">
                                            <input type="radio" name="enabled"
                                                   th:checked="${considerAttempt?.enabled == true} " th:value="true">
                                            Active</input>
                                            <input type="radio" name="enabled"
                                                   th:checked="${considerAttempt?.enabled == false}" th:value="false" >
                                            Inactive </input>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="form-group" th:if="${considerAttempt?.id == null}" style="display: none">
                                    <label class="col-sm-4 custom-form-lebel-right ">Status</label>
                                    <div class="col-sm-6">
                                        <fieldset id="group2">
                                            <input type="radio" name="enabled"
                                                   th:checked="${considerAttempt?.enabled==true} or ${considerAttempt?.id == null}"
                                                   th:value="true"> Active</input>
                                            <input type="radio" name="enabled"
                                                   th:checked="${considerAttempt?.enabled==false} and ${considerAttempt?.id != null}"
                                                   th:value="false"> Inactive </input>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer text-center">
                                <button type="submit" class="btn btn-info btn-sm ">Submit</button>
                                <a type="submit" class="btn btn-danger btn-sm" href="/collection/considerAttempt/list">Cancel</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <script type="text/javascript">
                // window.onload = function() {
                //     document.getElementById('ifYes').style.display = 'none';
                // }

                $(document).ready(function() {
                    $('#showHide').on('change.showFields', function() {
                        $("#showFields").toggle($(this).val() == 'Yes');
                    }).trigger('change.showFields');
                });
                /*function showhide(obj) {
                   console.log($(obj).val());
                   if($(obj).val().toLowerCase()==="yes"){
                       $("#showFields").show();
                   }else {
                       $("#showFields").hide();

                   }
                }*/
            </script>

            <script th:inline="javascript">
                /*<![CDATA[*/
                var considerAttempt = /*[[${considerAttempt}]]*/ {};
                var typeList = /*[[${typeList}]]*/ [];
                /*]]>*/
            </script>

            <script>

              var considerationAttptApp = new Vue({
                    el: '#considerationAttptId',
                    components: {
                        Multiselect: VueMultiselect.default
                    },
                    data:{
                         options: [
                                { "name": 'CARD',
                                    "id":1 },
                                { "name": 'LOAN',
                                    "id":2
                                },
                                 { "name": 'SAM LOAN',
                                     "id":3
                                 },
                                 { "name": 'LEGAL',
                                     "id":4
                                 },
                            ],
                        considerAttempt:{},
                        selectedList: []
                    },
                  created:function () {
                      if( Array.isArray(typeList)){
                          for (i=0; i<typeList.length; i++) {
                              this.selectedList.push({name:typeList[i]})
                          }
                      }else{
                          this.selectedList.push()
                      }
                  },
                  computed: {
                      getList: function () {
                          return this.selectedList.map(item => {
                              return item.name;
                      });
                      }
                  },
                    method: {

                    }
                })

            </script>

        </section>
    </div>
</div>
</body>

</html>