
.datepicker {}
.datepicker .table-condensed {
	max-width: 300px;
	padding: 15px;
	display: block;
	overflow: hidden;
}
.datepicker .table-condensed tbody {}
.datepicker .table-condensed tbody tr {}
.datepicker .table-condensed tbody tr td,
.datepicker .table-condensed thead tr th {
	text-align: center;
	padding: 8px;
}
.datepicker .datepicker-months .table-condensed,
.datepicker .datepicker-years .table-condensed,
.datepicker .datepicker-decades .table-condensed {
	max-width: 400px;
	padding: 10px;
}
.datepicker .datepicker-months .table-condensed tbody tr td,
.datepicker .datepicker-decades .table-condensed tbody tr td,
.datepicker .datepicker-years .table-condensed tbody tr td {
	padding: 0;
} 
.datepicker .datepicker-months .table-condensed tbody tr td span,
.datepicker .datepicker-decades .table-condensed tbody tr td span,
.datepicker .datepicker-years .table-condensed tbody tr td span {
	text-align: center;
	padding: 3px;
	font-size: 12px;
}

.datepicker .datepicker-decades .table-condensed tbody tr td span,
.datepicker .datepicker-years .table-condensed tbody tr td span {
	padding: 2px;
}

img {
    opacity: 1;
    /* background: white; */
    padding: -10px;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.error {
	color : #b9110e;
}
