<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title> Dealer Target Setup Amount by Manager-(Card) Details</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <style>
                            .form-horizontal .control-label {
                                padding-top: 0px;
                                margin-bottom: 0;
                                text-align: right;
                            }
                        </style>
                        <div class="box-header with-border">
                            <h3 class="box-title">View Dealer Target Setup Amount by Manager-(Card) Details</h3>
                            <a th:href="@{/collection/dealer/card/bytarget/manager/amount/list}" class="btn btn-primary btn-sm" style="float: right;">Back To List</a>
                        </div>

                        <form class="form-horizontal">
                            <div class="box-body">

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Location</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <ul style="list-style: none; padding: 0px; overflow-x:hidden; white-space:nowrap; margin-bottom: 0px;">
                                            <li style="display:inline" th:each="location : ${agency?.getLocationEntityList()}"><span class="label label-success" th:text="${location.getCity()}"></span></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Age Code</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <ul style="list-style: none; padding: 0px; overflow-x:hidden; white-space:nowrap; margin-bottom: 0px;">
                                            <li style="display:inline" th:each="agecode : ${agency?.getAgeCodeEntityList()}"><span class="label label-success" th:text="${agecode.getName()}"></span></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Supervisor Name</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <ul style="list-style: none; padding: 0px; overflow-x:hidden; white-space:nowrap; margin-bottom: 0px;">
                                            <li style="display:inline" th:each="dealer : ${agency?.getEmployeeInfoEntityList()}"><span class="label label-success" th:text="${dealer.getUser().getFirstName()}"></span></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Regular Amount Target (%)</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${agency.regularAmountTarget}" ></level>
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Back Amount Target (%)</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${agency.backAmountTarget}" ></level>
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Save Amount Target (%)</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${agency.saveAmountTarget}" ></level>
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Flow Amount Target (%)</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${agency.flowAmountTarget}" ></level>
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Cash Collection Target (%)</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${agency.cashCollectionTarget}" ></level>
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">PAR Release Target (%)</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${agency.parReleaseAmountTarget}" ></level>
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">NPL Release Target (%)</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${agency.nplReleaseAmountTarget}" ></level>
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Status</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:if="${agency.enabled == true}" th:text="Active"></level>
                                        <level th:if="${agency.enabled == false}" th:text="Inactive"></level>
                                    </div>
                                </div>-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>