<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Checker</title>
</head>
<body>
<div class="bs-example" th:fragment="manager-checker">
    <div class="multi-line-broadcom-div">
        <ul id="info-tabs" class="nav nav-tabs">
            <li id="tab-manager-account-escalation"><a data-toggle="tab" href="#manager-account-escalation-checker" title="Account Escalation" th:text="'Account Escalation('+${escalationCount}+')'"></a></li>
            <li id="tab-customer-complain-checker">
                <a class="list-group-item" data-toggle="tab" href="#Customer-complain-checker" title="Customer complain" th:text="'Customer complain('+${customerComplainCount}+')'"></a>
            </li>
        </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">

        <div role="tabpanel1" class="tab-pane top-buffer" id="manager-account-escalation-checker">
            <div th:replace="dashboard/loan/manager/details/panels/middle/checker/account_escalation :: manager-account-escalation"></div>
        </div>

        <div role="tabpanel1" class="tab-pane top-buffer" id="Customer-complain-checker">
            <div th:replace="dashboard/loan/manager/details/panels/middle/checker/customer_complain_checker :: customer_complain_checker"></div>
        </div>

    </div>

</div>
</body>
</html>
