<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <style>
        form{
            padding:1px;
        }
    </style>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <section class="content-custom">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <h5 class="text-center">Automatic Distribution</h5>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <form class="text-center" th:action="@{/collection/autodistribution}"method="post">
                                <button class="btn btn-primary" type="submit">Auto Distribution (Loan)</button>
                            </form>

                            <form class="text-center" th:action="@{/collection/card/autodistribution}"method="post">
                                <button class="btn btn-primary" type="submit">Auto Distribution (Card)</button>
                            </form>

                            <form class="text-center" th:action="@{/collection/autodistribution/sam}"method="post">
                                <button class="btn btn-primary" type="submit">Sam Distribution (Loan)</button>
                            </form>


                            <form class="text-center" th:action="@{/collection/card/autodistribution/sam}"method="post">
                                <button class="btn btn-primary" type="submit">Sam Distribution (Card)</button>
                            </form>

                            <form class="text-center" th:action="@{/collection/autodistribution/postinterim}"method="post">
                                <button class="btn btn-primary" type="submit">Post Interim Distribution (Loan)</button>
                            </form>


                            <form class="text-center" th:action="@{/collection/card/autodistribution/postinterim}"method="post">
                                <button class="btn btn-primary" type="submit">Post Interim Distribution (Card)</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript" th:src="@{/js/user_panel.js}"></script>
</body>


</html>