<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Customer Basic Info List</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <section class="content-custom">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Customer Basic Info List</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <a class="btn btn-primary" th:href="@{/customerbasicinfo/create}"><span class="glyphicon glyphicon-plus"> </span> Add Customer Basic Info </a>
                                <table th:if="${customerbasicinfolist!=null}" id="example" name="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" width="100%">
                                    <thead>
                                    <tr>
                                        <th style="width:7%">Sl No.</th>
                                        <th style="width: 10%">Customer ID</th>
                                        <th style="width: 27%">Customer Name</th>
                                        <th style="width: 25%">Customer Father's Name</th>
                                        <th style="width: 25%">Customer Mother's Name</th>
                                        <th style="width: 20%">Mobile No.</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="customerbasicinfo,status : ${customerbasicinfolist}">
                                        <td th:text="${status.count}"></td>
                                        <td><span th:text="${customerbasicinfo.customerId}"></span></td>
                                        <td><span th:text="${customerbasicinfo.customerName}"></span></td>
                                        <td><span th:text="${customerbasicinfo.customerFatherName}"></span></td>
                                        <td><span th:text="${customerbasicinfo.customerMotherName}"></span></td>
                                        <td><span th:text="${customerbasicinfo.mobileNumber}"></span></td>
                                        <!--<td>
                                            <span th:if="${department.enabled == true}" th:text="Active"></span>
                                            <span th:if="${department.enabled == false}" th:text="Inactive"></td>
                                        </td>
                                        <td>-->
                                           <!-- <a class="btn btn-xs" th:href="@{/collection/department/edit(id=${department.id})}"><i class="fa fa-edit"></i>Edit</a>
                                            <a class="btn btn-xs" th:href="@{/collection/department/view(id=${department.id})}"><i class="fa fa-edit"></i>View</a>-->
                                            <!-- <a class="btn btn-xs btn-xs-dlt" th:href="@{/branch/remove(id=${branch.branchId})}"> <i class="fa fa-trash"></i>Delete</a> -->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>