<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Dealer Groups</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border" style="text-align: center;">
                            <h3 class="box-title"> Dealer Groups based on Collector Area for Auto Distribution</h3>
                        </div>

                        <div class="box-body">
                            <a style="margin-bottom: 5px;" class="btn btn-primary btn-sm"
                               th:href="@{/collection/settings/dealer-group-based-on-collector-area-for-auto-distribution/create}"><span
                                    class="glyphicon glyphicon-plus"> </span> Add New </a>
                            <table th:if="${collectorDistributionList!=null}" id="example" name="datatable-responsive"
                                   class="table table-striped table-bordered table-condensed" width="100%">
                                <thead>
                                <tr>
                                    <th>Unit</th>
                                    <th>Dealer List</th>
                                    <th>Location List</th>
                                    <th>Product Group List</th>
                                    <th>Product Type List</th>
                                    <th>Bucket/Age Code</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="collectorDistribution : ${collectorDistributionList}">
                                    <td th:text="${collectorDistribution.unitEntity.name}"></td>

                                    <td>

                                            <button class="btn btn-xs btn-success" style="margin-right: 5px" th:each="item :${collectorDistribution.dealer}" th:text="${item.pin}"></button>
                                    </td>
                                    <td>
                                        <button class="btn btn-xs btn-success" style="margin-right: 5px" th:each="item :${collectorDistribution.location}" th:text="${item.city}"></button>
                                    </td>
                                    <td>
                                        <button class="btn btn-xs btn-success" style="margin-right: 5px" th:each="item :${collectorDistribution.productGroup}" th:text="${item.name}"></button>
                                    </td>
                                    <td>
                                        <button class="btn btn-xs btn-success" style="margin-right: 5px" th:each="item :${collectorDistribution.productType}" th:text="${item.name}"></button>
                                    </td>
                                    <td>
                                        <div th:if="${collectorDistribution.unitEntity.name == 'Loan'}">
                                            <button class="btn btn-xs btn-success" style="margin-right: 5px" th:each="item :${collectorDistribution.dpdBucketEntities}" th:text="${item.bucketName}"></button>
                                        </div>
                                        <div th:if="${collectorDistribution.unitEntity.name == 'Card'}">
                                            <button class="btn btn-xs btn-success" style="margin-right: 5px" th:each="item :${collectorDistribution.ageCodeEntities}" th:text="${item.name}"></button>
                                        </div>
                                    </td>

                                    <td style="text-align: center">
                                        <a class="btn btn-primary btn-xs"
                                        th:href="@{/collection/settings/dealer-group-based-on-collector-area-for-auto-distribution/edit(id=${collectorDistribution.id})}">
                                            <i class="fa fa-edit"></i>
                                            Edit
                                        </a>
                                        <a class="btn btn-success btn-xs disabled">
                                            <i class="fa fa-eye"></i>
                                            View
                                        </a>
                                        <!--<a class="btn btn-xs btn-xs-dlt"-->
                                        <!--th:href="@{/legal/setup/courseofaction/remove(id=${courseOfAction.id})}">-->
                                        <!--<i class="fa fa-trash"></i>-->
                                        <!--Delete-->
                                        <!--</a>-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>