<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Early Notification Engine</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="box box-primary">

                        <div class="box-header with-border" style="text-align: center;">
                            <h3 th:if="${earlyNotify.id == null}" class="box-title">Create New Early Notification Engine</h3>
                            <h3 th:if="${earlyNotify.id != null}" class="box-title">Update Early Notification Engine</h3>
                        </div>

                        <form  class="form-horizontal validate" method="post" th:action="@{/collection/card/earlyNotificationEngine/create}" th:object="${earlyNotify}">
                            <input type="hidden" th:field="*{id}"></input>
                            <div class="box-body">

                                <div class="form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right">Cumulative Repayment</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="cumulative" id="cumulative" class="form-control" th:required="true" th:field="*{cumulative}" placeholder="Cumulative Repayment" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right">Maximum delinquent along with PSO / Source Code</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="maxPso" id="maxPso" class="form-control" th:required="true" th:field="*{maxPso}" placeholder="Amount" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right">Maximum delinquent along with Applicant?s Company</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="maxCompany" id="maxCompany" class="form-control" th:required="true" th:field="*{maxCompany}" placeholder="Amount" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right">Maximum No-Contact list along with DPD Bucket</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="maxDpd" id="maxDpd" class="form-control" th:required="true" th:field="*{maxDpd}" placeholder="Amount" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right">Maximum PTP Broken ratio</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="maxPtp" id="maxPtp" class="form-control" th:required="true" th:field="*{maxPtp}" placeholder="Amount" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right">Card ? Maximum Excess Over limit</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="maxOverlimit" id="maxOverlimit" th:field="*{maxOverlimit}" placeholder="Amount" />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label  class="col-sm-4 control-label-right">Status:</label>
                                    <div class="col-sm-8">
                                        <fieldset id="group1">
                                            <input  type="radio" name="enabled" id="enabled" th:checked="${earlyNotify.enabled == true}" th:value="true"> Active</input>
                                            <input type="radio"  name="enabled" id="enabled" th:checked="${earlyNotify.enabled == false}" th:value="false"> Inactive </input>

                                        </fieldset>
                                    </div>
                                </div>

                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                <button type="submit" class="btn btn-info btn-sm">Submit</button>
                                <a type="submit" class="btn btn-danger btn-sm" href="/collection/card/earlyNotificationEngine/list">Cancel</a>
                            </div>
                            <!-- /.box-footer -->
                        </form>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>