<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Write Off Account Distribution</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border" style="text-align: center;">
                            <h3 class="box-title">Write Off Account Distribution</h3>
                        </div>

                        <div class="box-body">
                            <a style="margin-bottom: 10px" class="btn btn-primary btn-xs" th:if="${session.urlList.contains('/retail/loan/data-entry/write-off-account-distribution/create')}"
                               th:href="@{/retail/loan/data-entry/write-off-account-distribution/create}"><span class="glyphicon glyphicon-plus"> </span>
                                Write Off Distribution </a>
                            <div id="app" class="x_content">
                                <!--<a style="margin-bottom: 5px" class="btn btn-primary btn-sm" th:href="@{/collection/distribution/wirteoff/create}"><span class="glyphicon glyphicon-plus"> </span> Add Write Off Account Handler </a>-->
                                <table th:if="${writeOfDistribution!=null}" id="example" name="datatable-responsive" class="table table-condensed table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Account Number</th>
                                        <th>Account Name</th>
                                        <th>Account Status</th>
                                        <th>Location</th>
                                        <th>Product Code</th>
                                        <th>Branch Code</th>
                                        <th>Dealer ID</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="writeOff:${writeOfDistribution}">
                                        <td style="color: red" th:text="${writeOff.accountNumber}"></td>
                                        <td th:text="${writeOff.accountName}"></td>
                                        <td th:text="${writeOff.accountStatus}"></td>
                                        <td th:text="${writeOff.location}"></td>
                                        <td th:text="${writeOff.productCode}"></td>
                                        <td th:text="${writeOff.branchCode}"></td>
                                        <td th:text="${writeOff.dealerPin}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>
