<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="card/layouts/main/main-layout">
<head>
<meta charset="ISO-8859-1"></meta>
<title> PAR Queue Account Rule-Loan</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">

		<style>
			.multiselect, .multiselect__input, .multiselect__single, .multiselect__content {
				font-size: 13px;
			}

			.multiselect__tag {
				font-size: 12px;
			}

			select {
				-webkit-appearance: menulist;
			}
		</style>

		<div class="content-wrapper">
			<section class="content">
				<div class="row" id="per-queue-account-rule-loan">
					<div class="col-md-8 col-md-offset-2">
						<div class="box box-primary">

							<div class="box-header with-border" style="text-align: center;">
								<h3 th:if="${parQueue.id == null}" class="box-title">Create New PAR Queue Account Rule-Loan</h3>
								<h3 th:if="${parQueue.id != null}" class="box-title">Update PAR Queue Account Rule-Loan</h3>
							</div>

							<form  id="form" class="form-horizontal validate" method="post" th:action="@{/collection/par_queue_acc_rule_loan/create}" th:object="${parQueue}">
								<input type="hidden" th:field="*{id}"></input>
								<input type="hidden" name="productTypeIds" v-model="getSelectedProductTypeIds"/>
								<input type="hidden" name="dpdIds" v-model="getSelectedDpdIds"/>
								<div class="box-body">

									<div class="form-group">
										<label  class="col-sm-4 custom-form-lebel-right required"> Min. DPD</label>
										<div class="col-sm-8">
											<input type="text" name="minDpd" class="form-control required" th:required="true" th:field="*{minDpd}" placeholder="Min. DPD" />
										</div>
									</div>

									<div class="form-group">
										<!--<div class="col-md-4">-->
											<label  class="col-sm-4 custom-form-lebel-right required">Product Type</label>
										<!--</div>-->
										<div class="col-md-8">
												<!--<input type="checkbox" class="flat-red" name="pTypeId" th:value="${product.id}"  th:checked="${#lists.contains(selProdIdList,''+product.id)}" ><label th:text="${product.name}"></label> </input>-->
												<multiselect v-model="selectedProductType" placeholder="select a Product Type"
															 label="name" track-by="id" :options="productTypeList"
															 :multiple="true" :taggable="true"></multiselect>
										</div>

									</div>

									<div class="form-group">

										<label  class="col-sm-4 custom-form-lebel-right required">Bucket</label>
										<div class="col-md-8">
											<!--<div class="col-sm-8" th:each="dpd: ${dpdBucketList}">-->
												<!--<input type="checkbox" class="flat-red" name="dpdBucketId" th:value="${dpd.id}"  th:checked="${#lists.contains(selDpdIdList,''+dpd.id)}" ><label th:text="${dpd.bucketName}"></label> </input>-->
											<!--</div>-->
											<multiselect v-model="selectedDpd" placeholder="select a DPD"
														 label="bucketName" track-by="id" :options="dpdList"
														 :multiple="true" :taggable="true"></multiselect>
										</div>

									</div>

									<!--<div class="form-group" th:if="${parQueue.id != null}">-->
										<!--<label  class="col-sm-4 custom-form-lebel-right required">Status</label>-->
										<!--<div class="col-sm-8" >-->
											<!--<fieldset id="group1" >-->
												<!--<input type="radio" name="enabled" th:checked="${parQueue?.enabled == true} " th:value="true" > Active</input>-->
												<!--<input type="radio"  name="enabled" th:checked="${parQueue?.enabled == false}" th:value="false" required> Inactive </input>-->
											<!--</fieldset>-->
										<!--</div>-->
									<!--</div>-->

									<!--<div id="validationErrorDiv" class="col-sm-12 text-center" style="display: none">-->
										<!--<label class="text-danger">Both Product Type and DpdBucket is required.</label>-->
									<!--</div>-->

									<!--<div class="form-group" th:if="${parQueue?.id == null}" style="display: none">-->
										<!--<label  class="col-sm-4 custom-form-lebel-right required">Status</label>-->
										<!--<div class="col-sm-8" >-->
											<!--<fieldset id="group1">-->
												<!--<input type="radio" name="enabled" th:checked="${parQueue?.enabled==true} or ${parQueue?.id == null}" th:value="true"> Active</input>-->
												<!--<input type="radio"  name="enabled"  th:checked="${parQueue?.enabled==false} and ${parQueue?.id != null}" th:value="false"> Inactive </input>-->
											<!--</fieldset>-->
										<!--</div>-->
									<!--</div>-->

								</div>
								<!-- /.box-body -->
								<div class="box-footer text-center">
									<button type="submit" class="btn btn-info btn-sm">Submit</button>
									<a type="submit" class="btn btn-danger btn-sm" href="/collection/par_queue_acc_rule_loan/list">Cancel</a>
								</div>
								<!-- /.box-footer -->
							</form>

						</div>
					</div>
				</div>


				<script th:inline="javascript">
                    /*<![CDATA[*/
                    var productTypeList = /*[[${typeList}]]*/ [];
                    var selectedProductType = /*[[${selectedProductType}]]*/ [];

                    var dpdList = /*[[${dpdBucketList}]]*/ [];
                    var selectedDpd = /*[[${selectedDpd}]]*/ [];
                    /*]]>*/
				</script>

				<script>

                    perQueueAccountRuleLoanApp = new Vue({
							el: '#per-queue-account-rule-loan',
							components: {
								Multiselect: VueMultiselect.default
							},
							data: {
                                productTypeList: [],
								selectedProductType : [],

                                dpdList : [],
								selectedDpd : []
							},

                        created: function () {
                            this.productTypeList = Array.isArray(productTypeList) ? productTypeList : [];
                            this.dpdList = Array.isArray(dpdList) ? dpdList : [];
                            this.selectedProductType = Array.isArray(selectedProductType) ? selectedProductType : [];
                            this.selectedDpd = Array.isArray(selectedDpd) ? selectedDpd : [];
                        },
                        computed: {

                            getSelectedDpdIds: function () {
                                return this.selectedDpd.map(item => {
                                    return item.id;
                                });
                            },
                            getSelectedProductTypeIds: function () {
                                return this.selectedProductType.map(item => {
                                    return item.id;
                                });
                            },

                        },
					})




					// function checkForm(event) {
					// 	event.preventDefault();
					// 	$("#validationErrorDiv").hide();
					// 	let pTypeBool = false;
					// 	let dpdBucketBool = false;
                    //     var pTypeValue = $("[name='pTypeId']");
                    //     $( pTypeValue ).each(function(index,item) {
                    //         if(item.checked)
                    //         	pTypeBool = true;
                    //     });
					//
					//
                    //      var dpdBucketIdValue = $("[name='dpdBucketId']");
                    //      $( dpdBucketIdValue ).each(function(index,item) {
                    //         if(item.checked)
                    //             dpdBucketBool = true;
					// 	 });
                    //      console.log(pTypeBool);
                    //      console.log(dpdBucketBool);
					//
                    //      if(pTypeBool && dpdBucketBool)
                    //          $("#form").submit();
                    //      else
					// 		 $("#validationErrorDiv").show();
                    // }
				</script>
			</section>
		</div>
	</div>
</body>
</html>