<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title> Letter </title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <style>
                            .row {
                                margin: 0 auto;
                            }

                            .letter-body {
                                max-width: 800px;
                                margin: auto;
                                padding: 35px;
                                border: 1px solid #eee;
                                box-shadow: 0 0 10px rgba(0, 0, 0, .15);
                                font-size: 14px;
                                line-height: 24px;
                                font-family: 'Times New Roman', 'Times New Roman', Helvetica, Arial, sans-serif;
                                color: #555;
                            }
                        </style>

                        <div class="box-body" id="template-body">
                            <div>
                                <button class="btn btn-primary" :disabled="editing" onclick="generatePDF()">
                                    Download
                                </button>
                                <button class="btn btn-info" @click="updateLetter">
                                    <span v-if="!editing">Edit</span>
                                    <span v-else>Save</span>
                                </button>
                            </div>
                            <div id="letter-body" class="letter-body">
                                <div style="margin: 60px 40px; text-align: justify">
                                    <div style="margin-top: 40px">
                                        <div v-if="!editing" @dblclick="toggleEditMode"><span><strong>Ref. No. : {{ref}}</strong></span>
                                        </div>
                                        <div v-else><span>Ref : </span><input style="width: 300px" v-focus
                                                                              @keyup.enter="toggleEditMode"
                                                                              type="text/number" name="ref"
                                                                              v-model="ref">
                                        </div>
                                    </div>

                                    <div style="margin-bottom: 40px">
                                        <p v-if="!editing" @dblclick="toggleEditMode"><strong>{{currentDate |
                                            dateFormat}}</strong></p>
                                        <input v-else @change="toggleEditMode" @keyup.enter="toggleEditMode"
                                               type="date" name="currentDate" v-model="currentDate">
                                    </div>

                                    <div>
                                        <span v-if="!editing"
                                              @dblclick="toggleEditMode"><strong>{{name}}</strong></span>
                                        <input style="width: 200px;" v-else @keyup.enter="toggleEditMode" type="text"
                                               name="name" v-model="name">
                                    </div>
                                    <div>
                                        <span v-if="!editing"
                                              @dblclick="toggleEditMode"><strong>{{ designation }}</strong></span>
                                        <input style="width: 200px;" v-else @keyup.enter="toggleEditMode" type="text"
                                               name="designation" v-model="designation">
                                    </div>
                                    <div>
                                        <span v-if="!editing"
                                              @dblclick="toggleEditMode"><strong>{{ companyName }}</strong></span>
                                        <input style="width: 200px;" v-else @keyup.enter="toggleEditMode" type="text"
                                               name="companyName" v-model="companyName">
                                    </div>


                                    <div style="margin-bottom: 30px; display: flex">
                                        <div style="width: 45%; text-align: left">
                                            <span v-if="!editing" @dblclick="toggleEditMode"><strong>{{customerAddress}}</strong></span>
                                            <input style="width: 400px" v-else @keyup.enter="toggleEditMode"
                                                   type="text" name="customerAddress" v-model="customerAddress">
                                        </div>
                                    </div>

                                    <div style="margin-bottom: 40px; display: flex">
                                        <div style="width: 20%;"><p style="font-weight: bolder">Subject:</p></div>
                                        <div style="width: 5%"></div>
                                        <div>
                                            <span v-if="!editing" @dblclick="toggleEditMode"
                                                  style="font-size: 16px">
                                            <strong>{{emailSubject}}</strong>
                                        </span>
                                            <textarea style="width: 500px" v-else @keyup.enter="toggleEditMode"
                                                      type="text" name="emailSubject" v-model="emailSubject"></textarea>
                                        </div>
                                    </div>

                                    <p>Dear Sir/Madam,</p>
                                    <p style="margin-bottom: 30px">We refer to your letter dated
                                        <span v-if="!editing" @dblclick="editing = !editing"><strong>{{genDate | dateFormat}}</strong></span>
                                        <input v-else @change="toggleEditMode" @keyup.enter="toggleEditMode"
                                               type="date" name="genDate" v-model="genDate">
                                        regarding above captioned subject.
                                    </p>

                                    <p>
                                        In this connection, we would like to inform you that our management reviewed
                                        your proposal and after detailed review of the same, our management has not
                                        agreed to entertain your request according to your statement.
                                    </p>

                                    <div>
                                        <p>We have extended you the total loan of Tk.
                                            <span v-if="!editing" @dblclick="editing = !editing"><strong>{{amountBDT}}</strong></span>
                                            <input v-else @keyup.enter="toggleEditMode" type="text/number"
                                                   name="amountBDT" v-model="amountBDT">/- for a total period of
                                            <span v-if="!editing" @dblclick="editing = !editing"><strong>{{amountBDT}}</strong></span>
                                            <input v-else @keyup.enter="toggleEditMode" type="text/number"
                                                   name="amountBDT" v-model="amountBDT">
                                            months. But so far
                                            <span v-if="!editing" @dblclick="editing = !editing"><strong>{{amountBDT}}</strong></span>
                                            <input v-else @keyup.enter="toggleEditMode" type="text/number"
                                                   name="amountBDT" v-model="amountBDT">
                                            Months have passed since last disbursement and the
                                            outstanding as on
                                            <span v-if="!editing" @dblclick="editing = !editing"><strong>{{genDate | dateFormat}}</strong></span>
                                            <input v-else @change="toggleEditMode" @keyup.enter="toggleEditMode"
                                                   type="date" name="genDate" v-model="genDate"> stands at Tk.
                                            <span v-if="!editing" @dblclick="editing = !editing"><strong>{{amountBDT}}</strong></span>
                                            <input v-else @keyup.enter="toggleEditMode" type="text/number"
                                                   name="amountBDT" v-model="amountBDT">/-, which shows that
                                            you have not paid any amount towards principal and even still Tk.
                                            <span v-if="!editing" @dblclick="editing = !editing"><strong>{{amountBDT}}</strong></span>
                                            <input v-else @keyup.enter="toggleEditMode" type="text/number"
                                                   name="amountBDT" v-model="amountBDT">/- remains unpaid as interest.
                                        </p>
                                    </div>


                                    <p>Considering such situation and the security we have along with other relevant issues, we are not in position to entertain your request.
                                    </p>

                                    <p style="margin-bottom: 20px">We, therefore, advise you to arrange to settle the loan immediately failing which the matter will be deal as per NI Act, 1881 and ARA Aine, 2003.
                                    </p>

                                    <p style="margin-bottom: 20px">Thanking you.</p>

                                    <p style="margin-bottom: 60px">Yours faithfully, </p>


                                    <div>
                                        <span v-if="!editing"
                                              @dblclick="toggleEditMode"><strong>{{ agentName }}</strong></span>
                                        <input style="width: 200px;" v-else @keyup.enter="toggleEditMode" type="text"
                                               name="agentName" v-model="agentName">
                                    </div>
                                    <div>
                                        <span v-if="!editing"
                                              @dblclick="toggleEditMode"><strong>{{ agentDept }}</strong></span>
                                        <input style="width: 200px;" v-else @keyup.enter="toggleEditMode" type="text"
                                               name="agentDept" v-model="agentDept">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            var customer = /*[[${customer}]]*/ [];
                            var customerProfileLoan = /*[[${customerProfileLoan}]]*/ [];

                            /*]]>*/
                        </script>

                        <script>
                            let vm = new Vue({
                                el: '#template-body',
                                data: {
                                    ref: 'BBL/HO/CR/X/2019/06/0001',
                                    customerID: '123456',
                                    currentDate: "",
                                    coApplicantName: 'Jane Doe',
                                    agreementNo: 'LNML 092015080102',
                                    privacy: 'PRIVATE AND CONFIDENTIAL',
                                    name: 'AZIZUL HAQUE',
                                    designation: 'swe',
                                    companyName: 'Newscred',
                                    customerAddress: 'Rupsha Stand,Bagerhat,Khulna,Bangladesh',
                                    emailSubject: 'Rescheduling of Mortgage Loan A/C; ATM Homes Ltd, Agreement No. LNML01201102B259, ' +
                                        'LNML01201102A259 & LNML012011020259-A',
                                    amountBDT: '4,563.39',
                                    amountUSD: '55',
                                    genDate: "",
                                    agentAddress: 'Sepal Platinum Tower, Holding # 247/248 (Level-6), Tejgaon I/A, ' +
                                        'Bir Uttam Mir Showkat Road, Dhaka-1208.',
                                    agentPhone: '01755596028',
                                    editing: false,
                                    finalAge: 'xyz',
                                    agentName: 'A K M Rezaul Karim',
                                    agentDept: 'VP & Head of Special Asset Management'
                                },
                                created: function () {
                                    this.currentDate = this.getFormattedDate();
                                    this.genDate = this.getFormattedDate();
                                    this.customer = customer;
                                    this.customerProfileLoan = JSON.parse(customerProfileLoan) != null ? JSON.parse(customerProfileLoan) : [];
                                    this.initValues();
                                },
                                filters: {
                                    dateFormat(value) {
                                        let monthNames = ["January", "February", "March", "April", "May", "June",
                                            "July", "August", "September", "October", "November", "December"];
                                        let currentDateArray = value.toString().split('-');
                                        let length = currentDateArray.length;
                                        // 2020-12-30
                                        if (length > 1) {
                                            let date = currentDateArray[2];
                                            let monthName = monthNames[parseInt(currentDateArray[1]) - 1]
                                            let year = currentDateArray[0];

                                            return `${monthName} ${date}, ${year}`;
                                        } else if (length === 1) {
                                            let date = value.getDate();
                                            let month = value.getMonth();
                                            let monthName = monthNames[month];
                                            let year = value.getFullYear();
                                            return `${monthName} ${date}, ${year}`;
                                        }

                                    },
                                },
                                directives: {
                                    focus: {
                                        // directive definition
                                        inserted: function (el) {
                                            el.focus()
                                        }
                                    }
                                },
                                methods: {
                                    initValues(){
                                        this.name=  this.customer.customerName;
                                        this.accountNo = this.customer.accountNo;
                                        this.customerAddress = this.customerProfileLoan.HOME_ADDRESS ? this.customerProfileLoan.HOME_ADDRESS : this.customerAddress;
                                        this.emailSubject += this.customer.accountNo;


                                    },
                                    getFormattedDate() {
                                        let newdate = new Date();
                                        let date = newdate.getDate();
                                        let month = newdate.getMonth() + 1;
                                        let year = newdate.getFullYear();
                                        return `${year}-${month}-${date}`;
                                    },
                                    toggleEditMode() {
                                        this.editing = !this.editing;
                                    },
                                    updateLetter() {
                                        this.toggleEditMode();
                                    }
                                }
                            })
                        </script>
                        <script>
                            function generatePDF() {
                                $("#letter-body").print();
                                return (false);
                            }
                        </script>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
</body>
</html>
