<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Checker</title>
</head>
<body>
<div class="bs-example" th:fragment="dealer-checker">
    <div class="multi-line-broadcom-div">
        <ul id="info-tabs" class="nav nav-tabs">
            <li id="tab-activity-ptp-summary" class="active"><a data-toggle="tab" href="#dealer-activity-ptp-summary-checker" title="Activity & PTP Summary">Activity & PTP Summary</a></li>
            <li id="tab-dealer-account-escalation"><a data-toggle="tab" href="#dealer-account-escalation-checker" title="Account Escalation">Account Escalation</a></li>
        </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel1" class="tab-pane top-buffer active" id="dealer-activity-ptp-summary-checker">
            <div th:replace="dashboard/shared/ptp/ptp-status-summery :: content"></div>
        </div>
        <div role="tabpanel1" class="tab-pane top-buffer" id="dealer-account-escalation-checker">
            <div th:replace="dashboard/loan/dealer/details/panels/middle/checker/account_escalation_checker :: dealer-account-escalation"></div>
        </div>
    </div>

</div>
</body>
</html>
