<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Datewise Follow Up</title>

</head>
<body>
<div id="layout-cibReport" th:fragment="datefollow_info">

    <div class="box-header with-border">
        <h3 class="box-title" >Date Wise Follow Up</h3>
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane top-buffer active" id="date-wise">
            <div class="form-group">
                <div class="row">
                    <div class="margin">
                        <div class="col-sm-2">
                            &nbsp;&nbsp;Start Date :
                        </div>
                        <div  class="col-sm-3 from-group" style="padding-right: 25px;">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="date" name="firstDate" v-model="firstDate" placeholder="Select month"
                                       class="form-control input-sm from"/>
                            </div>
                        </div>
                    </div>
                    <div class="margin">
                        <div class="col-sm-2">
                            End Date :
                        </div>
                        <div  class="col-sm-3 from-group" style="padding-right: 25px;">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="date" name="secondDate" v-model="secondDate" placeholder="Select month"
                                       class="form-control input-sm from"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2" >
                        <button @click="getFollowUpDataByDateRange">Generate Report</button>
                    </div>
                </div>
            </div>
            <div>
                <!--<table  class="table table-condensed table-bordered custom_dt dataTable" id="date_wise_follow_up_table">-->
                <table id="date-wise-followup-table"  class="table table-condensed table-bordered custom_dt dataTable" width="100%">
                    <thead class="thead-light">
                    <tr>
                        <th class="text-center">Created At </th>
                        <th class="text-center">Account</th>
                        <th class="text-center">Outstanding</th>
                        <th class="text-center">Reason</th>
                        <th class="text-center">Follow Up date</th>

                    </tr>
                    </thead>

                    <tbody id="team_datewise_followUp_tbody">

                    </tbody>

                </table>
            </div>
        </div>

    </div>

</div>


</div>
</body>

</html>