<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Proposal Details</title>
</head>

<body>
<div th:fragment="settlement-proposal-details">
    <div class="csi-view-form-full-area csi-view-indtable" id="settlementProposalDetailsApp">
        <div class="box-header with-border csi-view-box-header">
            <h3 class="box-title">Proposal Details</h3>
            <a class=" btn btn-xs btn-primary pull-right btn-add-customer-request" data-toggle="modal" data-target="#modal-settlement-proposal-details" >
                <i class="fa fa-plus-square"></i>
                <span v-if="settlementProposalDetails.id == ''">Add</span>
                <span v-else>Edit</span>
            </a>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="modal fade in" id="modal-settlement-proposal-details"  data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog" style="width: 60%">
                        <div class="modal-content col-sm-12">
                            <div class="modal-header">
                                <h3>Proposal Details</h3>
                            </div>

                            <form  id="settlement-proposal-details-form" action="" method="post" class="form-horizontal" enctype="multipart/form-data">

                                <input type="hidden" name="id" :value="settlementProposalDetails.id">
                                <input name="_csrf" type="hidden">
                                <input :value="customerId" name="customerId" type="hidden">

                                <div class="modal-body">
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left">Proposal Type:</label>
                                        <div class="col-sm-4">
                                            <input type="text" :value="settlementProposalDetails.proposalType" name="proposalType"  class="form-control" placeholder="Proposal Type">
                                        </div>
                                        <label class="col-sm-2 custom-details-lebel-left">Branch Name:</label>
                                        <div class="col-sm-4">
                                            <input type="text" :value="settlementProposalDetails.branchName" name="branchName"  class="form-control" placeholder="Branch Name">
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left">Loan Account No:</label>
                                        <div class="col-sm-4">
                                            <input type="text" :value="settlementProposalDetails.loanAccountNo" name="loanAccountNo"  class="form-control" placeholder="Loan Account No">
                                        </div>
                                        <label class="col-sm-2 custom-details-lebel-left">Loan Account Name:</label>
                                        <div class="col-sm-4">
                                            <input type="text" :value="settlementProposalDetails.loanAccountName" name="loanAccountName"  class="form-control" placeholder="Loan Account Name">
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left">Facility Nature:</label>
                                        <div class="col-sm-4">
                                            <input type="text" :value="settlementProposalDetails.facilityNature" name="facilityNature"  class="form-control" placeholder="Facility Nature">
                                        </div>
                                        <label class="col-sm-2 custom-details-lebel-left">CL Status:</label>
                                        <div class="col-sm-4">
                                            <select :value="settlementProposalDetails.clstatusId ? settlementProposalDetails.clstatusId : ''" name="cLStatus" class="form-control">
                                                <option value="">Select a status</option>
                                                <option v-for="(status, id) in clStatus" :value="status.id">{{status.name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left">Disbursement Date:</label>
                                        <div class="col-sm-4">
                                            <input type="date" :value="formatDateInput(settlementProposalDetails.disbursementDate)" name="disbursementDate"  class="form-control" placeholder="Disbursement Date">
                                        </div>
                                        <label class="col-sm-2 custom-details-lebel-left">Expiry Date:</label>
                                        <div class="col-sm-4">
                                            <input type="date" :value="formatDateInput(settlementProposalDetails.expiryDate)" name="expiryDate"  class="form-control" placeholder="Expiry Date">
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left">Proposal Send by(Name/EID):</label>
                                        <div class="col-sm-4">
                                            <input type="text" :value="settlementProposalDetails.proposalSendBy" name="proposalSendBy"  class="form-control" placeholder="Proposal Send by">
                                        </div>
                                        <label class="col-sm-2 custom-details-lebel-left">Memo/ Note Prepared by(Name/EID):</label>
                                        <div class="col-sm-4">
                                            <input type="text" :value="settlementProposalDetails.memoNotePreparedBy" name="memoNotePreparedBy"  class="form-control" placeholder="Memo/ Note Prepared by">
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left">Proposal Placed to:</label>
                                        <div class="col-sm-4">
                                            <select :value="settlementProposalDetails.proposalPlacedToId ? settlementProposalDetails.proposalPlacedToId : ''"  name="proposalPlacedTo" class="form-control">
                                                <option value="">Select Proposal Placed to</option>
                                                <option v-for="(status, id) in proposalPlaceToList" :value="status.id">{{status.name}}</option>
                                            </select>
                                        </div>
                                        <label class="col-sm-2 custom-details-lebel-left">Approval Level:</label>
                                        <div class="col-sm-4">
                                            <select :value="settlementProposalDetails.approvalLevelId ? settlementProposalDetails.approvalLevelId : ''"  name="approvalLevel" class="form-control">
                                                <option value="">Select Approval Level</option>
                                                <option v-for="(status, id) in approvalLevel" :value="status.id">{{status.name}}</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left">Filling Amount:</label>
                                        <div class="col-sm-4">
                                            <input type="text" :value="settlementProposalDetails.fillingAmount" name="fillingAmount"  class="form-control" placeholder="Filling Amount">
                                        </div>
                                        <label class="col-sm-2 custom-details-lebel-left">Type of case :</label>
                                        <div class="col-sm-4">
                                            <input type="text" :value="settlementProposalDetails.typeOfCase" name="typeOfCase"  class="form-control" placeholder="Type of case ">
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left">Proposal Status:</label>
                                        <div class="col-sm-4">
                                            <select :value="settlementProposalDetails.proposalStatusId ? settlementProposalDetails.proposalStatusId: ''"  name="proposalStatus" class="form-control">
                                                <option value="">Select Proposal Status</option>
                                                <option v-for="(status, id) in proposalStatus" :value="status.id">{{status.name}}</option>
                                            </select>
                                        </div>
                                        <label class="col-sm-2 custom-details-lebel-left">Value of Eligible security:</label>
                                        <div class="col-sm-4">
                                            <input type="text" :value="settlementProposalDetails.valueEligibleSecurity" name="valueEligibleSecurity"  class="form-control" placeholder="Value of Eligible security">
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left">Provision:</label>
                                        <div class="col-sm-4">
                                            <input type="text" :value="settlementProposalDetails.provision" name="provision"  class="form-control" placeholder="Provision">
                                        </div>
                                        <label class="col-sm-2 custom-details-lebel-left">Principal Amount/ Total Amount Disbursed:</label>
                                        <div class="col-sm-4">
                                            <input type="number" :value="settlementProposalDetails.principleAmount" name="principleAmount"  class="form-control" placeholder="Principal Amount/ Total Amount Disbursed">
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left">Interest Taken into Income A/c:</label>
                                        <div class="col-sm-4">
                                            <input type="number" :value="settlementProposalDetails.interestTaken" name="interestTaken"  class="form-control" placeholder="Interest Taken into Income A/c">
                                        </div>
                                        <label class="col-sm-2 custom-details-lebel-left">Interest Kept in Suspense A/c:</label>
                                        <div class="col-sm-4">
                                            <input type="numebr" :value="settlementProposalDetails.interestKept" name="interestKept"  class="form-control" placeholder="Interest Kept in Suspense A/c">
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left">Legal Bill/ Other Expense:</label>
                                        <div class="col-sm-4">
                                            <input type="number" :value="settlementProposalDetails.logalBillOrOtherExpense" name="legalBillOrOtherExpense"  class="form-control" placeholder="Legal Bill/ Other Expense">
                                        </div>
                                        <label class="col-sm-2 custom-details-lebel-left">Sub Total: (PA+ Int. Income+IS+Bill/Charge):</label>
                                        <div class="col-sm-4">
                                            <input type="number" :value="settlementProposalDetails.subTotal" name="subTotal"  class="form-control" placeholder="Sub Total: (PA+ Int. Income+IS+Bill/Charge)">
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left">Total Recovery:</label>
                                        <div class="col-sm-4">
                                            <input type="number" :value="settlementProposalDetails.totalRecovery" name="totalRecovery"  class="form-control" placeholder="Total Recovery">
                                        </div>
                                        <label class="col-sm-2 custom-details-lebel-left">Ledger Outstanding:</label>
                                        <div class="col-sm-4">
                                            <input type="number" :value="settlementProposalDetails.ledgerOutstanding" name="ledgerOutstanding"  class="form-control" placeholder="Ledger Outstanding">
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left">Unapplied Interest:</label>
                                        <div class="col-sm-4">
                                            <input type="number" :value="settlementProposalDetails.unappliedInterest" name="unappliedInterest"  class="form-control" placeholder="Unapplied Interest">
                                        </div>
                                        <label class="col-sm-2 custom-details-lebel-left">Total Claim Amount:</label>
                                        <div class="col-sm-4">
                                            <input type="number" :value="settlementProposalDetails.totalClaimAmount" name="totalClaimAmount"  class="form-control" placeholder="Total Claim Amount">
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left">Existing case status:</label>
                                        <div class="col-sm-4">
                                            <input type="text" :value="settlementProposalDetails.existingCaseStatus" name="existingCaseStatus"  class="form-control" placeholder="Existing case status">
                                        </div>
                                        <label class="col-sm-2 custom-details-lebel-left">Dynamic Calculator for Settlement:</label>
                                        <div class="col-sm-4">
                                            <input type="text" :value="settlementProposalDetails.dynamicCalculator" name="dynamicCalculator"  class="form-control" placeholder="Dynamic Calculator for Settlement">
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left">Proposed for Waiver(Unapplied Interest):</label>
                                        <div class="col-sm-4">
                                            <input type="number" :value="settlementProposalDetails.proposedWaiverUnappliedInterest" name="proposedWaiverUnappliedInterest"  class="form-control" placeholder="Proposed for Waiver">
                                        </div>
                                        <label class="col-sm-2 custom-details-lebel-left">Proposed for Waiver(Interest Suspense):</label>
                                        <div class="col-sm-4">
                                            <input type="number" :value="settlementProposalDetails.proposedWaiverInterestSuspense" name="proposedWaiverInterestSuspense"  class="form-control" placeholder="Proposed for Waiver">
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left">Proposed for Waiver(Income):</label>
                                        <div class="col-sm-4">
                                            <input type="number" :value="settlementProposalDetails.proposedWaiverIncome" name="proposedWaiverIncome"  class="form-control" placeholder="Proposed for Waiver">
                                        </div>
                                        <label class="col-sm-2 custom-details-lebel-left">Proposed for Total Waiver:</label>
                                        <div class="col-sm-4">
                                            <input type="number" :value="settlementProposalDetails.proposedTotalWaiver" name="proposedTotalWaiver"  class="form-control" placeholder="Proposed for Total Waiver">
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left">Borrower wants to pay:</label>
                                        <div class="col-sm-4">
                                            <input type="number" :value="settlementProposalDetails.borrowerWantsToPay" name="borrowerWantsToPay"  class="form-control" placeholder="Borrower wants to pay">
                                        </div>
                                        <label class="col-sm-2 custom-details-lebel-left">Tentative Settlement date:</label>
                                        <div class="col-sm-4">
                                            <input type="date" :value="formatDateInput(settlementProposalDetails.tentativeSettlementDate)" name="tentativeSettlementDate"  class="form-control" placeholder="Tentative Settlement date">
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left">Interest Income:</label>
                                        <div class="col-sm-4">
                                            <input type="number" :value="settlementProposalDetails.interestIncome" name="interestIncome"  class="form-control" placeholder="Interest Income">
                                        </div>
                                        <label class="col-sm-2 custom-details-lebel-left">Capital Release:</label>
                                        <div class="col-sm-4">
                                            <input type="number" :value="settlementProposalDetails.capitalRelease" name="capitalRelease"  class="form-control" placeholder="Capital Release">
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left">NPL Reduced:</label>
                                        <div class="col-sm-4">
                                            <input type="number" :value="settlementProposalDetails.npLReduced" name="npLReduced"  class="form-control" placeholder="NPL Reduced">
                                        </div>
                                        <label class="col-sm-2 custom-details-lebel-left">Remarks/Comments:</label>
                                        <div class="col-sm-4">
                                            <input type="text" :value="settlementProposalDetails.remarks" name="remarks"  class="form-control" placeholder="Remarks">
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left">Legal detail status:</label>
                                        <div class="col-sm-4">
                                            <input type="text" :value="settlementProposalDetails.legalDetailStatus" name="legalDetailStatus"  class="form-control" placeholder="Legal detail status">
                                        </div>
                                        <label class="col-sm-2 custom-details-lebel-left">Total Legal & Other Expense:</label>
                                        <div class="col-sm-4">
                                            <input type="number" :value="settlementProposalDetails.totalLegalAndOtherExpense" name="totalLegalAndOtherExpense"  class="form-control" placeholder="Total Legal & Other Expense">
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left">Attachment (Relevant docs):</label>
                                        <div class="col-sm-4">
                                            <input type="file" class="form-control" placeholder="Attachment" name="file"/>
                                        </div>

                                    </div>
                                </div>

                                <div class="modal-footer text-center">
                                    <button type="submit" class="btn btn-info">Save</button>
                                    <button type="button" id="cardRefModalCancelBtn" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>

            <div class="form-horizontal csi-view-form">
                <div >
                    <table class="table table-striped table-bordered table-condensed" width="100%">
                        <tbody>
                        <div id="layout-form-general" class="loancaseentry-sp general-div" style="margin-left: 0px">
                            <div class="loan-init-details-sp-inner">

                                <div class="form-group row csi-view-form-group">
                                    <label class="col-sm-3 custom-details-lebel-left ">Proposal Type :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.proposalType}}</label>
                                    <label class="col-sm-3 custom-details-lebel-left ">Proposal Status :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.proposalStatus ? settlementProposalDetails.proposalStatus: ''}}</label>
                                </div>

                                <div class="form-group row csi-view-form-group">
                                    <label class="col-sm-3 custom-details-lebel-left ">Proposed for Waiver:(Unapplied Interest) :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.proposedWaiverUnappliedInterest}}</label>
                                    <label class="col-sm-3 custom-details-lebel-left ">Branch Name :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.branchName}}</label>
                                </div>

                                <div class="form-group row csi-view-form-group">
                                    <label class="col-sm-3 custom-details-lebel-left ">Value of Eligible security :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.valueEligibleSecurity}}</label>
                                    <label class="col-sm-3 custom-details-lebel-left ">Proposed for Waiver:(Interest Suspense) :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.proposedWaiverInterestSuspense}}</label>
                                </div>

                                <div class="form-group row csi-view-form-group">
                                    <label class="col-sm-3 custom-details-lebel-left ">Loan Account No :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.loanAccountNo}}</label>
                                    <label class="col-sm-3 custom-details-lebel-left ">Provision :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.provision}}</label>
                                </div>

                                <div class="form-group row csi-view-form-group">
                                    <label class="col-sm-3 custom-details-lebel-left ">Proposed for Waiver: (Income) :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.proposedWaiverIncome}}</label>
                                    <label class="col-sm-3 custom-details-lebel-left ">Loan Account Name :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.loanAccountName}}</label>
                                </div>

                                <div class="form-group row csi-view-form-group">
                                    <label class="col-sm-3 custom-details-lebel-left ">Principal Amount/ Total Amount Disbursed :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.principleAmount}}</label>
                                    <label class="col-sm-3 custom-details-lebel-left ">Proposed for Total Waiver :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.proposedTotalWaiver}}</label>
                                </div>

                                <div class="form-group row csi-view-form-group">
                                    <label class="col-sm-3 custom-details-lebel-left ">Facility Nature :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.facilityNature}}</label>
                                    <label class="col-sm-3 custom-details-lebel-left ">Interest Taken into Income A/C :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.interestTaken}}</label>
                                </div>

                                <div class="form-group row csi-view-form-group">
                                    <label class="col-sm-3 custom-details-lebel-left ">Borrower wants to pay :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.borrowerWantsToPay}}</label>
                                    <label class="col-sm-3 custom-details-lebel-left ">CL Status :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.clstatus ? settlementProposalDetails.clstatus : ''}}</label>
                                </div>

                                <div class="form-group row csi-view-form-group">
                                    <label class="col-sm-3 custom-details-lebel-left ">Interest Kept in Suspense A/C :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.interestKept ? settlementProposalDetails.interestKept : ''}}</label>
                                    <label class="col-sm-3 custom-details-lebel-left ">Tentative Settlement date :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.tentativeSettlementDate ? formatDate(settlementProposalDetails.tentativeSettlementDate) : ''}}</label>
                                </div>

                                <div class="form-group row csi-view-form-group">
                                    <label class="col-sm-3 custom-details-lebel-left ">Disbursement Date :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{formatDate(settlementProposalDetails.disbursementDate)}}</label>
                                    <label class="col-sm-3 custom-details-lebel-left ">Legal Bill/ Other Expense :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.legalBillOrOtherExpense}}</label>
                                </div>

                                <div class="form-group row csi-view-form-group">
                                    <label class="col-sm-3 custom-details-lebel-left ">Interest Income :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.interestIncome}}</label>
                                    <label class="col-sm-3 custom-details-lebel-left ">Expiry Date :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{formatDate(settlementProposalDetails.expiryDate)}}</label>
                                </div>

                                <div class="form-group row csi-view-form-group">
                                    <label class="col-sm-3 custom-details-lebel-left ">Sub Total: (PA+ Int. Income+IS+Bill/Charge) :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.subTotal}}</label>
                                    <label class="col-sm-3 custom-details-lebel-left ">Capital Release :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.capitalRelease}}</label>
                                </div>

                                <div class="form-group row csi-view-form-group">
                                    <label class="col-sm-3 custom-details-lebel-left ">Proposal Send by (Name, EID) :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.proposalSendBy}}</label>
                                    <label class="col-sm-3 custom-details-lebel-left ">Total Recovery :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.totalRecovery}}</label>
                                </div>

                                <div class="form-group row csi-view-form-group">
                                    <label class="col-sm-3 custom-details-lebel-left ">NPL Reduced :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.npLReduced}}</label>
                                    <label class="col-sm-3 custom-details-lebel-left ">Memo/ Note Prepared by (Name,EID) :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.memoNotePreparedBy}}</label>
                                </div>

                                <div class="form-group row csi-view-form-group">
                                    <label class="col-sm-3 custom-details-lebel-left ">Ledger Outstanding :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.ledgerOutstanding}}</label>
                                    <label class="col-sm-3 custom-details-lebel-left ">Remarks/Comments :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.remarks}}</label>
                                </div>

                                <div class="form-group row csi-view-form-group">
                                    <label class="col-sm-3 custom-details-lebel-left ">Proposal Placed to :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.propPlaceName ? settlementProposalDetails.propPlaceName : ''}}</label>
                                    <label class="col-sm-3 custom-details-lebel-left ">Unapplied Interest :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.unappliedInterest}}</label>
                                </div>

                                <div class="form-group row csi-view-form-group">
                                    <label class="col-sm-3 custom-details-lebel-left ">Attachment: (Relevant docs) :</label>
                                    <label class="col-sm-3 custom-form-lebel">
                                        <a :href="'/collection/dms/document/preview?id='+settlementProposalDetails.dmsFileId+ '&type='+settlementProposalDetails.dmsFileType">{{settlementProposalDetails.fileName}}</a>
                                    </label>
                                    <label class="col-sm-3 custom-details-lebel-left ">Approval Level :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.approvalLevelName ? settlementProposalDetails.approvalLevelName : ''}}</label>
                                </div>

                                <div class="form-group row csi-view-form-group">
                                    <label class="col-sm-3 custom-details-lebel-left ">Total Claim Amount :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.totalClaimAmount}}</label>
                                    <label class="col-sm-3 custom-details-lebel-left ">Legal detail status :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.legalDetailStatus}}</label>
                                </div>

                                <div class="form-group row csi-view-form-group">
                                    <label class="col-sm-3 custom-details-lebel-left ">Filling Amount :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.fillingAmount}}</label>
                                    <label class="col-sm-3 custom-details-lebel-left ">Existing case status :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.existingCaseStatus}}</label>
                                </div>

                                <div class="form-group row csi-view-form-group">
                                    <label class="col-sm-3 custom-details-lebel-left ">Filling Amount :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.fillingAmount}}</label>
                                    <label class="col-sm-3 custom-details-lebel-left ">Existing case status :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.existingCaseStatus}}</label>
                                </div>

                                <div class="form-group row csi-view-form-group">
                                    <label class="col-sm-3 custom-details-lebel-left ">Total Legal & Other Expense :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.totalLegalAndOtherExpense}}</label>
                                    <label class="col-sm-3 custom-details-lebel-left ">Type of case :</label>
                                    <label class="col-sm-3 custom-form-lebel">{{settlementProposalDetails.typeOfCase}}</label>
                                </div>

                                <div class="form-group row csi-view-form-group">
                                    <label class="col-sm-3 custom-details-lebel-left ">Dynamic Calculator for Settlement :</label>
                                    <button type="button" class="btn btn-info btn-lg" onclick="openCalculator()" >Open Calculator</button>
                                </div>

                            </div>
                        </div>

                        <!--<tr>-->
                            <!--<td>Proposal Type</td>-->
                            <!--<td>{{proposalDetails.proposalType}}</td>-->
                            <!--<td>Proposal Status</td>-->
                            <!--<td>{{proposalDetails.proposalStatus ? proposalDetails.proposalStatus.name : ''}}</td>-->
                            <!--<td>Proposed for Waiver:(Unapplied Interest)</td>-->
                            <!--<td>{{proposalDetails.proposedWaiverUnappliedInterest}}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>Branch Name</td>-->
                            <!--<td>{{proposalDetails.branchName}}</td>-->
                            <!--<td>Value of Eligible security</td>-->
                            <!--<td>{{proposalDetails.valueEligibleSecurity}}</td>-->
                            <!--<td>Proposed for Waiver:(Interest Suspense)</td>-->
                            <!--<td>{{proposalDetails.proposedWaiverInterestSuspense}}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>Loan Account No</td>-->
                            <!--<td>{{proposalDetails.loanAccountNo}}</td>-->
                            <!--<td>Provision</td>-->
                            <!--<td>{{proposalDetails.provision}}</td>-->
                            <!--<td>Proposed for Waiver: (Income)</td>-->
                            <!--<td>{{proposalDetails.proposedWaiverIncome}}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>Loan Account Name</td>-->
                            <!--<td>{{proposalDetails.loanAccountName}}</td>-->
                            <!--<td>Principal Amount/ Total Amount Disbursed</td>-->
                            <!--<td>{{proposalDetails.principleAmount}}</td>-->
                            <!--<td>Proposed for Total Waiver</td>-->
                            <!--<td>{{proposalDetails.proposedTotalWaiver}}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>Facility Nature</td>-->
                            <!--<td>{{proposalDetails.facilityNature}}</td>-->
                            <!--<td>Interest Taken into Income A/C</td>-->
                            <!--<td>{{proposalDetails.interestTaken}}</td>-->
                            <!--<td>Borrower wants to pay</td>-->
                            <!--<td>{{proposalDetails.borrowerWantsToPay}}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>CL Status </td>-->
                            <!--<td>{{proposalDetails.clstatus ? proposalDetails.clstatus.name : ''}}</td>-->
                            <!--<td>Interest Kept in Suspense A/c</td>-->
                            <!--<td>{{proposalDetails.interestKept ? proposalDetails.interestKept : ''}}</td>-->
                            <!--<td>Tentative Settlement date</td>-->
                            <!--<td>{{proposalDetails.tentativeSettlementDate ? formatDate(proposalDetails.tentativeSettlementDate) : ''}}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>Disbursement Date</td>-->
                            <!--<td>{{formatDate(proposalDetails.disbursementDate)}}</td>-->
                            <!--<td>Legal Bill/ Other Expense</td>-->
                            <!--<td>{{proposalDetails.totalLegalOrOtherExpense}}</td>-->
                            <!--<td>Interest Income</td>-->
                            <!--<td>{{proposalDetails.interestIncome}}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>Expiry Date</td>-->
                            <!--<td>{{formatDate(proposalDetails.expiryDate)}}</td>-->
                            <!--<td>Sub Total: (PA+ Int. Income+IS+Bill/Charge)</td>-->
                            <!--<td>{{proposalDetails.subTotal}}</td>-->
                            <!--<td>Capital Release</td>-->
                            <!--<td>{{proposalDetails.capitalRelease}}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>Proposal Send by (Name, EID)</td>-->
                            <!--<td>{{proposalDetails.proposalSendBy}}</td>-->
                            <!--<td>Total Recovery</td>-->
                            <!--<td>{{proposalDetails.totalRecovery}}</td>-->
                            <!--<td>NPL Reduced</td>-->
                            <!--<td>{{proposalDetails.npLReduced}}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>Memo/ Note Prepared by (Name,EID)</td>-->
                            <!--<td>{{proposalDetails.memoNotePreparedBy}}</td>-->
                            <!--<td>Ledger Outstanding</td>-->
                            <!--<td>{{proposalDetails.ledgerOutstanding}}</td>-->
                            <!--<td>Remarks/Comments</td>-->
                            <!--<td>{{proposalDetails.remarks}}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>Proposal Placed to</td>-->
                            <!--<td>{{proposalDetails.proposalPlacedTo ? proposalDetails.proposalPlacedTo.name : ''}}</td>-->
                            <!--<td>Unapplied Interest</td>-->
                            <!--<td>{{proposalDetails.unappliedInterest}}</td>-->
                            <!--<td>Attachment: (Relevant docs)</td>-->
                            <!--<td>{{proposalDetails.fileName}}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>Approval Level</td>-->
                            <!--<td>{{proposalDetails.approvalLevel ? proposalDetails.approvalLevel.name : ''}}</td>-->
                            <!--<td>Total Claim Amount</td>-->
                            <!--<td>{{proposalDetails.totalClaimAmount}}</td>-->
                            <!--<td>Legal detail status</td>-->
                            <!--<td>{{proposalDetails.legalDetailStatus}}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>Filling Amount</td>-->
                            <!--<td>{{proposalDetails.fillingAmount}}</td>-->
                            <!--<td>Existing case status</td>-->
                            <!--<td>{{proposalDetails.existingCaseStatus}}</td>-->
                            <!--<td>Total Legal & Other Expense</td>-->
                            <!--<td>{{proposalDetails.totalLegalAndOtherExpense}}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>Type of case </td>-->
                            <!--<td>{{proposalDetails.typeOfCase}}</td>-->
                            <!--<td>Dynamic Calculator for Settlement </td>-->
                            <!--<td>{{proposalDetails.dynamicCalculator}}</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                        <!--</tr>-->

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <script>
        settlementProposalDetailsApp = new Vue({
            el: '#settlementProposalDetailsApp',
            data: {
                clStatus: [],
                selectedClStatus: {},

                proposalStatus: [],
                geSettlementProposalDetailsProposalStatus: {},

                proposalPlaceToList: [],
                geSettlementProposalDetailsProposalPlaceTo: {},

                approvalLevel: [],
                geSettlementProposalDetailsApprovalLevel:{},

                customerId: '',
                // proposalDetails: {},
                settlementProposalDetails: {}
            },
            methods: {
                formatDateInput: function (date) {
                    let date1 = date ? new Date(date) : new Date()

                    return date ? date1.getFullYear()
                        +'-'+((date1.getMonth()+1) < 10 ? '0'+(date1.getMonth()+1) : (date1.getMonth()+1))
                        +'-'+(date1.getDate() < 10 ? '0'+date1.getDate() : date1.getDate())
                        : '';
                },
                formatDate: function (date) {
                    return formatDate_DD_MMM_YYYY(date)
                }
            }
        })

        $(document).ready(function () {
            $('#settlement-proposal-details-form input[name="_csrf"]').val(csrfToken);
            //$('#settlement-proposal-details-form input[name="customerId"]').val(customerId)
            settlementProposalDetailsApp.customerId = customerId

            $('#tab-settlement-proposal-details').on('click', function () {
                geSettlementProposalDetailsCLStatus();
                geSettlementProposalDetailsProposalStatus();
                geSettlementProposalDetailsProposalPlaceTo();
                geSettlementProposalDetailsApprovalLevel();

                geSettlementProposalDetails();
            })

            function geSettlementProposalDetails(){
                $.ajax({
                    url: '/collection/samd/data-entry/settlement-proposal-details/find?customerId='+customerId,
                    success: function (response) {
                        console.log('<------------------------------------------------------------------->')
                        console.log(response)
                        settlementProposalDetailsApp.settlementProposalDetails = response;
                    },
                    error: function (response) {
                        alert("Unsuccessful")
                    }
                })
            }

            function geSettlementProposalDetailsCLStatus(){
                $.ajax({
                    url:'/collection/samd/data-entry/settlement-proposal-details/cl-status/list',
                    success: function (response) {
                        settlementProposalDetailsApp.clStatus = response;
                    },
                    error: function (response) {
                        alert("Unsuccessful");
                    }
                })
            }

            function geSettlementProposalDetailsProposalStatus(){
                $.ajax({
                    url: '/collection/samd/data-entry/settlement-proposal-details/proposal-status/list',
                    success: function (response) {
                        settlementProposalDetailsApp.proposalStatus = response;
                    },
                    error: function (response) {
                        alert("Unsuccessful");
                    }
                })
            }

            function geSettlementProposalDetailsProposalPlaceTo(){
                $.ajax({
                    url: '/collection/samd/data-entry/settlement-proposal-details/proposal-place-to/list',
                    success: function (response) {
                        settlementProposalDetailsApp.proposalPlaceToList = response;
                    },
                    error: function (response) {
                        alert("Unsuccessful");
                    }
                })
            }

            function geSettlementProposalDetailsApprovalLevel(){
                $.ajax({
                    url: '/collection/samd/data-entry/settlement-proposal-details/approval-level/list',
                    success: function (response) {
                        settlementProposalDetailsApp.approvalLevel = response;
                    },
                    error: function (response) {
                        alert("Unsuccessful");
                    }
                })
            }

            $('#settlement-proposal-details-form').on('submit', function (e) {
                e.preventDefault();

                var data = new FormData(this);
                data.append("cLStatus",proposalDetailsApp.selectedClStatus);
                data.append("proposalStatus",settlementProposalDetailsApp.geSettlementProposalDetailsProposalStatus);
                data.append("proposalPlacedTo",settlementProposalDetailsApp.geSettlementProposalDetailsProposalPlaceTo);
                data.append("approvalLevel",settlementProposalDetailsApp.geSettlementProposalDetailsApprovalLevel);

                $.ajax({
                    type:'POST',
                    url: '/collection/samd/data-entry/settlement-proposal-details/save',
                    data: data,
                    enctype: 'multipart/form-data',
                    processData: false,
                    contentType: false,
                    headers: {
                        'X-CSRF-TOKEN': window.csrfToken,
                    },
                    success: function (response, xhr, status) {
                        console.log('root response');
                        console.log(response);
                        $('#modal-settlement-proposal-details').modal('toggle');
                        $('#modal-settlement-proposal-details').find("input, multiselect").val("");
                        geSettlementProposalDetails();
                        swal("Saved Successfully");

                    },
                    error: function (response) {
                        alert("Unsuccessful")
                    }
                })
            })

        })
    </script>
</div>
</body>
</html>