<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Source of Recovery Tools</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <!-- .box -->
                    <div class="box box-info">
                        <div class="box-header with-border" style="text-align: center;">
                            <h3 th:if="${sourceOfRecovery?.id == null}" class="box-title">Create Source of Recovery Tools</h3>
                            <h3 th:if="${sourceOfRecovery?.id != null}" class="box-title">Update Source of Recovery Tools</h3>
                        </div>
                        <!-- Horizontal Form -->
                        <form class="form-horizontal validate" method="post" th:action="@{/collection/samd/setup/source-of-recovery-tools/create}" th:object="${sourceOfRecovery}">
                            <input type="hidden" name="id" th:value="${sourceOfRecovery?.id}"></input>
                            <div class="box-body">
                                <div class="form-group">
                                    <label  class="col-sm-3 custom-form-lebel-right required">Name</label>
                                    <input type="text" name="name" th:value="${sourceOfRecovery?.name}"  class="col-sm-8 custom-form-control required"  placeholder="Name" />

                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 custom-form-lebel-right required">Status</label>
                                    <div class="col-sm-8">
                                        <fieldset id="groupcibStatus">
                                            <input  type="radio" name="status" id="expStatusStatusActive" th:checked="${sourceOfRecovery?.status} == true"  th:value="1" required="required"> Active</input>
                                            <input type="radio"  name="status" id="expStatusStatusInactive" th:checked="${sourceOfRecovery?.status} == false"  th:value="0"> In Active </input>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                <button type="submit" class="btn btn-info ">Submit</button>
                                <a type="submit" class="btn btn-danger" href="/collection/samd/setup/source-of-recovery-tools/list">Cancel</a>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
    </div>

</div>
</body>
</html>