<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Follow Up</title>
</head>
<body>

<div th:fragment="content" th:remove="tag">
    <form class="form-horizontal csi-view-form" id="follow-up-summary">
        <table class="table table-condensed table-bordered custom_dt">
            <thead class="thead-light">
            <tr>
                <th class="text-center">Follow Up</th>
                <th class="text-center">Number of Account</th>
                <th class="text-center">Total Outstanding</th>
            </tr>

            </thead>

            <tbody id="followUpTable">
            <tr v-for="(followup, index) in followupList">
                <td>
                    <a data-toggle="modal"
                       data-target="#modal-followup-details"
                       style="cursor: pointer"
                       @click="changeFilter(index)">
                        {{followup.reason}}
                    </a>
                </td>
                <td class="text-right">{{followup.totalAccount}}</td>
                <td class="text-right">{{followup.outstandingAmount | formatBdtInEnglish}}</td>
            </tr>
            </tbody>

        </table>
        <div class="modal fade" id="modal-followup-details">
            <div class="modal-dialog" style="height: 100%; width: 70%; padding-right: 20px;">
                <div class="modal-content" style="max-height: 900px;">
                    <div class="modal-header" style="text-align: center;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Followup Details</h4>
                    </div>
                    <div style="overflow: auto; max-height: 800px; padding: 20px; margin-bottom: 20px;">
                        <table class="table table-condensed table-hover table-bordered">
                            <thead class="thead-light">
                            <tr>
                                <th class="text-center">SL</th>
                                <th class="text-center">Account No</th>
                                <th class="text-center">Account Name</th>
                                <th class="text-center">Followup Date</th>
                                <th class="text-center">Followup Time</th>
                                <th class="text-center">Reason</th>
                                <!--<th class="text-center">Remarks</th>-->
                                <th class="text-center">Dealer Name</th>
                            </tr>
                            </thead>
                            <tbody class="tbl-row">
                            <tr v-for="(followup, index) in followupSummaryWiseList">
                                <td class="text-right">{{index+1}}</td>
                                <td class="text-center">
                                    <a :href="'/profile/loanprofile/search?account='+ followup.accountNo"
                                       target="_blank">{{followup.accountNo}}</a>
                                </td>
                                <td class="text-left">{{followup.accountName}}</td>
                                <td class="text-center text-nowrap">{{followup.followupDate}}</td>
                                <td class="text-center">{{followup.followupTime}}</td>
                                <td class="text-left">
                                    <span v-if="followup.reason.toLowerCase() === 'call' || followup.reason.toLowerCase() === 'phone'"
                                          class="btn btn-xs bg-light-blue"
                                          title="Call" style="margin: 0px 2px">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    <span v-if="followup.reason.toLowerCase() === 'email'"
                                          class="btn btn-xs bg-orange"
                                          title="Email" style="margin: 0px 2px">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    <span v-if="followup.reason.toLowerCase() === 'sms'"
                                          class="btn btn-xs bg-olive"
                                          title="SMS" style="margin: 0px 2px">
                                        <i class="fa fa-comments"></i>
                                    </span>
                                    <span v-if="followup.reason.toLowerCase() === 'visit'"
                                          class="btn btn-xs bg-purple"
                                          title="Visit" style="margin: 0px 2px">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </td>
                                <!--<td class="text-center">{{followup.remarks}}</td>-->
                                <td class="text-left">{{followup.dealerName}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script th:inline="javascript">
        $(document).ready(function () {
            $("#tab-follow-up").click(function (event) {
                followUpApp.getFollowupList();
            });
        });
    </script>
    <script>
        var followUpApp = new Vue({
            el: '#follow-up-summary',
            data: {
                followupList: [],
                followupSummaryWiseList: [],
            },
            filters: {
                formatBdtInEnglish: function (value) {
                    return formatBdtInEnglish(value);
                }
            },
            methods: {
                getFollowupList() {
                    let designation = $("#globalUserDesignationForSummary").val();
                    var userPin = $("#globalUserPinForSummary").val();
                    let url = '/retail/loan/dashboard/follow-up?designation=' + designation + '&userPin=' + userPin;
                    this.$http.get(url, {credentials: true, headers: {'X-CSRF-TOKEN': window.csrfToken}})
                        .then(res => {
                            let contentType = res.headers.get('Content-Type');
                            if (res.body && !contentType.includes('text/html')) {

                                this.followupList = res.body;
                            } else {
                                swal("Something went wrong");
                            }
                        }).catch(err => {
                        console.log(err);
                    })
                },

                changeFilter(index) {
                    this.followupSummaryWiseList = this.followupList[index].followUpDetails;
                }
            }

        });
    </script>
</div>

</body>


</html>