<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Work Management</title>
</head>
<body>
<div class="bs-example" th:fragment="teamleader-work-management">
    <div class="multi-line-broadcom-div">
        <ul id="emp-info-tabs" class="nav nav-tabs">
            <li id="tab-work-management-supervisor" class="active">
                <a data-toggle="tab" href="#work-management-supervisor" title="Work Management of Supervisor">Work Management of Supervisor</a>
            </li>

            <li id="tab-work-management-employee-card">
                <a data-toggle="tab" href="#work-management-employee" title="Work Management of Employee">Work Management of Employee</a>
            </li>

        </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel1" class="tab-pane top-buffer active" id="work-management-supervisor">
            <div th:replace="dashboard/card/teamleader/details/panels/middle/work_management_supervisor :: work_management_supervisor"></div>
        </div>
        <div role="tabpanel1" class="tab-pane top-buffer" id="work-management-employee">
            <div th:replace="dashboard/card/teamleader/details/panels/middle/work_management_employee_card :: work-management-employee"></div>
        </div>
    </div>

</div>
</body>
</html>
