<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Performance</title>
</head>
<body>
<div id="layout-cibReport" th:fragment="distri_info">

    <div class="box-header with-border">
        <h3 class="box-title" >Distribution and Status Summary</h3>
    </div>

    <br/>
    <br/>

    <div class="multi-line-broadcom-div">
        <ul id="info-tabs" class="nav nav-tabs">
            <li id="tab-amount" class="active">
                <a data-toggle="tab" href="#dass-amount" id="loanAmountWiseDistSummaryTab">Amount Wise</a>
            </li>
            <li id="tab-account">
                <a data-toggle="tab" href="#dass-account" id="loanAccWiseDistSummaryTab">Account Wise</a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane top-buffer active" id="dass-amount">
            <div th:replace="dashboard/card/shared/queue_status_summary/amount_wise  :: amount_wise_fragement"></div>
        </div>

        <div role="tabpanel" class="tab-pane top-buffer" id="dass-account">
            <div th:replace="dashboard/card/shared/queue_status_summary/account_wise  :: account_wise_fragement"></div>
        </div>

        <!--<div role="tabpanel" class="tab-pane top-buffer active" id="dass-amount">-->
            <!--<center><h5>Total</h5></center>-->
            <!--<table class="table table-condensed table-bordered" style="overflow: auto;width: 100%">-->
                <!--<thead>-->
                <!--<th class="text-center">DPD</th>-->
                <!--<th class="text-center">Total</th>-->
                <!--<th class="text-center">Touched</th>-->
                <!--<th class="text-center">Untouched</th>-->
                <!--<th class="text-center">Pending</th>-->
                <!--<th class="text-center" colspan="4">PAR</th>-->
                <!--<th class="text-center" colspan="4">NPL</th>-->
                <!--</thead>-->
                <!--<tbody id="dass_amount_data">-->
                <!--<tr>-->
                    <!--<td class="text-center"></td>-->
                    <!--<td class="text-center" id="distribution_status_summary_total_total"></td>-->
                    <!--<td class="text-center" id="touched_total"></td>-->
                    <!--<td class="text-center" id="un_touched_total"></td>-->
                    <!--<td class="text-center" id="pending_total"></td>-->
                    <!--<td class="text-center text-bold">Release</td>-->
                    <!--<td class="text-center text-bold">Remaining</td>-->
                    <!--<td class="text-center text-bold">Queue</td>-->
                    <!--<td class="text-center text-bold"title="Queue Next Date">Queue ND</td>-->
                    <!--<td class="text-center text-bold">Release</td>-->
                    <!--<td class="text-center text-bold">Remaining</td>-->
                    <!--<td class="text-center text-bold">Queue</td>-->
                    <!--<td class="text-center text-bold" title="Queue Next Date">Queue ND</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->

            <!--<br/>-->

            <!--<center><h5>Percentage (%)</h5></center>-->
            <!--<table class="table table-condensed table-bordered"-->
                   <!--style="overflow: auto;width: 100%">-->
                <!--<thead>-->
                <!--<th class="text-center">DPD</th>-->
                <!--<th class="text-center">Total</th>-->
                <!--<th class="text-center">Touched</th>-->
                <!--<th class="text-center">Untouched</th>-->
                <!--<th class="text-center">Pending</th>-->
                <!--<th class="text-center" colspan="4">PAR</th>-->
                <!--<th class="text-center" colspan="4">NPL</th>-->
                <!--</thead>-->
                <!--<tbody id="dass_amount_per_data">-->
                <!--<tr>-->
                    <!--<td class="text-center"></td>-->
                    <!--<td class="text-center"></td>-->
                    <!--<td class="text-center"></td>-->
                    <!--<td class="text-center"></td>-->
                    <!--<td class="text-center"></td>-->
                    <!--<td class="text-center text-bold">Release</td>-->
                    <!--<td class="text-center text-bold">Remaining</td>-->
                    <!--<td class="text-center text-bold">Queue</td>-->
                    <!--<td class="text-center text-bold"title="Queue Next Date">Queue ND</td>-->
                    <!--<td class="text-center text-bold">Release</td>-->
                    <!--<td class="text-center text-bold">Remaining</td>-->
                    <!--<td class="text-center text-bold">Queue</td>-->
                    <!--<td class="text-center text-bold" title="Queue Next Date">Queue ND</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->

        <!--</div>-->

        <!--<div role="tabpanel" class="tab-pane top-buffer" id="dass-account">-->
            <!--<center><h5>Total</h5></center>-->
            <!--<table class="table table-condensed table-bordered" style="overflow: auto;width: 100%">-->
                <!--<thead>-->
                <!--<th class="text-center">DPD</th>-->
                <!--<th class="text-center">Total</th>-->
                <!--<th class="text-center">Touched</th>-->
                <!--<th class="text-center">Untouched</th>-->
                <!--<th class="text-center">Pending</th>-->
                <!--<th class="text-center" colspan="4">PAR</th>-->
                <!--<th class="text-center" colspan="4">NPL</th>-->
                <!--</thead>-->
                <!--<tbody id="dass_account_data">-->
                <!--<tr>-->
                    <!--<td class="text-center"></td>-->
                    <!--<td class="text-center" id="account_wise_total_total"></td>-->
                    <!--<td class="text-center" id="account_wise_touched_total"></td>-->
                    <!--<td class="text-center" id="account_wise_un_touched_total"></td>-->
                    <!--<td class="text-center" id="account_wise_pending_total"></td>-->
                    <!--<td class="text-center text-bold">Release</td>-->
                    <!--<td class="text-center text-bold">Remaining</td>-->
                    <!--<td class="text-center text-bold">Queue</td>-->
                    <!--<td class="text-center text-bold"title="Queue Next Date">Queue ND</td>-->
                    <!--<td class="text-center text-bold">Release</td>-->
                    <!--<td class="text-center text-bold">Remaining</td>-->
                    <!--<td class="text-center text-bold">Queue</td>-->
                    <!--<td class="text-center text-bold" title="Queue Next Date">Queue ND</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->

            <!--<br/>-->

            <!--<center><h5>Percentage (%)</h5></center>-->
            <!--<table class="table table-condensed table-bordered"-->
                   <!--style="overflow: auto;width: 100%">-->
                <!--<thead>-->
                <!--<th class="text-center">DPD</th>-->
                <!--<th class="text-center">Total</th>-->
                <!--<th class="text-center">Touched</th>-->
                <!--<th class="text-center">Untouched</th>-->
                <!--<th class="text-center">Pending</th>-->
                <!--<th class="text-center" colspan="4">PAR</th>-->
                <!--<th class="text-center" colspan="4">NPL</th>-->
                <!--</thead>-->
                <!--<tbody id="dass_account_per_data">-->
                <!--<tr>-->
                    <!--<td class="text-center"></td>-->
                    <!--<td class="text-center"></td>-->
                    <!--<td class="text-center"></td>-->
                    <!--<td class="text-center"></td>-->
                    <!--<td class="text-center"></td>-->
                    <!--<td class="text-center text-bold">Release</td>-->
                    <!--<td class="text-center text-bold">Remaining</td>-->
                    <!--<td class="text-center text-bold">Queue</td>-->
                    <!--<td class="text-center text-bold"title="Queue Next Date">Queue ND</td>-->
                    <!--<td class="text-center text-bold">Release</td>-->
                    <!--<td class="text-center text-bold">Remaining</td>-->
                    <!--<td class="text-center text-bold">Queue</td>-->
                    <!--<td class="text-center text-bold" title="Queue Next Date">Queue ND</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
    </div>


</div>


</body>


</html>

