<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Customer Info</title>
</head>
<body>
<div class="bs-example" th:fragment="associated-facilities-main">
    <div class="multi-line-broadcom-div">
        <ul id="info-tabs" class="nav nav-tabs">
            <li id="tab-security-details" class="active"><a data-toggle="tab" href="#securitydetails" title="Security Details:">Security Details</a></li>
            <!--<li id="tab-pay-flex-details"><a data-toggle="tab" href="#payflexdetails" title="Pay flex Details">Pay flex Details</a></li>-->
            <li id="tab-loyalty-program-details"><a data-toggle="tab" href="#loyaltyprogramdetails " title="Loyalty Program Details ">Loyalty Program Details </a></li>
        </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane top-buffer active" id="securitydetails">
            <div th:replace="collection/cardprofile/details/panels/middle/security_details :: security-details"></div>
        </div>
        <div role="tabpane2" class="tab-pane top-buffer" id="payflexdetails">
            <div th:replace="collection/cardprofile/details/panels/middle/pay_flex_details :: pay-flex-details"></div>
        </div>

        <div role="tabpane3" class="tab-pane top-buffer" id="loyaltyprogramdetails">
            <div th:replace="collection/cardprofile/details/panels/middle/loyalty_program_details :: loyalty-program-details"></div>
        </div>

    </div>

</div>
</body>
</html>