<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <title> Final Settlement Details</title>
</head>
<body>
<div id="layout-cibReport" th:fragment="final-settlement-details">
    <div class="csi-view-form-full-area csi-view-indtable" style="padding: 10px;">
        <div class="box-header with-border csi-view-box-header">
            <h3 class="box-title">Final Settlement Calculator</h3>
        </div>

        <div class="box-body" id="final_settlement">
            <div class="row">
                <form class="form-horizontal" method="post" id="advSearchForm" name="advSearchForm" action="">
                   <div class="form-group">
                       <label class="col-sm-1 "></label>
                       <label class="col-sm-4 custom-form-lebel-right" style="text-align: center;padding: 20px;background: aliceblue;"><b>Final Settlement Calculator-Credit Card(BDT)</b></label>
                   </div>

                    <!--<div class="form-group">

                        <label class="col-sm-3 custom-form-lebel-right">Unbuild Amount </label>
                        <div class="col-sm-3">
                            <input readonly type="text" class="form-control input-sm"
                                   placeholder="Present Outstanding" id="unbuild-amount" v-model="finalSattlementCalculatorDTO.presentOutstanding" name="presentOutstanding"/>
                        </div>
                    </div>-->

                    <div class="form-group">
                        <label class="col-sm-3 custom-form-lebel-right">Unbilled Amount :</label>
                        <div class="col-sm-3">
                            <input readonly type="text" class="form-control input-sm"
                                   placeholder="Unbilled Amount" id="unbilledAmountBdt" v-model="finalSattlementCalculatorDTO.unbilledAmount" name="unbilledAmount"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 custom-form-lebel-right">Debit on Hold :</label>
                        <div class="col-sm-3">
                            <input v-model="debitOnHold" type="number" class="form-control input-sm"
                                   placeholder="Debit on Hold" id="debitOnHold" name="debitOnHold"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 custom-form-lebel-right">Live Transaction :</label>
                        <div class="col-sm-3">
                            <input v-model="liveTransaction" type="number" class="form-control input-sm"
                                   placeholder="Live Transaction"  id="liveTransaction" name="liveTransaction"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 custom-form-lebel-right">Unpaid EMI Amount :</label>
                        <div class="col-sm-3">
                            <input v-model="unpaidEmiAmount" type="number" class="form-control input-sm"
                                   placeholder="Unpaid EMI Amount" id="unpaidEmiAmount" name="unpaidEmiAmount"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 custom-form-lebel-right">Accured Interest Amount :</label>
                        <div class="col-sm-3">
                            <input v-model="accuredInterestAmount" type="number" class="form-control input-sm"
                                   placeholder="Accured Interest Amount" id="accuredInterestAmount" name="accuredInterestAmount"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 custom-form-lebel-right">Early EMI Settlement Fees : </label>
                        <div class="col-sm-3">
                            <input v-model="SettlementFees" type="number" class="form-control input-sm"
                                   placeholder="Settlement Fees" id="SettlementFees" name=""/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 custom-form-lebel-right">Vat : </label>
                        <div class="col-sm-3">
                            <input v-model="vat" type="number" class="form-control input-sm"
                                   placeholder="Vat" id="vat" name=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 custom-form-lebel-right">Live Payment :</label>
                        <div class="col-sm-3">
                            <input v-model="livePayment" type="number" class="form-control input-sm"
                                   placeholder="Live Payment" id="livePayment" name="livePayment"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 custom-form-lebel-right">Sattlement Amount :</label>
                        <div class="col-sm-3">
                            <input readonly :value="totalCalculator" type="number" class="form-control input-sm"
                                   placeholder="Sattlement Amount" id="sattlementAmount" name="totalAmount"/>
                        </div>

                    </div>

                    <!--USD Settlement-->
                    <div class="form-group">
                        <label class="col-sm-1 "></label>
                        <label class="col-sm-4 custom-form-lebel-right" style="text-align: center;padding: 20px;background: aliceblue;"><b>Final Settlement Calculator-Credit Card(USD)</b></label>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 custom-form-lebel-right">Unbilled Amount</label>
                        <div class="col-sm-3">
                            <input readonly type="text" class="form-control input-sm"
                                   placeholder="Unbilled Amount" id="unbilledAmountUsd" v-model="finalSattlementCalculatorDTO.unbilledAmount" name="unbilledAmount"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 custom-form-lebel-right">Debit on Hold</label>
                        <div class="col-sm-3">
                            <input v-model="debitOnHold" type="number" class="form-control input-sm"
                                   placeholder="Debit on Hold" id="debitOnHoldUsd" name="debitOnHold"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 custom-form-lebel-right">Live Transaction</label>
                        <div class="col-sm-3">
                            <input v-model="liveTransaction" type="number" class="form-control input-sm"
                                   placeholder="Live Transaction"  id="liveTransactionUsd" name="liveTransaction"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 custom-form-lebel-right">Accured Interest Amount</label>
                        <div class="col-sm-3">
                            <input v-model="accuredInterestAmount" type="number" class="form-control input-sm"
                                   placeholder="Accured Interest Amount" id="accuredInterestAmountUsd" name="accuredInterestAmount"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 custom-form-lebel-right">Live Payment</label>
                        <div class="col-sm-3">
                            <input v-model="livePayment" type="number" class="form-control input-sm"
                                   placeholder="Live Payment" id="livePaymentUsd" name="livePayment"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 custom-form-lebel-right">Sattlement Amount</label>
                        <div class="col-sm-3">
                            <input readonly :value="totalCalculator" type="number" class="form-control input-sm"
                                   placeholder="Sattlement Amount" id="sattlementAmountUsd" name="totalAmount"/>
                        </div>
                    </div>
                </form>
            </div>


        </div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var accountNo = /*[[${cardAccountBasic.cardNo}]]*/ [];


            var finalSattlementCalculatorDTO = /*[[${finalSattlementCalculatorDTO}]]*/ [];

            /*]]>*/
            $("#tab-Final-Settlement-Details").click(function (event) {
                //final_settlement.getAccountInformationData();
            });
        </script>
        <script>
            var final_settlement = new Vue({
                el: '#final_settlement',
                data: {
                    finalSattlementCalculatorDTO:{},

                    totalAmount: 0.00,
                    debitOnHold: 0.00,
                    liveTransaction:0.00,
                    unpaidEmiAmount:0.00,
                    accuredInterestAmount: 0.00,
                    creditOnHold: 0.00,
                    livePayment:0.00,

                },
                created: function(){
                    this.finalSattlementCalculatorDTO = finalSattlementCalculatorDTO;

                },
                computed: {
                    totalCalculator:function () {
                        let presentOutstanding = parseFloat(this.finalSattlementCalculatorDTO.presentOutstanding);
                        let unbilledAmount = parseFloat(finalSattlementCalculatorDTO.unbilledAmount);
                        let debitOnHold =  0.00;
                        if (this.debitOnHold >0)
                            debitOnHold = parseFloat(this.debitOnHold);

                        let liveTransaction =  0.00;
                        if (this.liveTransaction >0)
                            liveTransaction = parseFloat(this.liveTransaction);

                        let unpaidEmiAmount = 0.00;
                        if (this.unpaidEmiAmount >0)
                            unpaidEmiAmount = parseFloat(this.unpaidEmiAmount);

                        let accuredInterestAmount = 0.00;
                        if (this.accuredInterestAmount >0)
                            accuredInterestAmount = parseFloat(this.accuredInterestAmount);

                        let creditOnHold = 0.00;
                        if (this.creditOnHold >0)
                            creditOnHold = parseFloat(this.creditOnHold);

                        let livePayment = 0.00;
                        if (this.livePayment >0)
                            livePayment = parseFloat(this.livePayment);


                        this.totalAmount = (presentOutstanding + unbilledAmount +debitOnHold + liveTransaction +unpaidEmiAmount + accuredInterestAmount + creditOnHold) - livePayment;
                        return this.totalAmount;
                    }

                },
                filters: {
                    getDateFormatFromNumeric: function (value) {
                        var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                            "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
                        ];
                        return value.substr(6, 2) + '-' + monthNames[parseInt(value.substr(4, 2)) - 1] + '-' + value.substr(0, 4);
                    }
                },
                methods: {

                }
            })
        </script>
    </div>
</div>
</body>
</html>
