<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Sam NPL Release List</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border" style="text-align: center;">
                            <h3 class="box-title">Sam NPL Release List</h3>
                        </div>

                        <div class="box-body">
                            <a style="margin-bottom: 5px;" class="btn btn-primary btn-sm"
                               th:href="@{/collection/samd/setup/sam-npl-release/sam-npl-release-loan/create}"><span
                                    class="glyphicon glyphicon-plus"> </span> Add New SAMD Npl Release Loan</a>
                            <table id="samNplReleaseLoan" name="datatable-responsive"
                                   class="table table-striped table-bordered table-condensed" width="100%">
                                <thead>
                                <tr>
                                    <th>Update User Id</th>
                                    <th>Update User Name</th>
                                    <th>Outstanding</th>
                                    <th>Recovery</th>
                                    <th>Interest Suspense</th>
                                    <th>Provision</th>
                                    <th>Min. DPD</th>
                                    <th>Max. DPD</th>
                                    <th>Bucket</th>
                                    <th>CL Status</th>
                                    <th>Product Type/Group</th>
                                    <th>Last Update Date</th>
                                    <th></th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="samNplRelease : ${samNplReleaseList}">
                                    <td th:text="${samNplRelease.id}"></td>
                                    <td th:text="${samNplRelease.createdBy}"></td>
                                    <td th:text="${samNplRelease.outstanding}"></td>
                                    <td th:text="${samNplRelease.recovery}"></td>
                                    <td th:text="${samNplRelease.interestSuspense}"></td>
                                    <td th:text="${samNplRelease.provision}"></td>
                                    <td th:text="${samNplRelease.minDpd}"></td>
                                    <td th:text="${samNplRelease.maxDpd}"></td>
                                    <td>
                                            <button class="btn btn-xs btn-success" style="margin-right: 5px" th:each="dpd :${samNplRelease.dpdBucketEntities}" th:text="${dpd.bucketName}"></button>
                                    </td>
                                    <td>
                                        <button class="btn btn-xs btn-success" style="margin-right: 5px" th:each="assetClassificationLoanEntity :${samNplRelease.assetClassificationLoanEntities}" th:text="${assetClassificationLoanEntity.name}"></button>

                                    </td>
                                    <td>
                                        <button class="btn btn-xs btn-success" style="margin-right: 5px" th:each="productTypeEntity :${samNplRelease.productTypeEntities}" th:text="${productTypeEntity.name}"></button>

                                    </td>
                                    <td th:text="${samNplRelease.modifiedBy}"></td>

                                    <td style="text-align: center">
                                        <a class="btn btn-primary btn-xs"
                                        th:href="@{/collection/samd/setup/sam-npl-release/sam-npl-release-loan/edit(id=${samNplRelease.id})}">
                                            <i class="fa fa-edit"></i>
                                            Edit
                                        </a>
                                        <a class="btn btn-success btn-xs disabled">
                                            <i class="fa fa-eye"></i>
                                            View
                                        </a>
                                        <!--<a class="btn btn-xs btn-xs-dlt"-->
                                        <!--th:href="@{/legal/setup/courseofaction/remove(id=${courseOfAction.id})}">-->
                                        <!--<i class="fa fa-trash"></i>-->
                                        <!--Delete-->
                                        <!--</a>-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script>
        $(document).ready(function(){
            $('#samNplReleaseLoan').dataTable({
                responsive: true
            });
        });
    </script>
</div>
</body>
</html>