<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="legal/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Collateral Security</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div id="app" class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="box box-primary">

                        <div class="box-header with-border" style="text-align: center;">
                            <h3 th:if="${collateralSecurity.id == null}" class="box-title">
                                Create Collateral Security
                            </h3>
                            <h3 th:if="${collateralSecurity.id}" class="box-title">Update Collateral Security</h3>
                            <button class="btn btn-sm btn-danger pull-right" @click="reset">Reset</button>
                        </div>
                        <form class="form-horizontal validate" method="post"
                              th:action="@{/legal/setup/collateralsecurity/create}"
                              th:object="${collateralSecurity}">
                            <input type="hidden" th:field="*{id}"></input>
                            <input type="hidden" th:field="*{caseTypesIdList}" v-model="getSelectedCaseTypeList"/>
                            <div class="box-body">

                                <p th:if="${error}" class="text-center text-danger" th:text="${error}">Error </p>
                                <p th:if="${message}" class="text-center text-success" th:text="${message}">Error </p>

                                <div class="form-group">
                                    <label class="col-sm-4 custom-form-lebel-right required">Collateral Security
                                        Type: </label>
                                    <div class="col-sm-6">
                                        <input type="text" autocomplete="2" name="type" class="form-control input-sm required"
                                               th:required="true"
                                               th:field="*{name}" placeholder="Type of collateral security"/>
                                    </div>
                                    <label class="col-sm-10 text-right text-danger"
                                           th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Type Error</label>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 custom-form-lebel-right required">CaseType:</label>
                                    <div class="col-sm-6">
                                        <multiselect v-model="selectedCaseTypeList" placeholder="Search a Case Type"
                                                     label="name" track-by="id" :options="caseTypeOption"
                                                     :close-on-select="false"
                                                     :multiple="true" :taggable="true"></multiselect>
                                    </div>
                                    <label class="col-sm-10 text-right text-danger"
                                           th:if="${#fields.hasErrors('caseTypes')}"
                                           th:errors="*{caseTypes}">Case type Error</label>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 custom-form-lebel-right required">Cronological Sequence:</label>
                                    <div class="col-sm-6">
                                        <input type="number"  name="sequence" class="form-control input-sm required"
                                               th:required="true"
                                               th:field="*{sequence}" placeholder="Serial in case form dropdown"
                                               min="1"/>
                                    </div>
                                    <label class="col-sm-10 text-right text-danger"
                                           th:if="${#fields.hasErrors('sequence')}" th:errors="*{sequence}">Name
                                        Error</label>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 custom-form-lebel-right required">Land/Flat/House/Building</label>
                                    <div class="col-sm-8">
                                        <fieldset id="group1">
                                            <input type="radio" name="hasProperty"
                                                   th:checked="${collateralSecurity.hasProperty == true}"
                                                   th:value="true">
                                            Yes</input>
                                            <input type="radio" name="hasProperty"
                                                   th:checked="${collateralSecurity.hasProperty == false}"
                                                   th:value="false">
                                            No </input>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 custom-form-lebel-right required">Status</label>
                                    <div class="col-sm-8">
                                        <fieldset id="group2">
                                            <input type="radio" name="enabled"
                                                   th:checked="${collateralSecurity.enabled ==true}" th:value="true">
                                            Active</input>
                                            <input type="radio" name="enabled"
                                                   th:checked="${collateralSecurity.enabled ==false}" th:value="false">
                                            Inactive </input>
                                        </fieldset>
                                    </div>
                                </div>

                            </div>
                            <div class="box-footer text-center">
                                <button type="submit" class="btn btn-info btn-sm ">Save</button>
                                <a type="submit" class="btn btn-danger btn-sm"
                                   href="/legal/setup/collateralsecurity/list">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var selectCaseTypes = /*[[${selectedCaseTypes}]]*/ [];
        var caseTypeOptios = /*[[${caseTypeOptions}]]*/ [];
        /*]]>*/


        setWindowFocusLossNotification("Please save changes before leaving the page");


    </script>

    <script>

        new Vue({
            el: '#app',
            components: {
                Multiselect: VueMultiselect.default
            },
            data: {
                selectedCaseTypeList: [],
                selectedCaseType: {},
                caseTypeOption: []
            },
            created: function () {
                this.setExistingValues();
                this.caseTypeOption = Array.isArray(caseTypeOptios) ? caseTypeOptios : [];
            },
            computed: {
                getSelectedCaseType: function () {
                    return this.selectedCaseType.id;
                },
                getSelectedCaseTypeList: function () {
                    return this.selectedCaseTypeList.map(item => {
                        return item.id
                    });
                },
            },
            methods: {
                setExistingValues: function () {
                    this.selectedCaseTypeList = Array.isArray(selectCaseTypes) ? selectCaseTypes : [];
                    this.selectedCaseType = this.selectedCaseTypeList.length ? this.selectedCaseTypeList[0] : {};
                },
                reset: function () {
                    clearFormFieldValuesFocused('app');
                    this.setExistingValues();
                }
            }
        })

    </script>

</div>
</body>
</html>