<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Reason for Delinquency Excel</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="content-wrapper">

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">

                        <div class="box-header with-border" style="text-align: center">
                            <h3 class="box-title">Reason for Delinquency Excel</h3>

                        </div>
                        <!-- /.box-header -->
                        <div id="app" class="box-body">
                            <a  style="margin-bottom: 10px" class="btn btn-primary btn-xs"
                                th:if="${session.urlList.contains('/collection/settings/reasonForDelinExcel/create')}"
                                th:href="@{/collection/settings/reasonForDelinExcel/create}"><span class="glyphicon glyphicon-plus"> </span>
                                Reason for Delinquency Upload </a>



                            <table id="reason_excel" name="datatable-responsive"
                                   class="table table-striped table-bordered table-condensed text-center" width="100%">
                                <thead>
                                <tr>
                                    <th>SL No.</th>
                                    <th>Loan Account No</th>
                                    <th>Reason</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="note,status : ${reasonExcelList}">
                                    <td th:text="${status?.count}"></td>
                                    <td  th:text="${note?.accountNo}"></td>
                                    <td  th:text="${note?.reaDelinName}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <script src="/js/datatable/dataTables.buttons.min.js"></script>
                        <script src="/js/datatable/jszip.min.js"></script>
                        <script src="/js/datatable/pdfmake.min.js"></script>
                        <script src="/js/datatable/vfs_fonts.js"></script>
                        <script src="/js/datatable/buttons.html5.min.js"></script>
                        <script src="/js/datatable/buttons.print.min.js"></script>

                        <script>
                            $(document).ready(function () {
                                $('#reason_excel').DataTable({
                                    ordering: true,
                                    searching: true,
                                    lengthChange: true,

                                })
                            })

                        </script>

                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
</body>
</html>