<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Account Mapping Location List</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border" style="text-align: center;">
                            <h3 class="box-title">Account Mapping Location List</h3>
                        </div>

                        <div class="box-body">
                            <div class="x_content">
                                <a style="margin-bottom: 5px" class="btn btn-primary btn-sm" th:href="@{/collection/account/mapping/card/create}"><span class="glyphicon glyphicon-plus"> </span> Add New Allocation </a>
                                <table th:if="${accountList!=null}" id="example" name="datatable-responsive" class="table table-condensed table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Sl No.</th>
                                        <th>Customer Id</th>
                                        <th>Location Name</th>
                                        <th>Customer Communication Address</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="agency,status : ${accountList}">
                                        <td th:text="${status.count}"></td>
                                        <td><span th:text="${agency?.getCustomerId()}"></span></td>
                                        <td><span th:text="${agency?.getLocationName()}"></span></td>
                                        <td><span th:text="${agency?.getCustComAddress()}"></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>
