<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title> Agency KPI Target Account- Card</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="box box-primary">

                        <div class="box-header with-border" style="text-align: center;">
                            <h3 th:if="${agency.id == null}" class="box-title">Create Agency KPI Target Account- Card</h3>
                            <h3 th:if="${agency.id != null}" class="box-title">Update Agency KPI Target Account- Card</h3>
                        </div>

                        <form id="app" class="form-horizontal validate" method="post" th:action="@{/collection/kpi/agency/card/bytarget/account/create}" th:object="${agency}">
                            <input type="hidden" th:field="*{id}">
                            <input type="hidden" th:field="*{productIds}" v-model="getSelectedProductList">
                            <input type="hidden" th:field="*{locationIds}" v-model="getSelectedLocationList">
                            <input type="hidden" th:field="*{agencyIds}" v-model="getSelectedAgencyList">
                            <input type="hidden" th:field="*{ageCodeIds}" v-model="getSelectedAgeCodeList">
                            <input type="hidden" th:field="*{statusCdIds}" v-model="getSelectedStatusCdList">

                            <div class="box-body">

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Product Type</label>
                                    <div class="col-sm-6">
                                        <multiselect   v-model="selectedProductTypeList" placeholder="Search Product Type" label="name" track-by="id"  :options="productTypeOption" :multiple="true" :taggable="true"></multiselect>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Location</label>
                                    <div class="col-sm-6">
                                        <multiselect  v-model="selectedLocationList" placeholder="Search Location" label="city" track-by="id"  :options="locationOption" :multiple="true" :taggable="true"></multiselect>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Age Codes</label>
                                    <div class="col-sm-6">
                                        <multiselect  v-model="selectedAgeCodeList" placeholder="Search Age Code" label="name" track-by="id"  :options="ageCodeOption" :multiple="true" :taggable="true"></multiselect>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Agency</label>
                                    <div class="col-sm-6">
                                        <multiselect v-model="selectedAgencyList" placeholder="Search a Agency" label="name" track-by="id"   :options="agencyOption" :multiple="true" :taggable="true"></multiselect>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Status CD</label>
                                    <div class="col-sm-6">
                                        <multiselect  v-model="selectedStatusCdList" placeholder="Search Status CD" label="statuscdName" track-by="id"  :options="statusCdOption" :multiple="true" :taggable="true"></multiselect>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Outstanding Target</label>
                                    <div class="col-sm-2">
                                        <input v-validate="'decimal:2|between:1,100'" th:field="*{outstandingTarget}" type="text" name="overDue" class="form-control required input-sm" th:required="true"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <span><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="col-sm-7">
                                        <span class="error" v-if="errors.has('outstandingTarget')">{{errors.first('outstandingTarget') | capitalize}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Min Due Amount</label>
                                    <div class="col-sm-2">
                                        <input v-validate="'decimal:2|between:1,100'" th:field="*{minDueAmount}" type="text" name="overDue" class="form-control required input-sm" th:required="true"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <span><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="col-sm-7">
                                        <span class="error" v-if="errors.has('minDueAmount')">{{errors.first('minDueAmount') | capitalize}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Save Target</label>
                                    <div class="col-sm-2">
                                        <input v-validate="'decimal:2|between:1,100'" th:field="*{saveTarget}" type="text" name="remarks" class="form-control required input-sm" th:required="true"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <span><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="col-sm-7">
                                        <span class="error" v-if="errors.has('saveTarget')">{{errors.first('saveTarget') | capitalize}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Back Target</label>
                                    <div class="col-sm-2">
                                        <input v-validate="'decimal:2|between:1,100'" th:field="*{backTarget}" type="text" name="remarks" class="form-control required input-sm" th:required="true"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <span><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="col-sm-7">
                                        <span class="error" v-if="errors.has('backTarget')">{{errors.first('backTarget') | capitalize}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Flow Target</label>
                                    <div class="col-sm-2">
                                        <input v-validate="'decimal:2|between:1,100'" th:field="*{flowTarget}" type="text" name="remarks" class="form-control required input-sm" th:required="true"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <span><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="col-sm-7">
                                        <span class="error" v-if="errors.has('flowTarget')">{{errors.first('flowTarget') | capitalize}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Regular Target</label>
                                    <div class="col-sm-2">
                                        <input v-validate="'decimal:2|between:1,100'" th:field="*{regularTarget}" type="text" name="remarks" class="form-control required input-sm" th:required="true"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <span><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="col-sm-7">
                                        <span class="error" v-if="errors.has('regularTarget')">{{errors.first('regularTarget') | capitalize}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">PAR Release Target</label>
                                    <div class="col-sm-2">
                                        <input v-validate="'decimal:2|between:1,100'" th:field="*{parReleaseTarget}" type="text" name="remarks" class="form-control required input-sm" th:required="true"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <span><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="col-sm-7">
                                        <span class="error" v-if="errors.has('parReleaseTarget')">{{errors.first('parReleaseTarget') | capitalize}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">NPL Release Target</label>
                                    <div class="col-sm-2">
                                        <input v-validate="'decimal:2|between:1,100'" th:field="*{nplReleaseTarget}" type="text" name="remarks" class="form-control required input-sm" th:required="true"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <span><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="col-sm-7">
                                        <span class="error" v-if="errors.has('nplReleaseTarget')">{{errors.first('nplReleaseTarget') | capitalize}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Raw Collection Target</label>
                                    <div class="col-sm-2">
                                        <input v-validate="'decimal:2|between:1,100'" th:field="*{rawCollectionTarget}" type="text" name="remarks" class="form-control required input-sm" th:required="true"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <span><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="col-sm-7">
                                        <span class="error" v-if="errors.has('rawCollectionTarget')">{{errors.first('rawCollectionTarget') | capitalize}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label required" >
                                        Raw Collection > Min. Due Amount
                                    </label>
                                    <div class="col-sm-4">
                                        <ul style="padding: 0px">
                                            <li style="display: inline" th:each="sam: ${samValues}">
                                                <input type="radio"
                                                       th:field="*{rawCAndDueAmount}"
                                                       th:value="${sam}"/>
                                                <label th:required="true"
                                                       th:for="${#ids.prev('rawCAndDueAmount')}"
                                                       th:text="${sam}"></label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Status:</label>
                                    <div class="col-sm-6">
                                        <fieldset id="group1">
                                            <input  type="radio" name="enabled" id="enabled" th:checked="${agency.enabled == true}" th:value="true"> Active</input>
                                            <input type="radio"  name="enabled" id="enabled" th:checked="${agency.enabled == false}" th:value="false"> Inactive </input>

                                        </fieldset>
                                    </div>
                                </div>

                            </div>

                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                <!--<button type="submit" class="btn btn-info ">Submit</button>-->
                                <button type="submit" th:if="${agency.id != null}" class="btn btn-info btn-sm">Update</button>
                                <button type="submit" th:if="${agency.id == null}" class="btn btn-info btn-sm">Submit</button>
                                <a type="submit" class="btn btn-danger btn-sm" href="/collection/kpi/agency/card/bytarget/account/list">Cancel</a>
                            </div>
                            <!-- /.box-footer -->
                        </form>

                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            var selectedProductTypes = /*[[${selectedProuductTypeList}]]*/ [];
                            var productOptions = /*[[${productTypeList}]]*/ [];

                            var selectLocation = /*[[${selectedLocationList}]]*/ [];
                            var locationOptions = /*[[${locationList}]]*/ [];

                            var selectAgeCode = /*[[${selectedAgeCodeList}]]*/ [];
                            var ageCodeOptions = /*[[${ageCodeList}]]*/ [];

                            var selectAgency= /*[[${selectedAgencyList}]]*/ [];
                            var agencyOptions = /*[[${agencyList}]]*/ [];

                            var selectStatusCd = /*[[${selectedStatusCdList}]]*/ [];
                            var statusCdOptions = /*[[${statusCdList}]]*/ [];

                            /*]]>*/
                        </script>

                        <script>
                            function deleteRow(index) {
                                console.log(index);
                                $('#table #row-'+index).remove();
                            }

                            Vue.use(VeeValidate);
                            new Vue({
                                el: '#app',
                                components: {
                                    Multiselect: VueMultiselect.default
                                },
                                data:{
                                    selectedProductTypeList:[],
                                    productTypeOption:[],

                                    selectedLocationList:[],
                                    locationOption:[],

                                    selectedAgeCodeList:[],
                                    ageCodeOption:[],

                                    selectedAgencyList:[],
                                    agencyOption:[],

                                    selectedStatusCdList:[],
                                    statusCdOption:[],
                                },
                                created:function () {
                                    this.selectedProductTypeList = JSON.parse(selectedProductTypes) ? JSON.parse(selectedProductTypes):[];
                                    this.productTypeOption = JSON.parse(productOptions) ? JSON.parse(productOptions):[];

                                    this.selectedLocationList = JSON.parse(selectLocation) ? JSON.parse(selectLocation):[];
                                    this.locationOption = JSON.parse(locationOptions) ? JSON.parse(locationOptions):[];

                                    this.selectedAgeCodeList = JSON.parse(selectAgeCode) ? JSON.parse(selectAgeCode):[];
                                    this.ageCodeOption = JSON.parse(ageCodeOptions) ? JSON.parse(ageCodeOptions):[];

                                    this.selectedAgencyList = JSON.parse(selectAgency) ? JSON.parse(selectAgency):[];
                                    this.agencyOption = JSON.parse(agencyOptions) ? JSON.parse(agencyOptions):[];

                                    this.selectedStatusCdList = JSON.parse(selectStatusCd) ? JSON.parse(selectStatusCd):[];
                                    this.statusCdOption = JSON.parse(statusCdOptions) ? JSON.parse(statusCdOptions):[];

                                    this.current = length?length:0;
                                },
                                computed:{
                                    getSelectedProductList : function () {
                                        return this.selectedProductTypeList.map(item => {return item.id});
                                    },

                                    getSelectedAgeCodeList : function () {
                                        return this.selectedAgeCodeList.map(item => {return item.id});
                                    },

                                    getSelectedLocationList : function () {
                                        return this.selectedLocationList.map(item => {return item.id});
                                    },

                                    getSelectedAgencyList : function () {
                                        return this.selectedAgencyList.map(item => {return item.id});
                                    },

                                    getSelectedStatusCdList : function () {
                                        return this.selectedStatusCdList.map(item => {return item.id});
                                    },

                                },
                                filters: {
                                    capitalize: function (value) {
                                        console.log(value);
                                        if (!value) return ''
                                        value = value.toString()
                                        return value.charAt(0).toUpperCase() + value.slice(1).toLowerCase()
                                    }
                                }
                            })

                        </script>
                        <style>
                            .multiselect, .multiselect__input, .multiselect__single, .multiselect__content {
                                font-size: 13px;
                            }
                            .multiselect__tag{
                                font-size: 12px;
                            }
                            select {
                                -webkit-appearance: menulist;
                            }

                        </style>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>

</html>