<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>KPI Target Weight By Amount-Loan</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border" style="text-align: center;">
                            <h3 class="box-title">KPI Target Weight By Amount-Loan List</h3>
                        </div>

                        <div class="box-body">
                            <a style="margin-bottom: 5px" class="btn btn-primary btn-sm" th:if="${session.urlList.contains('/collection/kpi/loan/weightByAmount/create')}"
                               th:href="@{/collection/kpi/loan/weightByAmount/create}"><span class="glyphicon glyphicon-plus"> </span> Add New Target Setup </a>
                            <table th:if="${loanKPITargetWeightAmountList!=null}" style="overflow: auto" id="example" name="datatable-responsive" class="table table-condensed table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Product Type</th>
                                    <th>Sector Group</th>
                                    <th>Location</th>
                                    <th>Zone</th>
                                    <th>Bucket</th>
                                    <th>OverDue Weight</th>
                                    <th>Regular Weight</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="byAcc,status : ${loanKPITargetWeightAmountList}">
                                    <td th:text="${status.count}"></td>
                                    <!--<td>
                                        <span th:each="prod:${byAcc.productList}">
                                            <p th:text="${prod.name}"></p>
                                        </span>
                                    </td>-->

                                    <td>
                                        <ul style="list-style: none; overflow-x:hidden; margin-bottom: 0px;">
                                            <li style="display:inline" th:each="productType : ${byAcc?.getProductType()}"><span class="label label-success" th:text="${productType.getName()}"></span></li>
                                        </ul>
                                    </td>

                                    <td>
                                        <ul style="list-style: none; overflow-x:hidden;  margin-bottom: 0px;">
                                            <li style="display:inline" th:each="sectorGroup : ${byAcc?.getSectorGroup()}"><span class="label label-success" th:text="${sectorGroup.getName()}"></span></li>
                                        </ul>
                                    </td>

                                    <td>
                                        <ul style="list-style: none; overflow-x:hidden;  margin-bottom: 0px;">
                                            <li style="display:inline" th:each="location : ${byAcc?.getLocation()}"><span class="label label-success" th:text="${location.getCity()}"></span></li>
                                        </ul>
                                    </td>

                                    <td>
                                        <ul style="list-style: none; overflow-x:hidden;  margin-bottom: 0px;">
                                            <li style="display:inline" th:each="zone : ${byAcc?.getZone()}"><span class="label label-success" th:text="${zone.getName()}"></span></li>
                                        </ul>
                                    </td>

                                    <td>
                                        <ul style="list-style: none; overflow-x:hidden;  margin-bottom: 0px;">
                                            <li style="display:inline" th:each="dpdBucket : ${byAcc?.getDpdBucket()}"><span class="label label-success" th:text="${dpdBucket.getBucketName()}"></span></li>
                                        </ul>
                                    </td>
                                    <td>
                                            <span >
                                                <p th:text="${byAcc.overDueWeight}"></p>
                                            </span>
                                    </td>
                                    <td>
                                            <span >
                                                <p th:text="${byAcc.regularWeight}"></p>
                                            </span>
                                    </td>
                                    <td style="text-align: center">
                                        <span th:if="${byAcc.enabled == true}" th:text="Active"></span>
                                        <span th:if="${byAcc.enabled == false}" th:text="Inactive"></span></td>
                                    <td style="text-align: center">
                                        <a class="btn btn-xs btn-primary" th:if="${session.urlList.contains('/collection/kpi/loan/weightByAmount/edit')}"
                                           th:href="@{/collection/kpi/loan/weightByAmount/edit(id=${byAcc.id})}"><i class="fa fa-edit"></i>Edit</a>
                                        <a class="btn btn-xs btn-success" th:if="${session.urlList.contains('/collection/kpi/loan/weightByAmount/view')}"
                                           th:href="@{/collection/kpi/loan/weightByAmount/view(id=${byAcc.id})}"><i class="fa fa-eye"></i>View</a>
                                        <!-- <a class="btn btn-xs btn-xs-dlt" th:href="@{/branch/remove(id=${branch.branchId})}"> <i class="fa fa-trash"></i>Delete</a> -->
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>