<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title> Target Weight By Amount-Loan</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <div class="col-xs-12">
        <div>
            <div class="col-md-offset-2 col-md-8">
                <!-- .box -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 th:if="${loanKPITargetWeightAmount?.id == null}" class="box-title">Create Target Weight By Amount-Loan</h3>
                        <h3 th:if="${loanKPITargetWeightAmount?.id != null}" class="box-title">Update Target Weight By Amount-Loan</h3>
                    </div>
                    <!-- Horizontal Form -->
                    <form  class="form-horizontal validate" method="post" th:action="@{/collection/kpi/loan/weightByAmount/addNew}" th:object="${loanKPITargetWeightAmount}">

                        <div class="box-body">
                            <div class="form-group">
                                <input type="hidden" th:field="*{id}"/>
                                <div class="col-md-12 form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Product Type :</label>
                                    <div class="col-sm-8">

                                        <div class="checkbox" th:each="product : ${productList}">
                                            <input name="prodIdList" type="checkbox" class="flat-red required"  th:value="${product.id}" th:checked="${#lists.contains(prodIdList,product.id)}" ><label th:text="${product.name}"></label></input>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Sector Group :</label>
                                    <div class="col-sm-8">
                                        <div class="checkbox" th:each="sector : ${sectorList}">
                                            <input name="secGrpIdList" type="checkbox" class="flat-red required"  th:value="${sector.id}" th:checked="${#lists.contains(sectorIdList,sector.id)}" ><label th:text="${sector.name}"></label></input>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right required">OutStanding Amount (%):</label>
                                    <div class="col-sm-8">

                                        <div class="col-md-4 form-group">
                                            <input name="maxAmount" type="text" id="maxAmount" th:field="*{maxAmount}" onkeyup="javascript:checkNumber2('maxAmount');" class="form-control required" placeholder="Max Amount"/>
                                        </div>
                                        <div class="col-md-4">
                                            <input name="minAmount" type="text" id="minAmount" th:field="*{minAmount}" onkeyup="javascript:checkNumber2('minAmount');" class="form-control required " placeholder="Min Amount"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Zone :</label>
                                    <div class="col-sm-8">
                                        <div class="checkbox" th:each="zone : ${zoneList}">
                                            <input name="zoneIdList" type="checkbox" class="flat-red required"  th:value="${zone.id}" th:checked="${#lists.contains(zoneIdList,zone.id)}" ><label th:text="${zone.name}"></label></input>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12 form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Location :</label>
                                    <div class="col-sm-8">
                                        <div class="checkbox" th:each="loc : ${locationList}">
                                            <input name="locIdList" type="checkbox" class="flat-red required"  th:value="${loc.id}" th:checked="${#lists.contains(locIdList,loc.id)}" ><label th:text="${loc.city}"></label></input>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Bucket :</label>
                                    <div class="col-sm-8">
                                        <div class="checkbox" th:each="bucket : ${bucketList}">
                                            <input name="bucketIdList" type="checkbox" class="flat-red required"  th:value="${bucket.id}" th:checked="${#lists.contains(bucketIdList,bucket.id)}" ><label th:text="${bucket.bucketName}"></label></input>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Overdue Weight (%) :</label>
                                    <div class="col-sm-8">

                                        <div class="col-md-4 form-group">
                                            <input name="overDueWeight" type="text" id="overDueWeight" th:field="*{overDueWeight}" onkeyup="javascript:checkNumber2('overDueWeight');" class="form-control required" placeholder="Overdue Weight"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Save Weight (%) :</label>
                                    <div class="col-sm-8">

                                        <div class="col-md-4 form-group">
                                            <input name="saveWeight" type="text" id="saveWeight" th:field="*{saveWeight}" onkeyup="javascript:checkNumber2('saveWeight');" class="form-control required" placeholder="Save Weight"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Back Weight (%) :</label>
                                    <div class="col-sm-8">

                                        <div class="col-md-4 form-group">
                                            <input name="backWeight" type="text" id="backWeight" th:field="*{backWeight}" onkeyup="javascript:checkNumber2('backWeight');" class="form-control required" placeholder="Back Weight"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Flow Weight (%) :</label>
                                    <div class="col-sm-8">

                                        <div class="col-md-4 form-group">
                                            <input name="flowWeight" type="text" id="flowWeight" th:field="*{flowWeight}" onkeyup="javascript:checkNumber2('flowWeight');" class="form-control required" placeholder="Flow Weight"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Regular Weight (%) :</label>
                                    <div class="col-sm-8">

                                        <div class="col-md-4 form-group">
                                            <input name="regularWeight" type="text" id="regularWeight" th:field="*{regularWeight}" onkeyup="javascript:checkNumber2('regularWeight');" class="form-control required" placeholder="Regular Weight"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right required">PAR Release Weight (%) :</label>
                                    <div class="col-sm-8">

                                        <div class="col-md-4 form-group">
                                            <input name="PARRelWeight" type="text" id="PARRelWeight" th:field="*{PARRelWeight}" onkeyup="javascript:checkNumber2('PARRelWeight');" class="form-control required" placeholder="PAR Rel. Weight"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right required">NPL Release Weight (%) :</label>
                                    <div class="col-sm-8">

                                        <div class="col-md-4 form-group">
                                            <input name="NPLRelWeight" type="text" id="NPLRelWeight" th:field="*{NPLRelWeight}" onkeyup="javascript:checkNumber2('NPLRelWeight');" class="form-control required" placeholder="NPL Rel. Weight"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Status</label>
                                    <div class="col-sm-6">
                                        <fieldset id="group1">
                                            <input  type="radio" name="enabled" id="enabled" th:checked="${loanKPITargetWeightAmount.enabled ==true}"  th:value="true"> Active</input>
                                            <input type="radio"  name="enabled" id="enabled" th:checked="${loanKPITargetWeightAmount.enabled ==false}" th:value="false"> Inactive </input>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="col-md-12 form-group" th:if="${loanKPITargetWeightAmount?.modifiedDate != null}">
                                    <label  class="col-sm-4 custom-form-lebel-right">Last Modeified Date:</label>
                                    <div class="col-sm-8">
                                        <label name="modifiedDate"  th:text="${#dates.format(loanKPITargetWeightAmount?.modifiedDate, 'dd-MMM-yyyy HH:mm')}"></label>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group" th:if="${loanKPITargetWeightAmount?.modifiedBy != null}">
                                    <label  class="col-sm-4 custom-form-lebel-right">Last Modeified By:</label>
                                    <div class="col-sm-8">
                                        <label name="modifiedBy"  th:text="${loanKPITargetWeightAmount?.modifiedBy}"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer text-center">
                            <button type="submit" th:if="${loanKPITargetWeightAmount?.id != null}" class="btn btn-info">Update</button>
                            <button type="submit" th:if="${loanKPITargetWeightAmount?.id == null}" class="btn btn-info">Submit</button>
                            <a type="submit" class="btn btn-danger" href="/collection/kpi/loan/weightByAmount/list">Cancel</a>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</div>
</body>
</html>