<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Agency Status Manager</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border" style="text-align: center;">
                            <h3 class="box-title">Agency Status Manager List</h3>
                        </div>

                        <div class="box-body">
                            <table  id="exampleee" name="datatable-responsive" class="table table-condensed table-striped table-bordered" width="100%">
                                <thead>
                                <tr>
                                    <th >Sl_No</th>
                                    <th >LAN_ID</th>
                                    <th >Name</th>
                                    <!--<th >Status</th>-->
                                    <!--<th >Remarks</th>-->
                                    <!--<th >Start</th>-->
                                    <!--<th >End</th>-->
                                    <!--<th >Total_Days</th>-->
                                    <th >Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="status,si : ${managerEntityList}">
                                    <td th:text="${si.count}"></td>
                                    <td th:text="${status.agencyEntity.pin}"></td>
                                    <td th:text="${status.agencyEntity.name}"></td>
                                    <!--<td th:text="${status?.remarks}"></td>-->
                                    <!--<td th:text="${#dates.format(status?.startDate, 'dd-MMM-yyyy')}"></td>-->
                                    <!--<td th:text="${#dates.format(status?.endDate, 'dd-MMM-yyyy')}"></td>-->
                                    <!--<td th:text="${status.totalDays}"></td>-->
                                    <td>
                                        <a class="btn btn-xs btn-primary" th:href="@{/collection/agency/agency-status-manager/find(id=${status.id})}"><i class="fa fa-edit"></i>Edit</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>