<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Payment Status</title>
</head>
<body>
<div th:fragment="content" th:remove="tag">
    <style type="text/css">
        .customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }



        .customers td, .customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        /*.customers tr:hover {background-color: #ddd;}*/

        .customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
    </style>

    <form class="form-horizontal csi-view-form" id="loan_payment_details">
        <table class=" table   table-bordered custom_dt">
            <thead class="thead-light">
            <tr>
                <th rowspan="2"> <span class="center">Narration</span></th>
                <th class="text-center" colspan="2">Current Month</th>
                <th class="text-center" colspan="2">Last Date</th>
            </tr>
            <tr>
                <th class="text-center">Num of A/c</th>
                <th class="text-center">Amount</th>
                <th class="text-center">Num of A/c</th>
                <th class="text-center">Amount</th>
            </tr>
            </thead>
            <tbody id="" class="tbl-row">
            <tr v-for="(data, index) in narration">
                <td class="text-left"><a @click="showModal(index)" style="cursor: pointer"
                                           data-toggle="modal" data-target="#modal-cardpayment-details">{{data.narration}}</a>
                </td>
                <td class="text-right">{{data.totalAc}}</td>
                <td class="text-right">{{data.paidAmnt | formatBdtInEnglish}}</td>
                <td class="text-right">{{data.totalAcToday | formatBdtInEnglish}}</td>
                <td class="text-right">{{data.paidAmntToday | formatBdtInEnglish}}</td>
            </tr>
            </tbody>
        </table>

        <div class="modal fade" id="modal-cardpayment-details">
            <div class="modal-dialog" style="height: 100%; width: 80%; padding-right: 20px;">
                <div class="modal-content" style="height: 900px;">
                    <div class="modal-header" style="text-align: center;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Loan Payment Details</h4>
                    </div>
                    <div style="overflow: auto; max-height: 800px; padding: 20px; margin-bottom: 20px;">
                        <table class="table table-condensed table-hover table-bordered">
                            <thead class="thead-light">
                            <th class="text-center">SL</th>
                            <th class="text-center">Account NO</th>
                            <th class="text-center">Account Name</th>
                            <th class="text-center">Current Month Payment</th>
                            <th class="text-center">Last Date Payment</th>
                            <th class="text-center">Over Due</th>
                            <th class="text-center">Outstanding</th>
                            <th class="text-center">Dealer Name</th>
                            <th class="text-center">Last Payment Date</th>
                            </thead>
                            <tbody class="tbl-row">
                            <tr v-for="(payment,index) in paymentDetails">
                                <td class="text-right">{{index+1}}</td>
                                <td class="text-right"><a
                                        :href="'/profile/loanprofile/search?account='+ payment.accountNo"
                                        target="_blank">{{payment.accountNo}}</a></td>
                                <td>{{payment.loanName}}</td>
                                <td class="text-right">{{payment.payment | formatBdtInEnglish}}</td>
                                <td class="text-right">{{payment.lastPayment | formatBdtInEnglish}}</td>
                                <td class="text-right">{{payment.overDue | formatBdtInEnglish}}</td>
                                <td class="text-right">{{payment.outstanding | formatBdtInEnglish}}</td>
                                <td>{{payment.dealerName}}</td>
                                <td class="text-center text-nowrap">{{payment.paymentDate | dateFormat}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
        $("#tab-payment-detail-samd").click(function () {

            $(".payment_status_row").html('');

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var userPin = $("#globalUserPinForSummary").val();
            var unit = $("#globalUnitForSummary").val();
            var designation = $("#globalUserDesignationForSummary").val();
            var userId = $("#globalUserIdForSummary").val();
            console.log("payment details "+userPin +' '+unit+' '+designation +' '+userId)
            if (unit == 'Loan') {
                $.ajax({
                    type: "GET",
                    url: "/collection/samd/loan/dashboard/payment-status",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    data: {
                        userPin: userPin,
                        unit: "SAM",
                        designation: designation,
                        userId: userId
                    },
                    success: function (data) {
                        console.log("payment summary details : "+JSON.stringify(data))
                        //
                        // var data = JSON.stringify(json);
                        // data = JSON.parse(data);
                        //
                        // var total = 0;
                        // var arr = new Array();


                        // for(var i=0; i<data.length;i++){
                        //     if(data[i].narration != 'TOTAL'){
                        //         var paidAmount = parseFloat(data[i].paidAmnt).toFixed(2);
                        //         var paidAmountToday = parseFloat(data[i].paidAmntToday).toFixed(2);
                        //         var tr =
                        //             '<tr class="payment_status_row">\n' +
                        //             '<td class="text-center"><a style="cursor: pointer" data-toggle="modal" data-target="#modal-loanpayment-details">'+data[i].narration+'</a></td>\n' +
                        //             '<td class="text-center">'+data[i].totalAc+'</td>\n' ;
                        //
                        //             if(data[i].narration == 'Total Paid')
                        //             tr += '<td class="text-center">'+paidAmount+'</td>\n' ;
                        //             else tr += '<td class="text-center">'+paidAmount+'</td>\n';
                        //
                        //             tr += '<td class="text-center">'+data[i].totalAcToday+'</td>\n' +
                        //             '<td class="text-center">'+paidAmountToday+'</td>\n' +
                        //             '</tr>';
                        //         $("#payment_status_loan_tbody").append(tr);
                        //     }else{
                        //         loanPaymentDetails.showPaymentDetails(data[i].loanAccountPaymentDetails);
                        //     }
                        //
                        // }

                        LoanPaymentDetails.narration = data;

                        // for (var i = 0; i < data.length; i++) {
                        //
                        //     if (data[i].narration == 'total') {
                        //         LoanPaymentDetails.setTotalDetails(data[i].loanAccountPaymentDetails);
                        //     }
                        //     else if (data[i].narration == 'save') {
                        //         LoanPaymentDetails.setSaveDetails(data[i].loanAccountPaymentDetails);
                        //     }
                        //     else if (data[i].narration == 'notSave') {
                        //         LoanPaymentDetails.setNotSaveDetails(data[i].loanAccountPaymentDetails);
                        //     }
                        //     else if (data[i].narration == 'oneEmi') {
                        //         LoanPaymentDetails.setOneEmiDetails(data[i].loanAccountPaymentDetails);
                        //     }
                        //     else {
                        //         LoanPaymentDetails.addNewNarration(data[i]);
                        //     }
                        //
                        //
                        // }

                    }
                })
            } else if (unit == 'Card') {
                $.ajax({
                    type: "GET",
                    url: "/collection/dashboard/paymentStatus/card",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    data: {
                        userPin: userPin,
                        unit: unit,
                        designation: designation,
                        userId: userId
                    },
                    success: function (json) {
                        var data = JSON.stringify(json);
                        data = JSON.parse(data);

                        var total = 0;
                        var arr = new Array();

                        console.log(data);
                        cardPaymentDetails.narration = [];

                        for (var i = 0; i < data.length; i++) {

                            if (data[i].narration == 'total') {
                                cardPaymentDetails.setTotalDetails(data[i].cardAccountPaymentDetails);
                            }
                            else if (data[i].narration == 'save') {
                                cardPaymentDetails.setSaveDetails(data[i].cardAccountPaymentDetails);
                            }
                            else if (data[i].narration == 'notSave') {
                                cardPaymentDetails.setNotSaveDetails(data[i].cardAccountPaymentDetails);
                            }
                            else if (data[i].narration == 'unpaidList') {
                                cardPaymentDetails.setUnpaidDetails(data[i].cardAccountPaymentDetails);
                            }
                            else {
                                cardPaymentDetails.addNewNarration(data[i]);
                            }


                        }
                    }
                })
            }

        })

        var LoanPaymentDetails = new Vue({
            el: '#loan_payment_details',
            data: {
                narration: [],
                paymentDetails: []
            },
            methods: {
                showModal: function (index) {
                    this.paymentDetails = this.narration[index].loanAccountPaymentDetails;
                    // console.log(data);
                },
            },
            filters: {
                dateFormat: function (value) {
                    return formatDate_DD_MMM_YYYY(value);
                },
                formatBdtInEnglish: function (value) {
                    return formatBdtInEnglish(value);
                },
            }
        })
    </script>
</div>
</body>


</html>
