<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Team Details</title>
</head>
<body>
<div id="layout-cibReport" th:fragment="team-info">
    <div class="box-header with-border">
        <h3 class="box-title">Team Details</h3>
    </div>
    <br/>
    <br/>

    <div class="multi-line-broadcom-div">
        <ul id="info-tabs" class="nav nav-tabs">
            <li id="tab-amount" class="active">
                <a data-toggle="tab" href="#dass-amount" title="Team Details">Team Details</a>
            </li>
            <li id="tab-account">
                <a data-toggle="tab" href="#dass-account" title="Team Performance">Team Performance</a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane top-buffer active" id="dass-amount">
            <div>
                <center> </center>
                <center><h4> Supervisor Details</h4></center>
                <table class="table table-condensed table-bordered custom_dt">
                    <thead class="thead-light">
                        <tr>
                            <th>Supervisor PIN</th>
                            <th>Supervisor Name</th>
                            <th>Performance Achievement</th>
                            <th>Last month rating</th>
                            <th>Total No of Accounts</th>
                            <th>Account Outstanding Total</th>
                        </tr>
                    </thead>
                    <tbody class="tbl-row">
                        <tr>
                            <td th:text="${employee?.pin}"></td>
                            <td th:text="${employee.user.firstName}"></td>
                            <td id="dealer-performance-achievement" th:text="${teamLeadAchivment}"></td>
                            <td id="dealer-last-Month-rating" th:text="${teamLeadLastMonthRating}"></td>
                            <td th:text="${userTotalAcc}"></td>
                            <td class="text-right" th:text="${@numberUtils.formatBdtInEnglish(userTotalOutStanding)}"></td>
                        </tr>
                    </tbody>
                </table>

                <center><h4>Dealer Details</h4></center>
                <table id="example" class="table table-condensed table-bordered custom_dt ">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center">Action</th>
                            <th class="text-center">Dealer PIN</th>
                            <th class="text-center">Dealer Name</th>
                            <th class="text-center">Performance Achievement</th>
                            <th class="text-center">Last month rating</th>
                            <th class="text-center">Total No of Accounts</th>
                            <th class="text-center">Account Outstanding Total</th>
                        </tr>
                    </thead>
                    <tbody class="tbl-row dealer-data-table dealer-details">
                        <tr th:each="data,status: ${dealerDetail}">
                            <td><a th:href="@{/teamleader/to/dealer/dashboard(id=${data?.dealerPin})}" target="_blank">
                                <button type="button" class="btn btn-primary btn-sm">Dealer Dashboard</button>
                            </a></td>
                            <td th:text="${data.dealerPin}"></td>
                            <td th:text="${data.dealerName}"></td>
                            <td class="dealer-perforamnce" th:text="${data.performance}"></td>
                            <td class="dealer-last-month-rating" th:text="${data.lastMonthRating}"></td>
                            <td th:text="${data.noOfAcc}"></td>
                            <td class="text-right" th:text="${@numberUtils.formatBdtInEnglish(data.outstanding)}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane top-buffer" id="dass-account">
            <div>
                <center><h5>Supervisor Performance</h5></center>
                <table class="table table-condensed table-bordered custom_dt">
                    <thead class="thead-light">
                        <tr>
                            <th>Supervisor PIN</th>
                            <th>Supervisor Name</th>
                            <th>Performance Achievement</th>
                            <th>Last month rating</th>
                            <th>Rem PAR</th>
                            <th>Rem NPL</th>
                            <th>Rem PAR Que</th>
                            <th>Rem NPL Que</th>
                            <th>Total No of Accounts</th>
                            <th>Account OS</th>
                        </tr>
                    </thead>
                    <tbody class="tbl-row">
                        <tr>
                            <td th:text="${employee?.pin}"></td>
                            <td th:text="${employee?.user?.firstName} + ' ' + ${employee?.user?.lastName}"></td>
                            <td th:text="${teamLeadAchivment}"></td>
                            <td th:text="${teamLeadLastMonthRating}"></td>
                            <td ></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td th:text="${userTotalAcc}"></td>
                            <td class="text-right" th:text="${@numberUtils.formatBdtInEnglish(userTotalOutStanding)}"></td>
                        </tr>
                    </tbody>
                </table>

                <center><h5>Dealer Performance</h5></center>
                <table id="idDataTable1" class="table table-condensed table-bordered custom_dt">
                    <thead class="thead-light">
                        <tr>
                            <th>Deader PIN</th>
                            <th>Deader Name</th>
                            <th>Performance Achievement</th>
                            <th>Last month rating</th>
                            <th>Rem PAR</th>
                            <th>Rem NPL</th>
                            <th>Rem PAR Que</th>
                            <th>Rem NPL Que</th>
                            <th>Total No of Accounts</th>
                            <th>Account OS</th>
                        </tr>

                    </thead>
                    <tbody class="tbl-row">
                        <tr th:each="data,status: ${dealerDetail}">
                            <td th:text="${data.dealerPin}"></td>
                            <td th:text="${data.dealerName}"></td>
                            <td  th:text="${data.performance}"></td>
                            <td  th:text="${data.lastMonthRating}"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td th:text="${data.noOfAcc}"></td>
                            <td class="text-right" th:text="${@numberUtils.formatBdtInEnglish(data.outstanding)}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>