<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Payment Summary</title>
</head>
<body>
<div th:fragment="content" th:remove="tag">
    <style type="text/css">
        .customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .customers td, .customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        /*.customers tr:hover {background-color: #ddd;}*/
        .customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
    </style>
    <form class="form-horizontal csi-view-form" id="loan_payment_details">
        <table class=" table   table-bordered custom_dt">
            <thead class="thead-light">
            <tr>
                <th rowspan="2"><span class="center">Narration</span></th>
                <th class="text-center" colspan="2">Current Month</th>
                <th class="text-center" colspan="2">Last Date</th>
            </tr>
            <tr>
                <th class="text-center">Num of A/c</th>
                <th class="text-center">Amount</th>
                <th class="text-center">Num of A/c</th>
                <th class="text-center">Amount</th>
            </tr>
            </thead>
            <tbody id="" class="tbl-row">
            <tr>
                <td colspan="5"><b>Segment 1</b></td>
            </tr>
            <tr v-for="(data, index) in categories"
                v-if="data.category === 'Full amount paid'
                 || data.category === 'Partial paid but forward flow to upper bucket'
                 || data.category === 'Partial Paid And Stable'
                 || data.category === 'No payment during the month'">
                <td class="text-left"><a @click="showModal(index)" style="cursor: pointer"
                                         data-toggle="modal"
                                         data-target="#modal-cardpayment-details">{{data.category}}</a>
                </td>
                <td class="text-right">{{data.currentMonthTotalAccount}}</td>
                <td class="text-right">{{data.currentMonthTotalPayment | formatBdtInEnglish}}</td>
                <td class="text-right">{{data.lastDateTotalAccount}}</td>
                <td class="text-right">{{data.lastDateTotalPayment | formatBdtInEnglish}}</td>
            </tr>
            <tr>
                <td colspan="5"><b>Segment 2</b></td>
            </tr>
            <tr v-for="(data, index) in categories"
                v-if="data.category === 'Probable CL (As on date on Dealer Queue)'
                 || data.category === 'Probable CL list as per month beginning distribution'
                 || data.category === 'Existing CL'">
                <td class="text-left"><a @click="showModal(index)" style="cursor: pointer"
                                         data-toggle="modal"
                                         data-target="#modal-cardpayment-details">{{data.category}}</a>
                </td>
                <td class="text-right">{{data.currentMonthTotalAccount}}</td>
                <td class="text-right">{{data.currentMonthTotalPayment | formatBdtInEnglish}}</td>
                <td class="text-right">{{data.lastDateTotalAccount | formatBdtInEnglish}}</td>
                <td class="text-right">{{data.lastDateTotalPayment | formatBdtInEnglish}}</td>
            </tr>
            <tr>
                <td colspan="5"><b>Segment 3</b></td>
            </tr>
            <tr v-for="(data, index) in categories" v-if="data.category === 'Others'">
                <td class="text-left"><a @click="showModal(index)" style="cursor: pointer"
                                         data-toggle="modal"
                                         data-target="#modal-cardpayment-details">{{data.category}}</a>
                </td>
                <td class="text-right">{{data.currentMonthTotalAccount}}</td>
                <td class="text-right">{{data.currentMonthTotalPayment | formatBdtInEnglish}}</td>
                <td class="text-right">{{data.lastDateTotalAccount | formatBdtInEnglish}}</td>
                <td class="text-right">{{data.lastDateTotalPayment | formatBdtInEnglish}}</td>
            </tr>
            </tbody>
        </table>

        <div class="modal fade" id="modal-cardpayment-details">
            <div class="modal-dialog" style="height: 100%; width: 80%; padding-right: 20px;">
                <div class="modal-content" style="height: 900px;">
                    <div class="modal-header" style="text-align: center;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Loan Payment Details</h4>
                    </div>
                    <div style="overflow: auto; max-height: 800px; padding: 20px; margin-bottom: 20px;">
                        <table id="payment-details-tbl" class="table table-condensed table-hover table-bordered">
                            <thead class="thead-light">
                            <th class="text-center">SL</th>
                            <th class="text-center">Account NO</th>
                            <th class="text-center">Account Name</th>
                            <th class="text-center">Bucket Name</th>
                            <th class="text-center">Current Month Payment</th>
                            <th class="text-center">Last Date Payment</th>
                            <th class="text-center">Over Due</th>
                            <th class="text-center">Outstanding</th>
                            <th class="text-center">Dealer Name</th>
                            <th class="text-center">Last Payment Date</th>
                            </thead>
                            <tbody class="tbl-row">
                            <tr v-for="(payment,index) in paymentDetails">
                                <td class="text-right">{{index+1}}</td>
                                <td class="text-right"><a
                                        :href="'/profile/loanprofile/search?account='+ payment.accountNo"
                                        target="_blank">{{payment.accountNo.slice(0,13)}}</a></td>
                                <td>{{payment.accountName}}</td>
                                <td>{{payment.bucketName}}</td>
                                <td class="text-right">{{payment.currentMonthPayment| formatBdtInEnglish}}</td>
                                <td class="text-right">{{payment.lastDatePayment| formatBdtInEnglish}}</td>
                                <td class="text-right">{{payment.overdue| formatBdtInEnglish}}</td>
                                <td class="text-right">{{payment.outstanding| formatBdtInEnglish}}</td>
                                <td>{{payment.dealerName}}</td>
                                <td class="text-center text-nowrap">{{payment.lastPaymentDate}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <script>
        var dealerPaymentDetails = new Vue({
            el: '#loan_payment_details',
            data: {
                categories: [],
                paymentDetails: []
            },
            created: function(){
               console.log("category : "+JSON.stringify(this.categories));
            },
            methods: {
                showModal: function (index) {
                    this.paymentDetails = this.categories[index].paymentDetails;
                    setTimeout(function () {
                        $('#payment-details-tbl').DataTable({
                            'bInfo': true,
                            ordering: true,
                            searching: true,
                            lengthChange: true,
                            dom: 'Bfrtip',
                            retrieve: true,
                        })
                    },100)
                },
            },
            filters: {
                dateFormat: function (value) {
                    return formatDate_DD_MMM_YYYY(value);
                },
                formatBdtInEnglish: function (value) {
                    return formatBdtInEnglish(value);
                },
            }
        })

    </script>
</div>
</body>


</html>
