<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Amount Wise</title>
</head>
<body>
<div id="layout-cibReport" th:fragment="amount_wise_fragement">
    <center><h5>Total</h5></center>
    <div class="table-responsive" id="amount_wise_queue_status_summary">
        <table class="table table-condensed table-bordered" style="overflow: auto;width: 100%">
            <thead class="thead-light">
            <th class="text-center" v-if="designation != 'dealer'">Dealer Pin</th>
            <th class="text-center">Product</th>
            <th class="text-center">Bucket</th>
            <th class="text-center">Number Of Account</th>
            <th class="text-center">Total</th>
            <th class="text-center">Attempt</th>
            <th class="text-center">Unattempt</th>
            <th class="text-center">PTP Taken</th>
            <th class="text-center">PTP Not Taken</th>
            <th class="text-center">Kept From Taken PTP</th>
            <th class="text-center">Broken From Taken PTP</th>
            <th class="text-center" colspan="4">PAR</th>
            <th class="text-center" colspan="4">NPL</th>
            </thead>
            <tbody class="tbl-row">
            <tr>
                <td class="text-center" v-if="designation != 'dealer'"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center" id="distribution_status_summary_total_total"></td>
                <td class="text-center" id="touched_total"></td>
                <td class="text-center" id="un_touched_total"></td>
                <td class="text-center" id="pending_total"></td>
                <td class="text-center" id="ptp_not_taken"></td>
                <td class="text-center" id="kept_from_taken"></td>
                <td class="text-center" id="broken_from_kept"></td>

                <td class="text-center text-bold">Release</td>
                <td class="text-center text-bold">Remaining</td>
                <td class="text-center text-bold">Queue</td>
                <td class="text-center text-bold"title="Queue Next Date">Queue ND</td>
                <td class="text-center text-bold">Release</td>
                <td class="text-center text-bold">Remaining</td>
                <td class="text-center text-bold">Queue</td>
                <td class="text-center text-bold" title="Queue Next Date">Queue ND</td>
            </tr>
            <tr v-for="amount in amountWiseList">
                <td v-if="designation != 'dealer'">{{amount.dealerPin}}</td>
                <td>{{amount.pg}}</td>
                <td>{{amount.productAndDpd}}</td>
                <td><a data-toggle="modal" data-target="#modal-accounts" id="accounts-modal" style="cursor: pointer;">{{amount.totalNoOfAcc}}</a>
                    <span class="hidden" id="accounts"> {{amount.accounts}},</span>
                </td>
                <td>{{amount.totalNumber | formatCurrency }}</td>
                <td>{{amount.touchedNumber | formatCurrency }}</td>
                <td>{{amount.unTouchedNumber | formatCurrency }}</td>
                <td>{{amount.totalPending | formatCurrency }}</td>

                <td>{{amount.totalNumber -(amount.totalPending+amount.keptFromTekenPtp+amount.brokenPtp) | formatCurrency}}</td>
                <td>{{amount.keptFromTekenPtp | formatCurrency }}</td>
                <td>{{amount.brokenPtp | formatCurrency }}</td>

                <td>{{amount.totalParRel | formatCurrency }}</td>
                <td>{{amount.totalParRelRem | formatCurrency }}</td>
                <td>{{amount.totalParQ | formatCurrency }}</td>
                <td>{{amount.totalParQueueNextDay | formatCurrency }}</td>

                <td>{{amount.totalNplRel | formatCurrency }}</td>
                <td>{{amount.totalNplRem | formatCurrency }}</td>
                <td>{{amount.totalNplQ | formatCurrency }}</td>
                <td>{{amount.totalNplQueueNextDay | formatCurrency }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>Total</td>
                <td v-if="designation != 'dealer'"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td id="amtParTotalReles"></td>
                <td id="amtParTotalRemain"></td>
                <td id="amtParTotalQue"></td>
                <td></td>
                <td id="amtNplTotalReles"></td>
                <td id="amtNplTotalRemain"></td>
                <td id="amtNplTotalQue"></td>
                <td></td>
            </tr>
            </tfoot>
        </table>

        <br/>
        <div class="modal fade" id="modal-accounts">
            <div class="modal-dialog" style="height: 100%; width: 70%; padding-right: 20px;">
                <div class="modal-content" style="max-height: 900px;">
                    <div class="modal-header" style="text-align: center;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Account Details</h4>
                    </div>
                    <div style="overflow: auto; max-height: 800px; padding: 20px; margin-bottom: 20px;">
                        <table id="ptp-modal-tbl" class="table table-condensed table-hover table-bordered">
                            <thead class="thead-light">
                            <th class="text-center">Account No</th>
                            <th class="text-center">Outstanding</th>
                            </thead>
                            <tbody class="accounts-tbl-row">
                            <tr v-for="(acc,index) in accounts">
                                <td class="text-center"><a
                                        :href="'/profile/loanprofile/search?account='+ getBeforeDash(acc)"
                                        target="_blank">{{getBeforeDash(acc)}}</a></td>
                                <td class="text-center">{{getAfterDash(acc)}}</td>

                                <!--{{accountInformation.loanACNo || "-"}}-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var amount_wise_queue_status_summary = new Vue({
            el:'#amount_wise_queue_status_summary',
            data:{
                amountWiseList : [],
                designation: '',
                accounts : [],
            },
            created() {
                this.designation = $("#globalUserDesignationForSummary").val().toLowerCase();
            },
            computed: {

            },
            filters:{
                formatCurrency(value){
                    return formatBdtInEnglish(value);
                }
            },
            methods:{
                getAmountWiseData(){

                    let userPin= $("#globalUserPinForSummary").val();
                    let unit=$("#globalUnitForSummary").val();
                    let designation=$("#globalUserDesignationForSummary").val();
                    let userId=$("#globalUserIdForSummary").val();

                    var host = window.location.host;
                    var url = window.location.protocol + "//" + host + "/collection/dashboard/distribution/amountWise?userPin=" + userPin + "&unit=" + unit + "&designation=" + designation + "&userId=" + userId;
                    this.$http.get(url,
                        {credentials : true, headers:{
                                'X-CSRF-TOKEN' : window.csrfToken,
                            }}).then(res => {
                        console.log(res);
                    if(res.body){
                        this.amountWiseList = res.body;
                        this.getAccounts(res.body)
                        this.getTotal(res.body);
                        // if(typeof summary_details !== 'undefined')
                        //     summary_details.getDataFromJQuery(this.amountWiseList);
                    }
                }).catch(err => {
                        console.log(err);
                })

                },

                getTotal(amountWiseList) {
                    var amtParTotalReles = 0;
                    var amtParTotalRemain = 0;
                    var amtParTotalQue = 0;

                    var amtNplTotalReles = 0;
                    var amtNplTotalRemain = 0;
                    var amtNplTotalQue = 0;

                    for (var i = 0; i< amountWiseList.length; i++){
                        amtParTotalReles = amtParTotalReles + amountWiseList[i].totalParRel;
                        amtParTotalRemain = amtParTotalRemain + amountWiseList[i].totalParRelRem;
                        amtParTotalQue = amtParTotalQue + amountWiseList[i].totalParQ;

                        amtNplTotalReles = amtNplTotalReles + amountWiseList[i].totalNplRel;
                        amtNplTotalRemain = amtNplTotalRemain + amountWiseList[i].totalNplRem;
                        amtNplTotalQue = amtNplTotalQue + amountWiseList[i].totalNplQ;
                    }

                    $('#amtParTotalReles').text(amtParTotalReles);
                    $('#amtParTotalRemain').text(amtParTotalRemain);
                    $('#amtParTotalQue').text(amtParTotalQue);

                    $('#amtNplTotalReles').text(amtNplTotalReles);
                    $('#amtNplTotalRemain').text(amtParTotalRemain);
                    $('#amtNplTotalQue').text(amtParTotalQue);
                },
                getAccounts(amountWiseList){
                    console.log('show amountwise data...........................')
                    console.log(amountWiseList);
                    for (var i = 0; i< amountWiseList.length; i++){
                        this.accounts=amountWiseList[i].accounts.split(",");
                    }
                },
                getBeforeDash(accNoWithAmt){
                    return accNoWithAmt.substring(0,accNoWithAmt.indexOf('-')).substring(0,13);
                },
                getAfterDash(accNoWithAmt){
                    return accNoWithAmt.substring(accNoWithAmt.indexOf('-')+1);
                }
            }
        })


        $(document).ready(function () {

            $('#tab-dass,#tab-distribution-and-status-summary,#loan-supervisor-queue-status-sumary,#manager_summary_details').click(function () {
                amount_wise_queue_status_summary.getAmountWiseData();
            })



        })
    </script>
</div>

</body>


</html>

