<header class="main-header csi-main-header" th:fragment="header-main" xmlns:th="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="containe-fluid">
        <a th:href="@{/}" class="logo" style="background: white">
            <img th:src="@{/images/ific.png}" alt="IFIC" style='height: 100%; width: 100%; object-fit: contain'/>
        </a>
        <!--//.topbar-menu-right -->

        <div class="csi-topbar-menu">
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <div class="csi-topbar-menu">
                    <style>
                        .main-header .navbar-custom-menu, .main-header .navbar-right{
                            float: none;
                        }
                        .dropdown{
                            position: relative;
                            display: inline-block;
                        }
                        .dropdown-menu{
                            display: none;
                            position: absolute;
                        }
                        .dropdown:hover .dropdown-menu{
                            display: block;
                        }
                    </style>

                    <div id="header_search" class="navbar-custom-menu csi-topbar-menu-left">
                        <form style="padding: 10px; float: left; max-width: 600px" th:action="@{/profile/loanprofile/search}" method="get">
                            <input type="hidden" name="account" v-model="accountNo">
                            <label style="padding: 5px; color: white !important;" class="col-sm-3 custom-details-lebel-left">Acc. No./Card No. :</label>
                            <div class="input-group">
                                <input style="border-radius: 5px;" v-model="accountNo" type="text" name="q" class="form-control input-sm" placeholder="Enter 16 digit number">
                                <span class="input-group-btn">
                                    <button :disabled="buttonDisableOrNot" style="margin-left: 2px;" type="submit" name="search" id="search-btn" class="btn btn-success btn-sm btn-flat">
                                      <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>

                        <div id="three-sixty-icon" style="padding: 10px; float: left;">

                        </div>

                        <ul class="nav navbar-nav" style="float: right">

                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="name">
                                    <img th:if="${session.userPhoto}" th:src="@{'data:image/png;base64, ' + ${session.userPhoto}}"
                                         class="user-image" alt="User Image">
                                    <img th:unless="${session.userPhoto}" th:src="@{/images/avatar.png}" class="user-image"
                                         alt="User Image">
                                    <span class="hidden-xs" sec:authentication="principal.firstName"></span>
                                </a>


                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <img th:if="${session.userPhoto}"
                                             th:src="@{'data:image/png;base64, ' + ${session.userPhoto}}" class="img-circle"
                                             alt="User Image">
                                        <img th:unless="${session.userPhoto}" th:src="@{/images/avatar.png}" class="img-circle"
                                             alt="User Image">
                                        <div class="text-capitalize" style="color: white" sec:authentication="principal.firstName"></div>
                                        <small class="text-capitalize" style="color: white" th:text="${session.userDesignation}"></small>
                                    </li>
                                    <!-- Menu Body -->
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a th:href="@{/user/changePassword}" class="btn btn-default btn-flat">Change Password</a>
                                        </div>
                                        <div class="pull-right">
                                            <form method="post" th:action="@{/logout}">
                                                <button class="btn btn-default btn-flat">Log out</button>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        var accountNo = /*[[${accountConcatNumber}]]*/ [];
                        var cardNo = /*[[${cardAccountBasic?.cardNo}]]*/ [];
                        var isLoan = !!accountNo;

                        /*]]>*/
                    </script>
                    <script>
                        var headerSearch = new Vue({
                            el:'#header_search',
                            data:{
                                accountNo: accountNo ? accountNo : cardNo ? cardNo : '',
                            },
                            computed:{
                                buttonDisableOrNot(){
                                    return false;
                                    /*return this.accountNo.length != 16;*/
                                }
                            }
                        })
                    </script>
                </div>
            </nav>
        </div>
    </div>
</header>
