<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>General Info-View</title>
</head>
<body>
<div id="layout-generalPreview" th:fragment="frag-general-view-PreView">
    <script type="text/javascript" th:src="@{/collection/dashboard/AccountWiseDistributionSummary.js}"></script>
    <script type="text/javascript" th:src="@{/collection/dashboard/dashboardTeamLeadCombined.js}"></script>
    <div class="loandetail-area-sp box box-primary">
        <form method="post" id="generalInfoFormViw">
            <div id="layout-form-general" class="loancaseentry-sp general-div" style="margin-left: 0px">
                <div class="loan-init-details-sp-inner"
                     th:with="isCard = ${#strings.contains(employee.unit,'Card')}, isLoan = ${#strings.contains(employee.unit,'Loan')}">

                    <input id="globalUserPinForSummary" type="hidden" th:value="${employee?.pin}"/>
                    <input id="globalUserIdForSummary" type="hidden" th:value="${employee?.id}"/>
                    <input id="globalUserDesignationForSummary" type="hidden"
                           th:value="${employee?.designation?.name}"/>

                    <input th:if="${isCard and !isLoan}" id="globalUnitForSummary" type="hidden" th:value="Card"/>
                    <input th:if="${!isCard and isLoan}" id="globalUnitForSummary" type="hidden" th:value="Loan"/>

                    <div class="row csi-view-form-group" th:if="${isCard and isLoan}">
                        <a th:href="@{/(viewCardDash=false)}" target="_blank" th:if="${viewCardDash}">
                            <button type="button" class="btn btn-primary">View Loan Dashboard</button>
                        </a>
                        <a th:href="@{/(viewCardDash=true)}" target="_blank" th:unless="${viewCardDash}">
                            <button type="button" class="btn btn-primary">View Card Dashboard</button>
                        </a>

                        <input id="globalUnitForSummary" type="hidden" th:if="${viewCardDash}" th:value="Card"/>
                        <input id="globalUnitForSummary" type="hidden" th:unless="${viewCardDash}" th:value="Loan"/>
                    </div>

                    <div class="row csi-view-form-group">
                        <a th:href="@{/teamleader/to/dealer/dashboard(id=${employee?.pin})}" target="_blank">
                            <button type="button" class="btn btn-primary btn-sm">Dealer Dashboard</button>
                        </a>
                    </div>

                    <div class="row csi-view-form-group text-center text-bold" style="background-color: #B5CDE1">
                        <label class="custom-details-lebel text-blue">Personal Profile</label>
                    </div>
                    <div class="row csi-view-form-group">
                        <label class="col-sm-2 custom-details-lebel">Employee PIN :</label>
                        <label class="col-sm-3 custom-form-lebel" th:text="${employee?.pin}"></label>
                        <label class="col-sm-2 custom-details-lebel">Employee Name :</label>
                        <label class="col-sm-3 custom-form-lebel"
                               th:text="${employee?.user?.firstName}+' '+${employee?.user?.lastName}"></label>
                    </div>
                    <div class="row csi-view-form-group text-center text-bold" style="background-color: #B5CDE1">
                        <label class="custom-details-lebel text-blue">Managerial View</label>
                    </div>
                    <div class="row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel">No. of Employee</label>
                        <label class="col-sm-2 custom-form-lebel" th:text="${totalEmployee}"></label>
                        <label class="col-sm-3 custom-details-lebel"> No of Accounts: </label>
                        <label class="col-sm-2 custom-form-lebel" th:text="${userTotalAcc}"></label>
                    </div>

                    <div class="row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel">Sum of Total Outstanding: </label>
                        <label class="col-sm-2 custom-form-lebel" th:text="${userTotalOutStanding}"></label>
                        <label class="col-sm-3 custom-details-lebel">Monitoring Bucket :</label>
                        <label class="btn btn-xs btn-primary margin-r-5" th:each="bucket : ${monitoringBuckets}"
                               th:text="${bucket.bucketName}"></label>
                    </div>
                    <!--<div class="row csi-view-form-group">-->
                    <!--<label class="col-sm-3">Login Time :</label>-->
                    <!--<label class="col-sm-9 custom-form-lebel" th:text="${#dates.format(loginTime, 'dd-MMM-yyyy hh:mm')}"></label>-->

                    <!--<label class="col-sm-3">Login Status :</label>-->
                    <!--<label class="col-sm-4 custom-form-lebel">Regular</label>-->
                    <!--</div>-->
                    <div class="row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel">Total Location : </label>
                        <label class="col-sm-2 custom-form-lebel" th:title="${totalLocation}"
                               th:text="${totalLocation.size()}" style="cursor: pointer">0</label>
                    </div>

                </div>
            </div>

        </form>
    </div>
</div>
</body>
</html>
