<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"></meta>
    <title>Details | LOAN</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/card/bower_components/font-awesome/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/card/bower_components/Ionicons/css/ionicons.min.css}" />
    <link rel="stylesheet" th:href="@{/card/dist/css/AdminLTE.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/card/tab/css/design.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/card/custom/css/tab-pane.css}" />

    <link rel="stylesheet" th:href="@{/css/googlefonts.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/card/custom/css/custom.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/card/custom/css/cardPreview.css}" />


    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="https://adminlte.io/themes/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="https://adminlte.io/themes/AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />

</head>
<body>
<div id="layout-cibReport" th:fragment="follow_info">
    <div class="csi-view-form-full-area csi-view-indtable">
        <div class="box-header with-border csi-view-box-header">

        </div>
        <div class="box-body" >
            <form class="form-horizontal csi-view-form">
                <table class="table table-condensed table-bordered custom_dt">
                    <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Account</th>
                        <th class="text-center">Outstanding</th>
                    </tr>
                    </thead>

                    <tbody th:each="data,status : ${followUpList}">
                    <tr style="text-align: center">
                        <td th:text="${status.count}"></td>
                        <td th:text="${data.accNo}"></td>
                        <td th:text="${#numbers.formatDecimal(data.outstandingAmount, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                    </tr>
                    </tbody>

                </table>
        </div>
        </form>
    </div>
</div>


</div>
</body>


</html>