<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="card/layouts/main/main-layout">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Role</title>
</head>
<body>
	<div class="content-wrapper" layout:fragment="content">
		<div class="col-xs-12">
			<div>
				<div class="col-md-offset-2 col-md-8">
					<!-- .box -->
					<div class="box box-info">
						<div class="box-header with-border">
					        <h3 th:if="${role.roleId == null}" class="box-title">Create New Role</h3>
                            <h3 th:if="${role.roleId != null}" class="box-title">Update Role</h3>
						</div>
						<!-- Horizontal Form -->
						<form class="form-horizontal" method="post" th:action="@{/role/create}" th:object="${role}">
						    <input type="hidden" th:field="*{roleId}"></input>
							<div class="box-body">
								<div class="form-group">
									<label  class="col-sm-2 custom-form-lebel-right required">Role</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" th:field="*{name}" placeholder="Role" />
									</div>
								</div>
								<div class="form-group">
										<label class="col-sm-2 custom-form-lebel-right required">Description</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" th:field="*{description}" placeholder="Deescription" />
									</div>
								</div>
							</div>
							<!-- /.box-body -->
							<div class="box-footer text-center">
								<button type="submit" class="btn btn-info ">Submit</button>
								<a type="submit" class="btn btn-danger" href="/role/list">Cancel</a>
							</div>
							<!-- /.box-footer -->
						</form>
					</div>
					<!-- /.box -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>