<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"></meta>
    <title>CMS</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/skins/_all-skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/card/dist/css/AdminLTE.min.css}"/>

    <style>
        body {
            font-size: 13px;
            zoom: 85%;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("/images/legal_bg.jpg");
        }
    </style>

</head>
<body class="hold-transition skin-red sidebar-collapse">
<header class="main-header">
    <a th:href="@{/collection/legal/dashboard/home}" class="logo"
       style="background-color: white;height: 56px; padding: 0;margin: 0;">
        <img th:src="@{/images/ucbl_logo_x.png}" alt="UCBL"
             style='height: 100%; width: 100%; padding:0; margin:0; object-fit: contain; background-color: white'/>
    </a>
    <nav class="navbar navbar-static-top">
        <style>
            .main-header .navbar-custom-menu, .main-header .navbar-right {
                float: none;
            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-menu {
                display: none;
                position: absolute;
            }

            .dropdown:hover .dropdown-menu {
                display: block;
            }
        </style>
        <div class="navbar-custom-menu">
            <div class="col-sm-1 text-left margin">
                <a th:href="@{/collection/legal/dashboard/home}" class="navbar-link"
                   style="color: white; font-family: Arial;font-size: 1em;">Dashboard</a>
            </div>
            <div class="col-sm-9 text-center margin">
                <span style="color: white; font-family: Arial; font-size: 2em;">Case Management System</span>
            </div>

            <ul style="float: right" class="nav navbar-nav" id="logout_reason">
                <!-- Messages: style can be found in dropdown.less-->
                <!-- User Account: style can be found in dropdown.less -->


                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="name">
                        <img th:if="${session.userPhoto}"
                             th:src="@{'data:image/png;base64, ' + ${session.userPhoto}}"
                             class="user-image" alt="User Image">
                        <img th:unless="${session.userPhoto}" th:src="@{/images/avatar.png}" class="user-image"
                             alt="User Image">
                        <span class="hidden-xs" sec:authentication="principal.firstName"></span>
                    </a>


                    <ul class="dropdown-menu" style="border: none">
                        <!-- User image -->
                        <li class="user-header">
                            <img th:if="${session.userPhoto}"
                                 th:src="@{'data:image/png;base64, ' + ${session.userPhoto}}" class="img-circle"
                                 alt="User Image">
                            <img th:unless="${session.userPhoto}" th:src="@{/images/avatar.png}" class="img-circle"
                                 alt="User Image">
                            <div class="text-capitalize" style="color: white">
                                <span class="hidden-xs" sec:authentication="principal.firstName"></span>&nbsp;
                                <span class="hidden-xs" sec:authentication="principal.lastName"></span>
                            </div>
                            <small class="text-capitalize" style="color: white"
                                   th:text="${session.userDesignation}"></small>
                        </li>
                        <!-- Menu Body -->
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a th:href="@{/user/changePassword}" class="btn btn-default btn-flat">Change
                                    Password</a>
                            </div>
                            <div class="pull-right">
                                <a href="/logout">
                                    <button class="btn btn-default btn-flat">Log out</button>
                                </a>
                            </div>

                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
            </ul>

        </div>
    </nav>
</header>

</div>

</body>
</html>