<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Deferred Account List</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">

                        <div class="box-header with-border" style="text-align: center;">
                            <h1 class="box-title">Deferred Account List </h1>
                        </div>

                        <!-- /.box-header -->
                        <div class="box-body">
                            <a style="margin-bottom:5px;" class="btn btn-primary btn-sm"
                               th:href="@{/collection/deferred/upload-excel}"><span class="glyphicon glyphicon-plus"> </span>
                                Upload Deferred Account </a>
                            <table style="overflow-x: hidden; display: block;" th:if="${deferredAccList!=null}" id="deferredAcc"
                                   name="datatable-responsive"
                                   class="table table-condensed table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Account No</th>
                                    <th>Status</th>
                                    <th>Created</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="deferredAcc : ${deferredAccList}">
                                    <td><span th:text="${deferredAcc?.accNo}"></span></td>
                                    <td><span
                                            th:text="${deferredAcc?.status}"></span>
                                    </td>
                                    <td><span th:text="${deferredAcc?.createdBy}"></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(document).ready(function () {
                    $('#deferredAcc').DataTable({
                        'bInfo': true,
                        ordering: true,
                        searching: true,
                        lengthChange: true,
                        dom: 'Bfrtip',
                    })
                })

            </script>

        </section>
    </div>
</div>
</body>
</html>