<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="card/layouts/main/main-layout">
<head>
<meta charset="ISO-8859-1"></meta>
<title> Employee Status Manager</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="content-wrapper">
			<section class="content">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="box box-primary">

							<div class="box-header with-border" style="text-align: center;">
								<h3 th:if="${status.id == null}" class="box-title">Create New Status</h3>
								<h3 th:if="${status.id != null}" class="box-title">Update Status</h3>
							</div>

							<form  class="form-horizontal validate" method="post" th:action="@{/collection/employee_status_manager/create}" th:object="${status}">
								<input type="hidden" th:field="*{id}" required></input>
								<input type="hidden" th:field="*{employeeInfo.id}" required></input>
								<input type="hidden" th:field="*{userId}" required></input>
								<div class="box-body">
									<div class="form-group">
										<label class="col-sm-4 custom-form-lebel-right required" >User Email </label>
										<div class="col-sm-8">
											<span name="name" class="form-control input-sm" th:required="true" th:text="*{employeeInfo.pin}" placeholder="Status Name" ></span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 custom-form-lebel-right required" >Name </label>
										<div class="col-sm-8">
											<span name="name" class="form-control input-sm" th:text="${status.employeeInfo.user.firstName}+' '+${status.employeeInfo.user.lastName}"></span>
										</div>
									</div>
									<div class="form-group">
										<label  class="col-sm-4 custom-form-lebel-right required">Status </label>
										<div class="col-sm-8">
											<select class="form-control input-sm" th:field="*{employeeStatus.id}">
												<option th:each="st: ${statusList}" th:value="${st.id}" th:selected="${st.id == status.employeeStatus.id}"><span th:text="${st.name}"></span></option>
											</select>
										</div>
									</div>

									<div class="form-group">
										<label  class="col-sm-4 custom-form-lebel-right">Remarks </label>
										<div class="col-sm-8">
											<textarea class="form-control input-sm" th:field="*{remarks}"></textarea>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-4 custom-form-lebel-right">Start Date </label>
										<div class="col-sm-8">
											<input type="date" name="startDate" class="form-control input-sm" th:field="*{startDate}" placeholder="Start Date" ></input>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 custom-form-lebel-right">End Date </label>
										<div class="col-sm-8">
											<input type="date" name="endDate" class="form-control input-sm" th:field="*{endDate}" placeholder="End Date" ></input>
										</div>
									</div>

								</div>
								<!-- /.box-body -->
								<div class="box-footer text-center">
									<button type="submit" class="btn btn-info btn-sm ">Submit</button>
									<a type="submit" class="btn btn-danger btn-sm" href="/collection/employee_status_manager/list">Cancel</a>
								</div>
								<!-- /.box-footer -->
							</form>

						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>