<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Account information</title>
</head>
<body>
<div id="layout-cibReport" th:fragment="account-info">


    <div  class="loandetail-area-sp box box-primary">
        <div>
            <div class="box-header with-border">
                <label class="box-title">Account Information</label>
            </div>
            <form method="post" id="generalInfoFormViw">
                <div id="layout-form-general" class="loancaseentry-sp general-div" style="margin-left: 0px">
                    <div class="loan-init-details-sp-inner">

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left ">Loan A/C No :</label>
                            <label class="col-sm-3 custom-form-lebel" id="loanNo">{{accountInformation.loanACNo || "-"}}</label>

                            <label class="col-sm-3 custom-details-lebel-left">Link/mother Account No :</label>
                            <label class="col-sm-3 custom-form-lebel" id="linkAccountNo">{{accountInformation.linkMotherAccountNo || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="linkAccountNo">{{loanAccDetails.sattlementLoanAc}}</label>-->
                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left">Link Account Status :</label>
                            <label class="col-sm-3 custom-form-lebel" >{{accountInformation.linkAccountStatus || "-"}}</label>

                            <label class="col-sm-3 custom-details-lebel-left">Loan C/L Status :</label>
                            <label class="col-sm-3 custom-form-lebel" >{{accountInformation.loanCLStatus || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" >{{loanAccInfo.accountStatus}}</label>-->
                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left">Settlement/Link Account Balance :</label>
                            <label class="col-sm-3 custom-form-lebel" id="settlementAccountBalance">{{numberToBdt((accountInformation.settlementLinkAccountBalance))}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="settlementAccountBalance">{{loanAccDetails.sattlementAcBal}}</label>-->

                            <label class="col-sm-3 custom-details-lebel-left">Co-Applicant 1 :</label>
                            <label class="col-sm-3 custom-form-lebel" ></label>
                        </div>

                        <!--<div class="form-group row csi-view-form-group">
                           &lt;!&ndash; <label class="col-sm-3 custom-details-lebel-left">Co-Applicant 2 :</label>
                            <label class="col-sm-3 custom-form-lebel" >{{accountInformation.jointStatus || "-"}}</label>&ndash;&gt;

                            &lt;!&ndash;<label class="col-sm-3 custom-details-lebel-left">Loan A/C No 2 :</label>
                            <label class="col-sm-3 custom-form-lebel" >{{accountInformation.loanACNo2 || "-"}}</label>&ndash;&gt;
                        </div>-->

                       <!-- <div class="form-group row csi-view-form-group">
                            &lt;!&ndash;<label class="col-sm-3 custom-details-lebel-left ">Loan A/C No 3 :</label>
                            <label class="col-sm-3 custom-form-lebel" >{{accountInformation.loanACNo3 || "-"}}</label>
&ndash;&gt;
                          &lt;!&ndash;  <label class="col-sm-3 custom-details-lebel-left"> Loan A/C No 4 :</label>
                            <label class="col-sm-3 custom-form-lebel" id=" relatedPreviousAccount">*{{accountInformation.loanACNo4 || "-"}}</label>&ndash;&gt;
                            &lt;!&ndash;<label class="col-sm-3 custom-form-lebel" id=" relatedPreviousAccount">*{{loanAccDetails.previousAccountNo !== null ? loanAccDetails.previousAccountNo : loanAccDetails.altAccNo !== null ? loanAccDetails.altAccNo : previousAccountEntity.previousAccountNo }}</label>&ndash;&gt;
                        </div>-->

                        <div class="form-group row csi-view-form-group" style="margin-top: 10px;background-color:#f3eeee">
                        </div>


                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left ">Product Type :</label>
                            <label class="col-sm-3 custom-form-lebel" id="productType">{{accountInformation.productType || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="productType">{{loanAccDetails.proddes}}</label>-->
                            <label class="col-sm-3 custom-details-lebel-left ">Product Code :</label>
                            <label class="col-sm-3 custom-form-lebel" id="schemeCode">{{accountInformation.productCode || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="schemeCode">{{loanAccDetails.productCode}}</label>-->
                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left">Link A/c Product Code :</label>
                            <label class="col-sm-3 custom-form-lebel" >{{accountInformation.linkACProductCode || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" >{{accountInformation.productName}}</label>-->

                            <label class="col-sm-3 custom-details-lebel-left">Branch Code :</label>
                            <label class="col-sm-3 custom-form-lebel" id="branchCode">{{accountInformation.branchCode || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="branchCode">{{loanAccInfo.branchCode}}</label>-->
                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left ">Routing No. :</label>
                            <label class="col-sm-3 custom-form-lebel" >{{accountInformation.routingNo || "-"}}</label>

                            <label class="col-sm-3 custom-details-lebel-left">Sanction Amount :</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="sanctionAmount">{{numberToBdt((accountInformation.sanctionAmount/100) || "0")}}</label>-->
                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left">Total Disbursement Amount :</label>
                            <label class="col-sm-3 custom-form-lebel" id="disbursementAmount">{{numberToBdt(accountInformation.disbursementAmount)}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="disbursementAmount">{{loanAccInfo.disburseLoanAmount}}</label>-->

                            <label class="col-sm-3 custom-details-lebel-left "> Loan Start Date :</label>
                            <label class="col-sm-3 custom-form-lebel" id="disburesmentDate">{{accountInformation.disbursementDate || "-"}}</label>
                        </div>


                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left ">Expiry Date :</label>
                            <label class="col-sm-3 custom-form-lebel" id="expiryDate">{{accountInformation.expiryDate || "-"}}</label>

                            <label class="col-sm-3 custom-details-lebel-left"> Grace Period :</label>
                            <label class="col-sm-3 custom-form-lebel" id="tenor">{{accountInformation.gracePeriod || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="tenor">{{loanAccDetails.totalTenor}}</label>-->
                        </div>
                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left"> Actual Tenor :</label>
                            <label class="col-sm-3 custom-form-lebel">{{accountInformation.actualTenor || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel">{{loanAccDetails.actualTenor}}</label>-->

                            <label class="col-sm-3 custom-details-lebel-left">First Installment Default (FID) :</label>
                            <label class="col-sm-3 custom-form-lebel" id="firstInstallmentDue">{{accountInformation.firstInstallmentDefaultFID || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="firstInstallmentDue">{{loanAccDetails.fid}}</label>-->
                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left">First Inst. Due Date :</label>
                            <label class="col-sm-3 custom-form-lebel" id="firstEmiDate">{{accountInformation.firstInstDueDate || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="firstEmiDate">{{loanAccDetails.firstRepayDueDate | formatDate}}</label>-->

                            <label class="col-sm-3 custom-details-lebel-left"> Installment Frequency :</label>
                            <label class="col-sm-3 custom-form-lebel" id="installmentFrequency">{{accountInformation.frequencyCode || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="installmentFrequency">{{loanAccDetails.installmentFrequence}}</label>-->
                        </div>
                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left">Total Sanction/Facility Limit :</label>
                            <label class="col-sm-3 custom-form-lebel" id="totalFacilityLimit" >{{accountInformation.totalSanctionFacilityLimit || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="totalFacilityLimit" >{{totalFacilityAmt > 0 ? 'Yes' : 'No'}}</label>-->

                            <label class="col-sm-3 custom-details-lebel-left">Latest Disbursement Amount :</label>
                            <label class="col-sm-3 custom-form-lebel">{{numberToBdt((accountInformation.disbursementAmount))}}</label>
                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left">Latest Disbursement Date :</label>
                            <label class="col-sm-3 custom-form-lebel" >{{accountInformation.disbursementDate}}</label>

                            <label class="col-sm-3 custom-details-lebel-left"> Loan Approval Date :</label>
                            <label class="col-sm-3 custom-form-lebel" id="lastApprovalDate">{{accountInformation.loanApprovalDate || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="lastApprovalDate">{{loanAccDetails.latestApprovalDate | formatDate}}</label>-->
                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left ">Interest Rate :</label>
                            <label class="col-sm-3 custom-form-lebel" id="interestRate">{{accountInformation.interestRate || "-"}} %</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="interestRate">{{loanAccDetails.interestRate}} %</label>-->

                            <label class="col-sm-3 custom-details-lebel-left">Asset Classification :</label>
                            <label class="col-sm-3 custom-form-lebel" id="assetClassification">{{accountInformation.assetClassification || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="assetClassification">{{loanAccDetails.status1}}</label>-->
                        </div>


                        <div class="form-group row csi-view-form-group">

                            <label class="col-sm-3 custom-details-lebel-left ">Total No. of Installment :</label>
                            <label class="col-sm-3 custom-form-lebel">{{accountInformation.totalNoOfInstallment || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel">{{loanAccInfo.scheduleCurDate | dateFormat}}</label>-->

                            <label class="col-sm-3 custom-details-lebel-left">1st EMI Date :</label>
                            <label class="col-sm-3 custom-form-lebel" id="nextDate">{{accountInformation.firstEmiDate || "-"}}</label>

                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left">Next EMI Date :</label>
                            <label class="col-sm-3 custom-form-lebel" id="scheduleNextDate">{{accountInformation.nextEMIDate || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="scheduleNextDate">{{loanAccDetails.scheduleNextDate | formatDate}}</label>-->

                            <label class="col-sm-3 custom-details-lebel-left">Payment During the month :</label>
                            <label class="col-sm-3 custom-form-lebel" id="totalCurrentMonthPaid">{{numberToBdt((accountInformation.paymentDuringTheMonth))}}</label>
                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left">Paid Amount in Last Month :</label>
                            <label class="col-sm-3 custom-form-lebel" id="lastMonthPaid">{{numberToBdt((accountInformation.paidAmountInLastMonth))}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="lastMonthPaid">{{numberToBdt(loanAccDetails.amountPaidLastMnth)}}</label>-->

                            <label class="col-sm-3 custom-details-lebel-left ">Principle Paid :</label>
                            <label class="col-sm-3 custom-form-lebel" id="principlePaid">{{numberToBdt((accountInformation.principlePaid))}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="principlePaid">{{numberToBdt(loanAccStatement.totalPrinciple)}}</label>-->
                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left ">Interest Paid :</label>
                            <label class="col-sm-3 custom-form-lebel" id="interestPaid">{{numberToBdt((accountInformation.interestPaid))}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="interestPaid">{{numberToBdt(loanAccStatement.totalInterest)}}</label>-->

                            <label class="col-sm-3 custom-details-lebel-left">Subsidy from BB COVID :</label>
                            <label class="col-sm-3 custom-form-lebel">{{numberToBdt((accountInformation?.subsidyFromBBCOVID))}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel">{{numberToBdt(loanAccStatement?.totalSubsidyFromBbCovid)}}</label>-->
                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left">Waiver of Interest :</label>
                            <label class="col-sm-3 custom-form-lebel">{{numberToBdt((accountInformation.waiverOfInterest))}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel">{{numberToBdt(loanAccStatement.totalWaivedInterest)}}</label>-->

                            <label class="col-sm-3 custom-details-lebel-left">Interest Suspense :</label>
                            <label class="col-sm-3 custom-form-lebel">{{numberToBdt((accountInformation.interestSuspense))}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel">{{numberToBdt(loanAccDetails.interestSuspence)}}</label>-->
                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left">Total Enhancement Amount :</label>
                            <label class="col-sm-3 custom-form-lebel">{{numberToBdt((accountInformation.totalEnhancementAmount))}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel">{{numberToBdt(loanAccStatement.totalRolloverOfContract)}}</label>-->

                            <!--<label class="col-sm-3 custom-details-lebel-left"> No of Installment Due :</label>-->
                            <!--<label class="col-sm-3 custom-form-lebel" id="noOfInstallmentDue">{{accountInformation.noOfInstallmentDue || "-"}}</label>-->
                            <!--<label class="col-sm-3 custom-form-lebel" id="noOfInstallmentDue">{{loanAccDetails.noOfIntallmentDue}}</label>-->
                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left">ATE :</label>
                            <label class="col-sm-3 custom-form-lebel" id="ageCode">{{accountInformation.ate || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="ageCode">{{loanAccDetails.dpdBucket}}</label>-->
                        </div>


                        <div class="form-group row csi-view-form-group" style="margin-top: 10px;background-color:#f3eeee">
                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left"> DST / Source Code :</label>
                            <label class="col-sm-3 custom-form-lebel" id="chanelCode">{{accountInformation.dstSourceCode || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="chanelCode">{{loanAccInfo.source}}</label>-->

                            <label class="col-sm-3 custom-details-lebel-left">RM Code: </label>
                            <label class="col-sm-3 custom-form-lebel" id="rmCodeId" style="cursor: pointer; color: blue !important" data-toggle="modal" data-target="#modal-rm-code-info">{{accountInformation.rmCode || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="rmCodeId" style="cursor: pointer; color: blue !important" data-toggle="modal" data-target="#modal-rm-code-info">{{loanAccInfo.rmCode}}</label>-->

                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left">Economic Purpose Code :</label>
                            <label class="col-sm-3 custom-form-lebel">{{accountInformation.economicPurposeCode || "-"}}</label>

                            <label class="col-sm-3 custom-details-lebel-left">Economic Purpose Name :</label>
                            <label class="col-sm-3 custom-form-lebel" id="economicPurposeSectorCode">{{accountInformation.economicPurposeName || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="economicPurposeSectorCode">{{loanAccInfo.ecoPurposeName}}</label>-->
                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left">Sector Code :</label>
                            <label class="col-sm-3 custom-form-lebel" id="centralBankSectorCode">{{accountInformation.sectorCode != null ? accountInformation.sectorCode : "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="centralBankSectorCode">{{loanAccDetails.sectCode != null ? loanAccDetails.sectCode : sectorCode.sectorCode}}</label>-->

                            <label class="col-sm-3 custom-details-lebel-left">Sector Name :</label>
                            <label class="col-sm-3 custom-form-lebel" id="bankSectorCode">{{accountInformation.sectorName || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="bankSectorCode">{{customerInfo.secDesc}}</label>-->

                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left">Security Code :</label>
                            <label class="col-sm-3 custom-form-lebel">{{accountInformation.securityCode || "-"}}</label>

                            <label class="col-sm-3 custom-details-lebel-left">SME Code/ Industry Scale ID :</label>
                            <label class="col-sm-3 custom-form-lebel" id="smeCode">{{accountInformation.smeCodeIndustryScaleID || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="smeCode">{{customerInfo.smeCode}}</label>-->
                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left">SME Desc :</label>
                            <label class="col-sm-3 custom-form-lebel" >{{accountInformation.smeDesc || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" >{{customerInfo.smeDesc}}</label>-->

                            <label class="col-sm-3 custom-details-lebel-left"> Credit Rating :</label>
                            <label class="col-sm-3 custom-form-lebel" id="creditRating">{{accountInformation.creditRating}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="creditRating">{{customerInfo.creditRating}}</label>-->


                        </div>
                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left"> Location :</label>
                            <label class="col-sm-3 custom-form-lebel" id="location">{{accountInformation.location || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="location">{{customerInfo.location}}</label>-->

                            <!--<label class="col-sm-3 custom-details-lebel-left">Industry Scale ID :</label>
                            <label class="col-sm-3 custom-form-lebel">{{accountInformation.industryScaleID || "-"}}</label>-->
                        </div>

                        <div class="form-group row csi-view-form-group" style="margin-top: 10px;background-color:#f3eeee">

                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left ">Dealer Id :</label>
                            <label class="col-sm-3 custom-form-lebel" th:text="${distributionInfo != null ? distributionInfo.dealerPin : ''}"></label>

                            <label class="col-sm-3 custom-details-lebel-left">Dealer Name :</label>
                            <label class="col-sm-3 custom-form-lebel"
                                   th:text="${distributionInfo != null ? distributionInfo.dealerName : ''}"></label>
                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left ">Total Amount Paid :</label>
                            <label class="col-sm-3 custom-form-lebel" id="totalPaidAmount">{{numberToBdt((accountInformation.totalAmountPaid))}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="totalPaidAmount">{{numberToBdt(loanAccStatement.totalCustomerPaid)}}</label>-->

                            <label class="col-sm-3 custom-details-lebel-left">Penal Charge :</label>
                            <label class="col-sm-3 custom-form-lebel" id="penalCharge">{{numberToBdt((accountInformation.penalCharge))}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="penalCharge">{{numberToBdt(loanAccSchedule.penalCharge)}}</label>-->

                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left">Nature of business :</label>
                            <label class="col-sm-3 custom-form-lebel" id="natureOfBusiness">{{accountInformation.natureOfBusiness || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="natureOfBusiness">{{loanAccDetails.sectDesc}}</label>-->

                            <label class="col-sm-3 custom-details-lebel-left">Mortgage/RIGPA Deferral Status :</label>
                            <label class="col-sm-3 custom-form-lebel" >{{accountInformation.mortgageRIGPADeferralStatus || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" >{{ deferredAccount !==null?deferredAccount.status : ''}}</label>-->
                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left">Rental Payment of Mortgage property(year) :</label>
                            <label class="col-sm-3 custom-form-lebel">{{numberToBdt((accountInformation.rentalPaymentOfMortgagePropertyYear))}}</label>

                            <label class="col-sm-3 custom-details-lebel-left">Mortgaged amount :</label>
                            <label class="col-sm-3 custom-form-lebel" >{{numberToBdt((accountInformation.mortgagedAmount))}}</label>
                        </div>

                        <div class="form-group row csi-view-form-group">
                            <label class="col-sm-3 custom-details-lebel-left">Co-Applicant :</label>
                            <label class="col-sm-3 custom-form-lebel" ></label>

                            <label class="col-sm-3 custom-details-lebel-left">No of Installment Paid :</label>
                            <label class="col-sm-3 custom-form-lebel" id="noOfInstallmentPaid">{{accountInformation.noOfInstallmentPaid || "-"}}</label>
                            <!--<label class="col-sm-3 custom-form-lebel" id="noOfInstallmentPaid">{{loanAccDetails.noOfIntallmentPaid}}</label>-->
                        </div>

                        <div class="form-group row csi-view-form-group" style="margin-top: 10px;background-color:#f3eeee">

                        </div>
                    </div>
                </div>
            </form>



            <div class="modal fade in" id="modal-rm-code-info"  data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" style="width: 60%">
                    <div class="modal-content col-sm-12">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            </button>
                            <h3 >RM Informfation</h3>
                        </div>
                        <label>RM Name: </label> <span>{{rmName}}</span>
                        <label style="padding-left: 200px;">RM Contact Number: </label> <span>{{rmContactNo}}</span>

                        <div class="form-horizontal csi-view-form" id="rm-code">
                            <div  style="overflow: auto; max-height: 400px;">
                                <table class=" table table-striped table-bordered table-responsive">
                                    <thead>
                                    <tr>
                                        <th>Customer Name</th>
                                        <th>A/C No</th>
                                        <th>Limit</th>
                                        <th>Outstanding</th>
                                        <th>Overdue</th>
                                        <th>Bucket</th>
                                        <th>CL Status</th>
                                        <th>Disbursement Date</th>
                                        <th>Product Name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="rm in rmCodeList">
                                        <td>{{rm.accountName}}</td>
                                        <td>{{rm.accountNumber}}</td>
                                        <td>{{rm.limitAmount}}</td>
                                        <td>{{rm.outStandingLocalCurrency}}</td>
                                        <td>{{rm.overdue}}</td>
                                        <td>{{rm.dpdBucket}}</td>
                                        <td>{{rm.status1}}</td>
                                        <td>{{rm.disbursementDate}}</td>
                                        <td>{{rm.proddes}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer text-center">
                            <button type="button" id="cardRefModalCancelBtn" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
</body>


</html>