<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Follow up</title>
</head>
<body>
<div id="layout-cibReport" th:fragment="follow-up">
        <div class="csi-view-form-full-area csi-view-indtable">

            <div class="box-header with-border csi-view-box-header">
                <h3 class="box-title">Follow Up</h3>
                <a class=" btn btn-sm pull-right" data-toggle="modal" data-target="#modal-follow-up" >
                    <i class="fa fa-plus-square"></i>
                    Add More
                </a>
            </div>



            <div class="box-body" >

                <div class="row">
                    <div class="modal fade" id="modal-follow-up"  data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog" style="width: 60%">
                            <div class="modal-content col-sm-12">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <!--<span aria-hidden="true">×</span>-->
                                    </button>
                                    <h3 >Follow Up</h3>
                                </div>
                                <!--<div class="box-body">-->
                                <form  id="followUpSaveForm" action="" method="post" class="form-horizontal" onsubmit="followUpSave();return false;">
                                    <input type="hidden" th:value="${loanprofileview.id}" name="customerBasicInfo.id"/>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left ">Choose Date</label>
                                        <!--<input type="text" name="accountNo" id="accNo" class="col-sm-4 custom-form-control" placeholder="Account No."></input>-->
                                        <input type="date" class="col-sm-4 custom-form-control" name="followUpDate" id="followUpDate"th:required="true">
                                        <label class="col-sm-2 custom-details-lebel-left">Choose Time</label>
                                        <!--<input type="text" name="name" id="referenceName" class="col-sm-4 custom-form-control" placeholder="Name"></input>-->
                                        <input type="time" class="col-sm-4 custom-form-control-required" name="followUpTime" th:required="true">
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label class="col-sm-2 custom-details-lebel-left required">Reason</label>
                                        <!--<input type="text" class="col-sm-4 custom-form-control" placeholder="Enter Detailed Reason" id="relReference" name="relationReference"></input>-->
                                        <!--<input type="checkbox" class="col-sm-4 custom-form-control" name="Call" value="Call">-->
                                        <input class="ads_Checkbox col-sm-3 custom-lebel-left" type="checkbox" value="Call" />Call<br>
                                        <input class="ads_Checkbox col-sm-3 custom-form-control" type="checkbox" value="SMS" />SMS<br>
                                        <input class="ads_Checkbox col-sm-3 custom-form-control" type="checkbox" value="Email" />Email<br>
                                        <input class="ads_Checkbox col-sm-3 custom-form-control" type="checkbox" value="Letter" />Letter<br>
                                    </div>
                                    <!--</div>-->
                                    <div class="modal-footer text-center">
                                        <button type="submit" class="btn btn-info">Save</button>
                                        <button type="button" id="cardRefModalCancelBtn" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal csi-view-form" id="referenceInfo">
                    <input class="gen-card-id" type="hidden"  name="cardId" th:value="${cdi}" />
                    <input type="hidden" name="refId" id="refId" th:value="${refId}"  />
                    <table name="reference_info" id="referenceinfo"
                           class=" table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Creator Id </th>
                            <th>Follow Up Date</th>
                            <th>Follow Up Time</th>
                            <th>Reason</th>
                        </tr>
                        </thead>
                        <tbody id="followup_tBody" >
                        <tr th:each="fu: ${followUpList}">
                            <td th:text="${fu?.createdBy}"></td>
                            <td th:text="${fu?.followUpDate}"></td>
                            <td th:text="${fu?.followUpTime}"></td>
                            <td >
                            <span th:each="reason:${fu?.followUpReason}">
                                 <span class="btn btn-sm btn-info" th:text="${reason}"></span>
                            </span>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="form-horizontal csi-view-form" id="referenceInfo">
                <input class="gen-card-id" type="hidden"  name="cardId" th:value="${cdi}" />
                <input type="hidden" name="refId" id="refId" th:value="${refId}"  />
                <table name="reference_info" id="referenceinfo"
                       class=" table table-striped table-bordered">
                    <thead>
                    <tr>
                        <!--<th>Account No. </th>-->
                        <th>Follow Up Date</th>
                        <th>Follow Up Time</th>
                        <th>Reason</th>
                    </tr>
                    </thead>
                    <tbody id="followup_tBody" >
                    <tr th:each="fu: ${followUpList}">
                        <td th:text="${fu?.followUpDate}"></td>
                        <td th:text="${fu?.followUpTime}"></td>
                        <!--<td th:text="${fu?.followUpReason[]}"></td>-->
                        <td >
                            <span th:each="reason:${fu?.followUpReason}">
                                 <p th:text="${reason}"></p>
                            </span>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>


    <script type="text/javascript" th:src="@{/customerprofileloan/followup.js}"></script>
</div>
</body>


</html>
