<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Profile Information</title>
</head>
<body>
<div id="layout-cibReport" th:fragment="profile-info">
    <div class="loandetail-area-sp box box-primary">
        <div class="box-header with-border">
            <label class="box-title col-sm-6">Profile Information</label>


        </div>
        <form method="post" id="generalInfoFormViw">
            <div id="layout-form-general" class="loancaseentry-sp general-div" style="margin-left: 0px">
                <div class="loan-init-details-sp-inner">

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">Account Title :</label>
                        <label class="col-sm-3 custom-form-lebel" id="customerName">{{accountInformation.customerName}}</label>

                        <!--<label class="col-sm-3 custom-details-lebel-left">Account Name :</label>
                        <label class="col-sm-3 custom-form-lebel" >{{loanAccInfo.accountName}}</label>-->

                    </div>

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">Borrower's Name :</label>
                        <label class="col-sm-3 custom-form-lebel"
                               id="companyName">{{accountInformation.borrowersName}}</label>
                        <!--<label class="col-sm-3 custom-form-lebel"-->
                               <!--id="companyName">{{customerInfo.proprietorName}}</label>-->

                        <label class="col-sm-3 custom-details-lebel-left"> Profession :</label>
                        <!--<label class="col-sm-3 custom-form-lebel" id="occupation">{{customerInfo.employer}}</label>-->
                        <label class="col-sm-3 custom-form-lebel" id="occupation">{{accountInformation.profession}}</label>

                    </div>

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">Contact No(Mobile) :</label>

                        <!--<label class="col-sm-4 custom-form-lebel" id="contactNoMobile">{{customerInfo.mobileNumber}}</label>-->
                        <label class="col-sm-4 custom-form-lebel" id="contactNoMobile">
                            <span id="val-mobile-no">{{accountInformation.mobile}}</span>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#callThroughApi">Call</button>
                        </label>
                        <!--<div class="col-sm-2">-->
                            <!--<button  v-if="customerAndBorrowerInfo.entity && customerAndBorrowerInfo.entity.contactNo && !showContactNo" @click="showContactNo=true">Additional Info</button>-->
                        <!--</div>-->
                        <!--<label class="col-sm-3 custom-form-lebel" v-if="showContactNo">{{"-"}}</label>-->
                        <!--<label class="col-sm-3 custom-form-lebel" v-if="showContactNo">{{customerAndBorrowerInfo.entity.contactNo}}</label>-->


                    </div>

                    <div class="modal fade" id="callThroughApi" tabindex="-1" role="dialog" aria-labelledby="callThroughApi" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title" id="callThroughApiLabel" style="text-align: center;">Calling Customer</h2>
                                </div>
                                <div class="modal-body">
                                    <p style="text-align: center; font-size: 20px"><b>Are you sure you want to place the call?</b></p>
                                </div>
                                <div class="modal-footer">
                                    <div class="col-sm-3" style="text-align: left;">
                                        <button id="callThroughApiLabelCallButton" type="button" class="btn btn-primary" data-dismiss="modal">Call</button>
                                    </div>
                                    <div class="col-sm-6"></div>
                                    <div class="col-sm-3" style="text-align: right;">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">Contact No(Home) :</label>
                        <label class="col-sm-3 custom-form-lebel" id="contactNoHome">{{"-"}}</label>
                        <!--<label class="col-sm-3 custom-form-lebel" id="contactNoHome">{{customerInfo.homePhone}}</label>-->

                        <label class="col-sm-3 custom-details-lebel-left">Customer ID :</label>
                        <!--<label class="col-sm-3 custom-form-lebel" id="customerId">{{loanAccInfo.customerId}}</label>-->
                        <label class="col-sm-3 custom-form-lebel" id="customerId">{{accountInformation.customerId || "-"}}</label>

                    </div>
                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">Co-Applicant Name :</label>
                        <label class="col-sm-3 custom-form-lebel" id="coApplicantName">{{"-"}}</label>
                        <!--<label class="col-sm-3 custom-form-lebel" id="coApplicantName">{{getCoApplicantNames}}</label>-->

                        <label class="col-sm-3 custom-details-lebel-left">Customer Liability Number :</label>
                        <label class="col-sm-3 custom-form-lebel" id="liabilityNo">{{"-"}}</label>
                        <!--<label class="col-sm-3 custom-form-lebel" id="liabilityNo">{{loanAccDetails.liabilityNo}}</label>-->

                    </div>
                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">Customer Type :</label>
                        <label class="col-sm-3 custom-form-lebel"
                               id="customerType">{{accountInformation.customerType || "-"}}</label>

                        <label class="col-sm-3 custom-details-lebel-left">Gender :</label>
                        <label class="col-sm-3 custom-form-lebel" id="gender">{{accountInformation.gender != null ? (accountInformation.gender == "M" ? "Male" : "Female") : "-"}}</label>

                    </div>

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">Home Address : </label>
                        <label class="col-sm-4 custom-form-lebel" id="homeAddress">{{"-"}}</label>
                        <!--<label class="col-sm-4 custom-form-lebel" id="homeAddress">{{customerInfo.correspondenceAddress}}</label>-->

                        <div class="col-sm-2">
                            <button  v-if="additionalInfo.homeAddress && !showHomeAddress" @click="showHomeAddress=true">Additional Info</button>
                        </div>
                        <label class="col-sm-4 custom-form-lebel" v-if="showHomeAddress">{{additionalInfo.homeAddress}}</label>

                    </div>
                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">Office Address :</label>
                        <label class="col-sm-4 custom-form-lebel" id="officeAddress">{{"-"}}</label>
                        <!--<label class="col-sm-4 custom-form-lebel" id="officeAddress">{{customerInfo.correspondenceAddress}}</label>-->


                        <div class="col-sm-2">
                            <button  v-if="additionalInfo.officeAddress && !showOfficeAddress" @click="showOfficeAddress=true">Additional Info</button>
                        </div>
                        <label class="col-sm-4 custom-form-lebel" v-if="showOfficeAddress">{{additionalInfo.officeAddress}}</label>

                    </div>
                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">Mortgaged Property Address :</label>
                        <label class="col-sm-4 custom-form-lebel">-</label>
                        <!--<label class="col-sm-4 custom-form-lebel" id="mortgagedAddress"></label>-->


                    </div>
                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">Permanent Address :</label>
                        <label class="col-sm-4 custom-form-lebel" id="permanentAddress">{{"-"}}</label>
                        <!--<label class="col-sm-4 custom-form-lebel" id="permanentAddress">{{customerInfo.permanentAddress}}</label>-->

                        <div class="col-sm-2">
                            <!--<button  v-if="additionalInfo.permanentAddress && !showPermanentAddress" @click="showPermanentAddress=true">Additional Info</button>-->
                        </div>
                        <!--<label class="col-sm-4 custom-form-lebel" v-if="showPermanentAddress">{{additionalInfo.permanentAddress}}</label>-->


                    </div>
                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">Date of Birth :</label>
                        <label class="col-sm-3 custom-form-lebel" id="dateOfBirth">{{accountInformation.dob}}</label>
                        <!--<label class="col-sm-3 custom-form-lebel" id="dateOfBirth">{{customerInfo.dateOfBirth}}</label>-->

                        <label class="col-sm-3 custom-details-lebel-left">Profession Segment :</label>
                        <label class="col-sm-3 custom-form-lebel" >{{accountInformation.professionSegment != null?accountInformation.professionSegment:""}}</label>
                        <label class="col-sm-3 custom-form-lebel" >{{professionSegment !==null?professionSegment.groupName:""}}</label>


                    </div>
                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">District :</label>
                        <!--<label class="col-sm-3 custom-form-lebel" id="district"></label>-->

                        <label class="col-sm-3 custom-details-lebel-left">Division :</label>
                        <!--<label class="col-sm-3 custom-form-lebel" ></label>-->


                    </div>

                </div>
            </div>

        </form>
        <script>
            $(document).ready(function() {

                $('#callThroughApiLabelCallButton').click(function(){
                    var mobileNo = $("#val-mobile-no").text();
                    $.ajax({
                        url: "/collection/settings/ivr-setup-Config/call?mobileNo="+mobileNo,
                        type: 'GET',
                        success: function(res){
                            if(res == "200")
                                swal("Call Success");
                            else
                                swal("Error Occurred!");
                        }
                    });
                });
            });
        </script>
    </div>
</div>
</body>


</html>
