<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Communication Summary</title>
</head>
<body>
<div id="layout-cibReport" th:fragment="profile-info">
    <div class="loandetail-area-sp box box-primary">
        <div class="box-header with-border">
            <label class="box-title col-sm-6">Communication Summary</label>


        </div>
        <form method="post" id="generalInfoFormViw">
            <div id="layout-form-general" class="loancaseentry-sp general-div" style="margin-left: 0px">
                <div class="loan-init-details-sp-inner">

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">Account Title :</label>
                        <label class="col-sm-3 custom-form-lebel" id="customerName">{{accountInformation.customerName || "-"}}</label>

                        <!--<label class="col-sm-3 custom-details-lebel-left">Account Name :</label>
                        <label class="col-sm-3 custom-form-lebel" >{{loanAccInfo.accountName}}</label>-->

                        <label class="col-sm-3 custom-details-lebel-left">Borrower's Name :</label>
                        <label class="col-sm-3 custom-form-lebel"
                               id="companyName">{{accountInformation.borrowersName || "-"}}</label>
                        <!--<label class="col-sm-3 custom-form-lebel"-->
                        <!--id="companyName">{{customerInfo.proprietorName}}</label>-->
                    </div>

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">Customer ID :</label>
                        <!--<label class="col-sm-3 custom-form-lebel" id="customerId">{{loanAccInfo.customerId}}</label>-->
                        <label class="col-sm-3 custom-form-lebel" id="customerId">{{accountInformation.customerId || "-"}}</label>

                        <label class="col-sm-3 custom-details-lebel-left">Loan/Deal Reference :</label>
                        <label class="col-sm-3 custom-form-lebel" id="liabilityNo">{{accountInformation.branchMnemonic+""+accountInformation.productCode+""+accountInformation.dealReference}}</label>
                        <!--<label class="col-sm-3 custom-form-lebel" id="liabilityNo">{{loanAccDetails.liabilityNo}}</label>-->
                    </div>

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left ">Product Name :</label>
                        <label class="col-sm-3 custom-form-lebel" id="productName">{{accountInformation.productName || "-"}}</label>
                        <!--<label class="col-sm-3 custom-form-lebel" id="productName">*</label>-->

                        <label class="col-sm-3 custom-details-lebel-left ">Branch Name :</label>
                        <label class="col-sm-3 custom-form-lebel" id="branchName">{{accountInformation.branchName || "-"}}</label>
                        <!--<label class="col-sm-3 custom-form-lebel" id="branchName">{{branchInfo.branchName}}</label>-->
                    </div>

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left"> Profession :</label>
                        <!--<label class="col-sm-3 custom-form-lebel" id="occupation">{{customerInfo.employer}}</label>-->
                        <label class="col-sm-3 custom-form-lebel" id="occupation">{{accountInformation.profession || "-"}}</label>
                        <label class="col-sm-3 custom-details-lebel-left">Contact No(Mobile) :</label>
                        <!--<label class="col-sm-4 custom-form-lebel" id="contactNoMobile">{{customerInfo.mobileNumber}}</label>-->
                        <label class="col-sm-3 custom-form-lebel" id="contactNoMobile">
                            <span id="val-mobile-no">{{accountInformation.mobile || "-"}}</span>
                            <!--<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#callThroughApi">Call</button>-->
                            <!--<div class="col-sm-2">-->
                            <!--<button  v-if="customerAndBorrowerInfo.entity && customerAndBorrowerInfo.entity.contactNo && !showContactNo" @click="showContactNo=true">Additional Info</button>-->
                            <!--</div>-->
                            <!--<label class="col-sm-3 custom-form-lebel" v-if="showContactNo">{{"-"}}</label>-->
                            <!--<label class="col-sm-3 custom-form-lebel" v-if="showContactNo">{{customerAndBorrowerInfo.entity.contactNo}}</label>-->
                        </label>
                    </div>
                    <div class="modal fade" id="callThroughApi" tabindex="-1" role="dialog" aria-labelledby="callThroughApi" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title" id="callThroughApiLabel" style="text-align: center;">Calling Customer</h2>
                                </div>
                                <div class="modal-body">
                                    <p style="text-align: center; font-size: 20px"><b>Are you sure you want to place the call?</b></p>
                                </div>
                                <div class="modal-footer">
                                    <div class="col-sm-3" style="text-align: left;">
                                        <button id="callThroughApiLabelCallButton" type="button" class="btn btn-primary" data-dismiss="modal">Call</button>
                                    </div>
                                    <div class="col-sm-6"></div>
                                    <div class="col-sm-3" style="text-align: right;">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row csi-view-form-group">
                        <label class="col-sm-3 custom-details-lebel-left">Gender :</label>
                        <label class="col-sm-3 custom-form-lebel" id="gender">{{accountInformation.gender != null ? (accountInformation.gender == "M" ? "Male" : "Female") : "-"}}</label>

                        <label class="col-sm-3 custom-details-lebel-left ">Total Outstanding :</label>
                        <label class="col-sm-3 custom-form-lebel" id="outstanding">{{numberToBdt((accountInformation.totalOutstanding))}}</label>
                        <!--<label class="col-sm-3 custom-form-lebel" id="outstanding">{{numberToBdt(loanAccDetails.outStandingLocalCurrency + loanAccDetails.interestOutstanding)}}</label>-->
                    </div>

                    <div class="form-group row csi-view-form-group">

                        <label class="col-sm-3 custom-details-lebel-left "> Overdue Amount : </label>
                        <label class="col-sm-3 custom-form-lebel" id="overdue">{{numberToBdt((accountInformation.overdue) || "0")}}</label>
                        <!--<label class="col-sm-3 custom-form-lebel" id="overdue">{{numberToBdt(loanAccInfo.totalOverdue)}}</label>-->

                        <label class="col-sm-3 custom-details-lebel-left">No. Overdue Installment :</label>
                        <label class="col-sm-3 custom-form-lebel">{{accountInformation.noOfInstallmentDue || "-"}}</label>

                    </div>

                    <div class="form-group row csi-view-form-group">

                        <label class="col-sm-3 custom-details-lebel-left ">EMI Amount:</label>
                        <label class="col-sm-3 custom-form-lebel" id="emiAmount">{{numberToBdt((accountInformation.emiAmount))}}</label>
                        <!--<label class="col-sm-3 custom-form-lebel" id="emiAmount">{{numberToBdt(loanAccDetails.emiAmount)}}</label>-->
                        <label class="col-sm-3 custom-details-lebel-left">DPD (Days Past Due) :</label>
                        <label class="col-sm-3 custom-form-lebel" id="dpd">{{accountInformation.dpd || "-"}}</label>
                        <!--<label class="col-sm-3 custom-form-lebel" id="dpd">{{loanAccDetails.overdueDays}}</label>-->

                    </div>

                    <div class="form-group row csi-view-form-group">

                        <label class="col-sm-3 custom-details-lebel-left ">DPD After Expiry Date :</label>
                        <label class="col-sm-3 custom-form-lebel">{{accountInformation.dpdAfterExpiryDate || "-"}}</label>

                        <label class="col-sm-3 custom-details-lebel-left">Last Payment Amount:</label>
                        <label class="col-sm-3 custom-form-lebel" id="lastPaidAmount">{{numberToBdt((accountInformation.lastPaymentAmount))}}</label>
                        <!--<label class="col-sm-3 custom-form-lebel" id="lastPaidAmount">{{numberToBdt(loanAccStatement.lastPayment)}}</label>-->
                    </div>

                    <div class="form-group row csi-view-form-group">

                        <label class="col-sm-3 custom-details-lebel-left ">Last Payment Date :</label>
                        <label class="col-sm-3 custom-form-lebel" id="lastPaymentDate">{{accountInformation.lastPaymentDate || "-"}}</label>
                        <!--<label class="col-sm-3 custom-form-lebel" id="lastPaymentDate">{{loanAccStatement.valueDate | formatDate}}</label>-->

                        <label class="col-sm-3 custom-details-lebel-left">Co-Applicant Name :</label>
                        <label class="col-sm-3 custom-form-lebel" id="coApplicantName">{{accountInformation.jointStatus || "-"}}</label>
                        <!--<label class="col-sm-3 custom-form-lebel" id="coApplicantName">{{getCoApplicantNames}}</label>-->

                    </div>

                    <div class="form-group row csi-view-form-group">

                        <label class="col-sm-3 custom-details-lebel-left "> SMS Sent:</label>
                        <label class="col-sm-3 custom-form-lebel" id="smsSent">
                            <button type="button" class="btn btn-default btn-xs" >{{accountInformation.isSmsSent == 'Y' ? "Yes": "No"}}</button>
                        </label>


                    </div>

                </div>
            </div>

        </form>
        <script>
            $(document).ready(function() {

                $('#callThroughApiLabelCallButton').click(function(){
                    var mobileNo = $("#val-mobile-no").text();
                    $.ajax({
                        url: "/collection/settings/ivr-setup-Config/call?mobileNo="+mobileNo,
                        type: 'GET',
                        success: function(res){
                            if(res == "200")
                                swal("Call Success");
                            else
                                swal("Error Occcccccccccccccurred!");
                        }
                    });
                });
            });
        </script>
    </div>
</div>
</body>


</html>
