<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Visit Report</title>
</head>
<body>
<div class="bs-example" th:fragment="visit-report">
    <div class="multi-line-broadcom-div">
        <ul id="info-tabs" class="nav nav-tabs">
            <!--<li id="tab-samcard" class="active"><a data-toggle="tab" href="#samloan" title="SAM:">SAM</a></li>-->
            <!--<li id="tab-writeoffcard"><a data-toggle="tab" href="#writeoffloan" title="Write off">Write off</a></li>-->
            <!--<li id="tab-casedetailscard"><a data-toggle="tab" href="#casedetailsloan " title="Case Details">Case Details</a></li>-->
            <li id="tab-caselists"><a data-toggle="tab" href="#caselists " title="Visitor Details">Visitor Details</a></li>
            <li id="tab-summarystatusBranchPosition"><a data-toggle="tab" href="#summarystatusBranchPosition" title="Summary status of the branch position">Summary position</a></li>
            <li id="tab-liabilityPositionBorrowerDiscussed"><a data-toggle="tab" href="#liabilityPositionBorrowerDiscussed" title="Liability position borrower discussed">Liability discussion</a></li>
            <li id="tab-discussionHeldRegardingBorrower"><a data-toggle="tab" href="#discussionHeldRegardingBorrower" title="Discussion held regarding the borrower">Discussion held regarding</a></li>
            <li id="tab-report5"><a data-toggle="tab" href="#report5 " title="Written-Off Status">Written-Off Status</a></li>
            <!--<li id="tab-filefollowup"><a data-toggle="tab" href="#filefollowup " title="File Follow Up">File Follow Up</a></li>-->

        </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <!--<div role="tabpanel" class="tab-pane top-buffer active" id="samloan">-->
            <!--<div th:replace="collection/demoloan360/details/panels/middle/sam :: samloan"></div>-->
        <!--</div>-->
        <!--<div role="tabpane2" class="tab-pane top-buffer" id="writeoffloan">-->
            <!--<div th:replace="collection/demoloan360/details/panels/middle/writeoff :: writeoffloan"></div>-->
        <!--</div>-->

        <div role="tabpanel1" class="tab-pane top-buffer" id="caselists">
            <div th:replace="collection/details/panels/middle/visitReport/report_one :: report-one"></div>
        </div>
        <div role="tabpanel2" class="tab-pane top-buffer" id="summarystatusBranchPosition">
            <div th:replace="collection/details/panels/middle/visitReport/summary_status_branch_position :: summary-status-branch-position"></div>
        </div>

        <div role="tabpane3" class="tab-pane top-buffer" id="liabilityPositionBorrowerDiscussed">
            <div th:replace="collection/details/panels/middle/visitReport/liability_position_borrower_discussed :: liability-position-borrower-discussed"></div>
        </div>

        <div role="tabpane4" class="tab-pane top-buffer" id="discussionHeldRegardingBorrower">
            <div th:replace="collection/details/panels/middle/visitReport/discussion_held_regarding_borrower :: discussion-held-regarding-borrower"></div>
        </div>

        <div role="tabpanel5" class="tab-pane top-buffer" id="report5">
            <div th:replace="collection/details/panels/middle/visitReport/status_report :: status-report"></div>
        </div>


        <!--<div role="tabpanel6" class="tab-pane top-buffer" id="filefollowup">-->
            <!--<div th:replace="collection/details/panels/middle/litigation/filefollowup :: filefollowup"></div>-->
        <!--</div>-->

    </div>

</div>
</body>
</html>
