<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Visit Ledger</title>
</head>
<body>
<div id="layout-cibReport" th:fragment="visit-ledger">

    <div id="visit-ledger-view-id">
        <div class="modal fade" id="modal-visit-ledger-view">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Visit Ledger</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row form-group">
                            <label  class="col-sm-2 custom-form-lebel-right">Remark: </label>
                            <div class="col-sm-10">
                                <textarea  name="remark" id="supervisor-visitledger-remark" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>



        <!-- Modal -->
        <div id="visitLedgerModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <!--<h4 class="modal-title">Add Visit Ledger</h4>-->
                    </div>
                    <form id="visit-ledger-from-id" action="" method="post" class="form-horizontal">
                        <input type="hidden" id="visitLedgerId" name="id"/>
                        <input name="_csrf" value="" type="hidden">
                        <input type="hidden" name="accountCardNumber" :value="accountNo">
                        <div class="modal-body">
                            <div class="modal-body">

                                <!-- select -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Loan Account </label>
                                    <div class="col-sm-4">
                                        <input type="text" name="accountCardNumber" id="" :value="accountNo" class="form-control" disabled="disabled" />
                                    </div>

                                    <label class="col-sm-2 control-label">Account Type</label>
                                    <div class="col-sm-4">
                                        <label>
                                            <input type="radio" class ="cheker" name="productUnit" value="Loan" checked="true"> Loan
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="vl_loan_date" class="col-sm-2 control-label">Date</label>
                                    <div class="col-sm-4">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="date" name="dateOfVisit" id="vl_loan_date" class="form-control pull-right"  />
                                        </div>
                                    </div>

                                    <label for="card_ptp_time" class="col-sm-2 control-label">Time</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                            <input type="time" name="visitTime" class="form-control"
                                                   id="card_ptp_time" placeholder="12:00 PM"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Visit Location</label>
                                    <div class="col-sm-10">
                                        <!--<input type="text" class="form-control" id="vl_loan_location" name="location" placeholder="Visit Location" required="required" />-->
                                        <select class="form-control" name="location">
                                            <option value="">Select Location</option>
                                            <option v-for="address in allAddress" :value="address" v-if="!!address">{{address}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">District</label>
                                    <div class="col-sm-10">
                                        <select class="form-control">
                                            <option value="">Select District</option>
<!--
                                            <option th:each="ds2 :${district}" th:value="${ds2?.id}" th:text="${ds2.name}"></option>
-->
                                        </select>
                                    </div>
                                </div>

                                <!--<div class="form-group">
                                    <label class="col-sm-2 control-label">District</label>
                                    <div class="col-sm-8" >
                                        <select  class="form-control required input-sm" th:field="*{DistrictEntity.id}" required>
                                            <option value="">Select</option>
                                            <option th:each="ds2 :${district}" th:value="${ds2?.id}" th:text="${ds2.name}"></option>
                                        </select>
                                    </div>
                                </div>-->


                                <div class="form-group">
                                    <label for="vl_loan_remark" class="col-sm-2 control-label ">Remarks</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="3" style="resize: none" placeholder="Enter Details Here" name="remark" id="vl_loan_remark"></textarea>
                                    </div>
                                </div>

                                <span></span>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>


        <div class="csi-view-form-full-area csi-view-indtable">
            <div class="box-header with-border csi-view-box-header">
                <h3 class="box-title" >Visit Ledger</h3>
                <a class=" btn btn-primary btn-sm pull-right" id="visit_ledger_loan_add" @click="resetForm()" data-toggle="modal" data-target="#visitLedgerModal">
                    <i class="fa fa-plus-square"></i>
                    Add More
                </a>
            </div>
        </div>

        <br/>

        <div class="form-horizontal csi-view-form" id="dairy-notes">
            <table class=" table table-striped table-bordered" style="overflow: auto;width: 100%;">
                <thead>
                <tr>
                    <th>Dealer Name</th>
                    <th>Visit Date</th>
                    <th>Visit Time</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Action</th>

                </tr>
                </thead>
                <tbody id="visit-ledger-tbody">

                <tr v-for="visitList in visitLedgerList">
                    <td>{{visitList.username}}-{{visitList.firstName}}</td>
                    <td>{{formatDate(visitList.dateOfVisit)}}</td>
                    <td>{{visitList.visitTime}}</td>
                    <td>{{visitList.location}}</td>
                    <td>{{visitList.status}}</td>
                    <td>
                        <a class="btn btn-xs btn-info"><i id="view-visit-ledger" v-bind:data-id="visitList.id" data-toggle="modal" data-target="#modal-visit-ledger-view" class="fa fa-eye"></i></a>
                        <a :disabled="visitList.status == 'PENDING'" class="btn btn-xs btn-info"><i class="fa fa-edit" id="edit-visit-ledger" v-bind:data-id="visitList.id" data-toggle="modal" data-target="#visitLedgerModal"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            $('#visit-ledger-from-id input[name="_csrf"]').val(csrfToken);
            $('#visit-ledger-from-id input[name="accountCardNumber"]').val(accountNo);

            // document.getElementById('accountCardNumber-id').innerText = accountNo;

            // $('#').val(accountNo);



            visitLedgerApp = new Vue({
                el: '#visit-ledger-view-id',
                data: {
                    visitLedgerList: [],
                    visitLedger: {},
                    accountNo: accountNo,
                    loanAccInfo: {},
                    customerAddressList: [],
                    customerInfo: {},
                    homeAddress: '',
                    permanentAddress: '',

                    allAddress: []
                },
                methods: {
                    formatDateInput: function (date) {
                        let date1 = date ? new Date(date) : new Date()

                        return date ? date1.getFullYear()
                            + '-' + ((date1.getMonth() + 1) < 10 ? '0' + (date1.getMonth() + 1) : (date1.getMonth() + 1))
                            + '-' + (date1.getDate() < 10 ? '0' + date1.getDate() : date1.getDate())
                            : '';
                    },
                    formatDate: function (date) {
                        return formatDate_DD_MMM_YYYY(date)
                    },

                    resetForm: function () {
                        var formdatalist = $('#visit-ledger-from-id');
                        formdatalist.find('input[name="id"]').val('');
                        // formdatalist.find('input[name="accountCardNumber"]').val(response.accountCardNumber);
                        // formdatalist.find('input[name="productUnit"]').val(response.productUnit);
                        formdatalist.find('input[name="dateOfVisit"]').val('');
                        formdatalist.find('input[name="visitTime"]').val('');
                        formdatalist.find('input[name="location"]').val('');
                        formdatalist.find('textarea[name="remark"]').val('');
                    }
                }


            })


            $('#visit-ledger-tbody').delegate('#edit-visit-ledger','click', function () {
                $.ajax({
                    url: '/collection/visitledger/find/visit-ledger?id='+$(this).data("id"),
                    success: function (response) {
                        var formdatalist = $('#visit-ledger-from-id');
                        formdatalist.find('input[name="id"]').val(response.id);
                        // formdatalist.find('input[name="accountCardNumber"]').val(response.accountCardNumber);
                        // formdatalist.find('input[name="productUnit"]').val(response.productUnit);
                        formdatalist.find('input[name="dateOfVisit"]').val(formatDateInput(response.dateOfVisit));
                        formdatalist.find('input[name="visitTime"]').val(response.visitTime);
                        formdatalist.find('input[name="location"]').val(response.location);
                        formdatalist.find('textarea[name="remark"]').val(response.remark);
                        $('#visitLedgerModal').modal('show');
                    }
                })
            })


            function getvisitLegerdata(accountNo){
                $.ajax({
                    url: '/collection/visitledger/list1?accountNo='+accountNo,
                    success: function (response) {
                        visitLedgerApp.visitLedgerList = response;
                    },
                    error: function (response) {
                        alert('Unsuccessful');
                    }
                })
            }

            getvisitLegerdata(accountNo);

            $('#visit-ledger-from-id').on('submit', function (event) {
                event.preventDefault();
                var  visitData = new FormData(this);

                if($('#visit-ledger-from-id input[name="dateOfVisit"]').val() == ""){
                    alert("Date must not be empty");
                }
                else{
                    $.ajax({
                        type: "POST",
                        url: "/collection/visitledger/create/visit-ledger",
                        data: visitData,
                        enctype: 'multipart/form-data',
                        contentType: false,
                        processData: false,
                        headers: {
                            'X-CSRF-TOKEN': window.csrfToken,
                        },
                        success: function (data) {
                            swal("Success!", "Successfully Saved!", "success");
                            // $('#vehicleRepossessionForm')[0].reset();
                            $('visitTime,location,remark,dateOfVisit').val('');
                            $('#visitLedgerModal').modal('toggle');
                            getvisitLegerdata(data.accountCardNumber);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                }
            })



            function formatDateInput(date) {
                let date1 = date ? new Date(date) : new Date()

                return date ? date1.getFullYear()
                    +'-'+((date1.getMonth()+1) < 10 ? '0'+(date1.getMonth()+1) : (date1.getMonth()+1))
                    +'-'+(date1.getDate() < 10 ? '0'+date1.getDate() : date1.getDate())
                    : '';

            }


            $('#visit-ledger-tbody').delegate('#view-visit-ledger', 'click', function () {
                $.ajax({
                    url: '/collection/visitledger/find/visit-ledger?id='+$(this).data("id"),
                    success: function (response) {
                        $('#supervisor-visitledger-remark').val(response.remark);
                        $('#modal-supervisor-visit-ledger-view').modal('show');
                    },
                    error: function (response) {
                        console.log(response);
                    }
                })
            })



            $('#tab-visitledger').click(function () {
                console.log(customerId);
                $.ajax({
                    url: '/loan/api/customer-other-info/find?customerId='+customerId,
                    success: function (response) {
                        console.log(response);
                        visitLedgerApp.allAddress.push(response.homeAddress);
                        visitLedgerApp.allAddress.push(response.officeAddress);
                        visitLedgerApp.allAddress.push(response.permanentAddress);
                    },
                    error: function (response) {
                        alert('Unsuccessful');
                    }
                })
            })


        })
    </script>
</div>
</body>





</html>
