<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="card/layouts/main/main-layout">
<head>
	<meta charset="ISO-8859-1"></meta>
	<title>Create</title>

</head>
<body>
<!--Todo: Implement layout fragment whenever possible-->
<!--<div  layout:fragment="content" th:remove="tag">-->
<div  th:fragment="content" th:remove="tag">

	<!-- General Information -->
	<div th:replace="dashboard/loan/dealer/initiation/generalViewForPreview :: frag-general-view-PreView"></div>
	<!-- Navigation tab -->
	<div th:replace="dashboard/loan/dealer/initiation/form-panel :: layout-form-panel"></div>
	<!-- Notification modals -->
	<div th:replace="dashboard/loan/dealer/initiation/notifications :: content"></div>

</div>


</body>
</html>