<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title> Create People Allocation Logic</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="box box-primary">
                        <style>
                            .multiselect, .multiselect__input, .multiselect__single, .multiselect__content {
                                font-size: 13px;
                            }
                            .multiselect__tag{
                                font-size: 12px;
                            }
                            .select2-container{
                                width: 100% !important;
                            }
                            .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single{
                                height:30px;
                            }

                        </style>

                        <div class="box-header with-border" style="text-align: center;">
                            <h3 th:if="${allocationLogic.id == null}" class="box-title">Create New Allocation Logic</h3>
                            <h3 th:if="${allocationLogic.id != null}" class="box-title">Update Allocation Logic</h3>
                        </div>

                        <form @submit="checkForm" id="app" class="form-horizontal validate" method="post" th:action="@{/collection/allocationlogic/create}" th:object="${allocationLogic}">
                            <input type="hidden" th:field="*{id}">

                            <input type="hidden" th:field="*{selectedDpdBucket}" v-model="getSelectedDpdBucketList">
                            <input type="hidden" th:field="*{selectedAgeCode}" v-model="getSelectedAgeCodeList">
                            <input type="hidden" th:field="*{selectedProductType}" v-model="getSelectedProductTypeList">
                            <input type="hidden" th:field="*{selectedProductGroup}" v-model="getSelectedProductGroupList">
                            <input type="hidden" th:field="*{selectedSector}" v-model="getSelectedSectorList">
                            <input type="hidden" th:field="*{selectedBranch}" v-model="getSelectedBranchList">
                            <input type="hidden" th:field="*{location.id}" v-model="locationId">

                            <div class="box-body">
                                <div class="form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Unit</label>
                                    <div class="col-sm-8">
                                        <select @change="checkLoanOrCard" id="loan_id" class="form-control input-sm" th:field="*{unit}">
                                            <option value="none">Choose One</option>
                                            <option th:each="unit : ${units}" th:value="${unit.name}" th:text="${unit.name}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Dealer/Agency</label>
                                    <div class="col-sm-8">
                                        <select  class="form-control input-sm" v-model="selectedDealerOrAgency" th:required="true">
                                            <option value="">Choose One</option>
                                            <option value="Dealer">Dealer</option>
                                            <option value = "Agency">Agency</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" v-if="selectedDealerOrAgency == 'Dealer'">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Dealer</label>
                                    <div class="col-sm-8">
                                        <select @change="changeLocationAndName" id="dealer_id" class="form-control input-sm" th:field="*{dealer.id}">
                                            <option value="">Choose One</option>
                                            <option data-th-attr="data-model=${dealer.getLocation() == null ? '' : dealer.getLocation().getCity()}, data-id=${dealer.getLocation() == null ? '' :dealer.getLocation().getId()}"
                                                    th:each="dealer : ${dealerList}"
                                                    th:value="${dealer.id}" th:text="${dealer.getPin()}+ ' - ' + ${dealer.getUser().getFirstName()}">Loan</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" v-if="selectedDealerOrAgency == 'Agency'">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Agency</label>
                                    <div class="col-sm-8">
                                        <select  class="form-control input-sm" name="agency">
                                            <option value="">Choose One</option>
                                            <option v-for="agency in agencyList" :value="agency.id">{{agency.pin+'-'+agency.name}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" v-if="selectedDealerOrAgency == 'Dealer'">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Location</label>
                                    <div class="col-sm-8">
                                        <input v-model="locationName" readonly type="text" name="remarks" class="form-control required input-sm" th:required="true"/>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Supervisor</label>
                                    <div class="col-sm-8">
                                        <select class="form-control select2 input-sm" th:field="*{teamlead.id}" th:required="true">
                                            <option value="">Choose One</option>
                                            <option th:each="dealer : ${teamleaderList}" th:value="${dealer.id}" th:text="${dealer.getPin()}+ ' - ' +${dealer.getUser().getFirstName()}">Loan</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Manager</label>
                                    <div class="col-sm-8">
                                        <select class="form-control select2 input-sm" th:field="*{supervisor.id}" th:required="true">
                                            <option value="">Choose One</option>
                                            <option th:each="dealer : ${supervisorList}" th:value="${dealer.id}" th:text="${dealer.getPin()}+ ' - ' +${dealer.getUser().getFirstName()}">Loan</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Sr.Manager</label>
                                    <div class="col-sm-8">
                                        <select class="form-control select2 input-sm" th:field="*{manager.id}" th:required="true">
                                            <option value="">Choose One</option>
                                            <option th:each="dealer : ${managerList}" th:value="${dealer.id}" th:text="${dealer.getPin()}+ ' - ' +${dealer.getUser().getFirstName()}">Loan</option>
                                        </select>
                                    </div>
                                </div>


                                <!--Multiple-->
                                <div class="form-group" v-show="showDpdBucket">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Bucket </label>
                                    <div class="col-sm-8">
                                        <multiselect  v-model="selectedDpdBucketList" placeholder="Search a dpd" label="bucketName" track-by="id"  :options="dpdBucketOption" :close-on-select="false" :multiple="true" :taggable="true"></multiselect>
                                    </div>
                                </div>


                                <!--Multiple-->
                                <div class="form-group" v-show="showAgeCode">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Age Code </label>
                                    <div class="col-sm-8">
                                        <multiselect  v-model="selectedAgeCodeList" placeholder="Search a age code" label="name" track-by="id"  :options="ageCodeOption" :multiple="true" :taggable="true"></multiselect>
                                    </div>
                                </div>

                                <!--Multiple-->
                                <div class="form-group" v-show="showProductCard">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Product Card</label>
                                    <div class="col-sm-8">
                                        <multiselect  v-model="selectedProductTypeList" placeholder="Search a product" label="name" track-by="id"  :options="productTypeOption" :multiple="true" :taggable="true"></multiselect>
                                    </div>
                                </div>

                                <!--Multiple-->
                                <div class="form-group" v-show="showProductLoan">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Product Loan</label>
                                    <div class="col-sm-8">
                                        <multiselect  v-model="selectedProductGroupList" placeholder="Search a product" label="name" track-by="id"  :options="productGroupOption" :multiple="true" :taggable="true"></multiselect>
                                    </div>
                                </div>

                                <div class="form-group" v-show="securedCardShow">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Secure Card</label>
                                    <div class="col-sm-8">
                                        <select class="form-control input-sm" th:field="*{secureCard}">
                                            <option th:value="Yes">Yes</option>
                                            <option th:value="No">No</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right required">Distribution Type </label>
                                    <div class="col-sm-8">
                                        <!--<input type="text" name="remarks" class="form-control required" th:required="true" th:field="*{distributionType}" placeholder="Distribution Type" />-->
                                        <select  id="loan_idd" class="form-control input-sm" th:field="*{distributionType}">
                                            <option th:value="Regular">Regular</option>
                                            <option th:value="Interim">Interim</option>
                                        </select>
                                    </div>
                                </div>

                                <!--Multiple-->
                                <div class="form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right">Sector</label>
                                    <div class="col-sm-8">
                                        <multiselect  v-model="selectedSectorList" placeholder="Search a sector" label="name" track-by="id"  :options="sectorOption" :multiple="true" :taggable="true"></multiselect>
                                    </div>
                                </div>

                                <!--Multiple-->
                                <div class="form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right">Branch</label>
                                    <div class="col-sm-8">
                                        <multiselect  v-model="selectedBranchList" placeholder="Search a branch" label="branchName" track-by="branchId"  :options="branchOption" :multiple="true" :taggable="true"></multiselect>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right">Account Range</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" th:field="*{accountRange}" placeholder="Account Range">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-4 custom-form-lebel-right">OS/OD Range</label>
                                    <div class="col-sm-8">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="osodRadioOption" id="inlineRadio1"  value="os" v-model="osodFlag">
                                            <label class="form-check-label" for="inlineRadio1">OS</label>

                                            <input class="form-check-input" type="radio" name="osodRadioOption" id="inlineRadio2"  value="od" v-model="osodFlag">
                                            <label class="form-check-label" for="inlineRadio2">OD</label>
                                        </div>

                                        <input type="text" class="form-control" th:field="*{osRange}" placeholder="OS Range" v-show="osodFlag=='os'">
                                        <input type="text" class="form-control" th:field="*{odRange}" placeholder="OD Range" v-show="osodFlag=='od'">
                                    </div>
                                </div>

                            </div>
                            <div style="margin-left: 2%;color: red" class="form-group" v-if="errors.length">
                                <p class="col-sm-8">
                                    <b>Please correct the following error(s):</b>
                                </p>
                                <p class="col-sm-8" v-for="(error,index) in errors">{{index+1}}.<b> {{ error }}</b></p>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                <button type="submit" class="btn btn-info ">Submit</button>
                                <a type="submit" class="btn btn-danger" href="/collection/allocationlogic/list">Cancel</a>
                            </div>
                            <!-- /.box-footer -->
                        </form>


                    </div>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        var dpd = /*[[${dpdBucketList}]]*/ [];
                        var age = /*[[${ageCodeList}]]*/  [];
                        var productTypes = /*[[${productTypeList}]]*/  [];
                        var productGroups = /*[[${productGroupList}]]*/  [];
                        var sectors = /*[[${sectorList}]]*/  [];
                        var branches = /*[[${branchList}]]*/  [];

                        var agencyList = /*[[${agencyList}]]*/  [];

                        var selectedDpd = /*[[${selectedDpdBucketList}]]*/ || [];
                        var selectedAge = /*[[${selectedAgetCodeList}]]*/ || [];
                        var selectedProductTypes = /*[[${selectedProductTypeList}]]*/ || [];
                        var selectedProductGroups = /*[[${selectedProductGroupList}]]*/ || [];
                        var selectedSectors = /*[[${selectedSectorList}]]*/  || [];
                        var selectedBranches = /*[[${selectedBranchList}]]*/  || [];

                        var dealerLocation = /*[[${dealerLocation}]]*/ || "";
                        var locationId = /*[[${locationId}]]*/  || 0;
                        var dpdOrAgeCode = /*[[${dpdOrAgeCode}]]*/  || 0;
                        var productLoanOrCard = /*[[${productLoanOrCard}]]*/  || 0;

                        var osFlag = /*[[${allocationLogic.osRange}]]*/  || null;
                        var odFlag = /*[[${allocationLogic.odRange}]]*/  || null;



                        /*]]>*/
                    </script>

                    <script>
                        var example = new Vue({
                            el:'#app',
                            components: {
                                Multiselect: VueMultiselect.default
                            },
                            data:{
                                locationId:0,
                                locationName:"",
                                showDpdBucket: false,
                                showAgeCode: false,
                                showProductCard:false,
                                showProductLoan:false,
                                securedCardShow:false,

                                distributionValue:"",

                                dpdOrAgeCode:0,
                                loanOrCard:0,
                                osodFlag:null,

                                selectedDpdBucketList:[],
                                selectedAgeCodeList:[],
                                selectedProductTypeList:[],
                                selectedProductGroupList:[],
                                selectedSectorList:[],
                                selectedBranchList:[],

                                dpdBucketOption:[],
                                ageCodeOption:[],
                                productTypeOption:[],
                                productGroupOption:[],
                                sectorOption:[],
                                branchOption:[],

                                errors: [],

                                agencyList: [],
                                selectedDealerOrAgency: '',

                            },
                            created:function () {
                                this.dpdBucketOption = JSON.parse(dpd);
                                this.ageCodeOption = JSON.parse(age);
                                this.productTypeOption = JSON.parse(productTypes);
                                this.productGroupOption = JSON.parse(productGroups);
                                this.sectorOption = JSON.parse(sectors);
                                this.branchOption = JSON.parse(branches);
                                this.selectedDpdBucketList = JSON.parse(selectedDpd) ? JSON.parse(selectedDpd):[];
                                this.selectedAgeCodeList = JSON.parse(selectedAge) ? JSON.parse(selectedAge):[];
                                this.selectedProductTypeList = JSON.parse(selectedProductTypes) ? JSON.parse(selectedProductTypes):[];
                                this.selectedProductGroupList = JSON.parse(selectedProductGroups) ? JSON.parse(selectedProductGroups):[];
                                this.selectedSectorList = JSON.parse(selectedSectors) ? JSON.parse(selectedSectors):[];
                                this.selectedBranchList = JSON.parse(selectedBranches) ? JSON.parse(selectedBranches):[];

                                this.agencyList = Array.isArray(agencyList) ? agencyList : [];

                                this.locationName = dealerLocation?dealerLocation:"";
                                this.locationId = locationId?locationId:0;

                                this.dpdOrAgeCode = dpdOrAgeCode?dpdOrAgeCode:0;
                                this.loanOrCard = productLoanOrCard?productLoanOrCard:0

                                if(this.dpdOrAgeCode != 0)
                                    this.dpdOrAgeCode == 1 ? this.showDpdBucket = true: this.showAgeCode = true;
                                if(this.loanOrCard != 0)
                                    this.loanOrCard == 1 ? this.showProductLoan = true: this.showProductCard = true;

                                if($("#id").val()!="")
                                    this.osodFlag = osFlag!=null?'os':'od';


                            },

                            computed:{
                                getSelectedDpdBucketList : function () {
                                    return this.selectedDpdBucketList.map(item => {return item.id});
                                },

                                getSelectedAgeCodeList : function () {
                                    return this.selectedAgeCodeList.map(item => {return item.id});
                                },

                                getSelectedProductTypeList : function () {
                                    return this.selectedProductTypeList.map(item => {return item.id});
                                },

                                getSelectedProductGroupList : function () {
                                    return this.selectedProductGroupList.map(item => {return item.id});
                                },

                                getSelectedSectorList : function () {
                                    return this.selectedSectorList.map(item => {return item.id});
                                },
                                getSelectedBranchList : function () {
                                    return this.selectedBranchList.map(item => {return item.branchId});
                                }
                            },

                            methods:{

                                checkForm(e){
                                    this.validateFormFields();
                                    if(!this.errors.length){
                                        return true;
                                    }
                                    e.preventDefault();
                                },
                                validateFormFields(){
                                    this.errors = [];

                                    let loanOrCard = $('#loan_id').val();
                                    if(loanOrCard == "none") {this.errors.push('Select Unit');}
                                    else if(loanOrCard == "Card"){
                                        console.log('Card is selected');
                                        if(!this.selectedAgeCodeList.length){this.errors.push('Select Age code');}
                                        if(!this.selectedProductTypeList.length){this.errors.push('Select/Add a product');}
                                    }
                                    else {
                                        console.log('Loan is selected');
                                        if(!this.selectedDpdBucketList.length){this.errors.push('Select a Dpd');}
                                        if(!this.selectedProductGroupList.length){this.errors.push('Select/Add a product');}
                                    }


                                    // if(!this.selectedSectorList.length){this.errors.push('Select a Sector');}
                                    if($("#osRange").val() !="" && $("#odRange").val() !="")
                                        this.errors.push('Please Remove one of the OS/OD value.')
                                },

                                changeLocationAndName: function () {
                                    var id = $('#dealer_id').find(":selected").data('id');
                                    var name = $('#dealer_id').find(":selected").data('model');
                                    this.locationName = name;
                                    this.locationId = id;
                                    console.log(this.locationName);

                                },

                                checkLoanOrCard: function () {
                                    var loanOrCard = $('#loan_id').val();
                                    console.log(loanOrCard);
                                    if (loanOrCard == "none"){
                                        this.showAgeCode = false;
                                        this.showDpdBucket = false;
                                        this.showProductCard = false;
                                        this.showProductLoan = false;
                                        this.securedCardShow = false;
                                        return;
                                    }

                                    if(loanOrCard == "Card"){
                                        this.showAgeCode = true;
                                        this.showDpdBucket = false;
                                        this.showProductCard = true;
                                        this.showProductLoan = false;
                                        this.securedCardShow = true;
                                    }else{
                                        this.showAgeCode = false;
                                        this.showDpdBucket = true;
                                        this.showProductCard = false;
                                        this.showProductLoan = true;
                                        this.securedCardShow = false;
                                    }
                                }
                            }
                        })
                    </script>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>