<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Retail-Employee Assistance</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <button onclick="generatePDF()">Download</button>
                            <span class="pull-right"><span class="label label-info">EDIT:</span> Double click on Bold text to edit</span>
                        </div>

                        <style>
                            .row {
                                margin: 0 auto;
                            }

                            .letter-body {
                                max-width: 800px;
                                margin: auto;
                                padding: 35px;
                                border: 1px solid #eee;
                                box-shadow: 0 0 10px rgba(0, 0, 0, .15);
                                font-size: 12px;
                                line-height: 24px;
                                font-family: 'Times New Roman', 'Times New Roman', Helvetica, Arial, sans-serif;
                                color: #555;
                            }

                            .marginBottom {
                                margin-bottom: 30px;
                            }
                        </style>

                        <div class="box-body">
                            <div id="letter-body" class="letter-body">
                                <div style="margin: 60px 40px; text-align: justify">
                                    <div class="marginBottom">
                                        <h4 style="text-align: right"><span style="border:2px solid">ASSISTANCE</span></h4>
                                    </div>
                                    <div style="margin-bottom: 20px; margin-top: 40px; display: inline-block; width:100%">
                                        <div v-if="!showReference" @dblclick="showReference = !showReference" style="float: left;">
                                            <span><strong>Ref : {{ref}}</strong></span></div>
                                        <div style="float: left" v-else><span>Ref : </span><input style="width: 300px" v-focus
                                                                              @blur="doneEditingReference"
                                                                              @keyup.enter="doneEditingReference"
                                                                              type="text/number" name="ref"
                                                                              v-model="ref">
                                        </div>
                                        <div style="float: right">
                                            <div v-if="!showCurrentDate" @dblclick="showCurrentDate = !showCurrentDate">
                                                <strong>{{currentDate | dateFormat}}</strong></div>
                                            <input v-else v-focus @change="doneEditingCurrentDate"
                                                   @blur="doneEditingCurrentDate" @keyup.enter="doneEditingCurrentDate"
                                                   type="date" name="currentDate" v-model="currentDate">
                                        </div>
                                    </div>
                                    <div class="marginBottom" style="margin-bottom: 50px">
                                        <span id="concernPerson" v-if="!showConcernPerson" @dblclick="showConcernPerson = !showConcernPerson"
                                              style="font-size: 16px"><strong>{{concernPerson}}</strong></span>
                                        <input style="width: 500px" v-else v-focus @blur="doneConcernPerson"
                                               @keyup.enter="doneConcernPerson" type="text" name="concernPerson"
                                               v-model="concernPerson" placeholder="Enter ...."><br/>
                                        <span id="organization" v-if="!showOrganization" @dblclick="showOrganization = !showOrganization"
                                              style="font-size: 16px"><strong>{{organization}}</strong></span>
                                        <input style="width: 500px" v-else v-focus @blur="doneOrganization"
                                               @keyup.enter="doneOrganization" type="text" name="organization"
                                               v-model="organization"><br/>
                                        <span id="address" v-if="!showAddress" @dblclick="showAddress= !showAddress"
                                              style="font-size: 16px"><strong>{{address}}</strong></span>
                                        <input style="width: 500px" v-else v-focus @blur="doneAddress"
                                               @keyup.enter="doneAddress" type="text" name="address"
                                               v-model="address"><br/>
                                    </div>

                                    <div class="marginBottom">
                                        <span id="email-subject" v-if="!showEmailSubject" @dblclick="showEmailSubject = !showEmailSubject"
                                              style="font-size: 16px"><strong>{{emailSubject}}</strong></span>
                                        <input style="width: 500px" v-else v-focus @blur="doneEmailSubject"
                                               @keyup.enter="doneEmailSubject" type="text" name="emailSubject"
                                               v-model="emailSubject">
                                    </div>

                                    <p>Dear Sir/Madam,</p>
                                    <p class="marginBottom">
                                        With reference to the above subject we would like to inform you that Mr. {{name}}, Designation :  {{customerAndBorrowerInfo.occupation}} , Job Location :  {{customerAndBorrowerInfo.officeAddress}} ,
                                        has been availing an ......... product name  Loan of BDT. {{customerAndBorrowerInfo.loanLimit}} total limit Lac from our {{customerAndBorrowerInfo.branchName}}  Branch.
                                        The loan was disbursed on  disbursement date <strong>{{customerAndBorrowerInfo.disburseDate | dateFormat2}}</strong>  and the monthly installments is BDT. {{letterPayload.emiAmount || '0.00'}} .
                                        Presently the loan is running with No of installment {{letterPayload.currentDpdBucket}} installments overdue and classified as {{customer.clStatus}} .
                                        We have tried in all possible ways for regularization of the Loan by communicating with the
                                        customer as well as guarantors over phone and physically, and also issuing several reminder letters, but all of our efforts so far has gone in vain.
                                    </p>
                                    <p class="marginBottom">
                                        In view of the above, we are writing to you seeking your assistance for amicable settlement of the above mentioned Loan liability.
                                        If you could kind enough to take any possible steps at your end to recover the loan of Mr. {{name}} .
                                    </p>
                                    <p class="marginBottom">
                                        We strongly believe that your co-operation regarding the above will help our bank to realize the overdue amount.
                                    </p>
                                    <p class="marginBottom">
                                        Thanking You.
                                    </p>

                                    <p class="marginBottom">Yours faithfully,</p>
                                    <div class="marginBottom row" style="margin-top: 100px">
                                        <div class="marginBottom" style="width: 40%;float: left; border-top: groove">
                                            <p style="margin: 0px;">{{employeeInfo.user.firstName+' '+employeeInfo.user.lastName || ''}}</p>
                                            <p>({{employeeInfo.designation.name}}) &
                                                Head of Credit Risk Management Division (Retail)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            function generatePDF(){
                                //$("#letter-body").print();
                                var divContents = document.getElementById("letter-body").innerHTML;
                                var a = window.open();
                                a.document.write('<html>'+divContents+'</html>');
                                a.document.close();
                                a.print();
                                return (false);
                            }
                        </script>
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            var customer = /*[[${customer}]]*/{};
                            var letterModel = /*[[${letterModel}]]*/ {};
                            var customerInfo = /*[[${customerInfo}]]*/ {};
                            var loanAccDetails = /*[[${loanAccDetails}]]*/ {};
                            var letterPayload = /*[[${letterPayload}]]*/ {};
                            var employeeInfo = /*[[${employeeInfo}]]*/ {};
                            var customerAndBorrowerInfo = /*[[${customerAndBorrowerInfo}]]*/ {};
                            /*]]>*/
                        </script>
                        <script>
                            let vm = new Vue({
                                el: '#letter-body',
                                data: {
                                    ref: 'CHO/CRMD/'+new Date().getFullYear()+'/',
                                    currentDate: "",
                                    privacy: 'PRIVATE AND CONFIDENTIAL',
                                    name: '',
                                    customerAddress: '',
                                    emailSubject: '',
                                    amount: '',
                                    genDate: "",
                                    agentAddress: '',
                                    agentPhone: '01833147905',

                                    showReference: false,
                                    showCurrentDate: false,
                                    showPrivacy: false,
                                    showCustomerName: false,
                                    showCustomerAddress: false,
                                    showEmailSubject: false,
                                    showAmount: false,
                                    showGenDate: false,
                                    showAgentAddress: false,
                                    showAgentPhone: false,
                                    customer: {},
                                    customerInfo:{},
                                    loanAccDetails:{},
                                    letterPayload:{},
                                    employeeInfo:{},
                                    customerAndBorrowerInfo:{},
                                    concernPerson:'concern person',
                                    showConcernPerson:false,
                                    organization:'Organization',
                                    showOrganization:false,
                                    address:'Address',
                                    showAddress:false

                                },
                                created: function () {
                                    this.customer = customer;
                                    this.customerAndBorrowerInfo=customerAndBorrowerInfo;
                                    this.currentDate = new Date();
                                    this.concernPerson=letterModel.concernPerson;
                                    this.address=letterModel.address;
                                    this.organization=letterModel.organization;
                                    this.genDate = new Date();
                                    this.customerInfo=customerInfo;
                                    this.loanAccDetails = loanAccDetails;
                                    this.letterPayload = letterPayload;
                                    this.employeeInfo = employeeInfo;
                                    this.ref = this.ref + letterModel.dispatcherNumber;
                                    this.initValues();
                                },
                                filters: {
                                    dateFormat(value) {
                                        return formatDate_DD_MM_YYYY(value, '/');
                                    },
                                    dateFormat2(value){
                                        return formatDate_DD_MM_YYYY(new Date(value),'/');
                                    }
                                },
                                directives: {
                                    focus: {
                                        // directive definition
                                        inserted: function (el) {
                                            el.focus()
                                        }
                                    }
                                },
                                methods: {
                                    initValues(){
                                        this.name=  this.customer.customerName;
                                        this.accountNo = this.customer.accountNo;
                                        this.emailSubject = 'Subject: Request for co-operation for settlement of the Any Purpose Loan liability of Mr. '+this.customer.customerName+' , Designation : '+customerAndBorrowerInfo.occupation+', Job Location : '+customerAndBorrowerInfo.officeAddress;
                                    },
                                    doneEditingReference() {
                                        this.showReference = false;
                                    },
                                    doneEditingCurrentDate() {
                                        this.showCurrentDate = false;
                                    },
                                    doneEditingPrivacy() {
                                        this.showPrivacy = false;
                                    },
                                    doneEditingName() {
                                        this.showCustomerName = false;
                                    },
                                    doneCustomerAddress() {
                                        this.showCustomerAddress = false;
                                    },
                                    doneEmailSubject() {
                                        this.showEmailSubject = false;
                                    },
                                    doneEditingAmount() {
                                        this.showAmount = false;
                                    },
                                    doneEditingGenDate() {
                                        this.showGenDate = false;
                                    },
                                    doneEditingAgentAddress() {
                                        this.showAgentAddress = false;
                                    },
                                    doneEditingAgentPhone() {
                                        this.showAgentPhone = false;
                                    },
                                    doneConcernPerson(){
                                        this.showConcernPerson=false;
                                    },
                                    doneOrganization(){
                                        this.showOrganization=false;
                                    },
                                    doneAddress(){
                                        this.showAddress=false;
                                    }
                                }
                            })
                        </script>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
</body>
</html>
