<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"/>
    <title>3rd Reminder</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <button onclick="generatePDF()">Download</button>
                            <span class="pull-right"><span class="label label-info">EDIT:</span> Double click on Bold text to edit</span>
                        </div>

                        <style>
                            .row {
                                margin: 0 auto;
                            }

                            .letter-body {
                                max-width: 800px;
                                margin: auto;
                                padding: 35px;
                                border: 1px solid #eee;
                                box-shadow: 0 0 10px rgba(0, 0, 0, .15);
                                font-size: 12px;
                                line-height: 24px;
                                font-family: 'Times New Roman', 'Times New Roman', Helvetica, Arial, sans-serif;
                                color: #555;
                            }

                            .marginBottom {
                                margin-bottom: 30px;
                            }
                        </style>

                        <div class="box-body">
                            <div id="letter-body" class="letter-body">
                                <div style="margin: 60px 40px; text-align: justify">
                                    <div style="margin-bottom: 20px; margin-top: 40px; display: inline-block; width: 100%">
                                        <div style="float:left;" v-if="!showReference" @dblclick="showReference = !showReference">
                                            <span><strong>{{ref}}</strong></span></div>
                                        <div style="float:left;" v-else><span></span><input style="width: 300px" v-focus
                                                                                            @blur="doneEditingReference"
                                                                                            @keyup.enter="doneEditingReference"
                                                                                            type="text/number" name="ref"
                                                                                            v-model="ref"/>

                                        </div>
                                        <div style="float: right">
                                            <div style="text-align: right" v-if="!showCurrentDate" @dblclick="showCurrentDate = !showCurrentDate">
                                                <strong>dated: {{currentDate | dateFormat}}</strong></div>

                                            <input v-else v-focus  @change="doneEditingCurrentDate"
                                                   @keyup.enter="doneEditingCurrentDate"
                                                   type="date" @blur="doneEditingCurrentDate" name="currentDate" v-model="currentDate"/>
                                        </div>
                                        <div class="marginBottom">
                                            <h4 style="text-align: center"><span style="border-bottom:2px solid; color: red;">3rd Reminder</span></h4>
                                        </div>
                                    </div>
                                    <div class="marginBottom" style="margin-bottom: 50px">
                                        <span>{{customer.customerName}}</span><br/>
                                        <span>{{customerInfo.permanentAddress}}</span>
                                    </div>

                                    <div class="marginBottom">
                                        <span id="email-subject" v-if="!showEmailSubject" @dblclick="showEmailSubject = !showEmailSubject"
                                              style="font-size: 16px"><strong>{{emailSubject}}</strong></span>
                                        <input style="width: 500px" v-else v-focus @blur="doneEmailSubject"
                                               @keyup.enter="doneEmailSubject" type="text" name="emailSubject"
                                               v-model="emailSubject">
                                    </div>

                                    <p>Dear Sir,</p>
                                    <p class="marginBottom">
                                        We found an unpaid installment amount of (BDT {{emiAmount}}) against your IFIC Aamar Bari/Salary
                                        Loan/{{loanAcNo}} availed from our ({{branchName}} Branch). Despite, repeated communications with you from
                                        the Bank, overdue amount is still unadjusted which is the violation of sanction terms & condition accepted by you.
                                    </p>
                                    <p class="marginBottom"></p>
                                    <p style="margin-bottom: 20px">Therefore, we further <span style="color: red;">request/ask</span> you to deposit the unpaid installment amount of (BDT {{emiAmount}}) within
                                        (????) days of receiving this letter.</p>

                                    <p>
                                        Thanking you,
                                    </p>
                                    <p>...........</p>
                                    <p>.........</p>
                                    <p>.........</p>
                                </div>
                            </div>
                        </div>
                        <script>
                            function generatePDF(){
                                //$("#letter-body").print();
                                var divContents = document.getElementById("letter-body").innerHTML;
                                var a = window.open();
                                a.document.write('<html>'+divContents+'</html>');
                                a.document.close();
                                a.print();
                                return (false);
                            }
                        </script>
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            var customer = /*[[${customer}]]*/ {};
                            var letterModel = /*[[${letterModel}]]*/ {};
                            var customerInfo = /*[[${customerInfo}]]*/ [];
                            var overdueAmount = /*[[${overdueAmount}]]*/ [];
                            var customerAddress = /*[[${customerAddress}]]*/ [];
                            var loanAccDetails = /*[[${loanAccDetails}]]*/ [];
                            /*]]>*/
                        </script>
                        <script>
                            let vm = new Vue({
                                el: '#letter-body',
                                data: {
                                    ref: 'IFICB/CRU/'+new Date().getFullYear()+'/ Ref No./',
                                    currentDate: "",
                                    currentYear:'',
                                    privacy: 'PRIVATE AND CONFIDENTIAL',
                                    emailSubject: '',
                                    genDate: "",
                                    agentAddress: '',
                                    agentPhone: '01833147905',
                                    dispatcherNo:'',
                                    showReference: false,
                                    showCurrentDate: false,
                                    showPrivacy: false,
                                    showCustomerName: false,
                                    showCustomerAddress: false,
                                    showEmailSubject: false,
                                    showAmount: false,
                                    showGenDate: false,
                                    showAgentAddress: false,
                                    showAgentPhone: false,
                                    customer: {},
                                    customerInfo:{},
                                    loanAccDetails:{}

                                },
                                created: function () {
                                    this.customer = customer;
                                    this.customerInfo=customerInfo;
                                    this.loanAccDetails = loanAccDetails;
                                    this.currentDate = new Date();
                                    this.genDate = new Date();
                                    this.ref = this.ref + letterModel.dispatcherNumber;
                                    this.customerAddress = customerAddress;
                                    this.amount = overdueAmount;
                                    this.initValues();
                                },
                                filters: {
                                    dateFormat(value) {
                                        return formatDate_DD_MM_YYYY(value, '/');
                                    },
                                },
                                directives: {
                                    focus: {
                                        // directive definition
                                        inserted: function (el) {
                                            el.focus()
                                        }
                                    }
                                },
                                methods: {
                                    initValues(){
                                        this.name=  this.customer.customerName;
                                        this.accountNo = this.customer.accountNo;
                                        this.emiAmount = this.loanAccDetails.emiAmount;
                                        this.loanAcNo = this.loanAccDetails.loanACNo;
                                        this.branchName = this.loanAccDetails.branchName;
                                        this.emailSubject = 'Subject: Request for depositing unpaid installment amount of BDT('+this.loanAccDetails.emiAmount+') in your IFIC Aamar Bari/Salary Loan/'+this.loanAccDetails.loanACNo;
                                    },
                                    doneEditingReference() {
                                        this.showReference = false;
                                    },
                                    doneEditingCurrentDate() {
                                        this.showCurrentDate = false;
                                    },
                                    doneEditingPrivacy() {
                                        this.showPrivacy = false;
                                    },
                                    doneEditingName() {
                                        this.showCustomerName = false;
                                    },
                                    doneCustomerAddress() {
                                        this.showCustomerAddress = false;
                                    },
                                    doneEmailSubject() {
                                        this.showEmailSubject = false;
                                    },
                                    doneEditingAmount() {
                                        this.showAmount = false;
                                    },
                                    doneEditingGenDate() {
                                        this.showGenDate = false;
                                    },
                                    doneEditingAgentAddress() {
                                        this.showAgentAddress = false;
                                    },
                                    doneEditingAgentPhone() {
                                        this.showAgentPhone = false;
                                    }
                                }
                            })
                        </script>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>
