<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="card/layouts/main/main-layout">
<head>
<meta charset="ISO-8859-1"></meta>
<title> Diary Note Sub Menu 2</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="content-wrapper">
			<section class="content">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="box box-primary">

							<div class="box-header with-border" style="text-align: center;">
								<h3 th:if="${DNsubMenu2.id == null}" class="box-title">Create New Diary Note Sub Menu 2</h3>
								<h3 th:if="${DNsubMenu2.id != null}" class="box-title">Update Diary Note Sub Menu 2</h3>
							</div>

							<form  class="form-horizontal validate" method="post" th:action="@{/collection/dn_submenu2/create}" th:object="${DNsubMenu2}">
								<input type="hidden" th:field="*{id}"></input>
								<div class="box-body">
									<div class="form-group">
										<label class="col-sm-4 custom-form-lebel-right required">Sub Menu Name</label>
										<div class="col-sm-8">
											<input type="text" name="name" class="form-control required" th:required="true" th:field="*{name}" placeholder="Sub Menu Name" />
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-4 custom-form-lebel-right required">Sub Menu Code </label>
										<div class="col-sm-8">
											<input type="text" name="code" class="form-control required" th:field="*{code}" placeholder="Sub Menu Code " />
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-4 custom-form-lebel-right required">Menu  </label>
										<div class="col-sm-8" >
											<select  class="form-control required" name="menuId" required>
												<option value="">Select</option>
												<option th:each="menu :${menuList}" th:value="${menu?.id}" th:selected="${menu?.id == DNsubMenu2?.diaryNoteMenu?.id}" ><span th:text="${menu.name}"></span></option>
											</select>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-4 custom-form-lebel-right required">Sub Menu 1 </label>
										<div class="col-sm-8" >
											<select  class="form-control required" name="subMenu1Id" required>
												<option value="">Select</option>
												<option th:each="sm1 :${submenu1List}" th:value="${sm1?.id}" th:selected="${sm1?.id == DNsubMenu2?.diaryNoteSubMenu1?.id}" ><span th:text="${sm1.name}"></span></option>
											</select>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-4 custom-form-lebel-right required">Remarks </label>
										<div class="col-sm-8">
											<textarea type="text" name="remarks" class="form-control required" th:field="*{remarks}" placeholder="Remarks" />
										</div>
									</div>

									<div class="form-group">
										<label  class="col-sm-4 custom-form-lebel-right required">Status</label>
										<div class="col-sm-8">
											<fieldset id="group1">
												<input  type="radio" name="enabled" id="enabled" th:checked="${DNsubMenu2.enabled ==true}"  th:value="true"> Active</input>
												<input type="radio"  name="enabled" id="enabled" th:checked="${DNsubMenu2.enabled ==false}" th:value="false"> Inactive </input>
											</fieldset>
										</div>
									</div>

								</div>
								<!-- /.box-body -->
								<div class="box-footer text-center">
									<button type="submit" class="btn btn-info btn-sm ">Submit</button>
									<a type="submit" class="btn btn-danger btn-sm" href="/collection/dn_submenu2/list">Cancel</a>
								</div>
								<!-- /.box-footer -->
							</form>

						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>
