<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="card/layouts/main/main-layout">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Agency List</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="content-wrapper">
			<section class="content">
				<div class="row">
					<div class="col-md-12">
						<div class="box">
							<div class="box-header with-border" style="text-align: center;">
								<h3 class="box-title">Agency List</h3>
							</div>

							<div class="box-body">
								<a style="margin-bottom: 5px" class="btn btn-primary btn-sm" th:href="@{/collection/agency/create}"><span class="glyphicon glyphicon-plus"> </span> Add Agency </a>
								<table th:if="${agencyList!=null}" id="example" name="datatable-responsive" class="table table-condensed table-striped table-bordered">
									<thead>
									<tr>
										<th style="width:7%">Sl No.</th>
										<th>Agency Name</th>
										<th>Contact Person</th>
										<th>Contact No</th>
										<th>Register Address</th>
										<th style="text-align: center">Status</th>
										<th style="width: 20%;text-align: center">Action</th>
									</tr>
									</thead>
									<tbody>
									<tr th:each="agency,status : ${agencyList}">
										<td th:text="${status.count}"></td>
										<td><span th:text="${agency.name}"></span></td>
										<td><span th:text="${agency.contactPerson}"></span></td>
										<td><span th:text="${agency.contactNo}"></span></td>
										<td><span th:text="${agency.registeredAddress}"></span></td>
										<td>
											<span th:if="${agency.enabled == true}" th:text="Active"></span>
											<span th:if="${agency.enabled == false}" th:text="Inactive"></span>
										</td>
										<td>
											<a class="btn btn-primary btn-xs" th:href="@{/collection/agency/edit(id=${agency.id})}"><i class="fa fa-edit"></i>Edit</a>
											<a class="btn btn-xs btn-success" th:href="@{/collection/agency/view(id=${agency.id})}"><i class="fa fa-eye"></i>View</a>
											<!-- <a class="btn btn-xs btn-xs-dlt" th:href="@{/branch/remove(id=${branch.branchId})}"> <i class="fa fa-trash"></i>Delete</a> -->
										</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>