<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="card/layouts/main/main-layout">
<head>
<meta charset="ISO-8859-1"></meta>
<title> Agency</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="content-wrapper">
			<section class="content">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="box box-primary">

							<div class="box-header with-border" style="text-align: center;">
								<h3 th:text="${((entity.id == null) ? 'Create' : 'Update') + ' Agency'}" class="box-title">Create Agency</h3>
							</div>

							<form class="form-horizontal validate" method="post" th:action="@{/collection/agency/create}" th:object="${entity}" enctype="multipart/form-data">
								<div class="box-body">
									<input type="hidden" th:field="*{id}"/>

									<div class="form-group">
										<label  class="col-sm-4 custom-form-lebel-right required"> Agency Title</label>
										<div class="col-sm-8">
											<input type="text" name="name" class="form-control required" th:required="true" th:field="*{name}" placeholder="Agency Name" />
										</div>
									</div>

									<!--<div class="form-group">-->
										<!--<label  class="col-sm-4 custom-form-lebel-right required">First Name</label>-->
										<!--<div class="col-sm-8">-->
											<!--<input type="text" name="firstName" class="form-control required" th:required="true"  placeholder="First Name" />-->
										<!--</div>-->
									<!--</div>-->

									<!--<div class="form-group">-->
										<!--<label  class="col-sm-4 custom-form-lebel-right required">Last Name</label>-->
										<!--<div class="col-sm-8">-->
											<!--<input type="text" name="lastName" class="form-control required" th:required="true" placeholder="Last Name" />-->
										<!--</div>-->
									<!--</div>-->

									<div class="form-group">
										<label  class="col-sm-4 custom-form-lebel-right required">Pin</label>
										<div class="col-sm-8">
											<input type="text" name="pin" class="form-control required" th:required="true" placeholder="Pin" />
										</div>
									</div>
									<div class="form-group">
										<label  class="col-sm-4 custom-form-lebel-right required">Password</label>
										<div class="col-sm-8">
											<input type="password" name="password" class="form-control required" th:required="true" placeholder="Last Name" />
										</div>
									</div>
									<div class="form-group">
										<label  class="col-sm-4 custom-form-lebel-right required">Confirm PassWord</label>
										<div class="col-sm-8">
											<input type="text" name="confirmPassword" class="form-control required" th:required="true" placeholder="Last Name" />
										</div>
									</div>

									<div class="form-group">
										<label  class="col-sm-4 custom-form-lebel-right required"> Contact Person Name</label>
										<div class="col-sm-8">
											<input type="text" name="contactPerson" class="form-control required" th:required="true" placeholder="Contact Person" />
										</div>
									</div>

									<div class="form-group">
										<label  class="col-sm-4 custom-form-lebel-right required"> Contact No</label>
										<div class="col-sm-8">
											<input type="text" name="contactNo" class="form-control required" th:required="true" th:field="*{contactNo}" placeholder="Contact No" />
										</div>
									</div>

									<div class="form-group">
										<label  class="col-sm-4 custom-form-lebel-right required">Registered Address</label>
										<div class="col-sm-8">
											<input type="text" name="registeredAddress" class="form-control required" th:required="true" placeholder="Registered Address" />
										</div>
									</div>
									<div class="form-group">
										<label  class="col-sm-4 custom-form-lebel-right required">Agreement With Agency</label>
										<div class="col-sm-8">
											<input type="text" name="agreementWithAgency" class="form-control required" th:required="true" placeholder="Agreement With Agency" />
										</div>
									</div>
									<div class="form-group">
										<label  class="col-sm-4 custom-form-lebel-right">Upload File</label>
										<div class="col-sm-8">
											<input type="file" name="file" class="form-control"/>
										</div>
									</div>

									<div class="form-group">
										<label  class="col-sm-4 custom-form-lebel-right">Status</label>
										<div class="col-sm-8">
											<fieldset id="group1">
												<input name="enabled" type="radio" th:checked="${entity.enabled}"  th:value="true"> Active</input>
												<input name="enabled" type="radio"  th:checked="${!entity.enabled}" th:value="false"> Inactive </input>
											</fieldset>
										</div>
									</div>

								</div>
								<div class="box-footer text-center">
									<button type="submit" class="btn btn-info btn-sm ">Submit</button>
									<a type="submit" class="btn btn-danger btn-sm" href="/collection/agency/list">Cancel</a>
								</div>
							</form>

						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>