<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>BB Comments for Classification List</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border" style="text-align: center;">
                            <h3 class="box-title">BB Comments for Classification List</h3>
                        </div>

                        <div class="box-body">
                            <a style="margin-bottom: 5px;" class="btn btn-primary btn-sm"
                               th:href="@{/collection/samd/setup/bb-comments-for-classification/create}"><span
                                    class="glyphicon glyphicon-plus"> </span> Add BB Comments for Classification</a>
                            <table  id="example" name="datatable-responsive"
                                   class="table table-striped table-bordered table-condensed">
                                <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th> Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="bbCommentsClassification,status : ${bbCommentsClassificationList}">
                                    <td th:text="${status.count}"></td>
                                    <td><span th:text="${bbCommentsClassification.name}"></span></td>

                                    <td th:switch="${bbCommentsClassification.status}">
                                        <span th:case="true" th:text="ACTIVE" />
                                        <span th:case="false" th:text="INACTIVE" />
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-xs" th:href="@{/collection/samd/setup/bb-comments-for-classification/edit(id=${bbCommentsClassification.id})}"><i class="fa fa-edit"></i>Edit</a>
                                        <a class="btn btn-success btn-xs" th:href="|javascript:deleteData('@{/collection/samd/setup/bb-comments-for-classification/remove(id=${bbCommentsClassification.id})}')|"><i class="fa fa-trash"></i>Delete</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

</body>
</html>