<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Background of the borrower</title>
</head>
<body>
<div id="layout-cibReport" th:fragment="background-of-the-borrower-tap">
    <div class="csi-view-form-full-area csi-view-indtable">
        <div class="box-header with-border csi-view-box-header">
            <h3 class="box-title" ></h3>

        </div>

        <div class="box-body" id="backgroundOfTheBorrower">
            <div class="form-horizontal csi-view-form" id="account_escalation">
                <div class="row form-group">
                    <label  class="col-sm-3 custom-form-lebel-right" style="padding-top: 40px">Background of the Borrower</label>
                    <div class="col-sm-9">
                        <textarea v-model="backgroundOfTheBorrower" name="backgroundOfTheBorrower" rows="6" class="form-control"></textarea>
                    </div>
                </div>
                <div class="pull-right">
                    <a href="#" v-if="enabled" class="btn btn-success" @click="addData" id="btn_ingresar">Update
                    <a href="#" v-else class="btn btn-success" @click="addData" >Submit</a>
                </div>
            </div>
            <script th:inline="javascript">
                /*<![CDATA[*/

                // var backgroundOfTheBorrowerEntity = /*[[${backgroundOfTheBorrowerEntity}]]*/ {};

                $("#tab-background-of-the-borrower").click(function (event) {
                    //event.preventDefault();
                     backgroundBorrower.getFindData();
                });

                /*]]>*/
            </script>

            <script>
                var backgroundBorrower = new Vue({
                    el:'#backgroundOfTheBorrower',
                    data:{
                        accountNo:"",
                        backgroundOfTheBorrower:"",
                        enabled:null

                    },
                    filters:{
                        dateFormat:function (value) {
                            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
                            ];
                            if(value != ''){
                                var date = new Date(value);
                                var day = date.getDate();
                                if(day < 10) day='0'+day;
                                return day +'-'+monthNames[date.getMonth()]+'-'+date.getFullYear().toString();
                            }else{
                                return "";
                            }
                        },
                    },
                    methods:{
                        getFindData:function (){
                            var host = window.location.host;
                            this.accountNo = accountNo;
                            var url = 'https://'+host+'/collection/samd/backgound-borrower/create?id='+accountNo;

                            this.$http.get(url, {credentials : true, headers:{'X-CSRF-TOKEN' : window.csrfToken,}})
                                .then(res => {

                            if(res.body){
                                this.backgroundOfTheBorrower = res.body.backgroundOftheBorrower;
                                this.enabled = res.body.id;
                            }
                        }).catch(err => {
                                console.log(err);
                        })
                        },
                        addData:function () {
                            var host = window.location.host;
                            this.$http.post('https://'+host+'/collection/samd/backgound-borrower/save',{
                                    account:accountNo,
                                    backgroundOfTheBorrower:this.backgroundOfTheBorrower,
                                },
                                {credentials : true, headers:{
                                        'X-CSRF-TOKEN' : window.csrfToken,
                                    }}).then(res => {
                                this.getFindData();
                                alert("Successfully save")

                        }).catch(err => {
                                console.log(err);
                        })
                        },

                    }
                })
            </script>
        </div>
    </div>
</div>
</body>


</html>
