<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Branch Information</title>
</head>
<body>

<div id="layout-cibReport" th:fragment="basic-info">
    <div class="csi-view-form-full-area csi-view-indtable">
        <div id="basicInfoId">
            <div class="box-header with-border csi-view-box-header">
                <h3 class="box-title">Branch Information</h3>
                <a class=" btn btn-xs btn-primary pull-right btn-add-customer-request" data-toggle="modal" data-target="#modal-basic-info" >
                    <i class="fa fa-plus-square"></i>
                    <span v-if="basicInformation == ''">Add More</span>
                    <span v-else id="basic_info_edit">Edit</span>
                </a>
            </div>

            <div class="box-body">
                <div>
                    <div class="row">
                        <div class="modal fade in" id="modal-basic-info"  data-backdrop="static" data-keyboard="false">
                            <div class="modal-dialog" style="width: 60%">
                                <div class="modal-content col-sm-12">
                                    <div class="modal-header">
                                        <h3 >Branch Information</h3>
                                    </div>

                                    <form class="form-horizontal" id="basic-info-form">
                                        <input type="hidden" name="_csrf"/>
                                        <input type="hidden" name="accountNo"/>
                                        <input type="hidden" name="id" :value="basicInformation.id"/>
                                        <!--<input type="hidden" name="customerId"/>-->

                                        <!--<input id="id" name="id" v-model="reportOne.id" type="hidden">-->
                                        <!--<input name="customerId" v-model="customerId" type="hidden">-->
                                        <!--<input type="hidden" name="officerMakingVisitIds" v-model="getSelectedOfficer"/>-->
                                        <!--<input type="hidden" name="representativeBranchIds" v-model="getSelectedRepresentative"/>-->

                                        <div class="modal-body">
                                            <div class="row top-buffer">
                                                <label class="col-sm-2 custom-details-lebel-left">HOB Name:</label>
                                                <div class="col-sm-4">
                                                    <input type="text" name="hobName"   :value="basicInformation.hobName" class="form-control" placeholder="HOB Name"></input>
                                                </div>
                                                <label class="col-sm-2 custom-details-lebel-left">HOB Designation:</label>
                                                <div class="col-sm-4">
                                                    <input type="text" name="hobDesignation"   :value="basicInformation.hobDesignation" class="form-control" placeholder="HOB Designation"></input>
                                                </div>
                                            </div>
                                            <div class="row top-buffer">
                                                <label class="col-sm-2 custom-details-lebel-left">Key Person:</label>
                                                <div class="col-sm-4">
                                                    <input type="text" name="keyPerson"   :value="basicInformation.keyPerson" class="form-control" placeholder="Key Person"></input>
                                                </div>
                                                <label class="col-sm-2 custom-details-lebel-left">Subject:</label>
                                                <div class="col-sm-4">
                                                    <input type="text" name="subject"   :value="basicInformation.subject" class="form-control" placeholder="Subject"></input>
                                                </div>
                                            </div>
                                            <div class="row top-buffer">
                                                <label class="col-sm-2 custom-details-lebel-left">Branch Code:</label>
                                                <div class="col-sm-4">
                                                    <input type="text" name="branchCode"   :value="basicInformation.branchCode" class="form-control" placeholder="Branch Code" disabled="disabled"></input>
                                                </div>
                                                <label class="col-sm-2 custom-details-lebel-left">Branch Name:</label>
                                                <div class="col-sm-4">
                                                    <input type="text" name="branchName"   :value="basicInformation.branchName" class="form-control" placeholder="Branch Name" disabled="disabled"></input>
                                                </div>
                                            </div>
                                            <div class="row top-buffer">
                                                <label class="col-sm-2 custom-details-lebel-left">Customer Id:</label>
                                                <div class="col-sm-4">
                                                    <input type="text" name="customerID"   :value="basicInformation.customerId" class="form-control" placeholder="Customer Id" disabled="disabled"></input>
                                                </div>
                                                <label class="col-sm-2 custom-details-lebel-left">Account Number:</label>
                                                <div class="col-sm-4">
                                                    <input v-if="basicInformation == ''"  type="text" name="accountNo" :value="accountNo"  class="form-control" placeholder="Account Number" disabled="disabled"></input>
                                                    <input v-else type="text" name="accountNo"   :value="basicInformation.accountNo" class="form-control" placeholder="Account Number" disabled="disabled"></input>
                                                </div>
                                            </div>
                                            <div class="row top-buffer">
                                                <label class="col-sm-2 custom-details-lebel-left">Account Name:</label>
                                                <div class="col-sm-4">
                                                    <input type="text" name="accountName"   :value="basicInformation.accountName" class="form-control" placeholder="Account Name" disabled="disabled"></input>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="modal-footer text-center">
                                            <button type="submit" class="btn btn-info">Save</button>
                                            <button type="button"  class="btn btn-danger" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal csi-view-form">
                        <div>

                            <table type="datatable-responsive"
                                   class="table table-striped table-bordered table-condensed" width="100%">
                                <thead>


                                </thead>
                                <tbody>
                                <tr>
                                    <td style="width: 200px">Branch Code</td>
                                    <td style="width: 2px">:</td>
                                    <td >{{basicInformation.branchCode}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 200px">Branch Name</td>
                                    <td style="width: 2px">:</td>
                                    <td >{{basicInformation.branchName}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 200px">HOB Name</td>
                                    <td style="width: 2px">:</td>
                                    <td >{{basicInformation.hobName}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 200px">HOB Designation</td>
                                    <td style="width: 2px">:</td>
                                    <td >{{basicInformation.hobDesignation}}</td>
                                </tr>


                                </tbody>

                            </table>

                            <table type="datatable-responsive"
                                   class="table table-striped table-bordered table-condensed" width="100%">
                                <thead>


                                </thead>
                                <tbody>
                                <tr>
                                    <td style="width: 200px">Customer ID</td>
                                    <td style="width: 2px">:</td>
                                    <td >{{basicInformation.customerId}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 200px">Account No.</td>
                                    <td style="width: 2px">:</td>
                                    <td >{{basicInformation.accountNo}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 200px">Account Name</td>
                                    <td style="width: 2px">:</td>
                                    <td >{{basicInformation.accountName}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 200px">Key Person</td>
                                    <td style="width: 2px">:</td>
                                    <td >{{basicInformation.keyPerson}}</td>
                                </tr>
                                <tr>
                                    <td style="width: 200px">Subject</td>
                                    <td style="width: 2px">:</td>
                                    <td >{{basicInformation.subject}}</td>
                                </tr>


                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <script>

            $(document).ready(function () {

                // $('#basic-info-form input[name="accountNo"]').val(accountNo);

                $('#basic-info-form input[name="_csrf"]').val(csrfToken);
                $('#basic-info-form input[name="accountNo"]').val(accountNo);

                basicInformationApp = new Vue({
                    el: '#basicInfoId',
                    data: {
                        basicInformation: {},
                        accountNo: accountNo
                    },
                    method: {

                    }
                })


                $('#basic-info-form').on('submit', function (e) {
                    e.preventDefault();
                    var data = new FormData(this);
                    console.log('report one submit');
                    console.log(data.accountNo);
                    $.ajax({
                        type:'POST',
                        url: '/samd/data-entry/basic-information/save',
                        data: data,
                        processData: false,
                        contentType: false,
                        headers: {
                            'X-CSRF-TOKEN': window.csrfToken,
                        },
                        success: function (response, xhr, status) {
                            $('#modal-basic-info').modal('toggle');
                            // $('#modal-report-one').find("input:not([type=hidden]), multiselect").val("");
                            basicInformationApp.basicInformation = response;
                            swal("Success!", "Complain successfully Saved!", "success");
                            $('#basic-info-form').find("input:not([type=hidden])").val("");
                        },
                        error: function (response) {
                            alert("Unsuccessful")
                        }
                    })
                })


                $('#tab-basic-information').click(function () {
                    console.log('fired...........');
                    $.ajax({
                        url: '/samd/data-entry/basic-information/find',
                        success: function (response) {
                            console.log(response);
                            basicInformationApp.basicInformation = response;
                        },
                        error: function () {
                            console.log('Unsuccessful');
                        }
                    })
                })
            })
        </script>
    </div>

</div>
</body>


</html>
