<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Justification for not being classified the loan</title>
</head>
<body>
<div id="layout-cibReport" th:fragment="justification-tap">
    <div class="csi-view-form-full-area csi-view-indtable">
        <div class="box-header with-border csi-view-box-header">
            <h3 class="box-title" ></h3>

        </div>

        <div class="box-body" id="justification">
            <div class="form-horizontal csi-view-form" id="account_escalation">
                <div class="row form-group">
                    <label  class="col-sm-4 custom-form-lebel-right" style="padding-top: 40px">Justification for not being classified the loan</label>
                    <div class="col-sm-8">
                        <textarea v-model="justification" name="justification" rows="6" class="form-control"></textarea>
                    </div>
                </div>
                <div class="pull-right">
                    <a href="#" v-if="enabled" class="btn btn-success" @click="addData" id="btn_ingresar">Update
                        <a href="#" v-else class="btn btn-success" @click="addData" >Submit</a>

                </div>
            </div>
            <script th:inline="javascript">
                /*<![CDATA[*/

                // var backgroundOfTheBorrowerEntity = /*[[${backgroundOfTheBorrowerEntity}]]*/ {};

                $("#tab-justification").click(function (event) {
                    //event.preventDefault();
                    justification.getFindData();
                });

                /*]]>*/
            </script>

            <script>
                var justification = new Vue({
                    el:'#justification',
                    data:{
                        accountNo:"",
                        justification:"",
                        enabled:null
                    },
                    methods:{
                        getFindData:function (){
                            var host = window.location.host;
                            this.accountNo = accountNo;
                            var url = 'https://'+host+'/collection/samd/justification/create?id='+accountNo;

                            this.$http.get(url, {credentials : true, headers:{'X-CSRF-TOKEN' : window.csrfToken,}})
                                .then(res => {

                                if(res.body){
                                this.justification = res.body.justification;
                                this.enabled = res.body.id;
                            }
                        }).catch(err => {
                                console.log(err);
                        })
                        },
                        addData:function () {
                            var host = window.location.host;
                            this.$http.post('https://'+host+'/collection/samd/justification/save',{
                                    account:accountNo,
                                    justification:this.justification,
                                },
                                {credentials : true, headers:{
                                        'X-CSRF-TOKEN' : window.csrfToken,
                                    }}).then(res => {
                                this.getFindData();
                            alert("Successfully save")

                        }).catch(err => {
                                console.log(err);
                        })
                        },

                    }
                })
            </script>
        </div>
    </div>
</div>
</body>


</html>
