<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="UTF-8">
    <title>Kpi Target Setup Based on Amount</title>
</head>
<body>
<div layout:fragment="content">
    <div class="content-wrapper">
        <div class="content">
            <div class="row" id="sam-loan-kpi-target-app">
                <div class="col-xs-8 col-xs-offset-2">
                    <form method="post" th:action="@{/collection/samd/kpi/sam-loan-kpi-target-setup-based-on-amount/create}">

                        <input name="productTypeIds" class="hidden" v-model="getSelectedProductTypes">
                        <input name="locationIds" class="hidden" v-model="getSelectedLocations">
                        <input name="zoneIds" class="hidden" v-model="getSelectedZones">
                        <input name="dpdBucketIds" class="hidden" v-model="getSelectedDpdBuckets">
                        <input name="sectorGroupIds" class="hidden" v-model="getSelectedSectorGroups">

                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">KPI Target Setup Based on Amount</h3>
                            </div>

                            <div class="box-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Product Type</label>
                                        <div class="col-sm-7">
                                            <multiselect   v-model="selectedProductTypeList" placeholder="Search Product Type" label="name" track-by="id"  :options="productTypeList" :multiple="true" :taggable="true" th:required="true" ></multiselect>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Sector Group</label>
                                        <div class="col-sm-7">
                                            <multiselect   v-model="selectedSectorGroupList" placeholder="Search Sector Group" label="name" track-by="id"  :options="sectorGroupList" :multiple="true" :taggable="true" th:required="true" ></multiselect>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Outstanding Amount</label>
                                        <div class="col-sm-7">
                                            <div class="col-sm-6 padding-none"><input name="outstandingAmountMin" class="form-control" type="number" placeholder="Minimum e.g. 0.00"></div>
                                            <div class="col-sm-6 padding-none"><input name="outstandingAmountMax" class="form-control" type="number" placeholder="Maximum e.g. 100000.00"></div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Location</label>
                                        <div class="col-sm-7">
                                            <multiselect   v-model="selectedLocationList" placeholder="Search Location" label="city" track-by="id"  :options="locationList" :multiple="true" :taggable="true" th:required="true" ></multiselect>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Zone</label>
                                        <div class="col-sm-7">
                                            <multiselect   v-model="selectedZoneList" placeholder="Search Zone" label="name" track-by="id"  :options="zoneList" :multiple="true" :taggable="true" th:required="true" ></multiselect>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">DPD Bucket</label>
                                        <div class="col-sm-7">
                                            <multiselect   v-model="selectedDpdBucketList" placeholder="Search DPD Bucket" label="bucketName" track-by="id"  :options="dpdBucketList" :multiple="true" :taggable="true" th:required="true" ></multiselect>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Overdue Target</label>
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                <input name="overdueTarget" class="form-control" type="number" placeholder="e.g. 10">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Save Target</label>
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                <input name="saveTarget" class="form-control" type="number" placeholder="e.g. 10">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Back Target</label>
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                <input name="backTarget" class="form-control" type="number" placeholder="e.g. 10">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Flow Target</label>
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                <input name="flowTarget" class="form-control" type="number" placeholder="e.g. 10">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Regular Target</label>
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                <input name="regularTarget" class="form-control" type="number" placeholder="e.g. 10">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">PAR Release Target</label>
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                <input name="parReleaseTarget" class="form-control" type="number" placeholder="e.g. 10">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">NPL Release Target</label>
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                <input name="nplReleaseTarget" class="form-control" type="number" placeholder="e.g. 10">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box-footer text-center">
                                <button type="submit" class="btn btn-info btn-sm">Submit</button>
                                <a class="btn btn-danger btn-sm" href="/collection/samd/kpi/sam-loan-kpi-target-setup-based-on-amount/list">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <style>
                .padding-none{
                    padding: 0px;
                }

                .input-group{
                    z-index: 0;
                }
            </style>

            <script th:inline="javascript">
                /*<![CDATA[*/
                var productTypeList = /*[[${productTypeList}]]*/ [];
                var locationList = /*[[${locationList}]]*/ [];
                var zoneList = /*[[${zoneList}]]*/ [];
                var dpdBucketList = /*[[${dpdBucketList}]]*/ [];
                var sectorGroupList = /*[[${sectorGroupList}]]*/ [];
                /*]]>*/
            </script>

            <script>
                samLoanKpiTargetApp = new Vue({
                    el: '#sam-loan-kpi-target-app',
                    components: {
                        Multiselect: VueMultiselect.default
                    },
                    data:{
                        productTypeList: productTypeList,
                        selectedProductTypeList: [],

                        sectorGroupList: sectorGroupList,
                        selectedSectorGroupList: [],

                        locationList: locationList,
                        selectedLocationList:[],

                        zoneList: zoneList,
                        selectedZoneList: [],

                        dpdBucketList: dpdBucketList,
                        selectedDpdBucketList: []
                    },
                    computed: {
                        getSelectedProductTypes: function () {
                            return this.selectedProductTypeList.map(function (data) {
                                return data.id;
                            })
                        },

                        getSelectedLocations: function () {
                            return this.selectedLocationList.map(function (data) {
                                return data.id;
                            })
                        },

                        getSelectedZones: function () {
                            return this.selectedZoneList.map(function (data) {
                                return data.id;
                            })
                        },

                        getSelectedDpdBuckets: function () {
                            return this.selectedDpdBucketList.map(function (data) {
                                return data.id;
                            })
                        },

                        getSelectedSectorGroups: function () {
                            return this.selectedSectorGroupList.map(function (data) {
                                return data.id;
                            })
                        }
                    }
                })
            </script>
        </div>
    </div>
</div>
</body>
</html>