<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Employee List</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">

                        <div class="box-header with-border" style="text-align: center;">
                            <h1 class="box-title">Employee List</h1>
                        </div>

                        <!-- /.box-header -->
                        <div class="box-body">
                            <a style="margin-bottom:5px;" class="btn btn-primary btn-sm"
                               th:if="${session.urlList.contains('/collection/employee/create')}"
                               th:href="@{/userInformation/create}"><span class="glyphicon glyphicon-plus"> </span>
                                Add Employee </a>
                            <!--<a style="margin-bottom:5px;" class="btn btn-primary btn-sm"
                               th:if="${session.urlList.contains('/collection/employee/create')}"
                               th:href="@{/collection/employee/upload-excel}"><span class="glyphicon glyphicon-paperclip"> </span>
                                Upload Employee </a>-->
                           <!-- <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#myModal">Active Employee List</button>-->
                            <table style="overflow-x: hidden; display: block;" th:if="${empList!=null}" id="employee"
                                   name="datatable-responsive"
                                   class="table table-condensed table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>User Email</th>
                                    <th>Employee Name</th>
                                    <th>Role</th>
                                    <th>Current Status</th>
                                    <th>Unit</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="employee,status : ${empList}"
                                    th:with="
                                        isPending = ${(!employee?.user?.enabled && #strings.isEmpty(employee?.user?.remark)) ||
                                        (employee?.user?.modifiedBy != null && !employee?.user?.enabled && !#strings.isEmpty(employee?.user?.remark))},
                                        isRejected = ${employee?.user?.modifiedBy == null && !employee?.user?.enabled && !#strings.isEmpty(employee?.user?.remark)},
                                        isApproved = ${employee?.user?.enabled && #strings.isEmpty(employee?.user?.remark)}">
                                    <td th:text="${status.count}"></td>
                                    <td><span th:text="${employee?.pin}"></span></td>
                                    <td><span
                                            th:text="${employee?.user?.firstName + ' ' + employee?.user?.lastName}"></span>
                                    </td>
                                    <td><p th:each="role : ${employee?.user?.roles}" th:text="${role.name}"></p></td>
                                    <td><span th:text="${employee?.employeeStatus?.name}"></span></td>
                                    <td><span th:text="${employee?.unit}"></span></td>
                                    <td style="text-align: center" >
                                        <span th:if="${isPending}" th:text="Pending"></span>
                                        <span th:if="${isApproved}" th:text="Approved"></span>
                                        <span th:if="${isRejected}" th:text="Rejected" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-xs" th:if="${(isRejected || isApproved) && session.urlList.contains('/collection/employee/edit')}"
                                           th:href="@{/collection/employee/edit(id=${employee?.id})}">
                                            <i class="fa fa-edit"></i>
                                            Edit
                                        </a>
                                        <!--<a class="btn btn-success btn-xs"
                                           th:if="${session.urlList.contains('/collection/employee/view')}"
                                           th:href="@{/collection/employee/view(id=${employee?.id})}">
                                            <i class="fa fa-eye"></i>
                                            View
                                        </a>-->
                                        <!-- <a class="btn btn-xs btn-xs-dlt" th:href="@{/branch/remove(id=${branch.branchId})}"> <i class="fa fa-trash"></i>Delete</a> -->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(document).ready(function () {
                    $('#employee').DataTable({
                        'bInfo': true,
                        ordering: true,
                        searching: true,
                        lengthChange: true,
                        dom: 'Bfrtip',
                    })
                })

            </script>

        </section>
    </div>

    <!-- Modal -->
    <div th:replace="collection/settings/employee/activeEmployeeList :: active-employee-list"></div>
</div>
</body>
</html>