<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"/>
    <title> Employee </title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <style>
                            .form-horizontal .control-label {
                                padding-top: 0px;
                                margin-bottom: 0;
                                text-align: right;
                            }
                        </style>
                        <div class="box-header with-border">
                            <h3 class="box-title">View Employee Details</h3>
                            <a th:href="@{/collection/employee/list}" class="btn btn-primary btn-sm"
                               style="float: right;">Back To List</a>
                        </div>

                        <form class="form-horizontal"
                              th:with="isRejected = ${entity?.user?.modifiedBy == null && !#strings.isEmpty(entity?.user?.remark)}">
                            <div class="box-body">
                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label"> User Email :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity.pin}"></level>&nbsp;
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Full Name :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity.user.firstName}"></level>&nbsp;<level
                                            th:text="${entity.user.lastName}"></level>
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label"> Designation :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity.designation.name}"></level>&nbsp;
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label"> Location :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity?.location?.city}"></level>&nbsp;
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label"> Home Phone :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity.homePhone}"></level>&nbsp;
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label"> Office Phone :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity.officePhone}"></level>&nbsp;
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label"> Job Nature :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity?.jobNature}"></level>&nbsp;
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label"> Job Role :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity?.jobRole?.name}"></level>&nbsp;
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label"> Joining Date :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${#dates.format(entity?.joiningDate, 'dd-MMM-yyyy')}"></level>&nbsp;
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label"> Gender :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity?.gender}"></level>&nbsp;
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label"> Date of Birth :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${#dates.format(entity.DOB, 'dd-MMM-yyyy')}"></level>&nbsp;
                                    </div>
                                </div>
                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label"> Blood Group :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity?.bloodGroup}"></level>&nbsp;
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label"> EMergency Contact Person :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity?.emergencyContactPerson}"></level>&nbsp;
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Emergency Contact Person Phone :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity?.emergencyContactNo}"></level>&nbsp;
                                    </div>
                                </div>
                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Emergency Contact Person Relation :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity?.emergencyContactRel}"></level>&nbsp;
                                    </div>
                                </div>
                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Present Address :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity?.presentAddress}"></level>&nbsp;
                                    </div>
                                </div>
                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Permanent Address :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity?.permanentAddress}"></level>&nbsp;
                                    </div>
                                </div>
                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Office Address :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity?.officeAddress}"></level>&nbsp;
                                    </div>
                                </div>
                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Email :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity?.email}"></level>&nbsp;
                                    </div>
                                </div>
                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Branch :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity?.branch}"></level>&nbsp;
                                    </div>
                                </div>
                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">IP Address :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity?.ipAddress}"></level>&nbsp;
                                    </div>
                                </div>
                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">IP Phone No :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity?.ipPhoneNo}"></level>&nbsp;
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Mobile Limit :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity?.mobileLimit}"></level>&nbsp;
                                    </div>
                                </div>
                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Unit :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity?.unit}"></level>&nbsp;
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Department :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity?.department.name}"></level>&nbsp;
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Division :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${#strings.isEmpty(entity?.division) ? '' : entity?.division.divName}"></level>&nbsp;
                                    </div>
                                </div>
                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Age :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${age}"></level>&nbsp;
                                    </div>
                                </div>
                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Years of Working Band :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${workingYear}"></level>&nbsp;
                                    </div>
                                </div>
                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Current Status :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity?.employeeStatus.name}"></level>&nbsp;
                                    </div>
                                </div>
                                <div class="form-group form-group-code" th:if="${teamLeader}">
                                    <label class="col-sm-4 control-label">Team Leader Name :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${teamLeader}"></level>&nbsp;
                                    </div>
                                </div>
                                <div class="form-group form-group-code" th:if="${supervisor}">
                                    <label class="col-sm-4 control-label">Supervisor Name :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${supervisor}"></level>&nbsp;
                                    </div>
                                </div>
                                <div class="form-group form-group-code" th:if="${manager}">
                                    <label class="col-sm-4 control-label">Manager Name :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${manager}"></level>&nbsp;
                                    </div>
                                </div>
                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Signature :</label>
                                    <div class="col-sm-4 custom-form-control br">
                                        <img alt="Signature" th:src="@{'data:image/jpeg;base64,' + ${entity.signature}}"
                                             class="img-fluid"/>
                                    </div>
                                </div>
                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Advice Letter :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${entity?.adviceLetter}"></level>&nbsp;
                                    </div>
                                </div>
                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Advice Letter Date :</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${#dates.format(entity?.adviceLetterDate, 'dd-MMM-yyyy')}"></level>&nbsp;
                                    </div>
                                </div>

                                <div class="form-group form-group-code" th:if="${isRejected}">
                                    <label class="col-sm-4 control-label">Remark :</label>
                                    <div class="col-sm-8 custom-form-control" style="word-wrap: break-word">
                                        <level class="text-danger" th:text="${entity?.user?.remark}"></level>
                                    </div>
                                </div>

                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>