<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title> Agency KPI Target Setup Account- Loan</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="box box-primary">

                        <div class="box-header with-border" style="text-align: center;">
                            <h3 th:if="${agency.id == null}" class="box-title">Create Agency KPI Target Setup Account- Loan</h3>
                            <h3 th:if="${agency.id != null}" class="box-title">Update Agency KPI Target Setup Account- Loan</h3>
                        </div>

                        <form id="app" class="form-horizontal validate" method="post" th:action="@{/collection/kpi/agency/loan/bytarget/account/create}" th:object="${agency}">
                            <input type="hidden" th:field="*{id}">
                            <input type="hidden" th:field="*{productIds}" v-model="getSelectedProductList">
                            <input type="hidden" th:field="*{locationIds}" v-model="getSelectedLocationList">
                            <input type="hidden" th:field="*{zoneIds}" v-model="getSelectedZoneList">
                            <input type="hidden" th:field="*{dpdBucketIds}" v-model="getSelectedDpdBucketList">

                            <div class="box-body">

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">Product Type</label>
                                    <div class="col-sm-6">
                                        <multiselect   v-model="selectedProductTypeList" placeholder="Search Product Type" label="name" track-by="id"  :options="productTypeOption" :multiple="true" :taggable="true"></multiselect>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">Location</label>
                                    <div class="col-sm-6">
                                        <multiselect  v-model="selectedLocationList" placeholder="Search Location" label="city" track-by="id"  :options="locationOption" :multiple="true" :taggable="true"></multiselect>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">Zone</label>
                                    <div class="col-sm-6">
                                        <multiselect  v-model="selectedZoneList" placeholder="Search Zone" label="name" track-by="id"  :options="zoneOption" :multiple="true" :taggable="true"></multiselect>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">Bucket</label>
                                    <div class="col-sm-6">
                                        <multiselect  v-model="selectedDpdBucketList" placeholder="Search Bucket" label="bucketName" track-by="id"  :options="dpdBucketOption" :multiple="true" :taggable="true"></multiselect>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Over Due Target</label>
                                    <div class="col-sm-2">
                                        <input v-validate="'decimal:2|between:1,100'" th:field="*{overDueTarget}" type="text" name="overDue" class="form-control required input-sm" th:required="true"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <span><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="col-sm-7">
                                        <span class="error" v-if="errors.has('overDueTarget')">{{errors.first('overDueTarget') | capitalize}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Save Target</label>
                                    <div class="col-sm-2">
                                        <input v-validate="'decimal:2|between:1,100'" th:field="*{saveTarget}" type="text" name="remarks" class="form-control required input-sm" th:required="true"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <span><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="col-sm-7">
                                        <span class="error" v-if="errors.has('saveTarget')">{{errors.first('saveTarget') | capitalize}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Back Target</label>
                                    <div class="col-sm-2">
                                        <input v-validate="'decimal:2|between:1,100'" th:field="*{backTarget}" type="text" name="remarks" class="form-control required input-sm" th:required="true"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <span><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="col-sm-7">
                                        <span class="error" v-if="errors.has('backTarget')">{{errors.first('backTarget') | capitalize}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Flow Target</label>
                                    <div class="col-sm-2">
                                        <input v-validate="'decimal:2|between:1,100'" th:field="*{flowTarget}" type="text" name="remarks" class="form-control required input-sm" th:required="true"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <span><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="col-sm-7">
                                        <span class="error" v-if="errors.has('flowTarget')">{{errors.first('flowTarget') | capitalize}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Regular Target</label>
                                    <div class="col-sm-2">
                                        <input v-validate="'decimal:2|between:1,100'" th:field="*{regularTaget}" type="text" name="remarks" class="form-control required input-sm" th:required="true"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <span><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="col-sm-7">
                                        <span class="error" v-if="errors.has('regularTaget')">{{errors.first('regularTaget') | capitalize}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">PAR Release Target</label>
                                    <div class="col-sm-2">
                                        <input v-validate="'decimal:2|between:1,100'" th:field="*{parReleaseTarget}" type="text" name="remarks" class="form-control required input-sm" th:required="true"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <span><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="col-sm-7">
                                        <span class="error" v-if="errors.has('parReleaseTarget')">{{errors.first('parReleaseTarget') | capitalize}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">NPL Release Target</label>
                                    <div class="col-sm-2">
                                        <input v-validate="'decimal:2|between:1,100'" th:field="*{nplReleaseTarget}" type="text" name="remarks" class="form-control required input-sm" th:required="true"/>
                                    </div>
                                    <div class="col-sm-1">
                                        <span><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="col-sm-7">
                                        <span class="error" v-if="errors.has('nplReleaseTarget')">{{errors.first('nplReleaseTarget') | capitalize}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">EMI Amount Added ?</label>
                                    <div class="col-sm-6">
                                        <fieldset id="group1">
                                            <input  type="radio" name="emiAmmountAdd" id="emiAmmountAdd" th:checked="${agency.emiAmmountAdd == true}" th:value="true"> Yes</input>
                                            <input type="radio"  name="emiAmmountAdd" id="emiAmmountAdd" th:checked="${agency.emiAmmountAdd == false}" th:value="false"> No </input>

                                        </fieldset>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label required">Status:</label>
                                    <div class="col-sm-6">
                                        <fieldset id="group1">
                                            <input  type="radio" name="enabled" id="enabled" th:checked="${agency.enabled == true}" th:value="true"> Active</input>
                                            <input type="radio"  name="enabled" id="enabled" th:checked="${agency.enabled == false}" th:value="false"> Inactive </input>

                                        </fieldset>
                                    </div>
                                </div>

                            </div>

                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                <!--<button type="submit" class="btn btn-info ">Submit</button>-->
                                <button type="submit" th:if="${agency.id != null}" class="btn btn-info btn-sm">Update</button>
                                <button type="submit" th:if="${agency.id == null}" class="btn btn-info btn-sm">Submit</button>
                                <a type="submit" class="btn btn-danger btn-sm" href="/collection/kpi/agency/loan/bytarget/account/list">Cancel</a>
                            </div>
                            <!-- /.box-footer -->
                        </form>

                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            var selectedProductTypes = /*[[${selectedProuductTypeList}]]*/ [];
                            var productOptions = /*[[${productTypeList}]]*/ [];

                            var selectLocation = /*[[${selectedLocationList}]]*/ [];
                            var locationOptions = /*[[${locationList}]]*/ [];

                            var selectZone = /*[[${selectedZoneList}]]*/ [];
                            var zoneOptions = /*[[${zoneList}]]*/ [];

                            var selectDpdBuckets = /*[[${selectedDpdBucketList}]]*/ [];
                            var dpdBucketOptions = /*[[${dpdBucketList}]]*/ [];

                            /*]]>*/
                        </script>

                        <script>
                            function deleteRow(index) {
                                console.log(index);
                                $('#table #row-'+index).remove();
                            }

                            Vue.use(VeeValidate);
                            new Vue({
                                el: '#app',
                                components: {
                                    Multiselect: VueMultiselect.default
                                },
                                data:{
                                    selectedProductTypeList:[],
                                    productTypeOption:[],

                                    selectedLocationList:[],
                                    locationOption:[],

                                    selectedZoneList:[],
                                    zoneOption:[],

                                    selectedDpdBucketList:[],
                                    dpdBucketOption:[],
                                },
                                created:function () {
                                    this.selectedProductTypeList = JSON.parse(selectedProductTypes) ? JSON.parse(selectedProductTypes):[];
                                    this.productTypeOption = JSON.parse(productOptions) ? JSON.parse(productOptions):[];

                                    this.selectedLocationList = JSON.parse(selectLocation) ? JSON.parse(selectLocation):[];
                                    this.locationOption = JSON.parse(locationOptions) ? JSON.parse(locationOptions):[];

                                    this.selectedZoneList = JSON.parse(selectZone) ? JSON.parse(selectZone):[];
                                    this.zoneOption = JSON.parse(zoneOptions) ? JSON.parse(zoneOptions):[];

                                    this.selectedDpdBucketList = JSON.parse(selectDpdBuckets) ? JSON.parse(selectDpdBuckets):[];
                                    this.dpdBucketOption = JSON.parse(dpdBucketOptions) ? JSON.parse(dpdBucketOptions):[];

                                    this.current = length?length:0;
                                },
                                computed:{
                                    getSelectedProductList : function () {
                                        return this.selectedProductTypeList.map(item => {return item.id});
                                    },

                                    getSelectedDpdBucketList : function () {
                                        return this.selectedDpdBucketList.map(item => {return item.id});
                                    },

                                    getSelectedLocationList : function () {
                                        return this.selectedLocationList.map(item => {return item.id});
                                    },

                                    getSelectedZoneList : function () {
                                        return this.selectedZoneList.map(item => {return item.id});
                                    },


                                },
                                filters: {
                                    capitalize: function (value) {
                                        console.log(value);
                                        if (!value) return ''
                                        value = value.toString()
                                        return value.charAt(0).toUpperCase() + value.slice(1).toLowerCase()
                                    }
                                }
                            })

                        </script>
                        <style>
                            .multiselect, .multiselect__input, .multiselect__single, .multiselect__content {
                                font-size: 13px;
                            }
                            .multiselect__tag{
                                font-size: 12px;
                            }
                            select {
                                -webkit-appearance: menulist;
                            }

                        </style>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>

</html>