<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1"></meta>
	<title>Payment Details ? Account Wise</title>
</head>
<body>
<div id="layout-cibReport" th:fragment="guarantor-info">
    <div class="csi-view-form-full-area csi-view-indtable">
        <!--<div class="box-header with-border csi-view-box-header">
            <h3 class="box-title" >Payment Details ? Account Wise</h3>

        </div>
        <div class="box-header with-border csi-view-box-header">
            <a class=" btn btn-sm pull-right" data-toggle="modal" data-target="#modal-guarantor-info" >
                <i class="fa fa-plus-square"></i>
                Add More
            </a>
        </div>
-->
        <div class="box-header with-border csi-view-box-header">
            <h3 class="box-title">Payment Details (Account Wise)</h3>
            <a class=" btn btn-sm pull-right" data-toggle="modal" data-target="#modal-guarantor-info" >
                <i class="fa fa-plus-square"></i>
                Add More
            </a>
        </div>
        <div class="box-body" >

            <div class="row">
                <div class="modal fade" id="modal-guarantor-info"  data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog" style="width: 60%">
                        <div class="modal-content col-sm-12">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <!--<span aria-hidden="true">×</span>-->
                                </button>
                                <h3 >Guarantor Information</h3>
                            </div>
                            <!--<div class="box-body">-->
                            <form  id="guarantorInfoSaveForm" action="" method="post" class="form-horizontal" onsubmit="return guarantorInfoSave();" >
                                <!--<input class="gen-card-id" type="hidden" id="cardId" name="cardId" th:value="${cdi}" />-->
                                <!--<input class="customer-id" type="hidden" name="customerId"  th:value="${generalInfo.customerId}" />-->
                                <!--<input type="hidden" name="refId" id="refId" value="" />-->
                                <input type="hidden" name="customerBasicInfo.id"/>
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-2 custom-details-lebel-left required">Account No.</label>
                                    <input type="text" name="accountNo" id="accNo" class="col-sm-4 custom-form-control" placeholder="Account No." th:required="true"></input>
                                    <label class="col-sm-2 custom-details-lebel-left">Name</label>
                                    <input type="text" name="name" id="guarantorName" class="col-sm-4 custom-form-control" placeholder="Name" th:required="true"></input>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-2 custom-details-lebel-left required">Address</label>
                                    <input type="text" class="col-sm-4 custom-form-control" placeholder="Address" id="guarantorAddress" name="address" th:required="true"></input>
                                    <label class="col-sm-2 custom-details-lebel-left">Phone No.</label>
                                    <input type="text" class="col-sm-4 custom-form-control" placeholder="Phone No." id="guarantorPhone" name="phoneNo" th:required="true"></input>
                                </div>
                                <!--<div class="form-group col-sm-12">
                                    <label class="col-sm-2 custom-details-lebel-left required">Profession</label>
                                    <select class="col-sm-4 custom-form-control" id="refProfession" name="refProfession">
                                        <option selected="selected" value="">Select profession</option>
                                        &lt;!&ndash;<option th:each="profession : ${professionList}"&ndash;&gt;
                                        &lt;!&ndash;th:value="${profession.name}"&ndash;&gt;
                                        &lt;!&ndash;th:text="${profession.name}">&ndash;&gt;
                                        &lt;!&ndash;</option>&ndash;&gt;
                                    </select>
                                    <label class="col-sm-2 custom-details-lebel-left">Ext</label>
                                    <input type="text" class="col-sm-4 custom-form-control" placeholder="Ext" id="ext" name="ext"></input>
                                </div>-->
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-2 custom-details-lebel-left required">Relationship with Guarantor</label>
                                    <input type="text" class="col-sm-4 custom-form-control" placeholder="Relationship with Guarantor" id="relGuarantor" name="relationGuarantor" th:required="true"></input>
                                </div>
                                <div class="modal-footer text-center">
                                    <button type="submit" class="btn btn-info">Save</button>
                                    <button type="button" id="cardRefModalCancelBtn" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                            <!--</div>-->

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-horizontal csi-view-form" id="guarantorInfo">
                <input class="gen-card-id" type="hidden"  name="cardId"  />
                <input type="hidden" name="refId" id="refId"   />
                <table name="guarantor_info" id="guarantorinfo"
                       class=" table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Total Account for current month</th>
                        <th>Total Account for last date</th>
                        <th>Total Account for today</th>
                        <th>Unpaid Account for current month</th>
                        <th>Unpaid Account for last date</th>
                    </tr>
                    </thead>
                    <tbody id="guarantorinfo_tBody">
                        <tr >
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

 <script type="text/javascript" th:src="@{/customerprofileloan/guarantorinfo.js}"></script>
</div>
</body>


</html>
