<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="legal/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Lawyer</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <style>
                            .form-horizontal .control-label {
                                padding-top: 0px;
                                margin-bottom: 0;
                                text-align: right;
                            }
                        </style>
                        <div class="box-header with-border">
                            <h3 class="box-title">View Lawyer Details</h3>
                            <a th:href="@{/legal/setup/lawyer/list}" class="btn btn-primary btn-sm"
                               style="float: right;">Back To List</a>
                        </div>

                        <form class="form-horizontal">
                            <div class="box-body" style="font-size: 16px;">

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Lawyer Id:</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${lawyer.lawyerId}"></level>
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Name:</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${lawyer.name}"></level>
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Phone No.:</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${lawyer.phoneNo}"></level>
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Mobile Number:</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${lawyer.mobileNo}"></level>
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Email:</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${lawyer.email}"></level>
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Division:</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${lawyer.branch.district.division.divName}"></level>
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">District:</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${lawyer.branch.district.name}"></level>
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Branch:</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${lawyer.branch.branchName}"></level>
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Chamber Address:</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${lawyer.chamberAddress}"></level>
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Present Address:</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${lawyer.presentAddress}"></level>
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Court Jurisdiction:</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:text="${lawyer.courtJurisdiction}"></level>
                                    </div>
                                </div>

                                <div class="form-group form-group-code">
                                    <label class="col-sm-4 control-label">Status:</label>
                                    <div class="col-sm-8 custom-form-control br">
                                        <level th:if="${lawyer.enabled == true}" th:text="Active"></level>
                                        <level th:if="${lawyer.enabled == false}" th:text="Inactive"></level>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>