<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Loan Liability Recoverability</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <style>
        .multiselect, .multiselect__input, .multiselect__single, .multiselect__content {
            font-size: 13px;
        }

        .multiselect__tag {
            font-size: 12px;
        }

        select {
            -webkit-appearance: menulist;
        }
    </style>
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="box box-primary">

                        <div class="box-header with-border" style="text-align: center;">
                            <h3 th:if="${loanLiabilityRecoverability.id == null}" class="box-title">Create Loan Liability Recoverability</h3>
                            <h3 th:if="${loanLiabilityRecoverability.id}" class="box-title">Update Loan Liability Recoverability</h3>
                        </div>
                        <form id="app" class="form-horizontal validate"
                              th:action="@{/collection/samd/setup/loan-liability-recoverability/create}"
                              method="post" th:object="${loanLiabilityRecoverability}">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="box-body">

                                <div class="form-group">
                                    <label class="col-sm-4 custom-form-lebel-right required">Name: </label>
                                    <div class="col-sm-6">
                                        <input type="text" name="name" th:field="*{name}"
                                               class="form-control input-sm required"
                                               placeholder="Name"/>
                                    </div>
                                    <!--<label class="col-sm-10 text-right text-danger"-->
                                    <!--th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</label>-->
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-4 custom-form-lebel-right">Status</label>
                                    <div class="col-sm-6">
                                        <fieldset id="group1">
                                            <input type="radio" name="enabled" id="enabled"
                                                   th:checked="${loanLiabilityRecoverability.enabled ==true}" th:value="true">
                                            Active </input>
                                            <input type="radio" name="enabled" id="disabled"
                                                   th:checked="${loanLiabilityRecoverability.enabled ==false}" th:value="false">
                                            Inactive </input>
                                        </fieldset>
                                    </div>
                                </div>
                                <!--</div>-->
                                <div class="box-footer text-center">
                                    <button type="submit" class="btn btn-info btn-sm ">Submit</button>
                                    <a type="submit" class="btn btn-danger btn-sm"
                                       th:href="@{/collection/samd/setup/loan-liability-recoverability/list}">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
              <!--  <script th:inline="javascript">
                /*<![CDATA[*/
                var unitList = /*[[${unitList}]]*/ [];
                var dpdList = /*[[${dpdList}]]*/ [];
                var ageCodeList = /*[[${ageCodeList}]]*/ [];

                var selectedDpdBucket = /*[[${selectedDpdBucket}]]*/ [];
                var selectedAgeCode = /*[[${selectedAgeCode}]]*/ [];
                var selectedUnit = /*[[${selectedUnit}]]*/ [];
                console.log(selectedUnit);
                /*]]>*/
                </script>-->
            </div>
        </section>
    </div>


  <!--  <script>
        var riskCategory = new Vue({
            el: '#app',
            components: {
                Multiselect: VueMultiselect.default
            },
            data: {
                unitList: [],
                selectedUnit: null,

                selectedDpdBucket: selectedDpdBucket,
                selectedAgeCode: selectedAgeCode,

                dpdList: [],
                ageCodeList: [],

                dpdOrAgeCodeList: [],
            },
            created: function () {
                this.selectedUnit = selectedUnit.id ? selectedUnit : null;
                this.unitList = Array.isArray(unitList) ? unitList : [];
                this.dpdList = Array.isArray(dpdList) ? dpdList : [];
                this.ageCodeList = Array.isArray(ageCodeList) ? ageCodeList : [];
            },
            computed: {
                isDpd: function () {

                    let isDpd = this.selectedUnit && this.selectedUnit.name && this.selectedUnit.name.toLowerCase() === 'loan';
                    if (isDpd)
                        this.selectedAgeCode = [];
                    return isDpd;
                },
                isAgeCode: function () {
                    let isAgeCode = this.selectedUnit && this.selectedUnit.name && this.selectedUnit.name.toLowerCase() === 'card';
                    if (isAgeCode)
                        this.selectedDpdBucket = [];
                    return isAgeCode;
                },

                getSelectedDpdIds: function () {
                    return this.selectedDpdBucket.map(item => {
                        return item.id;
                    });
                },
                getSelectedAgeCodeIds: function () {
                    return this.selectedAgeCode.map(item => {
                        return item.id;
                    });
                },
                getSelectUnit: function () {
                    if (this.selectedUnit)
                        return this.selectedUnit.id;
                    else
                        return '';
                }

            },
            methods: {}
        })

    </script>-->
</div>
</body>
</html>