<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>General Info-View</title>
</head>
<body>
<div id="layout-generalPreview" th:fragment="basicsupply">
    <div class="loandetail-area-sp box box-primary">
        <div class="box-header">
            <h3 class="box-title" >Basic Supple</h3>
        </div>
        <div class="box-body">
            <form method="post" id="generalInfoFormViw">
                <div class="form-horizontal csi-view-form" style="overflow: auto;">
                    <table class="table table-condensed table-bordered">
                        <thead>
                        <tr>
                            <th>Card</th>
                            <th>Card No</th>
                            <th>Currency CD</th>
                            <th>Catg</th>
                            <th>Credit Limit</th>
                            <th>Cash Limit</th>
                            <th>Current Balance</th>
                            <th>Approved Payment</th>
                            <th>Approved Transaction</th>
                            <th>Avail Credit</th>
                            <th>Avail Cash</th>
                            <th>Age</th>
                            <th>Status</th>
                            <th>Plastic</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="basic in basicSupply">
                            <td v-if="basic.cardTypeSuppli == 'B'">Basic Card</td>
                            <td v-if="basic.cardTypeSuppli == 'S'">Supply Card</td>
                            <td>{{basic.cardHolderName}}</td>
                            <td></td>
                            <td></td>
                            <td>{{basic.lineLimit}}</td>
                            <td></td>
                            <td>{{basic.outStanBalance}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{ageCode}}</td>
                            <td></td>
                            <td>{{plasticdCd}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
