<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Card</title>
</head>
<body>

<div id="layout-form-panel" class="box box-primary  csi-layout-form-panel-sp" th:fragment="collection-card-form-panel">

    <!-- /.box-header -->
    <div class="box-body csi-box-body">
        <section class="content ">
            <div class="row">
                <div class="col-md-12">
                    <!-- Details View -->
                    <div class=" bhoechie-tab-menu">
                        <div class="list-group csi-list-group1">
                            <a id="tab-card-referenceInfo" href="#" class="list-group-item active" title="Reference Information">Reference Information</a>

                            <a id="tab-Unbilled-Transaction-Details" href="#" class="list-group-item" title="Unbilled Transaction Details">Unbilled Transaction Details</a>

                            <a id="tab-Transaction-Approval-History" href="#" class="list-group-item" title="Transaction Approval History">Transaction Approval History</a>

                            <!--<a id="tab-Account-Statement" href="#" class="list-group-item" title=" Account Statement "> Account Statement </a>-->

                            <a id="tab-Allocation-Details" href="#" class="list-group-item" title="Allocation Details">Allocation Details</a>

                            <a id="tab-Associated-Facilities" href="#" class="list-group-item" title="Associated Facilities">Associated Facilities</a>

                            <a id="tab-Final-Settlement-Details" href="#" class="list-group-item" title="Final Settlement Details">Final Settlement Details</a>

                            <a id="tab-AGE-Classification-Details" href="#" class="list-group-item" title=" AGE & Classification Details">AGE & Classification Details</a>

                            <a id="tab-Letter-Information" href="#" class="list-group-item" title=" Letter Information:">Letter Information</a>

                            <a id="tab-Letter-Generated-Information" href="#" class="list-group-item" title="Letter Generated Information">Letter Generated Information</a>

                            <a id="tab-Send-Letter-via-Email" href="#" class="list-group-item" title="Send Letter via Email">Send Letter via Email</a>

                           <!-- <a id="tab-PTP-Status-Summary" href="#" class="list-group-item" title="Diary Notes">PTP Status Summary</a>-->
                            <a id="tab-ptp-summary" href="#" class="list-group-item" title="Diary Notes">PTP Status Summary</a>

                            <a id="tab-History" href="#" class="list-group-item" title="Activities History">Activities History</a>

                            <a id="tab-dealer-History" href="#" class="list-group-item" title="Dealer History">Dealer History</a>

                           <!-- <a id="tab-Previous-Statement" href="#" class="list-group-item" title="History"> Previous Statement</a>-->

                            <a id="tab-Visit-Ledger" href="#" class="list-group-item" title="Visit Ledger"> Visit Ledger</a>

                            <a id="tab-Account-Escalation" href="#" class="list-group-item" title="Visit Ledger"> Account Escalation</a>

                            <a id="tab-SMS-Push-Pull" href="#" class="list-group-item" title="SMS Details">SMS Details</a>

                            <a id="tab-reason-for-delinquency" href="#" class="list-group-item" title="Reason for Delinquency">Reason for Delinquency</a>
                            <a id="tab-legal-action" href="#" class="list-group-item" title="Legal Action">Legal Action</a>
                            <a id="tab-additional-info-card" href="#" class="list-group-item" title="additional Info Card">Additional Information</a>
                        </div>
                    </div>
                    <!--/ Details View -->
                    <!-- /TAB HEAD -->

                    <!-- TAB CONTENT Details-->
                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content active">
                            <div th:replace="collection/cardprofile/details/panels/middle/reference_info :: reference-info"></div>

                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="collection/cardprofile/details/panels/middle/unbailed_transaction :: unbailed-transaction"></div>

                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="collection/cardprofile/details/panels/middle/transaction_approval_history :: transaction-history"></div>

                        </div>
                    </div>

                    <!--<div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="collection/cardprofile/details/panels/middle/account_statement:: account-statement"></div>
                        </div>
                    </div>-->

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="collection/cardprofile/details/panels/middle/allocation_details :: allocation-details"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="collection/cardprofile/details/panels/middle/associated_facilities_main :: associated-facilities-main"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="collection/cardprofile/details/panels/middle/final_settlement_details :: final-settlement-details"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="collection/cardprofile/details/panels/middle/age_classification_details :: age-classification-details"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="collection/cardprofile/details/panels/middle/letter_info :: letter-info"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="collection/cardprofile/details/panels/middle/letter_generated_information :: letter-Generated-information"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="collection/cardprofile/details/panels/middle/send_letter_via_email:: send-letter-via-email"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="collection/cardprofile/details/panels/middle/ptp_tatus_summary:: ptp-status-summary"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="collection/cardprofile/details/panels/middle/history:: history"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="collection/cardprofile/details/panels/middle/dealer_history:: dealer-history"></div>
                        </div>
                    </div>

                   <!-- <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="collection/cardprofile/details/panels/middle/previous_statement:: previous-statement"></div>
                        </div>
                    </div>-->

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="collection/cardprofile/details/panels/middle/visit_ledger:: visit-ledger"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="collection/cardprofile/details/panels/middle/account_escalation:: card_account_escalation"></div>
                        </div>
                    </div>

                    <!--SMS PUSH PULL-->
                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="collection/cardprofile/details/panels/middle/sms_push_pull:: sms-push-pull"></div>
                        </div>
                    </div>

                    <!--SMS PUSH PULL-->
                    <!--<div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="collection/cardprofile/details/panels/middle/dairy_notes :: dairy-notes"></div>
                        </div>
                    </div>-->
                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="collection/cardprofile/details/panels/middle/reason_for_delinquency :: reason-for-delinquency"></div>
                        </div>
                    </div>

                    <!--SMS PUSH PULL-->
                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="collection/cardprofile/details/panels/middle/legal_action :: legal-action"></div>
                        </div>
                    </div>
                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="collection/cardprofile/details/panels/middle/additionalInfocard :: additional-info-card"></div>
                        </div>
                    </div>
                    <!-- /TAB CONTENT Details-->
                </div>
            </div>
        </section>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--<meta charset="ISO-8859-1"></meta>-->
<!--<title>Card</title>-->
<!--</head>-->
<!--<body>-->

<!--<div id="layout-form-panel" class="box box-primary  csi-layout-form-panel-sp" th:fragment="collection-card-form-panel">-->

<!--&lt;!&ndash; /.box-header &ndash;&gt;-->
<!--<div class="box-body csi-box-body">-->
<!--<section class="content ">-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--&lt;!&ndash; Details View &ndash;&gt;-->
<!--<div class=" bhoechie-tab-menu">-->
<!--<div class="list-group csi-list-group1">-->
<!--&lt;!&ndash;<a  id="tab-card-profileInfo" href="#" class="list-group-item active" title="Profile Information">Profile Information</a>&ndash;&gt;-->
<!--&lt;!&ndash;<a  id="tab-card-personalInfo" href="#" class="list-group-item" title="Personal Information">Personal Information</a>&ndash;&gt;-->
<!--<a  id="tab-card-referenceInfo" href="#" class="list-group-item active" title="Reference Information">Reference Information</a>-->
<!--&lt;!&ndash;<a  id="tab-accountInfo" href="#" class="list-group-item" title="Account Information">Account Information</a>&ndash;&gt;-->
<!--<a  id="tab-Unbilled-Transaction-Details" href="#" class="list-group-item" title="Unbilled Transaction Details">Unbilled Transaction Details</a>-->
<!--<a  id="tab-Transaction-Approval-History" href="#" class="list-group-item" title="Transaction Approval History">Transaction Approval History</a>-->
<!--<a  id="tab-Account-Statement" href="#" class="list-group-item" title=" Account Statement "> Account Statement </a>-->
<!--<a  id="tab-Allocation-Details" href="#" class="list-group-item" title="Allocation Details">Allocation Details</a>-->
<!--<a  id="tab-Associated-Facilities" href="#" class="list-group-item" title="Associated Facilities">Associated Facilities</a>-->
<!--<a  id="tab-Final-Settlement-Details" href="#" class="list-group-item" title="Final Settlement Details">Final Settlement Details</a>-->
<!--<a  id="tab-AGE-Classification-Details" href="#" class="list-group-item" title=" AGE & Classification Details">AGE & Classification Details</a>-->
<!--<a  id="tab-Letter-Information" href="#" class="list-group-item" title=" Letter Information:">Letter Information</a>-->
<!--<a  id="tab-Letter-Generated-Information" href="#" class="list-group-item" title="Letter Generated Information">Letter Generated Information</a>-->
<!--<a  id="tab-Send-Letter-via-Email" href="#" class="list-group-item" title="Send Letter via Email">Send Letter via Email</a>-->
<!--&lt;!&ndash;<a  id="tab-Card-Follow-Up" href="#" class="list-group-item" title="Follow Up">Follow Up</a>&ndash;&gt;-->
<!--&lt;!&ndash;<a  id="tab-Card-Diary-Notes" href="#" class="list-group-item" title="Diary Notes">Diary Notes</a>&ndash;&gt;-->
<!--&lt;!&ndash;<a  id="tab-Card-ptp" href="#" class="list-group-item" title="PTP">PTP</a>&ndash;&gt;-->
<!--<a  id="tab-PTP-Status-Summary" href="#" class="list-group-item" title="Diary Notes">PTP Status Summary</a>-->
<!--<a  id="tab-History" href="#" class="list-group-item" title="History ">History</a>-->
<!--<a  id="tab-Previous-Statement" href="#" class="list-group-item" title="History"> Previous Statement</a>-->
<!--<a  id="tab-Visit-Ledger" href="#" class="list-group-item" title="Visit Ledger"> Visit Ledger</a>-->
<!--<a  id="tab-Account-Escalation" href="#" class="list-group-item" title="Visit Ledger">  Account Escalation</a>-->
<!--<a  id="tab-SMS-Push-Pull" href="#" class="list-group-item" title="SMS Details">SMS Details</a>-->
<!--&lt;!&ndash;<a  id="tab-Emi-Calculation" href="#" class="list-group-item" title="Visit Ledger">EMI Details</a>&ndash;&gt;-->


<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;/ Details View &ndash;&gt;-->
<!--&lt;!&ndash; /TAB HEAD &ndash;&gt;-->

<!--&lt;!&ndash; TAB CONTENT Details&ndash;&gt;-->
<!--&lt;!&ndash;<div id="profile-information">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

<!--<div class="bhoechie-tab-content active" >-->
<!--<div th:replace="collection/cardprofile/details/panels/middle/profile_info :: profile-info"></div>-->
<!--</div>-->
<!--</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

<!--<div class="bhoechie-tab-content" >-->
<!--<div th:replace="collection/cardprofile/details/panels/middle/personal_info :: personal-info"></div>-->

<!--</div>-->
<!--</div>&ndash;&gt;-->

<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->
<!--<div class="bhoechie-tab-content active" >-->
<!--<div th:replace="collection/cardprofile/details/panels/middle/reference_info :: reference-info"></div>-->

<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--&lt;!&ndash;<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

<!--<div class="bhoechie-tab-content" >-->
<!--<div th:replace="collection/cardprofile/details/panels/middle/account_info :: account-info"></div>-->

<!--</div>-->
<!--</div>&ndash;&gt;-->
<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

<!--<div class="bhoechie-tab-content" >-->
<!--<div th:replace="collection/cardprofile/details/panels/middle/unbailed_transaction :: unbailed-transaction"></div>-->

<!--</div>-->
<!--</div>-->

<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->
<!--<div class="bhoechie-tab-content" >-->
<!--<div th:replace="collection/cardprofile/details/panels/middle/transaction_approval_history :: transaction-history"></div>-->

<!--</div>-->
<!--</div>-->
<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->
<!--<div class="bhoechie-tab-content" >-->
<!--<div th:replace="collection/cardprofile/details/panels/middle/account_statement:: account-statement"></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->
<!--<div class="bhoechie-tab-content" >-->
<!--<div th:replace="collection/cardprofile/details/panels/middle/allocation_details :: allocation-details"></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->
<!--<div class="bhoechie-tab-content" >-->
<!--<div th:replace="collection/cardprofile/details/panels/middle/associated_facilities_main :: associated-facilities-main"></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->
<!--<div class="bhoechie-tab-content" >-->
<!--<div th:replace="collection/cardprofile/details/panels/middle/final_settlement_details :: final-settlement-details"></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->
<!--<div class="bhoechie-tab-content" >-->
<!--<div th:replace="collection/cardprofile/details/panels/middle/age_classification_details :: age-classification-details"></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->
<!--<div class="bhoechie-tab-content" >-->
<!--<div th:replace="collection/cardprofile/details/panels/middle/letter_info :: letter-info"></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->
<!--<div class="bhoechie-tab-content" >-->
<!--<div th:replace="collection/cardprofile/details/panels/middle/letter_generated_information :: letter-Generated-information"></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->
<!--<div class="bhoechie-tab-content" >-->
<!--<div th:replace="collection/cardprofile/details/panels/middle/send_letter_via_email:: send-letter-via-email"></div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="bhoechie-tab csi-preview-bhoechie-tab">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="bhoechie-tab-content" >&ndash;&gt;-->
<!--&lt;!&ndash;<div th:replace="collection/cardprofile/details/panels/middle/follow_up:: follow-up"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="bhoechie-tab csi-preview-bhoechie-tab">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="bhoechie-tab-content" >&ndash;&gt;-->
<!--&lt;!&ndash;<div th:replace="collection/cardprofile/details/panels/middle/dairy_notes:: dairy-notes"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="bhoechie-tab csi-preview-bhoechie-tab">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="bhoechie-tab-content" >&ndash;&gt;-->
<!--&lt;!&ndash;<div th:replace="collection/cardprofile/details/panels/middle/ptp:: ptp"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->
<!--<div class="bhoechie-tab-content" >-->
<!--<div th:replace="collection/cardprofile/details/panels/middle/ptp_tatus_summary:: ptp-status-summary"></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->
<!--<div class="bhoechie-tab-content" >-->
<!--<div th:replace="collection/cardprofile/details/panels/middle/history:: history"></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->
<!--<div class="bhoechie-tab-content" >-->
<!--<div th:replace="collection/cardprofile/details/panels/middle/previous_statement:: previous-statement"></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->
<!--<div class="bhoechie-tab-content" >-->
<!--<div th:replace="collection/cardprofile/details/panels/middle/visit_ledger:: visit-ledger"></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->
<!--<div class="bhoechie-tab-content" >-->
<!--<div th:replace="collection/cardprofile/details/panels/middle/account_escalation:: account-escalation"></div>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;SMS PUSH PULL&ndash;&gt;-->
<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->
<!--<div class="bhoechie-tab-content" >-->
<!--<div th:replace="collection/cardprofile/details/panels/middle/sms_push_pull:: sms-push-pull"></div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; /TAB CONTENT Details&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
<!--</div>-->
<!--&lt;!&ndash; /.box-body &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; /.box &ndash;&gt;-->
<!--</body>-->
<!--</html>-->
