<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>IFIC | CMS</title>
    <base href="/">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/toastme.css}"/>
    <link rel="stylesheet" th:href="@{/custom-login/ionicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/blue.css}"/>

    <style>
        html, body {
            margin: 0;
            height: 100%;
            overflow: hidden
        }

        .login-page {
            background: #0d8841;
            background-size: cover;
        }

        .main-footer {
            margin-left: 0px;
            bottom: 0;
            position: fixed;
            width: 100%;
            padding: 5px;
        }
    </style>

    <script th:inline="javascript">
        /*<![CDATA[*/
        window.context = /*[[${context}]]*/ "";
        window.csrfToken = /*[[${_csrf.token}]]*/ "";
        window.csrfHeader = /*[[${_csrf.headerName}]]*/ "";
        /*]]>*/
    </script>

</head>
<body class="hold-transition login-page" style="zoom: 85%">
<div class="login-box">
    <div class="login-box-body" style="border-radius: 10px;">
        <center>
            <img th:src="@{/images/ific.png}" style="width:220px;"
                 alt="IFIC"/>

        </center>
        <br/>
        <h5 class="login-box-msg text-bold text-black">
            COLLECTION & RECOVERY SYSTEM
        </h5>

        <div id="login_reason">
            <form id="form" th:action="@{/}" method="post">

                <div th:if="${session.loginError}" style="text-align: center; width: 100%;">
                    <div class="alert alert-danger">
                        Invalid username or password
                    </div>
                </div>

                <div th:if="${session.loginUnable}" style="text-align: center; width: 100%;">
                    <div class="alert alert-danger">
                        You are not enable to login.
                    </div>
                </div>

                <div th:if="${session.errorMsg}" style="text-align: center; width: 100%;">
                    <div class="alert alert-danger">
                        <span th:text="${session.errorMsg}"></span>
                    </div>
                </div>

                <div th:if="${session.logout}" style="text-align: center; width: 100%;">
                    <div class="alert alert-info">
                        You have been logged out
                    </div>
                </div>
                <div th:if="${session.isLate}" style=" text-align: center; width: 100%;">
                    <div class="alert alert-info">
                        Please select a late reason.
                    </div>
                </div>

                <!--<div th:if="${isUserNull}" style=" text-align: center; width: 100%;">-->
                    <!--<div class="alert alert-info">-->
                        <!--User not found!-->
                    <!--</div>-->
                <!--</div>-->

                <div class="form-group has-feedback">

                    <div><input
                            type="text"
                            name="username"
                            class="form-control"
                            maxlength="25"
                            placeholder="User Name"
                            autocomplete="off"
                            required="required" style="width: 45%;"/></div>
                    <div style="margin-top: -34px;margin-left: 155px;"> <input
                            type="text"
                            class="form-control"
                            autocomplete="off"
                            required="required" style="width: 100%;"
                            value="@ificbankbd.com" disabled /></div>

                    <!--<span>@ificbankbd.com</span>-->
                    <!--<span class="glyphicon glyphicon-user form-control-feedback"></span>-->
                </div>
                <div class="form-group has-feedback">
                    <input type="password"
                           name="password"
                           class="form-control"
                           maxlength="25"
                           placeholder="Enter Password"
                           autocomplete="off"
                           required="required"/>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <div class="form-group">
                    <select id="reasonselected" name="module" class="form-control">
                        <option value="">Select a Late Reason</option>
                        <option th:each="reason :${latereasonList}" th:value="${reason.id}"
                                th:text="${reason.reasonTitle}">NA
                        </option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <a th:href="@{/auth/password-reset/by-email}">Forget Password ?</a>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->


<footer class="main-footer">
    <div class="pull-right hidden-xs">
        Developed By <b>Unisoft Systems Ltd.</b>
    </div>
    <strong>
        Copyright &copy; 2022 <a style="color: #ed1b24" href="https://www.ificbank.com.bd/">IFIC Bank Ltd.</a>.</strong>
    All rights reserved.
</footer>

</body>
</html>
