<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Account Escalation</title>
</head>
<body>
<div id="layout-cibReport" th:fragment="dealer-account-escalation">
    <div class="csi-view-form-full-area csi-view-indtable" id="account-escalation-checker-id">
        <div class="box-header with-border csi-view-box-header">
            <h3 class="box-title">Account Escalation</h3>

        </div>
        <div class="box-body">
            <div class="modal fade" id="modal-dealer-escalation-view-note">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Account Escalation Note</h4>
                        </div>
                        <div class="modal-body" v-for="note in accountEscalationNote">
                            <div class="row form-group">
                                <label  class="col-sm-2 custom-form-lebel-right">From:  {{note.createdBy}}</label>
                                <div class="col-sm-10">
                                    <textarea  name="note" :value="note.note" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <Div class="form-horizontal csi-view-form">
                <table name="account escalation"
                       class=" table table-striped table-bordered table-responsive">
                    <thead>
                    <tr>
                        <th>Account No ss</th>
                        <th>From</th>
                        <th>Date</th>
                        <th>Bucket</th>
                        <th>Status</th>
                        <th style="min-width: 100px">Action</th>
                    </tr>
                    </thead>
                    <tbody id="dealer-account-escalation-table-body">
                    <tr v-for="accountEscalation in accountEscalationList">
                        <td><a :href="'/profile/loanprofile/search?account='+subString(accountEscalation.accountNumber)">{{subString(accountEscalation.accountNumber)}}</a></td>
                        <td>{{accountEscalation.fromUserPin}}</td>
                        <td>{{formatDate(accountEscalation.createdDate)}}</td>
                        <td>{{accountEscalation.bucket}}</td>
                        <td>{{accountEscalation.status}}</td>
                        <td>
                            <button :disabled="accountEscalation.accountEscalationNotes == ''" data-toggle="modal" data-target="#modal-dealer-escalation-view-note" v-bind:data-id="accountEscalation.id" id="dealer-escalation-note-view-id" class="btn btn-success btn-xs"><i fa fa-eye></i>View Note</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </Div>
        </div>
    </div>
    <!--<script th:inline="javascript">-->
    <!--/*<![CDATA[*/-->
    <!--var accountEscalationList = /*[[${accountEscalationList}]]*/ [];-->
    <!--console.log(accountEscalationList);-->
    <!--/*]]>*/-->
    <!--</script>-->
    <script>

        accountEscalationCheckerApp = new Vue({
            el: '#account-escalation-checker-id',
            data: {
                accountEscalationList: [],

                accountEscalation: {},

                accountEscalationNote: []
            },
            methods: {
                formatDateInput: function (date) {
                    let date1 = date ? new Date(date) : new Date()

                    return date ? date1.getFullYear()
                        +'-'+((date1.getMonth()+1) < 10 ? '0'+(date1.getMonth()+1) : (date1.getMonth()+1))
                        +'-'+(date1.getDate() < 10 ? '0'+date1.getDate() : date1.getDate())
                        : '';
                },
                formatDate: function (date) {
                    return formatDate_DD_MMM_YYYY(date)
                },
                subString: function (accounNo) {
                    return accounNo == null ? "" :accounNo.substr(0, 13);

                }
            }
        })

        $(document).ready(function () {


            $('#tab-dealer-account-escalation').click(function () {
                console.log("data click");
                $.ajax({
                    url: '/collection/account-escalation/escalation-list/by-dealer',
                    success: function (response) {

                        accountEscalationCheckerApp.accountEscalationList = response;
                    },
                    error: function (response) {
                        alert('Unsuccessful');
                    }
                })
            })

            // $('#view-guarantor-entity').click(function () {
            //
            //     $.ajax({
            //         url: '/customerloanprofile/guarantorinfo/find-by?id='+$(this).data('id'),
            //         success: function (response) {
            //             guarantorInfoChecker.guarantorInfoEntity = response;
            //         },
            //         error: function (response) {
            //             alert('Unsuccessful')
            //         }
            //     })
            // })




            // $('#view-guarantor-approve').click(function () {
            //     $.ajax({
            //         url: '/customerloanprofile/guarantorinfo/approve-guarantor?id='+$(this).data('id'),
            //         success: function (response) {
            //             window.location.href = '/';
            //         },
            //         error: function (response) {
            //             alert('Unsuccessful')
            //         }
            //     })
            // })




            $('#dealer-account-escalation-table-body').delegate('#dealer-escalation-change-id','click', function () {
                $.ajax({
                    url: '/collection/account-escalation/escalate?id='+$(this).data('id'),
                    success: function (response) {
                        window.location.href = '/';
                    },
                    error: function (response) {
                        alert('Unsuccessful')
                    }
                })
            })



            $('#dealer-account-escalation-table-body').delegate('#dealer-escalation-resolved-id','click', function () {
                $.ajax({
                    url: '/collection/account-escalation/teamleader/resolved?id='+$(this).data('id'),
                    success: function (response) {
                        window.location.href = '/';
                    },
                    error: function (response) {
                        alert('Unsuccessful')
                    }
                })
            })

        })


        $('#dealer-account-escalation-table-body').delegate('#dealer-escalation-note-view-id','click', function () {
            console.log('test')
            $.ajax({
                url: '/collection/account-escalation/find/account-escalation-note?accountEscalationId='+$(this).data('id'),
                success: function (response) {
                    accountEscalationCheckerApp.accountEscalationNote = response;
                },
                error: function (response) {
                    alert('Unsuccessful')
                }
            })
        })

    </script>
</div>
</body>
</html>