<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>User Approval</title>
    <style>
        td {
            word-wrap: break-word;
        }

        button {
            margin-right: 5px;
        }
    </style>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box" id="user-approval">
                        <div class="box-header with-border" style="text-align: center;">
                            <h3 class="box-title">User Approval</h3>
                        </div>

                        <div class="box-body">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="bg-info active"><a href="#pending" data-toggle="tab"
                                                                  aria-expanded="false">Pending</a></li>
                                    <li class="bg-info"><a href="#rejection" data-toggle="tab" aria-expanded="false">Rejected</a>
                                    </li>
                                    <li class="bg-info"><a href="#approval" data-toggle="tab" aria-expanded="true">Approved</a>
                                    </li>
                                    <li class="pull-right">
                                        <button @click="approve"
                                                class="btn btn-sm bg-light-blue-gradient">
                                            <span class="glyphicon glyphicon-ok"> </span>
                                            <span>Approve</span>
                                        </button>
                                        <button class="btn btn-sm bg-red-gradient" data-toggle="modal"
                                                data-target="#modal-default-dealer">
                                            <span class="glyphicon glyphicon-remove"> </span>
                                            <span>Reject</span>
                                        </button>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="pending">
                                        <table name="datatable-responsive"
                                               class="table table-striped table-bordered dt-responsive" width="100%">
                                            <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" @change="selectAll"
                                                           v-if="pendingList.length"
                                                           title="Select All" id="select-all">
                                                    <label for="select-all"> Select All</label>
                                                </th>
                                                <th>Sl No.</th>
                                                <th>User Name</th>
                                                <th>Full Name</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="user, index in pendingList">
                                                <td>
                                                    <input v-if="!authenticatedUser.includes(user.createdBy) && !authenticatedUser.includes(user.modifiedBy)"
                                                           v-model="selectedUserIds"
                                                           :value="user.username"
                                                           type="checkbox">
                                                </td>
                                                <td>{{index + 1}}</td>
                                                <td>{{user.username}}</td>
                                                <td>{{user.firstName + ' ' + user.lastName}}</td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="rejection">
                                        <table name="datatable-responsive"
                                               class="table table-striped table-bordered dt-responsive" width="100%">
                                            <thead>
                                            <tr>
                                                <th>Sl No.</th>
                                                <th>User Name</th>
                                                <th>Full Name</th>
                                                <th>Status</th>
                                                <th>Remarks</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="user, index in rejectionList">
                                                <td>{{index + 1}}</td>
                                                <td>{{user.username}}</td>
                                                <td>{{user.firstName + ' ' + user.lastName}}</td>
                                                <td class="text-danger">Rejected</td>
                                                <td>{{user.remark}}</td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="approval">
                                        <table name="datatable-responsive"
                                               class="table table-striped table-bordered dt-responsive" width="100%">
                                            <thead>
                                            <tr>
                                                <th>Sl No.</th>
                                                <th>User Name</th>
                                                <th>Full Name</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="user, index in approvalList">
                                                <td>{{index + 1}}</td>
                                                <td>{{user.username}}</td>
                                                <td>{{user.firstName + ' ' + user.lastName}}</td>
                                                <td class="text-success">Approved</td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div>


                            <div class="modal fade" id="modal-default-dealer">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">Remarks</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row form-group">
                                                <div class="col-sm-12">
                                                    <textarea v-model="remark" class="form-control input-sm"
                                                              placeholder="Remark"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger pull-left"
                                                    data-dismiss="modal">Close
                                            </button>
                                            <a href="#" class="btn btn-danger" @click="reject"
                                               :disabled="!remark">Reject</a>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>

                        </div>
                    </div>

                    <script th:inline="javascript">
                        var userlist = [[${userlsit}]];
                        var authenticatedUser = [[${@userService.getSessionUsername()}]];
                    </script>

                    <script>
                        var userApproval = new Vue({
                            el: '#user-approval',
                            data: {
                                userlist: [],
                                pendingList: [],
                                rejectionList: [],
                                approvalList: [],
                                allUserIds: [],
                                selectedUserIds: [],
                                remark: '',
                                authenticatedUser: ''
                                // isRejectAll: false
                            },
                            created: function () {

                                if (typeof authenticatedUser !== 'undefined' && authenticatedUser)
                                    this.authenticatedUser = authenticatedUser;
                                else
                                    window.location.href = '/';

                                this.userlist = userlist != null ? userlist : [];

                                this.pendingList = this.userlist.filter(function (user) {
                                    return (!user.enabled && !user.remark) || (user.modifiedBy && !user.enabled && user.remark);
                                });

                                this.rejectionList = this.userlist.filter(function (user) {
                                    return !user.modifiedBy && !user.enabled && user.remark;
                                });

                                this.approvalList = this.userlist.filter(function (user) {
                                    return user.enabled && !user.remark
                                });

                                this.allUserIds = this.pendingList.map(user => {
                                    return user.username;
                                });
                            },
                            methods: {
                                approve: function () {
                                    if (!this.selectedUserIds.length) {
                                        swal("Please select employees");
                                        return;
                                    }
                                    var host = window.location.host;
                                    this.$http.get('https://' + host + '/user/approve?usernames=' + this.selectedUserIds, {
                                        credentials: true, headers: {
                                            'X-CSRF-TOKEN': window.csrfToken,
                                        }
                                    }).then(res => {
                                        if (res.bodyText === 'success') {
                                            swal({
                                                title: "User Approval",
                                                text: "User Successfully Approved",
                                                type: "success"
                                            }, function () {
                                                window.location = "/user/list/approval";
                                            });
                                        }else {
                                            notifyError();
                                        }
                                    }).catch(err => {
                                        notifyError();
                                        console.log(err);
                                    })
                                },
                                reject: function () {
                                    if (!this.selectedUserIds.length) {
                                        swal("Please select employees");
                                        return;
                                    }
                                    if (!this.remark) {
                                        swal("Please write remark");
                                        return;
                                    }
                                    var host = window.location.host;
                                    this.$http.get('https://' + host + '/user/reject?usernames=' + this.selectedUserIds + '&remark=' + this.remark, {
                                        credentials: true, headers: {
                                            'X-CSRF-TOKEN': window.csrfToken,
                                        }
                                    }).then(res => {

                                        if (res.bodyText === 'success') {
                                            swal({
                                                title: "User Approval",
                                                text: "Rejection Successful!",
                                                type: "warning"
                                            }, function () {
                                                window.location = "/user/list/approval";
                                            });
                                        }
                                    }).catch(err => {
                                        swal("Something went wrong");
                                        console.log(err);
                                    })
                                },
                                selectAll: function (e) {
                                    let authenticatedUser = this.authenticatedUser;
                                    if (e.target.checked) {
                                        this.pendingList.forEach(user => {
                                            if (!authenticatedUser.includes(user.createdBy) && !authenticatedUser.includes(user.modifiedBy))
                                                this.selectedUserIds.push(user.username)
                                        });
                                    } else {
                                        this.selectedUserIds = [];
                                    }
                                },

                            }
                        });

                        $(document).ready(function () {
                            $('.table').DataTable({
                                "bInfo": false,
                                "bLengthChange": false,
                            });

                        });
                    </script>

                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>