<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>User-create</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <div class="col-xs-12">
        <div>
            <div class="col-md-offset-2 col-md-8">
                <!-- .box -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 th:if="${user.userId == null}" class="box-title">Create New User</h3>
                        <h3 th:if="${user.userId != null}" class="box-title">Update User</h3>
                    </div>
                    <!-- Horizontal Form -->
                    <form class="form-horizontal" method="post" th:action="@{/user/create}" th:object="${user}">
                        <input type="hidden" th:field="*{userId}"></input>
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 custom-form-lebel-right required">Username</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" th:field="*{username}" id="uniqueUserName"
                                           placeholder="Username"/>
                                    <label id="uniqueUserNameMsg" style="color: #eb7a55;display: none;"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 custom-form-lebel-right required">First Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" th:field="*{firstName}"
                                           placeholder="First Name"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 custom-form-lebel-right required">Last Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" th:field="*{lastName}"
                                           placeholder="Last Name"/>
                                </div>
                            </div>
                            <div th:if="${user.userId == null}">
                                <div class="form-group">
                                    <label class="col-sm-2 custom-form-lebel-right required">Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" name="password" id="password"
                                               placeholder="Password"
                                               onkeyup="checkpass();" required="true" autocomplete="off"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 custom-form-lebel-right required">Confirm Password</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" th:field="*{confirmPassword}"
                                               placeholder="Confirm password" id="pass2"
                                               name="pass2" onkeyup="checkpass();" required="true" autocomplete="off"/>
                                    </div>
                                    <span class="col-sm-2" id='message'></span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 custom-form-lebel-right required">Employee</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" th:field="*{employeeId}"
                                           placeholder="Employee Id"/>
                                </div>
                            </div>

                            <!--<div class="form-group">-->
                            <!--<label class="col-sm-2 control-label">Branch </label>-->
                            <!--<div class="col-sm-10">-->
                            <!--<select th:field="*{branch.branchId}" class="form-control">-->
                            <!--<option selected="selected" value="">Select Branch</option>-->
                            <!--<option th:each="branch : ${branchelist}" th:value="${branch.branchId}" th:text="${branch.branchName}"/>-->
                            <!--</select>-->
                            <!--</div>-->
                            <!--</div>-->

                            <div class="form-group">
                                <label class="col-sm-2 custom-form-lebel-right required">Status</label>
                                <div class="col-sm-10">
                                    <!--<label th:text="${status}" th:value="${status}" >dasd</label>-->
                                    <!--<input type="radio" th:field="*{status}" value="true"  th:text="Active" />-->
                                    <!--<input type="radio" th:field="*{status}" value="false" th:text="Inactive" />-->

                                    <fieldset id="group1">
                                        <input type="radio" name="status" id="statusActive"
                                               th:checked="${user?.enabled} == true" th:value="1" required="required">
                                        Active</input>
                                        <input type="radio" name="status" id="statusInactive"
                                               th:checked="${user?.enabled} == false" th:value="0"> Inactive </input>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer text-center">
                            <button id="userSave" type="submit" class="btn btn-info ">Submit</button>
                            <a type="submit" class="btn btn-danger" href="/user/list">Cancel</a>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var loginPolicy = /*[[${loginPolicy}]]*/  {};
        /*]]>*/
    </script>
    <script th:src="@{/dashboard/form/js/userPass.js}"></script>

</div>


</body>

<!--<script type="text/javascript" >-->
<!--<![CDATA[-->
<!--function checkpass() {-->
<!--console.log($("#password").val() +" "+$("#pass2").val());-->
<!--if (document.getElementById("password").value==document.getElementById("pass2").value){-->
<!--document.getElementById("message").style.color="green";-->
<!--document.getElementById("message").innerHTML="Matched";-->
<!--}-->
<!--else {-->
<!--document.getElementById("message").style.color="red";-->
<!--document.getElementById("message").innerHTML="Not Matched";-->
<!--}-->
<!--}-->
<!--]]>-->
<!--</script>-->

</html>