<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>PAR Queue Account Rule List-Card</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border" style="text-align: center;">
                            <h3 class="box-title">PAR Queue Account Rule List-Card</h3>
                        </div>

                        <div class="box-body">
                            <a style="margin-bottom: 5px" class="btn btn-primary btn-sm"
                               th:href="@{/par/queue/acc/card/create}"><span
                                    class="glyphicon glyphicon-plus"> </span> Add PAR Queue Account Rule-Card</a>
                            <table th:if="${parQueueCardList!=null}" id="example" name="datatable-responsive"
                                   class="table table-condensed table-striped table-bordered" width="100%">
                                <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Age Code</th>
                                    <th>Product Type</th>
                                    <th>Min. Age Code</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="rule,status : ${parQueueCardList}">
                                    <td th:text="${status.count}"></td>
                                    <td>
                                        <span th:each="dpd: ${rule.ageCodeEntities}" th:text="${dpd.name}"
                                              class="btn btn-xs btn-success" style="margin-left: 5px">
                                        </span>
                                    </td>
                                    <td>
                                        <span th:each="prod: ${rule.productTypeList}" th:text="${prod.name}"
                                              class="btn btn-xs btn-primary" style="margin-left: 5px"></label>&nbsp;
                                        </span>
                                    </td>
                                    <td><span th:text="${rule.minAgeCode}"></span></td>
                                    <td>
                                        <span th:text="${rule.enabled ? 'Active' : 'Inactive'}"></span>
                                    <td>
                                        <!--<a class="btn btn-xs btn-primary"-->
                                           <!--th:href="@{/collection/par_queue_acc_rule_loan/edit(id=${rule.id})}"><i-->
                                                <!--class="fa fa-edit"></i>Edit</a>-->
                                        <!--<a class="btn btn-xs" th:href="@{/collection/par_account_rule_loan/view(id=${rule.id})}"><i class="fa fa-edit"></i>View</a>-->
                                        <!-- <a class="btn btn-xs btn-xs-dlt" th:href="@{/branch/remove(id=${branch.branchId})}"> <i class="fa fa-trash"></i>Delete</a> -->
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>