<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Signature</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <div class="col-xs-12">
        <div>
            <div class="col-md-offset-2 col-md-8">
                <!-- .box -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 th:if="${signEntity?.signId == null}" class="box-title">Add Signature</h3>
                        <h3 th:if="${signEntity?.signId != null}" class="box-title">Update Signature</h3>
                    </div>
                    <!-- Horizontal Form -->
                    <form class="form-horizontal validate" method="post" th:action="@{/user/signature/add}" enctype="multipart/form-data">
                        <input type="hidden" name="accountTypeId" th:value="${accountType?.accountTypeId}"></input>
                        <div class="box-body">
                            <table class="table-striped table-bordered col-sm-12" cellspacing="0"
                                   width="100%">
                                <tr>
                                    <td class="col-sm-3">
                                        <label class="col-sm-4 custom-form-lebel-right">Choose Signature</label>
                                    </td>

                                    <td class="col-sm-4">
                                        <div class="fileUpload btn-upload-img">
                                            <span><i class="fa fa-upload" style="margin-right:5px"></i>Choose File</span>
                                            <input th:id="'ufile_0'+'_'+1" type="file" name="file"
                                                   class="custom-form-control upload ufile" placeholder="File"
                                                   th:onchange="'preview('+ '0' +',' + 1 + ');'"/>

                                        </div>
                                        <label th:id="'size'+1" style="display:none" th:text="1"></label>
                                    </td>

                                    <td th:id="'td_0' +'_'+1" class="col-sm-5"></td>
                                    <td class="col-sm-4">
                                        <input th:id="'uploadFileID'+'_'+1+'_'" th:value="${signEntity.dmsFileId}" type="hidden"/>
                                        <input th:id="'docurl'+'_'+1+'_'" th:value="${signEntity.documentUrl}" type="hidden"/>
                                        <label th:id="'row-document'+'_'+1+'_'" style="display: none"></label>
                                        <a href="#"  th:onclick="|viewDoc1s('__${signEntity.dmsFileId}__','${signEntity.documentType}'); viewDoc2s('__${signEntity.dmsFileId}__','${signEntity.documentType}');|">
                                            <span th:text="view"></span>
                                            <!--<span th:text="${doc.getDocumentChecklistEntity().getIsRequired()}?'*':''"></span>-->
                                        </a>

                                        <div id="idiv" style="display:none;">
                                            <h3 class="docTableHeading box-title solid-box">Preview</h3>
                                            <iframe  id="iframe" style="height:350px; width:300px"></iframe >
                                            <a href="#previewDiv" id="show" class="html5lightbox" data-width="800" data-height="800">
                                                show
                                            </a>
                                        </div>
                                        <div id="previewDiv" style="display:none;">
                                            <div class="lightboxcontainer">
                                                <div class="lightboxright">
                                                    <iframe id="showPreviewReport" width="800" height="800" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                                </div>
                                                <div style="clear:both;"></div>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                            </table>


                        </div>

                        <!-- /.box-body -->
                        <div class="box-footer text-center">
                            <button type="submit" class="btn btn-info ">Submit</button>
                            <a type="submit" class="btn btn-danger" href="/home">Cancel</a>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</div>

</body>
</html>