<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Supervisor Dashboard- Loab</title>
</head>
<body>

<div id="layout-form-panel" class="box box-primary  csi-layout-form-panel-sp" th:fragment="layout-form-panel">

    <!-- /.box-header -->
    <div class="box-body csi-box-body">
        <section class="content ">
            <div class="row">
                <div class="col-md-12">
                    <!-- Details View -->
                    <div class="bhoechie-tab-menu">
                        <div id="supervisor-tab-pane" class="list-group csi-list-group1">
                            <a id="tab-personalInfo" href="#" class="list-group-item active" title="Team Details">Team
                                Details</a>
                            <a id="loan-supervisor-queue-status-sumary" href="#" class="list-group-item" title="Team Queue & Status Summary">Team
                                Queue & Status Summary</a>
                            <!--<a  id="tab-personalInfo" href="#" class="list-group-item" title="Personal Information">Team Leader and Dealer List</a>-->
                            <!--<a  id="tab-guarantorInfo" href="#" class="list-group-item" title="Guarantor Information">Team Queue and Status Summary</a>-->
                            <a href="#" id="tab-follow-up" class="list-group-item" title="Follow Up">Follow Up</a>
                            <a id="tab-ptp-status-summary" href="#" class="list-group-item" title="PTP Status Summary">PTP
                                Status Summary</a>
                            <!--<a  id="tab-interestDetails" href="#" class="list-group-item" title="Interest Details">Team Payment Details</a>-->
                            <a id="tab-payment-detail" href="#" class="list-group-item" title="Team Payment Details">Team
                                Payment Details</a>
                            <!--<a  id="tab-otherInfo" href="#" class="list-group-item" title="Other Information">Team Performance</a>-->
                            <a id="tab-manager_target_by_amt" href="#" class="list-group-item"
                               title="Other Bank Information">Team Target Details</a>
                            <a id="tab_rfd_detail" href="#" class="list-group-item" title="RFD Details"> RFD Details</a>
                            <a  id="tab_agency_detail" href="#" class="list-group-item" title="Letter Information">Agency Details</a>
                            <a id="tab-diaryNotes" href="#" class="list-group-item" title="Diary Notes">Work Management</a>
                            <!--<a  id="tab-ptp" href="#" class="list-group-item" title="PTP">Product & DPD</a>-->
                            <a id="tab-linkministatement" href="#" class="list-group-item"
                               title="Link Account Mini Statement">Daily Activity Details</a>
                            <!--<a  id="tab-liendetails" href="#" class="list-group-item" title="Lien Details">Performance & ESAU Trends</a>-->
                            <!--<a  id="tab-product-wise-summary" href="#" class="list-group-item" title="PTP">Product Wise Summary</a>-->
                            <!--<a  id="tab-bufferdetails" href="#" class="list-group-item" title="Buffer Details">Graphical View</a>-->
                            <a id="tab-bufferdetails" href="#" class="list-group-item" title="Buffer Details">Advanced Account Search</a>
                            <a id="tab-checker-supervisor" href="#" class="list-group-item" th:text="'Authorization('+${totalChecker}+')'" title="Authorization"></a>
                        </div>
                    </div>
                    <!--/ Details View followUpApp.getFollowupList();-->
                    <!-- /TAB HEAD -->


                    <!-- TAB CONTENT Details-->
                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content active">
                            <div th:replace="dashboard/loan/supervisor/details/panels/middle/team_details :: team-info"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="dashboard/loan/supervisor/details/panels/middle/summary_details :: summary-info"></div>
                        </div>
                    </div>

                    <!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

                    <!--<div class="bhoechie-tab-content" >-->
                    <!--<div th:replace="dashboard/loan/supervisor/details/panels/middle/personal_info :: personal-info"></div>-->

                    <!--</div>-->

                    <!--</div>-->


                    <!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

                    <!--<div class="bhoechie-tab-content" >-->
                    <!--<div th:replace="dashboard/loan/supervisor/details/panels/middle/team_statusqueue :: team-statusqueue"></div>-->
                    <!--</div>-->

                    <!--</div>-->

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="dashboard/shared/followup/team-follow-up-details :: content"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="dashboard/shared/ptp/team-ptp-details :: content"></div>
                            <!--<div th:replace="dashboard/shared/ptp_status_summery:: ptp_status_summery_fragement"></div>-->
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="dashboard/shared/payment/team-payment-details :: content"></div>
                        </div>
                    </div>


                    <!--</div>-->
                    <!--<div class="bhoechie-tab csi-preview-bhoechie-tab">

                        <div class="bhoechie-tab-content" >
                            <div th:replace="dashboard/loan/supervisor/details/panels/middle/team_paymentdetailsam :: team-paymentdetailsam"></div>

                        </div>



                    </div>-->
                    <!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

                    <!--<div class="bhoechie-tab-content" >-->
                    <!--<div th:replace="dashboard/loan/supervisor/details/panels/middle/team_performance :: teamperformance"></div>-->

                    <!--</div>-->


                    <!--</div>-->

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="dashboard/loan/supervisor/details/panels/middle/team_targetdetails :: team_target"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="dashboard/loan/supervisor/details/panels/middle/rfd :: rfd"></div>
                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">

                        <div class="bhoechie-tab-content">
                            <div th:replace="dashboard/loan/supervisor/details/panels/middle/agency_details :: agency-details"></div>

                        </div>
                    </div>

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="dashboard/shared/work_management  :: work-management"></div>
                        </div>
                    </div>
                    <!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

                    <!--<div class="bhoechie-tab-content" >-->
                    <!--<div th:replace="dashboard/loan/supervisor/details/panels/middle/dpd_bucketwise :: dpd-bucketwise"></div>-->

                    <!--</div>-->
                    <!--</div>-->

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="dashboard/loan/supervisor/details/panels/middle/daily_activity :: daily-activity"></div>
                        </div>
                    </div>

                    <!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

                    <!--<div class="bhoechie-tab-content" >-->
                    <!--<div th:replace="dashboard/loan/supervisor/details/panels/middle/performanceesau :: performanceesau"></div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--Out of DRG scope-->
                    <!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->
                    <!--<div class="bhoechie-tab-content" >-->
                    <!--<div th:replace="dashboard/loan/supervisor/details/panels/middle/team_productwiseirrparnpl :: info"></div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

                    <!--<div class="bhoechie-tab-content" >-->
                    <!--<div th:replace="dashboard/loan/supervisor/details/panels/middle/graphical_view :: grap_info"></div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="dashboard/loan/shared/advance_search :: content"></div>
                        </div>
                    </div>


                    <div class="bhoechie-tab csi-preview-bhoechie-tab">
                        <div class="bhoechie-tab-content">
                            <div th:replace="dashboard/loan/supervisor/details/panels/middle/checker :: supervisor-checker"></div>
                        </div>
                    </div>
                    <!-- /TAB CONTENT Details-->
                </div>
            </div>
        </section>
    </div>
    <!-- /.box-body -->
    <!--<script>-->
    <!--var supervisorTabPaneApp = new Vue({-->
    <!--el: '#supervisor-tab-pane',-->
    <!--methods: {-->
    <!--getSupervisorFollowupList() {-->

    <!--},-->
    <!--}-->

    <!--});-->
    <!--</script>-->
</div>
<!-- /.box -->
</body>
</html>