<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="UTF-8">
    <title>Business Region Management</title>
</head>
<body>
<div layout:fragment="content">
    <div class="content-wrapper">
        <div class="content">
            <div class="row" id="business-Region-App">
                <div class="col-xs-8 col-xs-offset-2">
                    <form method="post" th:action="@{/collection/samd/businessRegion/create}">

                        <input name="locationIds" class="hidden" v-model="getSelectedLocations">

                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">Create New Business Region Management</h3>
                            </div>

                            <div class="box-body">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Location</label>
                                        <div class="col-sm-7">
                                            <multiselect   v-model="selectedLocationList" placeholder="Search Location" label="city" track-by="id"  :options="locationList" :multiple="true" :taggable="true" th:required="true" ></multiselect>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label  class="col-sm-3 control-label">Region Name</label>
                                        <div class="col-sm-7">
                                            <input name="regionName" class="form-control" type="text" placeholder="e.g. Region Name">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box-footer text-center">
                                <button type="submit" class="btn btn-info btn-sm">Submit</button>
                                <a class="btn btn-danger btn-sm" href="/collection/samd/businessRegion/list">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <style>
                .padding-none{
                    padding: 0px;
                }

                .input-group{
                    z-index: 0;
                }
            </style>

            <script th:inline="javascript">
                /*<![CDATA[*/
                var locationList = /*[[${locationList}]]*/ [];

                /*]]>*/
            </script>

            <script>
                businessRegionApp = new Vue({
                    el: '#business-Region-App',
                    components: {
                        Multiselect: VueMultiselect.default
                    },
                    data:{

                        locationList: locationList,
                        selectedLocationList:[],

                    },
                    computed: {

                        getSelectedLocations: function () {
                            return this.selectedLocationList.map(function (data) {
                                return data.id;
                            })
                        },

                    }
                })
            </script>
        </div>
    </div>
</div>
</body>
</html>