<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="legal/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Case List</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <script src="/js/datatable/dataTables.buttons.min.js"></script>
    <script src="/js/datatable/jszip.min.js"></script>
    <script src="/js/datatable/pdfmake.min.js"></script>
    <script src="/js/datatable/vfs_fonts.js"></script>
    <script src="/js/datatable/buttons.html5.min.js"></script>
    <script src="/js/datatable/buttons.print.min.js"></script>

    <div class="content-wrapper">
        <section class="content">
            <div class="row" id="litigation-case-info-app">
                <div class="col-md-12">
                    <div class="box">
                        <div class="csi-view-form-full-area csi-view-indtable">
                            <div class="box-header with-border text-center csi-view-box-header">
                                <h3 class="box-title">Case Lists</h3>
                            </div>
                            <div class="box-body">
                                <a style="margin-bottom: 5px;" class="btn btn-primary btn-sm"
                                   th:if="${session.urlList.contains('/legal/data-entry/litigation-case-info/create')}"
                                   th:href="@{/legal/data-entry/litigation-case-info/create}"><span
                                        class="glyphicon glyphicon-plus"> </span> Case Entry </a>
                                <a style="margin-bottom: 5px;" class="btn btn-primary btn-sm" th:if="${branchCode}"
                                   th:href="@{/legal/data-entry/litigation-case-info/upload-excel}"><span
                                        class="glyphicon glyphicon-paperclip"> </span> Upload Excel </a>
                                <div class="table-responsive">
                                    <table id="case-list-tbl" class="table table-striped table-bordered table-condensed" width="100%">
                                        <thead>
                                        <tr>
                                            <th style="width:7%">Sl No.</th>
                                            <th> By Bank/Against Bank or By Whom Filed </th>
                                            <th> High Court Division/Appellate Division </th>
                                            <th> Nature of suit </th>
                                            <th> Sub Case Type </th>
                                            <th> Division </th>
                                            <th> District </th>
                                            <th> Zone/Region </th>
                                            <th> Court's Jurisdiction </th>
                                            <th> LD number </th>
                                            <th> Branch Name </th>
                                            <th> Name of the Account </th>
                                            <th> Borrow's Name </th>
                                            <th> Accused Name(if NI Act case) </th>
                                            <th> Business Segment </th>
                                            <th> Customer's CIF No </th>
                                            <th> Client ID (For Credit Card) </th>
                                            <th> Customer's A/c  No </th>
                                            <th> Plaintiff 's Name/ Petitioner's Name </th>
                                            <th> Plaintiff's Designation/ Petitioner's Designation </th>
                                            <th> Plaintiff's Phone No/ Petitioner's Phone No </th>
                                            <th> Defendant's/Other defendant's/Opposite Party's Name </th>
                                            <th> Suit/Case Number </th>
                                            <th> Date of Filing </th>
                                            <th> Date of Filing( if execution case) </th>
                                            <th> Suit Value </th>
                                            <th> Suit Value(if Execution </th>
                                            <th> Previous Date (dd.mm.yy) </th>
                                            <th> Course of action </th>
                                            <th> Next Date (dd.mm.yy) </th>
                                            <th> Course of action </th>
                                            <th> Court Name </th>
                                            <th> Written off (Yes/No) </th>
                                            <th> Total Legal Expense Amount</th>
                                            <th> Lawyer's Name </th>
                                            <th> Lawyer's Cell No </th>
                                            <th> Collateral Security </th>
                                            <th> Market Value </th>
                                            <th> Forced Sale Value </th>
                                            <th> Assessed By </th>
                                            <th> Under Solenama (Yes/No) </th>
                                            <th> Recovery Before Case </th>
                                            <th> Recovery After Case </th>
                                            <th> Type of Fraud </th>
                                            <th> Technique applied to make Fraud </th>
                                            <th> Date of occurrence </th>
                                            <th> Date of Detection </th>
                                            <th> Adjustment of defrauded Amount </th>
                                            <th> Name of the officers/ employee/ others involved </th>
                                            <th> Action taken against delinquent </th>
                                            <th> Initiatives taken to prevent recurrence of the incidents </th>
                                            <th> Section </th>
                                            <th> Comment And Its Impact On The Bank </th>
                                            <th> Subject Matter of the case </th>
                                            <th> First order date </th>
                                            <th> Status </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="case, status : ${litigationCaseInfoList}">
                                            <td class="text-right">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                       id="name" th:text="${status.count}">
                                                        1
                                                    </a>
                                                    <ul class="dropdown-menu" style="margin-top: -5px;">
                                                        <li class="user-footer">
                                                            <div>
                                                                <a class="btn btn-xs btn-primary"
                                                                   th:if="${session.urlList.contains('/legal/data-entry/litigation-case-info/edit')}"
                                                                   th:href="@{/legal/data-entry/litigation-case-info/edit(id=${case.id})}"
                                                                   title="Edit">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                                <a class="btn btn-xs btn-info"
                                                                   th:if="${session.urlList.contains('/legal/data-entry/litigation-case-info/view')}"
                                                                   th:href="@{/legal/data-entry/litigation-case-info/view(id=${case.id})}"
                                                                   title="View">
                                                                    <i class="fa fa-eye"></i>
                                                                </a>
                                                                <span th:onclick="historyTableApp.getCaseList([[${case.id}]])"
                                                                      title="History" class="btn btn-xs btn-warning"
                                                                      style="cursor: pointer;">
                                                                     <i class="fa fa-list"></i>
                                                                </span>
                                                                <span th:data-caseid="${case.id}" title="BLA Attendance History" class="btn btn-xs btn-success btn-view-bla-attendance-history"
                                                                      style="cursor: pointer;">
                                                                     <i class="fa fa-history"></i>
                                                                </span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </td>
                                            <td th:text="${case.caseFiled}" class="text-left">Case Filed</td>
                                            <td th:text="${case.caseFiledSubType}" class="text-left"> High Court Division/Appellate Division </td>
                                            <td th:text="${case.caseType}" class="text-left"> Nature of suit </td>
                                            <td th:text="${case.caseTypeSubType}" class="text-left"> Sub Case Type </td>
                                            <td th:text="${case.division}" class="text-left"> Division </td>
                                            <td th:text="${case.district}" class="text-left"> District </td>
                                            <td th:text="${case.zone}" class="text-left"> Zone/Region </td>
                                            <td th:text="${case.courtJurisdiction}" class="text-left"> Court's Jurisdiction </td>
                                            <td th:text="${case.ldNo}" class="text-left"> LD number </td>
                                            <td th:text="${case.branchName}" class="text-left"> Branch Name </td>
                                            <td th:text="${case.nameOfAcc}" class="text-left"> Name of the Account </td>
                                            <td th:text="${case.borrowerName}" class="text-left"> Borrow's Name </td>
                                            <td th:text="${case.accusedName}" class="text-left"> Accused Name(if NI Act case) </td>
                                            <td th:text="${case.businessSegment}" class="text-left"> Business Segment </td>
                                            <td th:text="${case.customerCifNo}" class="text-left"> Customer's CIF No </td>
                                            <td th:text="${case.clientId}" class="text-left"> Client ID (For Credit Card) </td>
                                            <td th:text="${case.customerAccNum}" class="text-left"> Customer's A/c  No </td>
                                            <td th:text="${case.plaintiffName}" class="text-left"> Plaintiff 's Name/ Petitioner's Name </td>
                                            <td th:text="${case.plaintiffDesignation}" class="text-left"> Plaintiff's Designation/ Petitioner's Designation </td>
                                            <td th:text="${case.plaintiffPhoneNo}" class="text-left"> Plaintiff's Phone No/ Petitioner's Phone No </td>
                                            <td th:text="${case.defendantName}" class="text-left"> Defendant's/Otder defendant's/Opposite Party's Name </td>
                                            <td th:text="${case.caseNumber}" class="text-left"> Suit/Case Number </td>
                                            <td th:text="${case.dateOfFiling}" class="text-left"> Date of Filing </td>
                                            <td th:text="${case.dateOfFilingAR}" class="text-left"> Date of Filing( if execution case) </td>
                                            <td th:text="${@numberUtils.formatBdtInEnglish(case.suitValue)}" class="text-right"> Suit Value </td>
                                            <td th:text="${@numberUtils.formatBdtInEnglish(case.suitValueEx)}" class="text-right"> Suit Value(if Execution) </td>
                                            <td th:text="${#strings.substringBefore(case.nextDate,',')}" class="text-left"> Previous Date (dd.mm.yy) </td>
                                            <td th:text="${#strings.substringBefore(case.nextCourseOfAction,',')}" class="text-left"> Course of action </td>
                                            <td th:text="${#strings.substringAfter(case.nextDate,',')}" class="text-left"> Next Date (dd.mm.yy) </td>
                                            <td th:text="${#strings.substringAfter(case.nextCourseOfAction,',')}" class="text-left"> Course of action </td>
                                            <td th:text="${case.court}" class="text-left"> Court Name </td>
                                            <td th:text="${case.writtenOff}" class="text-left"> Written off (Yes/No) </td>
                                            <td th:text="${@numberUtils.formatBdtInEnglish(case.totalLegalExpenseAmount)}" class="text-right">Total Legal Expense Amount</td>
                                           <!-- <td th:text="${@numberUtils.formatBdtInEnglish(case.legalExpense)}" class="text-right"> Legal Expense </td>-->
                                            <td th:text="${case.lawyer}" class="text-left"> Lawyer's Name </td>
                                            <td th:text="${case.lawyerCellNum}" class="text-left"> Lawyer's Cell No </td>
                                            <td th:text="${case.collateralSecurityL[0]}" class="text-left">
                                                <!--<span th:each="csid :${case.collateralSecurityList}" th:text="${csid.name}"></span> &lt;!&ndash;Collateral Security&ndash;&gt;-->
                                            </td>
                                            <td th:text="${@numberUtils.formatBdtInEnglish(case.marketValue)}" class="text-right"> Market Value </td>
                                            <td th:text="${@numberUtils.formatBdtInEnglish(case.forcedSaleValue)}" class="text-right"> Forced Sale Value </td>
                                            <td th:text="${case.assesedBy}" class="text-left"> Assessed By </td>
                                            <td th:text="${case.underSolenama}" class="text-left"> Under Solenama (Yes/No) </td>
                                            <td th:text="${@numberUtils.formatBdtInEnglish(case.recoveryBeforeCaseAmount)}" class="text-right"> Recovery Before Case </td>
                                            <td th:text="${@numberUtils.formatBdtInEnglish(case.recoveryAfterCaseAmount)}" class="text-right"> Recovery After Case </td>
                                            <td th:text="${case.typeOfFraud}" class="text-left"> Type of Fraud </td>
                                            <td th:text="${case.techniquesTofraud}" class="text-left"> Technique applied to make Fraud </td>
                                            <td th:text="${case.dateOfOccurrence}" class="text-left"> Date of occurrence </td>
                                            <td th:text="${case.dateOfDetection}" class="text-left"> Date of Detection </td>
                                            <td th:text="${@numberUtils.formatBdtInEnglish(case.adjustmentOfDefraudAmount)}" class="text-right"> Adjustment of defrauded Amount </td>
                                            <td th:text="${case.nameOfOfficerEmployeeOtherInvolved}" class="text-left"> Name of tde officers/ employee/ otders involved </td>
                                            <td th:text="${case.actionAgainstDelinquent}" class="text-left"> Action taken against delinquent </td>
                                            <td th:text="${case.initiativesToPreventIncidentRecurrence}" class="text-left"> Initiatives taken to prevent recurrence of tde incidents </td>
                                            <td th:text="${case.section}" class="text-left"> Section </td>
                                            <td th:text="${case.commentImpactOnBank}" class="text-left"> Comment And Its Impact On The Bank </td>
                                            <td th:text="${case.subjectMatterOfCase}" class="text-left"> Subject Matter of tde case </td>
                                            <td th:text="${case.firstOrderDate}" class="text-left"> First order date </td>
                                            <td th:text="${case.status}" class="text-left"> Status </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div th:replace="collection/details/panels/middle/litigation/caselists_history :: caselistshistory"></div>
                    </div>

                </div>
                <div class="modal fade" id="bla-attendance-history">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="pull-left">BLA Attendance</h5>
                                <button class="pull-right close" data-dismiss="modal">&times;</button>
                            </div>

                            <div class="modal-body">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-bordered">
                                        <thead>
                                        <th>Date</th>
                                        <th>Course Of Action</th>
                                        <th>BLA Attendance(Yes/No)</th>
                                        </thead>
                                        <tbody id="bla-attendance-tbody"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script>
        $(document).ready(function () {
            $('#case-list-tbl').DataTable({
                dom: 'Bfrtip',
                buttons: ['excel']
            })

            $('.content-wrapper').delegate('.btn-view-bla-attendance-history','click', function(){
                let caseId = $(this).data('caseid');
                $('#bla-attendance-tbody').html("");

                $.ajax({
                    url: '/collection/legal/bla-attendance-history/get-by-litigation-case-info-id?caseId='+caseId,
                    success: function(response) {
                        let rows = "";
                        $.each(response, function(index, item){
                            rows += "<tr>" +
                                "<td>"+(!!item.nextDate ? item.nextDate : '-')+"</td>" +
                                "<td>"+(!!item.courseOfActionName ? item.courseOfActionName : '-')+"</td>" +
                                "<td>"+(item.blaAttendance ? 'Yes' : 'No')+"</td>" +
                                "</tr>";
                        });

                        if(response.length == 0){
                            rows += "<tr><td class='text-center' colspan='3'>No details agvailable</td></tr>";
                        }

                        $('#bla-attendance-tbody').html(rows);
                        $('#bla-attendance-history').modal({modal:'toggle', keyboard: false, backdrop: 'static'});
                    }
                })
            });
        })
    </script>

</div>
</body>
</html>