<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"></meta>
<title>Details | LOAN</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
<link rel="stylesheet" th:href="@{/card/bower_components/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/card/bower_components/Ionicons/css/ionicons.min.css}" />
<link rel="stylesheet" th:href="@{/card/dist/css/AdminLTE.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/card/tab/css/design.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/card/custom/css/tab-pane.css}" />

<link rel="stylesheet" th:href="@{/css/googlefonts.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/card/custom/css/custom.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/card/custom/css/cardPreview.css}" />


<!-- Bootstrap time Picker -->
<link rel="stylesheet" href="https://adminlte.io/themes/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.css" />
<link rel="stylesheet" href="https://adminlte.io/themes/AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />

<style>
.btn-success {
	background-color: #00a65a;
	border-color: #008d4c;
}
</style>


</head>
<body class="hold-transition skin-blue sidebar-collapse">
	<div class="wrapper">
		<div th:replace="card/layouts/header/main-header :: header-main"></div>
		<div class="content-wrapper">
			<!-- Main content -->
			<section class="content container-fluid">
				<section class="csi-preview-content">
					<div class="row">
						<div class="col-md-3 sidebar-left-scroll">
							<div th:replace="collection/details/panels/left/main :: panel-left-collection"></div>
						</div>
						<div class="col-md-6 content-midle-scroll">
							<div th:replace="collection/details/panels/middle/main :: panel-middle-collection"></div>
						</div>
						<div class="col-md-3 sidebar-right-scroll">
							<div th:replace="collection/details/panels/right/main :: panel-right-collection"></div>
						</div>
					</div>

				</section>
			</section>
			<div class="loandetail-footer-sp">
				<p><i class="fa fa-copyright" aria-hidden="true"></i> 2018 all right reserved Powered by <a href="http://csinfotechbd.com/" target="_blank">CSInfoTech Ltd</a></p>
			</div>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div>

	<div class="modal fade" id="spinner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
		 aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content" style="background-color: transparent">
				<div class="modal-body">
					<i class="fa fa-spinner fa-spin" style=" color:white; font-size: 1000%"></i>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
		 aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<!--<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>-->
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="specialAlert">

				</div>
				<div class="modal-footer">
					<button id="exampleModalLongOkBtn" type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/card/dist/js/code.js}"></script>
	<script th:src="@{/card/tab/js/tabJs.js}"></script>
	<script th:src="@{/card/custom/js/panel.js}"></script>
	<script th:src="@{https://adminlte.io/themes/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.js}"></script>
	<script th:src="@{https://adminlte.io/themes/AdminLTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{/customerprofileloan/diarynote.js}"></script>
	<script th:src="@{/customerprofileloan/ptp.js}"></script>
	<script th:src="@{/customerprofileloan/visitledger.js}"></script>
	<script th:src="@{/card/form/js/jquery.serializejson.min.js}"></script>
	<script th:src="@{/js/theia-sticky-sidebar.min.js}"></script>
	<script th:src="@{/js/bootstrap.js}"></script>
	<script th:src="@{/js/fastclick.min.js}"></script>
	<script th:src="@{/js/app.min.js}"></script>
	<script th:src="@{/js/ckeditor.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
	<script th:src="@{/js/html5lightbox.js}"></script>
	<script th:src="@{/js/ResizeSensor.min.js}"></script>
	<script th:src="@{/js/BdNumberFormet.js}"></script>
	<script th:src="@{/js/user_panel.js}"></script>
	<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('.content-midle-scroll, .sidebar-left-scroll, .sidebar-right-scroll').theiaStickySidebar({
            // Settings
            MarginTop: 20
        });

        //Timepicker
        $('.timepicker').timepicker({
            showInputs: false
        });
        //Datepicker
        $('.datepicker').datepicker({
            autoclose: true
        })

    });
	</script>
</body>
</html>