<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Secured Card List</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">

                        <div class="box-header with-border" style="text-align: center">
                            <h3 class="box-title">Secured Card</h3>
                        </div>
                        <!-- /.box-header -->
                        <div id="app" class="box-body">
                            <a style="margin-bottom: 10px" class="btn btn-primary btn-xs"
                               th:href="@{/collection/secured/sample/create}"><span class="glyphicon glyphicon-plus"> </span> Secured Card Upload</a>
                            <a @click="removeFromSecuredCard" style="margin-bottom: 10px; margin-right: 5px; float: right;" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"> </span> Remove Secured Card</a>
                            <a @click="addFromSecuredCard" style="margin-bottom: 10px; margin-right: 5px; float: right;" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"> </span> Add Secured Card</a>
                            <table id="example" name="datatable-responsive"
                                   class="table table-striped table-bordered table-condensed" width="100%">
                                <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Secured Card No</th>
                                    <th>Account No</th>
                                    <th>Secured</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="card, index in cardViewList">
                                    <td>
                                        <label class="mdl-checkbox mdl-js-checkbox">
                                            <input v-model="selectedList" :id="'card' + index"
                                                   :value="card.securedCard" type="checkbox"
                                                   class="mdl-checkbox__input" checked>
                                        </label>
                                    </td>
                                    <td>{{card.securedCard}}</td>
                                    <td>{{card.accountNo}}</td>
                                    <td>{{card.secureCheck}}</td>
                                </tr>
                                </tbody>
                            </table>


                        </div>
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            var securedCardSamples =/*[[${securedCardSamples}]]*/  ||"";
                            /*]]>*/
                        </script>

                        <script>
                            new Vue({
                                el: "#app",
                                data: {
                                    cardViewList: [],
                                    selectedList: [],
                                },
                                created: function () {
                                    this.cardViewList = JSON.parse(securedCardSamples);
                                },
                                methods: {
                                    removeFromSecuredCard: function () {
                                        var host = window.location.host;
                                        this.$http.post('https://' + host + '/collection/secured/sample/update', {
                                            list: this.selectedList,

                                        }, {
                                            credentials: true, headers: {
                                                'X-CSRF-TOKEN': window.csrfToken,
                                            }
                                        }).then(res => {
                                            if (res.body) {
                                                this.cardViewList = res.body;
                                                this.selectedList = [];
                                                $('label').removeClass('is-checked');
                                            }
                                        }).catch(err => {
                                            console.log(err);
                                        })
                                    },
                                    addFromSecuredCard: function () {
                                        var host = window.location.host;
                                        this.$http.post('https://' + host + '/collection/secured/sample/update/add', {
                                            list: this.selectedList,

                                        }, {
                                            credentials: true, headers: {
                                                'X-CSRF-TOKEN': window.csrfToken,
                                            }
                                        }).then(res => {
                                            if (res.body) {
                                                this.cardViewList = res.body;
                                                this.selectedList = [];
                                                $('label').removeClass('is-checked');
                                            }
                                        }).catch(err => {
                                            console.log(err);
                                        })
                                    },
                                }

                            })
                        </script>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
</body>
</html>