<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="ISO-8859-1"></meta>
    <title> NPL Release Amount Card</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="box box-primary">

                        <div class="box-header with-border" style="text-align: center;">
                            <h3 th:if="${nplAmount.id == null}" class="box-title">Create New NPL Release Amount - Card</h3>
                            <h3 th:if="${nplAmount.id != null}" class="box-title">Update NPL Release Amount Card</h3>
                        </div>

                        <form class="form-horizontal validate" method="post" th:action="@{/collection/npl_release_amount/create}" th:object="${nplAmount}">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="box-body">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-sm-4 custom-form-lebel-right required">Age Code :</label>
                                        <div class="col-sm-8">
                                            <div class="checkbox" th:each="age : ${ageList}">
                                                <input name="ageCodeId" type="checkbox" class="flat-red" th:value="${age.id}"
                                                       th:checked="${#lists.contains(allowedAgeCode,''+age.id)}">
                                                    <label th:text="${age.name}"></label>
                                                </input>
                                            </div>
                                        </div>
                                    </div>

                                    <div th:if="${userId}">
                                        <div class="col-md-12">
                                            <label class="col-sm-3 custom-form-lebel-right">Last Modified By userId:</label>
                                            <div class="col-sm-8">
                                                <label name="modifiedDate" th:text="${userId}"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${username}">
                                        <div class="col-md-12">
                                            <label class="col-sm-3 custom-form-lebel-right">Last Modified By Username:</label>
                                            <div class="col-sm-8">
                                                <label name="modifiedDate" th:text="${username}"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div th:if="${nplAmount.modifiedBy}">
                                        <div class="col-md-12">
                                            <label class="col-sm-3 custom-form-lebel-right">Last Modified Date:</label>
                                            <div class="col-sm-8">
                                                <label name="modifiedDate" th:text="${#dates.format(nplAmount?.modifiedDate, 'dd-MMM-yyyy HH:mm')}"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-center">
                                <button type="submit" th:if="${nplAmount.id != null}" class="btn btn-info btn-sm">Update</button>
                                <button type="submit" th:if="${nplAmount.id == null}" class="btn btn-info btn-sm">Add</button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>
