<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="UTF-8">
    <title>Agency Allocation – via Excel</title>
</head>

<body>
<div layout:fragment="content">
    <div class="content-wrapper">
        <div class="content">
            <div>
                <div class="row" id="samd-agency-allocation">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <div class="box-title">Agency Allocation – via Excel</div>
                            </div>

                            <div class="box-body">
                                <div class="margin-bottom">
                                    <a th:href="${'/collection/samd/data-entry/agency-allocation-via-excel/create'}" class="btn btn-primary btn-xs">
                                        <i class="fa fa-plus"></i>
                                        <span>Agency Allocation – via Excel</span>
                                    </a>
                                </div>

                                <div class="table-responsive">
                                    <table id="example" name="datatable-responsive" class="table table-striped table-bordered">
                                        <thead>
                                        <th th:text="${'SL.'}"></th>
                                        <th th:text="${'Account No'}"></th>
                                        <th th:text="${'Account Name'}"></th>
                                        <th th:text="${'CIF'}"></th>
                                        <th th:text="${'LLN'}"></th>
                                        <th th:text="${'Dealer Id'}"></th>
                                        <th th:text="${'Agency Name'}"></th>
                                        </thead>

                                        <tbody>
                                        <tr v-for="(agency, index) in agencyAllocationList">
                                            <td>{{index+1}}</td>
                                            <td>{{agency.accountNo}}</td>
                                            <td>{{agency.accountName}}</td>
                                            <td>{{agency.cif}}</td>
                                            <td>{{agency.lln}}</td>
                                            <td>{{agency.dealerId}}</td>
                                            <td>{{agency.agencyName}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    var agencyAllocationList = /*[[${agencyAllocationList}]]*/ [];
                    /*]]>*/
                </script>


                <script>
                    console.log('2');

                    var samdAgencyAllocationApp = new Vue({
                        el: "#samd-agency-allocation",
                        data: {
                            selected: [],
                            agencyAllocationList: agencyAllocationList,
                        }
                    });
                </script>


            </div>
        </div>
    </div>



</div>

</body>
</html>