<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Manager/Admin Dashboard- Loan</title>
</head>
<body>

	<div id="layout-form-panel" class="box box-primary  csi-layout-form-panel-sp" th:fragment="layout-form-panel">

<!-- /.box-header -->
		<div class="box-body csi-box-body">
			<section class="content ">
					<div class="row">
						<div class="col-md-12">
							<!-- Details View -->
							<div class=" bhoechie-tab-menu">
								<div class="list-group csi-list-group1">
									<a  id="tab-personalInfo" href="#" class="list-group-item" title="Team Details">Team Details</a>
									<a  id="tab-monitoring-team-summary" href="#" class="list-group-item" title="Monitoring Team Summary">Monitoring Team Summary</a>
									<a  id="tab-monitoring-agency-summary" href="#" class="list-group-item" title="Monitoring Agency Summary">Monitoring Agency Summary</a>
									<a  id="tab-team-queue-status-summary" href="#" class="list-group-item" title="Team Queue And Status Summary">Team Queue And Status Summary</a>
									<a  id="tab-otherBankInfo" href="#" class="list-group-item" title="Work Management">Work Management</a>
									<a   href="#" class="list-group-item" title="Daily Activity & Status Details">Daily Activity & Status Details</a>
									<a  id="tab-ptp" href="#" class="list-group-item" title="Month wise Allocation Summary">Month wise Allocation Summary</a>
									<a  id="tab-ptp" href="#" class="list-group-item" title="Month wise Performance & Rating Summary">Month wise Performance & Rating Summary</a>

									<!--<a  id="team_summary_details" href="#" class="list-group-item" title="Summary Details">Summary Details</a>-->
									<!-- Id name changed tab-follow-up to tab_FollowUp due to an exception in js -->
									<a  id="tab-follow-up" href="#" class="list-group-item" title="Follow Up">Follow Up</a>
									<a  id="tab-ptp-status" href="#" class="list-group-item" title="PTP Status">PTP Status</a>
									<!--<a  id="tab-personalInfo" href="#" class="list-group-item" title="Personal Information">Payment Datails</a>-->
									<!--<a  id="tab-personalInfo" href="#" class="list-group-item" title="Personal Information">Table View Based on filtering</a>-->
									<a  id="tab-manager-target-details" href="#" class="list-group-item" title="Manager Target Details">Manager Target Details</a>
									<!-- Id name changed tab_rfd_detail to tab_rfddetail due to an exception in js -->
									<a  id="tab_rfddetail" href="#" class="list-group-item" title="RFD Details">RFD Details</a>
									<a  id="tab_resource_details" href="#" class="list-group-item" title="Resource Details">Resource Details</a>
									<!--<a  id="tab-otherInfo" href="#" class="list-group-item" title="Other Information">Team Queue and Status Summary</a>-->
									<!--<a  id="tab_agency_detail" href="#" class="list-group-item" title="Letter Information">Agency Details</a>-->


									<!--<a  id="tab-followUp" href="#" class="list-group-item" title="Follow up">Month wise Performance & Rating Summary</a>-->
									<a  id="tab-productAndDpd" href="#" class="list-group-item" title="Product & DPD">Product & DPD</a>
									<!--<a  id="tab-linkministatement" href="#" class="list-group-item" title="Link Account Mini Statement">Graph</a>-->
									<a  id="tab-advanced-account-search" href="#" class="list-group-item" title="Advanced Account Search">Advanced Account Search</a>
								</div>
							<!--/ Details View -->
							<!-- /TAB HEAD -->
							</div>

							<!-- TAB CONTENT Details-->
							<div class="bhoechie-tab csi-preview-bhoechie-tab">

								<div class="bhoechie-tab-content" >
									<div th:replace="samd/dashboard/loan/manager/details/panels/middle/team_details :: team-info"></div>

								</div>
							</div>

							<div class="bhoechie-tab csi-preview-bhoechie-tab">
								<div class="bhoechie-tab-content" >
									<div th:replace="samd/dashboard/loan/manager/details/panels/middle/team_summary :: team-summary"></div>
								</div>
							</div>

							<div class="bhoechie-tab csi-preview-bhoechie-tab">
								<div class="bhoechie-tab-content" >
									<div th:replace="samd/dashboard/loan/manager/details/panels/middle/agency_summary :: agencysummary"></div>
								</div>
							</div>
							<div class="bhoechie-tab csi-preview-bhoechie-tab">
								<div class="bhoechie-tab-content" >
									<div th:replace="samd/dashboard/loan/manager/details/panels/middle/team_queue_status_summary :: team-queue-status-summary"></div>
								</div>
							</div>

							<div class="bhoechie-tab csi-preview-bhoechie-tab">

								<div class="bhoechie-tab-content" >
									<div th:replace="samd/dashboard/loan/manager/details/panels/middle/work_management :: workmanagement"></div>

								</div>

							</div>

							<div class="bhoechie-tab csi-preview-bhoechie-tab">

								<div class="bhoechie-tab-content" >
									<div th:replace="samd/dashboard/loan/manager/details/panels/middle/dailyactivity_details :: dailyactivitydetails"></div>

								</div>
							</div>

							<div class="bhoechie-tab csi-preview-bhoechie-tab">

								<div class="bhoechie-tab-content" >
									<div th:replace="samd/dashboard/loan/manager/details/panels/middle/monthwise_allocationsummery :: monthwiseallocationsummery"></div>

								</div>
							</div>
							<div class="bhoechie-tab csi-preview-bhoechie-tab">

								<div class="bhoechie-tab-content" >
									<div th:replace="samd/dashboard/loan/manager/details/panels/middle/month_wise_performance_rating_summary :: month-wise-performance-rating-summary"></div>

								</div>
							</div>

							<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

								<!--<div class="bhoechie-tab-content" >-->
									<!--<div th:replace="samd/dashboard/loan/manager/details/panels/middle/summary_details :: summary-info"></div>-->

								<!--</div>-->
							<!--</div>-->

							<div class="bhoechie-tab csi-preview-bhoechie-tab">
								<div class="bhoechie-tab-content" >
									<div th:replace="samd/dashboard/shared/followup/team-follow-up-details :: content"></div>
								</div>
							</div>

							<div class="bhoechie-tab csi-preview-bhoechie-tab">

								<div class="bhoechie-tab-content" >
									<div th:replace="samd/dashboard/shared/ptp/team-ptp-details :: content"></div>

								</div>
							</div>

							<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

								<!--<div class="bhoechie-tab-content" >-->
									<!--<div th:replace="dashboard/loan/manager/details/panels/middle/payment_detail :: team-paymentdetail"></div>-->

								<!--</div>-->
							<!--</div>-->

							<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

								<!--<div class="bhoechie-tab-content" >-->
									<!--<div th:replace="dashboard/loan/manager/details/panels/middle/tableview :: info"></div>-->

								<!--</div>-->
							<!--</div>-->


							<div class="bhoechie-tab csi-preview-bhoechie-tab">

								<div class="bhoechie-tab-content" >
									<div th:replace="samd/dashboard/loan/manager/details/panels/middle/target_details :: targetdetails"></div>

								</div>

							</div>

							<div class="bhoechie-tab csi-preview-bhoechie-tab">

								<div class="bhoechie-tab-content" >
									<div th:replace="samd/dashboard/shared/common/rfd :: rfd-details"></div>

								</div>

							</div>

							<div class="bhoechie-tab csi-preview-bhoechie-tab">

								<div class="bhoechie-tab-content" >
									<div th:replace="samd/dashboard/loan/manager/details/panels/middle/resource_details :: resourcedetails"></div>

								</div>

							</div>

							<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

								<!--<div class="bhoechie-tab-content" >-->
									<!--<div th:replace="dashboard/loan/manager/details/panels/middle/teamstatus_summary :: teamstatussummary"></div>-->

								<!--</div>-->



							<!--</div>-->

							<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

								<!--<div class="bhoechie-tab-content" >-->
									<!--<div th:replace="dashboard/loan/manager/details/panels/middle/agency_details :: agency-details"></div>-->

								<!--</div>-->

							<!--</div>-->





							<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

								<!--<div class="bhoechie-tab-content" >-->
									<!--<div th:replace="dashboard/loan/manager/details/panels/middle/monthwise_performancesummery :: monthwiseperformancesummery"></div>-->

								<!--</div>-->
							<!--</div>-->

							<div class="bhoechie-tab csi-preview-bhoechie-tab">

								<div class="bhoechie-tab-content" >
									<div th:replace="samd/dashboard/loan/manager/details/panels/middle/productwise_irrparnpl :: productwiseirrparnpl"></div>
								</div>
							</div>

							<!--<div class="bhoechie-tab csi-preview-bhoechie-tab">-->

								<!--<div class="bhoechie-tab-content" >-->
									<!--<div th:replace="dashboard/loan/manager/details/panels/middle/graph_view :: graph-text"></div>-->
								<!--</div>-->
							<!--</div>-->

							<div class="bhoechie-tab csi-preview-bhoechie-tab">

								<div class="bhoechie-tab-content" >
									<div th:replace="samd/dashboard/shared/advance_search :: advanced-account-search"></div>
								</div>
							</div>



							<!-- /TAB CONTENT Details-->
						</div>
					</div>
			</section>
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->

</body>
</html>