<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="card/layouts/main/main-layout">
<head>
    <meta charset="UTF-8">
    <title>Written-Off Execution</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="content-wrapper">
            <div class="content">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div th:if="${response.outcome == 'failure'}" class="alert alert-warning">
                        <div th:each="error, state : ${response.errors}" th:text="${state.count + '. ' + error}"></div>
                    </div>

                    <div>
                        <div class="box box-info">
                            <form th:enctype="${'multipart/form-data'}" th:method="${'POST'}" th:action="@{/collection/samd/written-off-execution/create}">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Written-Off Execution</h3>
                                </div>

                                <div class="box-body form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3">Attachment</label>
                                        <div class="col-sm-9"><input type="file" accept=".xls,.xlsx" name="file" class="form-control"></div>
                                    </div>
                                </div>

                                <div class="box-footer text-center">
                                    <a th:href="@{'/collection/samd/written-off-execution/list'}" class="btn btn-danger">Cancel</a>
                                    <button type="submit" class="btn btn-success">Upload</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>