<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="card/layouts/main/main-layout">
<head>
<meta charset="ISO-8859-1"></meta>
<title>PTP Contact Details List</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="content-wrapper">
			<section class="content">
				<div class="row">
					<div class="col-md-12">
						<div class="box">
							<div class="box-header with-border" style="text-align: center;">
								<h3 class="box-title">PTP Contact Details List</h3>
							</div>

							<div class="box-body">
								<a style="margin-bottom: 5px" class="btn btn-primary btn-sm" th:if="${session.urlList.contains('/collection/ptp_contact_details/create')}"
								   th:href="@{/collection/ptp_contact_details/create}"><span class="glyphicon glyphicon-plus"> </span> Add PTP Contact Details </a>
								<table th:if="${CDList!=null}" id="example" name="datatable-responsive" class="table table-condensed table-striped table-bordered" width="100%">
									<thead>
									<tr>
										<th>Sl No.</th>
										<th>Contact Details</th>
										<th>Status</th>
										<th>Actions</th>
									</tr>
									</thead>
									<tbody>
									<tr th:each="cd,status : ${CDList}">
										<td th:text="${status.count}"></td>
										<td><span th:text="${cd.contactName}"></span></td>
										<td>
											<span th:if="${cd.enabled == true}" th:text="Active"></span>
											<span th:if="${cd.enabled == false}" th:text="Inactive"></span>
										<td>
											<a class="btn btn-xs btn-primary" th:if="${session.urlList.contains('/collection/ptp_contact_details/edit')}"
											   th:href="@{/collection/ptp_contact_details/edit(id=${cd.id})}"><i class="fa fa-edit"></i>Edit</a>
											<a class="btn btn-xs btn-success" th:if="${session.urlList.contains('/collection/ptp_contact_details/view')}"
											   th:href="@{/collection/ptp_contact_details/view(id=${cd.id})}"><i class="fa fa-eye"></i>View</a>
											<!-- <a class="btn btn-xs btn-xs-dlt" th:href="@{/branch/remove(id=${branch.branchId})}"> <i class="fa fa-trash"></i>Delete</a> -->
										</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>